section#chap-10.chapter(data-type='chapter')
  hgroup
    .dup Pentecostalism And Salafism: Mirror-images?
    h1.ct Pentecostalism And Salafism: Mirror-images?
  h2 I
  p
    | There are certainly empirical grounds for drawing parallels between Christian Pentecostalism and Muslim Salafism &ndash; whether the frame for the comparison is Yorubaland, Nigeria, the West African region or indeed the world at large. Since their members (and even more their leaders) are so strongly aware of themselves of belonging to world-wide fellowships of faith and sentiment, the movements themselves draw us outwards from local to national, regional and finally global frames for their comparison. But what has made the perception of parallels so compelling is less their empirical points of resemblance than the primary conceptual lens through which they have been viewed, namely &ldquo;fundamentalism&rdquo;. Rarely has a term moved so far from its original connotation: from being a term of positive self-description by a group of doctrinally conservative American Protestants, of small political import, to a pejorative label applied by outsiders to forms of religion deemed &ldquo;extremist&rdquo;, which nowadays most often means radical political views within Islam.
  p
    | Over time the use of the term has been subject to two counter-pressures. On the one hand, attempts to develop it as an analytic concept have run into the problem that, as the range of empirical cases has been extended, with an ever-growing number of only partially shared and overlapping features, its explanatory power weakens. 
    a#fnref596.footnoteRef(href='#fn596')
      sup 596 
    | On the other, its appeal continues to be linked with a perception of the world as subject to a dangerous &ldquo;clash of fundamentalisms&rdquo;,
    a#fnref597.footnoteRef(href='#fn597')
      sup 597 
    | regarded as entities at once homologous and hostile to each other. The closely cognate vision of Samuel P. Huntington, of world-history as driven by a &ldquo;clash of civilizations&rdquo;,
    a#fnref598.footnoteRef(href='#fn598')
      sup 598 
    | is typically deplored by historians and anthropologists, on grounds both normative and empirical.
    a#fnref599.footnoteRef(href='#fn599')
      sup 599 
    | They are more inclined to look for the exchanges, links and compromises between cultures, though in so doing they tend to discount the influence of precisely those religious agents who 
    em are 
    | driven by something like Huntington&rsquo;s view of the world.
  p
    | If the tone of the last three chapters was distinctly anti-Huntingtonian, this was due less to theoretical considerations than to the impress of the Yoruba context &ndash; though there was also the sense that forces of a more &ldquo;fundamentalist&rdquo; kind were stronger than they had been, and needed to be fought off. But if we want to examine how far recent movements in the two faiths should be seen as homologous but opposed, as the &ldquo;clash of fundamentalisms&rdquo; model implies, we ultimately need to move to a broader and looser context, defined less as a cultural community (like Yorubaland) than as a political arena (like Nigeria, or northern Nigeria) or as merely a region where a range of common conditions prevails (like West Africa). A convenient starting-point is the influential essay by Brian Larkin and Birgit Meyer, which articulates the widely-held view that the salient new forms of Islam and Christianity in contemporary West Africa &ndash; Pentecostalism and Salafism (or as they term it, &ldquo;Islamism&rdquo;)
    a#fnref600.footnoteRef(href='#fn600')
      sup 600 
    | &mdash; should be seen as &ldquo;doppelgangers, enemies whose actions mirror those of the other&rdquo;.
    a#fnref601.footnoteRef(href='#fn601')
      sup 601 
  p
    | Though Larkin and Meyer frame their comparison in terms of West Africa as a whole, most of their data is drawn from the two very different societies which they know from intensive fieldwork: southern Ghana in the case of Meyer, northern Nigeria in the case of Larkin. From a logical point of view, this is less helpful than if they had used two societies with a similar religious profile or (even better) a single society where both movements were present. For southern Ghana is overwhelmingly Christian (with many Pentecostalists), its Muslim minority is little influenced by Salafism &mdash; in fact there are many Ahmadis &mdash; and there is no serious interfaith conflict. On the other hand, northern Nigeria is a crucible of both Salafism and interfaith conflict, but while the Christian body is substantial and internally diverse, Pentecostalism is less influential than in southern Nigeria and is less prominent in interfaith conflict than some other churches are. Though Larkin and Meyer are right to emphasize the need to study movements in the two religions in &ldquo;their interrelations&rdquo;
    a#fnref602.footnoteRef(href='#fn602')
      sup 602 
    | , they cannot do this properly since Pentecostalists in southern Ghana and Salafists in northern Nigeria are hardly in a position to interact with one another. So they have to fill out the empirical picture with material drawn from elsewhere, especially from Nigerian (largely Yoruba) Pentecostalism. This may sometimes be justified, granted the powerful influence of Nigerian evangelists and religious media throughout the region, but it does foreclose on the question &ndash; critical for understanding such a protean faith as Pentecostalism &mdash; of how such external influences are modified by the receiving context.
    a#fnref603.footnoteRef(href='#fn603')
      sup 603 
  p
    | So what Larkin and Meyer give us is a rather general picture, particularized by illustrative material selected to support the similarity thesis, but without any very close analysis, either of interaction between the movements, or of the play of similarities and differences between them. They identify three basic commonalities between the two movements: they both mount a vehement attack on local religious and cultural traditions; both offer their adherents new ways and means of becoming &ldquo;modern&rdquo;; and both have a strong sense of their participation in global movements in their respective faiths. We can even go further and point to other more concrete similarities: their social grounding in the experience especially of the educated, urban young, and their extensive use of modern media to diffuse their messages (where Pentecostalism particularly has shown the way). In both cases, too, there is the paradox that their modernizing critiques of the immediate past are grounded in the invocation of an older normative past: thus they both see themselves as movements of revival or renewal of their respective faiths. Moreover, both promote more than personal agendas, since they also offer critiques, albeit in rather oblique and ambiguous ways and with large differences in content, of how state and society have developed in West Africa since independence.
  p
    | All this is well as far as it goes, but the real issue is to do with what significance is to be attached to similarities 
    em and 
    | differences. There are at least two great areas of difference between the two movements evident even in Larkin and Meyer&rsquo;s account &ndash; indeed, they are far too conspicuous to be disavowed &mdash; but which are discounted in their analysis. For shorthand reference, let me label them Prosperity and Politics. 
  ol(type='1')
    li
      p
        | Their account of Pentecostalism naturally lays much emphasis on what has become one of its dominant emphases across Africa, the &ldquo;Gospel of Prosperity&rdquo; &ndash; and particularly so in some of the larger churches, such as Winners&rsquo; Chapel or the Redeemed Christian Church of God in Nigeria or Action Chapel International in Ghana.
        a#fnref604.footnoteRef(href='#fn604')
          sup 604 
        | Prosperity is typically combined, in varying proportions in different churches, with other pragmatic concerns: healing, oracular guidance, deliverance from demons etc. While the theological expression of this orientation can be traced to an authoritative source in the so-called &ldquo;Faith Gospel&rdquo;, as propounded by such North American Pentecostalists as T.L. Osborn or Kenneth Hagin, it also meshes with the emphasis on &ldquo;powerful prayer&rdquo; which was prominent in the earlier wave of African independent churches (AICs).
        a#fnref605.footnoteRef(href='#fn605')
          sup 605 
        | In noting this, Larkin and Meyer implicitly modify their earlier comments on the Pentecostalism&rsquo;s break with its cultural past.
        a#fnref606.footnoteRef(href='#fn606')
          sup 606 
        | But what is more striking is the apparently complete absence of any similar orientation in the Salafist movements which they invite us to see as &ldquo;mirroring&rdquo; Pentecostalism. On the contrary, their only reference to anything like Prosperity is to Izala&rsquo;s 
        em opposition 
        | to &ldquo;the magical uses of Islamic knowledge for healing or prosperity&rdquo;.
        a#fnref607.footnoteRef(href='#fn607')
          sup 607 
    li
      p
        | Larkin and Meyer&rsquo;s treatment of &ldquo;Islamism&rdquo; reads at times like an account of a religion with an radically different primary orientation from Pentecostalism, despite their aim of making the most that can be made of the resemblances between them. In contrast to the extremely feeble velleities of some Ghanaian Pentecostal pastors towards the idea of a &ldquo;Christian state&rdquo;,
        a#fnref608.footnoteRef(href='#fn608')
          sup 608 
        | which they mention, such Nigerian Muslim activists as Abubakar Gumi and Ibrahim Al-Zakzaky
        a#fnref609.footnoteRef(href='#fn609')
          sup 609 
        | were fully engaged in the political conflicts of the region (such as between the traditional political elite or 
        em sarauta 
        | and its populist critics), propounding religious ideas which require command of the state to be properly implemented and ready to align themselves ideologically and materially with the main power blocs of the Muslim world &ndash; Saudi Arabia vs. Iran &ndash; in order to achieve them.
        a#fnref610.footnoteRef(href='#fn610')
          sup 610 
  h2 II
  p
    | In attempting to balance these differences against similarities in the comparison of Salafism and Pentecostalism, it should not escape notice that they are of a significantly different kind: the similarities are chiefly a matter of form, while the differences are chiefly ones of content or substance. The three key points of similarity, as proposed by Larkin and Meyer, all hinge on a contrast between tradition and modernity: both movements imagine themselves as bearers of modern values, and set themselves in sharp opposition to cultural practices they see as traditional. Now &ldquo;tradition&rdquo; and &ldquo;modernity&rdquo;, particularly as anthropologists view them, are notoriously empty categories: they tend to be filled situationally, with contents that shift from one context to another (and which may even, over time, shift from one category to the other), though always in antithesis to one another. The idea of a normative sacred past, relevant to both movements, is another such religious form, which is available to be filled with an indefinite number of possible contents as particular traditions may supply them.
  p
    | Now while religious forms undoubtedly have real historical effects, it is above all a religion&rsquo;s content which will mainly determine its substantive impact over time, since this is the matrix of the distinctive orientations to action which it engenders in its adherents. So in the present case, the sets of orientations I have labelled Prosperity and Politics can be seen as contrasting ways in which believers are prompted to realize themselves and so to shape their worlds. In the light of that widespread African ontology of well-being which brackets health and prosperity together, let Prosperity be understood more broadly as what the Yoruba call 
    em alafia 
    | , that condition of all-round this-worldly being-at-ease (with health its main component) that sums up what individuals pray for and wish for one another. Two questions then occur. Why should this orientation be so salient in Christian, rather than Muslim, &ldquo;fundamentalism&rdquo;; and why should the contrasting political orientation apparently typify the Muslim, rather than the Christian, movement? Then do we interpret this contrast in the light of factors independently affecting the two religions, or in terms of some kind of overall unifying logic?
  p
    | It can hardly be supposed that African Muslims are intrinsically less interested in health, welfare, security etc. than African Christians are. In the Yoruba case Muslim clerics adapted so well to the popular demand for spiritual technologies to attain these objectives, that it was long before the Christians could catch up; and indeed the term that encapsulates them, 
    em alafia 
    | , is a word of Arabic origin introduced through Muslim channels,
    a#fnref611.footnoteRef(href='#fn611')
      sup 611 
    | which was well naturalized in Yoruba by the Nineteenth Century. So how is it that it is Pentecostalism (like 
    em orisa- 
    | religion and Aladura Christianity) which seems to have made the quest for 
    em alafia 
    | central to its project, while Salafism instead embraces a political agenda, which presents a much more radical challenge to the prevailing order of things?
  p
    | That these agendas are not just different but to some extent alternative was suggested by Matthew Schoffeleers in relation to churches which practise ritual healing in southern Africa. He argued that they are strongly inclined to political acquiescence, not just as a matter of contingent fact but from an underlying logic. This is because, he suggests, &ldquo;healing &mldr; individualizes and therefore depoliticizes the causes of sickness&rdquo;.
    a#fnref612.footnoteRef(href='#fn612')
      sup 612 
    | The same would go for those churches which focus on prosperity through prayer or the conquest of demons which impede the realization of personal success. The distinctiveness of Pentecostalism&rsquo;s healing agenda is further grounded by Murray Last, who brings the perspective of a medical anthropologist as well as a historian of Islam to the contrast between the two faiths.
    a#fnref613.footnoteRef(href='#fn613')
      sup 613 
    | He argues that, despite the existence of a distinct Islamic corpus of medicine,
    a#fnref614.footnoteRef(href='#fn614')
      sup 614 
    | healing (and the wider problem of suffering) has been much less central to Islam than to Christianity, a contrast which he traces back to the primary representation of Mohammed as the prophet of a divine law, not a worker of healing miracles like Christ. 
    a#fnref615.footnoteRef(href='#fn615')
      sup 615 
    | In Last&rsquo;s view, the Sokoto 
    em jihad 
    | of the early Nineteenth Century involved &ldquo;a deliberate project to take the experience of illness out of the religious sphere&rdquo;, as part of a campaign against the survival of pagan practices among Muslims.
    a#fnref616.footnoteRef(href='#fn616')
      sup 616 
    | This seems to have been strongly revived in contemporary Salafism.
  p
    | All this implies that while there is, broadly speaking, a common set of social conditions which the two religions have to address (or which present them with opportunities), a good deal of free play or room for manoeuvre also exists between the &ldquo;demand&rdquo; arising from these conditions, and the &ldquo;supply&rdquo; offered by the religions. The first step in analysis must be to characterize the conditions of this demand, the second to trace how it is shaped by what the religions are moved to supply. As to the former, Larkin and Meyer speak of a &ldquo;reconfiguration of African states and the progressive disembedding of the African economies from the formal world market [which generate] &mldr; the unstable and often depressing flux of life in [contemporary] Africa&rdquo;. 
    a#fnref617.footnoteRef(href='#fn617')
      sup 617 
    | In similar vein, Charles Piot typifies contemporary Togo as &ldquo;a world of post-national sovereignty, of non-state-centric idioms of belonging, of horizontal networked forms of sociality, &mldr; of global immanence &mldr;&rdquo;
    a#fnref618.footnoteRef(href='#fn618')
      sup 618 
    | The conditions of what Piot calls the &ldquo;neo-liberal moment&rdquo; are not just a matter of political economy, but also (very importantly) of material culture, particularly the electronic media which coincidentally came on stream in the 1990s and provided an essential condition, if not for the initial emergence of Pentecostalism, at least for its massive expansion. The chameleonic character of Pentecostalism equips it particularly well able to respond to this situation, by fashioning subjectivities that enable individuals to make practical sense of the experiences of living under the exigencies of such a &ldquo;neo-liberal&rdquo; order.
    a#fnref619.footnoteRef(href='#fn619')
      sup 619 
  p
    | Yet despite the elective affinity between the two, it is crucial not to merge them, as Piot comes close to doing when he shifts imperceptibly from speaking of &ldquo;the neo-liberal moment&rdquo; to &ldquo;the charismatic moment&rdquo;.
    a#fnref620.footnoteRef(href='#fn620')
      sup 620 
    | For if the solution is thus virtually elided into the problem, the possibility of a dynamic interplay between social context and religious tradition all but disappears. Piot then confounds his binding of Togolese Pentecostalism into the present by simultaneously also tying it to the very distant past, by tracing the genealogy of what he sees as its &ldquo;instinctively anti-authoritarian&rdquo; character back to the &ldquo;the anti-imperial politics of the early Christian community [in the Roman Empire]&rdquo;.
    a#fnref621.footnoteRef(href='#fn621')
      sup 621 
    | But this, surely, is to over-determine contemporary Pentecostalism by positing something like an egalitarian essence, mysteriously replicating itself over a vast span of historical time. In any case, it ignores that in both Nigeria and Ghana Pentecostalism has also taken some highly authoritarian forms under miracle-working charismatic pastors. After this, it is not surprising that Piot ends up by confessing his uncertainty about the political import of Pentecostalism.
  p
    | There is a crucial problem of method here. While Pentecostalism, like any other religious movement, is shaped both by its context and by its tradition, these have always to be analysed as working interactively, not independently of one another. Neither context nor tradition is a fixed given to the other: both are to be seen as yielding possibilities, albeit constrained ones. And the cultural work by which a religion reassesses its history in the light of its predicament is reciprocally linked to how it is guided by its past as it seeks to realize itself in the present. This is why I will conclude this chapter by comparing two recent historical interpretations of their faiths by Nigerians, respectively a Pentecostalist and a Salafist. 
  p
    | These abstractions become concrete when we start to compare the responses of more than one religion to the neo-liberal predicament. Islam faces it too, but the solutions it supplies are its own. Take the yearning for renewal, particularly among the young, which is common to movements in both faiths. Whereas the Pentecostal paradigm is for renewal to occur first in individuals, empowered by the Holy Spirit according to the sacred promise of Acts II, and then to spread out to energize the whole Church, the classic pattern of Islamic renewal involves the paradigm of a 
    em mujaddid 
    | who appears every century to reform the 
    em umma 
    | .
    a#fnref622.footnoteRef(href='#fn622')
      sup 622 
    | Here the process of renewal proceeds in the reverse direction, for the 
    em mujaddid 
    | is called to re-establish the proper institutional framework for pious practice by individual Muslims, through implementing normative rules drawn from the Koran and the Hadith
    em . 
    | This is inherently a much more political project. It would seem that Salafism, though its appeal implies a real ability to meet the experiential needs of individual West African Muslims, offers a much more refracted response to the neo-liberal predicament, one more heavily mediated through the layers of its tradition, than Pentecostalism does. The weight of normative tradition is much lighter in Pentecostalism, its charter precedent much more open and permissive &ndash; and this seems to have made it easier to meet the age-old local demand for healing and other forms of  
    em alafia 
    | with such Christian confidence.
  p
    | But I must now qualify the thrust of my argument so far. For healing, a Gift of the Holy Spirit, is not only significant in its literal sense for Pentecostalists in West Africa, but is also taken by them as a potent metaphor for their wider claim to be able to make all things over anew. Such an open potential clearly undermines the sharp distinction between healing (in the literal sense) and politics (in the conventional sense) that I have been using, so it requires us to probe more deeply the &ldquo;politics&rdquo; of Pentecostalism. Yorubaland provides an excellent place to start, since the relative time-depth of its Pentecostalism, and the fact of its being deeply rooted in earlier local forms of Evangelical Christianity, enable us to view it in a historical perspective; while the co-presence of Islam provides a check on any cause/effect relations that its history may suggest. 
  h2 III
  p
    | Looking back at more than thirty years of Born-Again Christianity from a vantage point in 2013, we are no longer tempted to see it simply as a grand ruptural moment, vital as this conception has been for numberless individuals swept up in it. No one has analysed more profoundly the logic of Pentecostalism&rsquo;s redemptive promise in Nigeria, of its &ldquo;will to found anew&rdquo;, than Ruth Marshall in her book 
    em Political Spiritualities 
    | . The book&rsquo;s very title, taken as it is from an essay by Foucault on the Iranian revolution of 1979, as well as her remark that &ldquo;in many respects, the Born-Again and [Islamic] reformist projects are doppelgangers&rdquo;, suggest she too regards the two movements as fundamentally comparable and equally political projects.
    a#fnref623.footnoteRef(href='#fn623')
      sup 623 
    | The broad commonalities she sees between them fall under two main heads. (i) They are both concerned to evoke in their members a broadly similar kind of religious subjectivity, one that involves &ldquo;a work of the self on the self&rdquo;; 
    a#fnref624.footnoteRef(href='#fn624')
      sup 624 
    | and (ii) they have both become hegemonic projects competing in Nigeria&rsquo;s public space, but implying incompatible visions for the future development of Nigerian society. Pentecostalism, she insists, has a &ldquo;highly political agenda&rdquo;.
    a#fnref625.footnoteRef(href='#fn625')
      sup 625 
    | But this is not an un-nuanced judgement, since she also attributes to it &ldquo;an ambivalent form of negative political theology&rdquo;; and, though she regards it as rooted in many of the same aspirations as Salafism, she concedes that it displays &ldquo;important historical, socio-political and theological differences&rdquo;.
    a#fnref626.footnoteRef(href='#fn626')
      sup 626 
    | So what are these differences?
  p
    | The immediate origins of Yoruba neo-Pentecostalism lie in the early 1970s &ndash; the years just after the Nigerian Civil War, when a dramatic growth in oil revenues raised dizzy hopes for Nigeria&rsquo;s national development, though significant roots run back to contacts with American Pentecostals in the 1950s-60s, and even earlier through the Aladura movement in the 1920s. During Olusegun Obasanjo&rsquo;s first turn as head of state (1977-79), as leader of a military government, oil revenues permitted the vigorous pursuit of highly statist policies in health and education. There was a massive expansion of higher education, which facilitated neo-Pentecostalism&rsquo;s earliest constituency, the campus prayer fellowships where so many of its early leaders were formed.
    a#fnref627.footnoteRef(href='#fn627')
      sup 627 
    | Nigeria&rsquo;s ambition for itself as a leader in the struggle for Black and African advancement across the world was lavishly staged in FESTAC in 1977. This was when a Pentecostal group first entered the public arena (alongside like-minded Muslims) to protest against what it saw as a showcasing of idolatrous culture in the name of national pride. Apart from that, Pentecostal concerns and activities were still essentially limited to individual and private spheres.
  p
    | All changed in the 1980s, when Nigeria found itself in a prolonged economic crisis, due to collapsed oil prices, combined with chronic corruption and mismanagement by successive governments, first civilian and then again military. The state, while still a massive engine for private accumulation by the members of the political class, had progressively reneged on its promise to bring development to the mass of the people. Pentecostalism now moved off campus and, in the form of rapidly growing &ldquo;ministries&rdquo; under charismatic pastors, raised its public profile dramatically through all forms of media and by holding large, conspicuously advertised revival meetings across Nigeria. Shifts in the movement&rsquo;s orientation started to appear. The first was a shift from its strong initial focus on &ldquo;holiness&rdquo; &ndash; typically taking the form of a quest for personal sanctification through ascetic self-disciplines &ndash; to a greater emphasis on external this-worldly objectives, including the conquest of demonic enemies. This may be seen both as a trajectory characteristic of movements of Evangelical spirituality and as a substantial reversion to the default system of Yoruba religious culture. 
    a#fnref628.footnoteRef(href='#fn628')
      sup 628 
  p
    | Accompanying this, and at some tension with it &ndash; recalling Schoffeleers&rsquo; suggestion that &ldquo;healing&rdquo; and &ldquo;politics&rdquo; are essentially 
    em alternative 
    | orientations for religious movements &ndash; was the emergence of a new political relevance for Born-Again Christianity. What had begun as a redemptive promise of rebirth addressed to individuals, the more urgent through being set within a messianic &ldquo;end-time&rdquo;, came to provide a powerful idiom for collective renewal. This yearning grew through the 1980s against a backdrop of an ever-deepening economic and political crisis, which lasted through sixteen years of military rule under generals from the Muslim North. It reached its nadir in the mid-1990s, after the military had annulled the 1993 presidential election, ushering in the brutal dictatorship of General Sanni Abacha. Islam now clearly eclipsed paganism as the grand imagined spiritual enemy for Christians, though under the Yoruba etiquette of public amity between the two faiths, hostility was usually expressed in somewhat muted forms, such as the use of the term &ldquo;the Caliphate&rdquo; to denote the forces of Northern oppression. This apocalyptic mood was readily articulated in Born-Again discourse, which was widely taken up to prefigure and presage redemptive change in the condition of Nigeria. E.A. Adeboye, the leader of the Redeemed Christian Church of God, was widely credited with having prophesied Abacha&rsquo;s sudden death in 1998.
  p
    | But that was the high-water mark. With Obasanjo&rsquo;s second coming in 1999 as elected President of Nigeria, some limits of Pentecostal politics soon became evident. Even though he claimed to be Born-again himself and gathered a coterie of Pentecostal pastors around him,
    a#fnref629.footnoteRef(href='#fn629')
      sup 629 
    | any promise of a redemptive politics was buried &ndash; or at least returned to its original sphere, the redemption of individual lives. If ever these pastors &ldquo;spoke truth to power&rdquo;, no significant effects were discernible, though some of them may have gained personal favours. Some individual pastors, such as Tunde Bakare, have persistently spoken out against the corruption of the political class, 
    a#fnref630.footnoteRef(href='#fn630')
      sup 630 
    | but in general prevailing secular status hierarchies are fully accepted. Obviously, wealth 
    em per se 
    | is no embarrassment for celebrity pastors who preach the Gospel of Prosperity, and the RCCG, in particular, has developed a highly successful strategy to establish congregations among the well-heeled middle class, with its so-called &ldquo;model parishes&rdquo;.
    a#fnref631.footnoteRef(href='#fn631')
      sup 631 
    | Tremendous energy and resources go into church expansion, not only in Nigeria but along the networks of the Nigerian diaspora in Europe and North America. Yet alongside their disgust at the state of secular politics in their country, many Nigerian Pentecostalists take great pride 
    em as Nigerians 
    | in this expansion. It is true that Pentecostalism in general has some strongly post-nationalist features &ndash; for example, the marked universalism of its aspirations expressing disappointment at the failures of the nationalist political project &ndash; but in the case of Nigeria, it can also be seen as a form of nationalism displaced: a projection of the nation onto the world through the medium of Pentecostal Christianity.
  h2 IV
  p
    | Optimal conditions for a contextual comparison of Salafism and Pentecostalism are not easily found. While Yorubaland is an excellent place to compare diverse forms of both Islam and Christianity, the two &ldquo;fundamentalist&rdquo; movements are not on an even footing there. For while Pentecostalism has a strong place within Yoruba Christianity, with local roots going back over a hundred years,
    a#fnref632.footnoteRef(href='#fn632')
      sup 632 
    | enabling us to see it as a virtually endogenous movement, Salafism is not merely a minority (albeit growing) strand within Yoruba Islam but one that has only appeared within the last 30+ years. As argued in the last chapter, several other strands within Yoruba Islam &mdash; Tijaniyya, NASFAT and Tablighi Jama&rsquo;at &mdash; have more obvious points of resemblance to Pentecostalism than Salafism does.
    a#fnref633.footnoteRef(href='#fn633')
      sup 633 
    | Though Yoruba Salafism &ndash; the grouping known as Ahl us-Sunna &mdash; owes its origins more to currents in the wider Islamic world than to the impact of the radical Reformism of Northern Nigeria, it still draws inspiration from the latter and identifies with its major figures, such as Usman dan Fodio. So the most fruitful comparison for Yoruba Pentecostalism is in fact Salafism in Northern Nigeria. Though we lose the advantage of comparing the two movements in the same cultural context, we gain from being able to compare them at full expression in their respective &ldquo;home&rdquo; contexts. 
  p
    | Northern Nigeria offers a much looser context than Yorubaland. It is multi- rather than mono-cultural, but with one culture historically hegemonic over a large part of it: the Hausa-speaking, Islamic culture of the Sokoto Caliphate. Since the 1970s, it has seen a succession of radical Islamic or Salafist movements of the kind discussed by Larkin and Meyer, the latest being Boko Haram. Amid their diversity, two features have been salient: vehement hostility to the Sufi brotherhoods and pressure to implement Sharia law, both grounded in a Salafist vision of Islam. From the 1960s till his death in 1992, one man exercised a towering influence here, Alhaji Abubakar Gumi, the former Grand Khadi of the Northern States &ndash; there has been no remotely comparable figure in Nigerian Christianity.
    a#fnref634.footnoteRef(href='#fn634')
      sup 634 
    | Gumi was the guiding force of the best-known and most influential movement, known as Izala, an abbreviated Hausa form of its Arabic name, which means the &ldquo;Society for the Removal of Innovation (
    em Bid&rsquo;a 
    |) and the Restoration of the 
    em Sunna 
    | &rdquo;.
    a#fnref635.footnoteRef(href='#fn635')
      sup 635 
  p
    | To understand these movements, we need to relate them, not just to the immediate past which has directly bequeathed the situation Izala wants to reform and the distant past of the early Islamic 
    em salafiyyun 
    | which provide its normative exemplar, but to a middle-distance past which mediates these two temporal reference points. That is the Sokoto Caliphate, the Islamic state created through a 
    em jihad 
    | led by a Fulani cleric, Usman dan Fodio, in the first decade of the Nineteenth Century.
    a#fnref636.footnoteRef(href='#fn636')
      sup 636 
    | The British conquered it a century later, but preserved the system of emirates (with their Fulani Muslim ruling elites) to make it the classic terrain of Lugardian &ldquo;Indirect Rule&rdquo;. 
    a#fnref637.footnoteRef(href='#fn637')
      sup 637 
    | They greatly cut back the scope of Sharia law to the personal sphere, but Islam remained fundamental to the integration of Muslim society in Northern Nigeria, and enjoyed a large demographic expansion. When nationalism arrived 50 years later, it was intercepted by a scion of the ruling dynasty, Ahmadu Bello, the Sardauna of Sokoto, who promoted a form of conservative modernization drawing inspiration from his ancestor, Usman dan Fodio. The Sardauna was as much concerned with keeping out the corrosive influence of Southern politics as he was with securing independence from the colonial masters. Once independence came and lifted any need to reassure the British, he shifted quite quickly from a policy of &ldquo;One North, One People&rdquo;, in which Christians could feel they belonged as much as Muslims, to one of treating the North more as a successor state to the old Caliphate.
    a#fnref638.footnoteRef(href='#fn638')
      sup 638 
    | Seeing Islam as the only viable source of public morality and political cohesion, he sponsored highly controversial Islamization campaigns in the non-Muslim parts of the North.
    a#fnref639.footnoteRef(href='#fn639')
      sup 639 
    | Support for this came from a new organization, the 
    em Jama&rsquo;atu Nasril Islam 
    | (&ldquo;Society for the Victory of Islam&rdquo;), founded in 1962 to foster unity among Muslims and to promote the cause of Islam, in which both the Sardauna and Abubakar Gumi took active roles.
  p
    | The Sardauna also arranged for many of the works of dan Fodio to be published, in Arabic and Hausa. These covered such topics as the legal conditions for conducting 
    em jihad 
    | , the key question of just who is a Muslim, relations with non-Muslims, principles of government and law etc. They even include a text entitled &ldquo;The Revival of the 
    em Sunna 
    | and the Removal of 
    em Bid&rsquo;a 
    | &rdquo; (which closely anticipates the name that Izala chose for itself), more than half of which consists of quotations from the works of scholars across the Muslim world from the Fourteenth to the Seventeenth Centuries.
    a#fnref640.footnoteRef(href='#fn640')
      sup 640 
    | One of the most important of these texts, the 
    em Bayan Wujub 
    | , was still circulating, and actually being copied, in Northern Nigeria in the 1960s.
    a#fnref641.footnoteRef(href='#fn641')
      sup 641 
    | Usman dan Fodio had belonged to the Qadiriyya, so it was only after the death of the Sardauna in 1966 that Gumi felt able to come out in outright condemnation of the brotherhoods for their 
    em bid&rsquo;a 
    | (innovation) and 
    em shirk 
    | (idolatry).
    a#fnref642.footnoteRef(href='#fn642')
      sup 642 
    | So if (like Kane) we want to emphasize the &ldquo;modernity&rdquo; of these movements, it is vital to see that their challenge to older ways arose from within a tradition which they reproduced as much as they repudiated.
  p
    | Izala&rsquo;s assault on Sufism was part of a more general drive for the renewal of Muslim society in Northern Nigeria. In striking at the charisma of Sufi 
    em shaykhs 
    | and the esoteric knowledge claims of traditionalist clerics more generally, Izala had a rationalizing and egalitarian tenor, which appealed to the educated young and to traders. Its import for women was ambiguous &ndash; as Adeline Masquelier has shown in her fine study of a town in Niger
    a#fnref643.footnoteRef(href='#fn643')
      sup 643 
    | &mdash; since it both enforced their stricter seclusion and promoted their religious education. While there are some parallels here with the moral objectives of Pentecostal Christianity, where the Islamizing movements diverged radically from the Pentecostal ones was that all their specific aspirations came together in the demand for Sharia, imagined as Allah&rsquo;s instructions for a just and well-ordered society. After two top-downwards attempts to institute Sharia in the late 1970s-80s, a bottom-upwards movement finally led to its adoption in twelve states of the high North in 2000-01.
    a#fnref644.footnoteRef(href='#fn644')
      sup 644 
    | One primary drive was the desire of ordinary Muslims to hold their elites to account in terms of the moral framework of Islam that they shared. It was also, argues Last, rooted in a diffuse sense of insecurity among the Muslims of Northern Nigeria, a sentiment arising not just from social conditions such as poverty and unemployment (important as these are) but also from specifically Islamic aspirations and anxieties. The young men (and some women) who enforce Sharia, the 
    em hisba 
    | , are often called &ldquo;vigilantes&rdquo;; but this is misleading, since though they take direct physical action against offenders, they act more like &ldquo;concerned citizens&rdquo; (as Last puts it), guided by the Koranic injunction to Muslims to &ldquo;command right and forbid wrong&rdquo;.
    a#fnref645.footnoteRef(href='#fn645')
      sup 645 
    | We are dealing here, not just with a discursive tradition, but with institutional forms and precedents for action which have come down with it.
    a#fnref646.footnoteRef(href='#fn646')
      sup 646 
  h2 V
  p
    | The notion of different religious groups coming to resemble one another through a process of &ldquo;mirroring&rdquo; or directly copying one another has its most obvious application in situations of competition and conflict, as the last chapter explored in relation to the vigorous but peaceful rivalry between Islam and Christianity in Yorubaland. So how far has it occurred in the context of Northern Nigeria, where violence in the name of religion has become endemic? And has Pentecostalism proved to be the hard edge of Christianity in its confrontation with Islam? It is certainly widely so regarded. A prominent Northern intellectual, Sanusi Lamido Sanusi, attributes inter-religious violence in the region, which he characterizes as a recent phenomenon, to &ldquo;the emergence of Pentecostal Christian and extremist Islamist groups&rdquo;; and tendentiously invokes Marshall (whose remarks specifically concerned only Yorubaland) to the effect that &ldquo;Pentecostals began aggressively proselytizing, demonizing Islam and thus fueling the rise of Islamic fundamentalism&rdquo;.
    a#fnref647.footnoteRef(href='#fn647')
      sup 647 
    | While this certainly conveys the alarm that many Muslims in the North have felt at its religious impact, it is highly misleading to imply that Pentecostalism coincided with or even preceded the appearance of radical Islamism, so could be even partly responsible for it. It arrived much later. Moreover, religious violence, though more sporadic in its incidence, long predates the arrival of Pentecostalism and was at first intra-Islamic in its character: in the Sokoto 
    em jihad 
    | itself, in fighting between the two Sufi brotherhoods and in Izala&rsquo;s challenge to them, and in the Maitatsine uprising which erupted in Kano in 1980.
    a#fnref648.footnoteRef(href='#fn648')
      sup 648 
    | Apart from tit-for-tat episodes of violence at a community level, the clearest case of mirroring at an organizational level was the foundation of the Northern Christian Association in 1964 in response to the Jama&rsquo;atu Nasril Islam in the context of the Sardauna&rsquo;s Islamization campaigns. Its members were drawn from the main Protestant churches active in the North (which did not then include Pentecostals).
    a#fnref649.footnoteRef(href='#fn649')
      sup 649 
    | This was the precursor of the enduring Christian Association of Nigeria (1976).
    a#fnref650.footnoteRef(href='#fn650')
      sup 650 
    | But Pentecostalists did not make a significant public mark till the late 1980s, coming into an existing situation of tension between Muslims and Christians that had grown steadily since the early 1960s.
    a#fnref651.footnoteRef(href='#fn651')
      sup 651 
    | And if Adam Higazi&rsquo;s fine micro-study of conflict in Plateau State is anything to go by, Pentecostalists have been less active as militants than members of some mainline churches, especially those linked with local ethno-nationalisms, like COCIN.
    a#fnref652.footnoteRef(href='#fn652')
      sup 652 
  p
    | The prominent role of young men in acts of religious violence is commonly ascribed to their impoverishment and marginalization. But this is not the only possible response. For the chosen target might be an ethnic rather than a religious other, and the vehicle of their anger ethnic militias, rather than radical religious groups. Of course the different dimensions of otherness often &ldquo;stack up&rdquo;, as in confrontations between (say) Muslim Fulani pastoralists and Christian Berom farmers on the Jos Plateau, but still the dominant coding of the conflict, which is 
    em not 
    | reducible to socio-economic causes, has telling effects. Here, religion has been salient in the North, while ethnicity has prevailed in the South of Nigeria; and it is not accidental that this correlates with the regional predominance of Islam and Christianity respectively. The saliency of religion as a public identity marker in the North &ndash; that is, the politicization of faith &mdash; was strongly promoted by the jihadist Islam of the Sokoto Caliphate, continued through the colonial period and was revived by the Sardauna after 1960.
    a#fnref653.footnoteRef(href='#fn653')
      sup 653 
    | Christianity&rsquo;s impact was more ambiguous, for while it certainly created a new supra-local religious identity, this was often undercut by denominational rivalries and offset by its role in valorising or reshaping ethnic distinctions through promoting local languages in the context of Bible translation. What is undeniable is that in the most heavily Christian part of Nigeria, the South-East, the anger of young men has typically not gone into religion but into ethnic militias and vigilante groups, which often make use of traditional masquerade forms and magical charms that are offensive to Pentecostalists.
    a#fnref654.footnoteRef(href='#fn654')
      sup 654 
  p
    | Between the polar cases of the South-East and the Muslim North, the cases of Yorubaland and the Northern Christians present some instructive variations. At its height in the early 2000s the main Yoruba ethnic militia, the Oodua People&rsquo;s Congress, had a broad membership across the religious spectrum, though in Greater Lagos, where it was most active, it is likely that the mass of its activists (like their charismatic leader, Gani Adams) were young Muslims.
    a#fnref655.footnoteRef(href='#fn655')
      sup 655 
    | It is wholly consistent with the general pattern of Yoruba politics that, for the mass of Yoruba Muslims, ethnicity trumps religion as a political marker; nor is it surprising that &ldquo;the North&rdquo; has typically been their primary target, as in their past assaults on Hausa traders, and more recently their threat that any Boko Haram attacks in Yorubaland would meet with severe reprisals. One feature of the OPC&rsquo;s support is of especial note: the religious group 
    em least 
    | likely to be involved in it appear to be active Pentecostalists. This is because they strongly oppose the &ldquo;revalidation of traditional spiritual practices&rdquo;
    a#fnref656.footnoteRef(href='#fn656')
      sup 656 
    | , in the form of the fortifying charms and rituals provided by 
    em alfa 
    | , 
    em babalawo 
    | and probably some Aladura 
    em woli 
    | for OPC activists. An analogous phenomenon is found among the mainly Christian Tarok in their confrontation with mainly Fulani Muslims in the lowland areas of Plateau State. Here, as in some vigilante groups in the South-East, anti-Muslim activists employ the resources of their traditional culture, such as protective charms and masquerades associated with ancestral spirits.
    a#fnref657.footnoteRef(href='#fn657')
      sup 657 
    | Since much of this culture is still belittled by the churches, there is dismay among many Christians at the revival of &ldquo;paganism&rdquo;, even though the traditionalists and the COCIN leadership are 
    em de facto 
    | allies in the struggle against local Muslims. I think it can be presumed that Pentecostalists would be the most opposed to this aspect of the religious conflict in Plateau State, as they are to similar practices in the OPC.
  h2 VI
  p
    | Islamic Reformism and Pentecostalism are embedded in radically different ideological and institutional complexes. Pentecostalism, deeply marked by the voluntarism and individualism of its Evangelical origins, only has, as Marshall put it, a &ldquo;negative political theology&rdquo;. But Islam was formed in the crucible of a process of state-making reciprocally moulded by its revelation &ndash; whether we think of the original Arab-Islamic empire established by the Prophet and his successors in the Seventh Century, or of the Sokoto Caliphate whose founders consciously modelled their actions on that precedent. Pentecostalism, by contrast, emerged in the USA and in north-western Europe in the social space outside the state, yet within an order already guaranteed by it. The modes of political action adopted by Pentecostals in the public sphere are not in principle different from those of any other voluntary association in civil society: though converting individuals to their way of thinking, seeking to modify public opinion, acting as a pressure-group on legislators and those who wield power, and so forth. It has nothing like a Sharia of its own to implement, and its tradition contains no models of the kind of direct political action that Muslims have deployed.
  p
    | Both Muslims and Christians have very critical things to say about the Nigerian state, and at the individual level &ndash; to judge from many casual conversations with Yoruba people &ndash; I have hardly been able to distinguish between them. But when we consider the critique of religious groups, a distinct difference of emphasis is evident. This highlights the two general criteria which African states need to fulfil in order to be seen as legitimate by their populations: they must be seen as just, and they must be seen to bring development. The Nigerian state performs abysmally on both counts.
  p
    | Muslim groups have been more concerned with what they see as the state&rsquo;s injustice. The demand for Sharia is of course the supreme expression of this. For attacks by radical groups on police stations, government facilities, the houses of corrupt politicians and traditional rulers, even churches &ndash; and in 2011 the wave of violent protest against what was seen widely in the North as an election stolen from them &ndash; are also fuelled by an angry sense of injustice informed by Islamic ideals. So injustice tends to be linked to idolatry and unbelief (which especially means Christianity and its cultural concomitants). Again there is a precedent for such direct action in Usman dan Fodio&rsquo;s career: first a  
    em hijra 
    | or retreat of the faithful from the territory of corrupt so-called Muslim rulers, against whom 
    em takfir 
    | is declared; and then, at an opportune time, 
    em jihad 
    | to establish a Dar al
    em &mdash; 
    | Islam where justice will prevail.
    a#fnref658.footnoteRef(href='#fn658')
      sup 658 
    | Yet dan Fodio&rsquo;s work also contains ambiguities, notably his refusal to collapse injustice entirely into unbelief, as in the much-quoted conclusion of the 
    em Bayan Hujub 
    | : &ldquo;A kingdom can endure with unbelief, but it cannot endure with injustice&rdquo;.
    a#fnref659.footnoteRef(href='#fn659')
      sup 659 
  p
    | Justice is pre-eminently a political virtue, so it is not surprising that such an apolitical faith as Pentecostalism has little to say about it beyond the heartfelt though conventional criticisms that individual Born-agains make of the behaviour of Nigerian politicians. What then of their implicit critique of the Nigerian state, for failing to bring about development? It rests on the assumption that a key aim of religion is to bring about prosperity and the other good things of life. That makes the goal of development belong to the religious as much as the political sphere, and though it is pursued by distinct (that is, spiritual) means, these are felt to be quite complementary to secular, instrumental ones. At the same time, the larger Pentecostal churches have revived the missions&rsquo; engagement in education and welfare projects, especially after state provision of these things faltered badly in the 1980s. The RCCG has built up a vast complex of facilities at its camp-ground on the Lagos-Ibadan expressway: a veritable town (now known as Redemption City) with its own electricity and water supplies, banks and supermarkets, schools and university, media businesses, planned orderly housing etc. It all amounts to what Asonzeh Ukah calls &ldquo;an alternative society, properly equipped with all the necessary instruments of a functioning secular state&rdquo;.
    a#fnref660.footnoteRef(href='#fn660')
      sup 660 
    | It is an icon, or small-scale model, of the developed society that Nigerians aspire to. This was dramatically manifest at a Holy Ghost Night I attended in 1994, when the church dedicated its new generator &ndash; that supreme index of the failure of the Nigerian state to guarantee a reliable power supply &ndash; which was switched on to joyous acclamations of &ldquo;Let there be light, and there was light!&rdquo; and scornful negative comparison with the public electricity supplier, NEPA.
  p
    | Compared with the Islamist critique, the Pentecostal one is pragmatic as much as ethical: the ineptitude of Nigeria&rsquo;s rulers is condemned as much as their corruption. If this may seem rather contingent as a manifestation of Christianity, it does connect intimately with a core value of Born-Again Christianity in Nigeria: namely, life or spirit. Pentecostalism in general rides on an ever-shifting balance between  
    em Logos 
    | (Word) and 
    em Pneuma 
    | (Spirit). Whereas its 
    em Logos 
    | derives from the parent Evangelical tradition, its emphasis on 
    em Pneuma 
    | is both original and distinctive, for it is this which empowers individuals when they are &quot;born again&quot;. Now &ldquo;Spirit&rdquo; was translated into Yoruba as 
    em E&#x323;mi 
    | , a noun derived from the verb 
    em mi 
    | , meaning to breathe, and always carries connotations of life-force, of that which makes the difference between things living and things dead.
    a#fnref661.footnoteRef(href='#fn661')
      sup 661 
    | This enabled Pentecostalism to connect with indigenous ideas about life and well-being. Here it is worth noting that the main charge that the Born-agains bring against the older mainline churches is not for their moral failings, but for their being &ldquo;dead&rdquo;. This value had already found expression in Yoruba politics in the Gospel-derived motto of its dominant party, the Action Group: &ldquo;Life More Abundant&rdquo;.
    a#fnref662.footnoteRef(href='#fn662')
      sup 662 
    | The Yoruba name for the AG was 
    em Afe&#x323;nife&#x323;re 
    | , &ldquo;lovers of good things&rdquo;, which expresses the same idea more explicitly from an indigenous viewpoint.
    a#fnref663.footnoteRef(href='#fn663')
      sup 663 
    | This expression of development objectives in language fusing Christian and Yoruba values, made possible by a century of cultural Africanization, was ready-made for incorporation into Pentecostal criticism of the Nigerian state. Once again it shows that continuities, whether acknowledged or not, are as essential to the appeal of Pentecostalism as its claims of radical rupture from the past.
  h2 VII
  p
    | Since the stories that religions tell about themselves play such an integral role in their self-realization, there is hardly a better way to bring out the contrasting thrusts of Salafism and Pentecostalism, political and cultural, than through two accounts of them written by engaged insiders, both recently published in Nigeria. These are  
    em Islam in Nigeria: One Crescent, Many Voices 
    | (2007) by Abdul-Fattah Olayiwola, and 
    em A Heritage of Faith: a History of Christianity in Nigeria 
    | (2009) by Ayodeji Abodunde.
    a#fnref664.footnoteRef(href='#fn664')
      sup 664 
    | Though both authors are Yoruba, they each offer a Nigeria-wide perspective on their religion. Neither is a professional historian: Abodunde has a degree in science/engineering and runs his own media company in Ibadan, while Olayiwola teaches Arabic and Islamic Studies at the University of Maiduguri. That is significant, since his views are much more characteristic of Northern than of Yoruba Islam.
  p
    | Abodunde&apos;s book takes a more conventionally narrative form, with six parts running from the nineteenth-century missions through Nigerian Christianity&apos;s successive phases up to the present. His own commitment is not explicitly elaborated, though it is well evident in his overall conception of Nigeria&rsquo;s Christian history and in the much greater space and detail he devotes to its later Pentecostal stages. Against all that has been said about Pentecostal rupture, Abodunde presents this history as a continuous work of the Holy Spirit, moving through various individuals and churches, in which a growing Christian &ldquo;heritage of faith&rdquo; is built upon. So he treats non-Pentecostals in a very ecumenical spirit, and even the religious eccentricities of men such as the Aladura prophet Josiah Ositelu are treated gently.
  p
    | Olayiwola, by contrast, does not offer a sequential narrative as such, but rather a Salafist interpretation of the history of Islam in Nigeria. His book is polemical where Abodunde is eirenical, and is thus in an immediate sense a politically more engaged work. A question not to be avoided is whether these highly individual works may also be taken to represent broader bodies of opinion. Olayiwola&rsquo;s clearly stated antipathies &ndash; to the &ldquo;mixing&rdquo; Islam targeted by Usman dan Fodio, to the Sufi brotherhoods, to Ahmadiyya &ndash; show him to be a characteristic and consistent advocate of a Salafist viewpoint.
    a#fnref665.footnoteRef(href='#fn665')
      sup 665 
    | By contrast, while Abodunde&rsquo;s book is strongly Pentecostal in its sympathies, it is not the only kind of history that a Pentecostalist might have written. One can easily imagine one with a much more negative treatment of non-Pentecostal churches or of some tendencies within Pentecostalism, though such a person would perhaps have been less likely to want to write a history at all.
  p
    | The most revealing differences between the world-views implicit in the two books lie in how each author articulates his core &ldquo;religious&rdquo; subject-matter with such adjacent themes as culture, nation, state and politics. Where Abodunde treats Christian history as occupying a space alongside but distinct from the &ldquo;secular&rdquo; or political history of Nigeria,
    a#fnref666.footnoteRef(href='#fn666')
      sup 666 
    | despite the points of interaction between them, Olayiwola gives no space to the secular: for him, Islam&rsquo;s history in Nigeria has to be understood 
    em as 
    | a political history. The reason is clearly stated:
  blockquote
    p
      | &ldquo;Islam is a faith and a state &mldr; Sovereignty belongs only to Allah &mldr; so any earthly ruler of Muslims must &mldr; rule them strictly in accordance with the injunctions of Allah as provided in the Holy Quran and the Prophetic Hadith. Justice is uncompromisable &mldr;&rdquo; 
      a#fnref667.footnoteRef(href='#fn667')
        sup 667 
  p
    | There is no doubt a &ldquo;weak politics&rdquo; running though church history of any kind, but it is the &ldquo;strong politics&rdquo; of Olayiwola&rsquo;s kind of Islamic history which explains the prominence in it of two salient themes &mdash; violence and 
    em takfir &ndash; 
    | that have no presence or parallels in Abodunde&rsquo;s Christian history.
  p
    | Violence is precisely where Olayiwola&rsquo;s narrative begins, more particularly Muslim-on-Muslim violence, the kind involved in the setting up of Islamic states and the correction of deviance in them. He traces the genesis of his work back to Jos in 1981, where he:
  blockquote
    p
      | &ldquo;witnessed the first conflict between Muslims on account of differences of conviction of faith. The conflict between Tariqah [Sufi brotherhoods] and Izalah [anti-Sufi activists] was so elaborate that lives were lost &mldr; Back home in Yorubaland, remonstrance between scholars &mldr; never took that form &mldr; it has never been allowed to degenerate to the midst of followers on the street. [He refers to his] shock and dismay when [he] found [himself] among Muslims, who according to the Qur&rsquo;an are supposed to be brethren, killing one another [even] within the premises of mosques&rdquo;.
      a#fnref668.footnoteRef(href='#fn668')
        sup 668 
  p
    | Anyone other than a Salafist might draw the obvious inference from this contrast between peaceful Yorubaland and the violent North, that it probably has something to do with the Yoruba culture of religious tolerance, grounded in the outlook of their pre-Islamic 
    em jahiliyya 
    | , in contrast to the tradition of jihadist state-formation in Northern Nigeria. But these are possibilities that Olayiwola cannot allow himself to entertain. For him, the only conceivable basis of Islamic unity, the social counterpart of divine unity (
    em tawhid 
    |), is a rightly-guided regime in accord with Prophetic revelation. It follows that responsibility for violence can never be laid at the door of those who promote this ideal, but only of those who, in opposing it, are 
    em justly 
    | taken as the enemies of God and to be treated accordingly.
  p
    | This gives Olayiwola his doctrinal key for the interpretation of the history of Nigerian Islam, namely 
    em takfir 
    | , the anathematization as non-Muslim of certain groups who falsely present themselves as Muslim and thus undermine the true unity of Islam. 
    em Takfir 
    | is equally a religious and a political act, since it is concerned with defining the boundaries of the 
    em umma 
    | . Its first major use in Nigerian history was by Usman dan Fodio, to challenge the legitimacy of the Hausa kingdoms (then Muslim in their own eyes for several centuries) against which he launched his 
    em jihad 
    | , and to justify his stance against his most formidable Muslim rival, al-Kanemi of Borno.
    a#fnref669.footnoteRef(href='#fn669')
      sup 669 
    em Takfir 
    | changes the status under Islamic law of those so anathematized, for it re-defines them as apostates and so legitimates the use of violence against them. Olayiwola wholeheartedly endorses dan Fodio&rsquo;s position, and without cavil or qualification declares that &ldquo;no ideal Islamic community &mldr; has ever been built in history without Jihad&rdquo;. 
    a#fnref670.footnoteRef(href='#fn670')
      sup 670 
  p
    | The ideal of the 
    em umma 
    | as a political community, the framework for the collective life of Muslims, is at the centre of Olayiwola&rsquo;s thinking. Now since he also happens to be Nigerian, the question cannot be avoided of how this might relate to the two other frameworks offered by Nigerian history: state and nation. These concepts are not of the same order, since while the state is a definite material reality, the nation is an &ldquo;imagined community&rdquo;.
    a#fnref671.footnoteRef(href='#fn671')
      sup 671 
    | A supposed merit of 
    em nation 
    | -states, as against any other kind of state, is that the moral and cultural attachments rooted in belonging to a nation might be harnessed to create the basis for state citizenship. Since the 
    em umma 
    | is also an imagined community (and as such provided the moral basis for the early Islamic empire and many later Islamic states), it has potential rivals in any nation based on different principles, such as language, ethnicity, race or descent, shared historical experiences, territorial logic etc., though historic compromises have often been found between them.
    a#fnref672.footnoteRef(href='#fn672')
      sup 672 
  p
    | &ldquo;Nigeria&rdquo; figures in Olayiwola&rsquo;s account in two contrasting guises. Firstly, it is an imaginary Muslim country, but one which was never allowed to come to fruition. This Nigeria &ldquo;could have been united on the basis of Islam&rdquo;, but the &ldquo;unifying revolution &mldr; as commenced by Shaykh Uthman bn Fudi&rdquo; was choked off by British colonial intervention.
    a#fnref673.footnoteRef(href='#fn673')
      sup 673 
    | Then there is the real Nigeria, the one that was created by the British in 1914, a century after dan Fodio&rsquo;s death, which Olayiwola represents as a country where &ldquo;people who were brothers and sisters in Islam before the incursion of the West have been reduced to warring parties over what the colonialists have indoctrinated them to ... Nationalism and Patriotism&rdquo;. 
    a#fnref674.footnoteRef(href='#fn674')
      sup 674 
    | Thus he objects to Muslims adopting communal identities and getting caught up in local conflicts, since it results in them &ldquo;[ceasing] to see one another as Muslims first and foremost&rdquo;. The idea of Nigeria as a nation is thus a chimerical distraction from the only identification that has value for him, that of the Muslim  
    em umma 
    | , while Nigeria as a state is a mere political space that he would like to see entirely filled with the Islamic content of Sharia.
  p
    | If I have given more space to Olayiwola&rsquo;s book than to Abodunde&rsquo;s, it is because (while less rich as a history of religion) it is so much more revealing as a political document. That the Pentecostalist literature is so devoid of a religiously-theorized politics of any kind is itself an indication of just how different the two movements are in this respect. Yet while Olayiwola is much concerned about the establishment of an Islamic state but has no time for nationalism, Abodunde is a nationalist who has almost nothing to say about the state. One might think his nationalism surprising, granted that the rise of Born-Again Christianity was linked to a loss of faith in the secular project of Nigerian nationalism. But here the sense of national destiny is restored through pride in what Nigerians are doing in the world, whether through the &ldquo;dynamic and innovatory forms&rdquo; of Christian faith they have taken to other lands or their fidelity to the traditions brought by the Gospel pioneers. The fitting heroes of Abodunde&rsquo;s last chapter are thus Pastor Sunday Adelaja, founder of the Embassy of God in the Ukraine,
    a#fnref675.footnoteRef(href='#fn675')
      sup 675 
    | and Archbishop Peter Akinola, the staunch defender of traditional teaching on sexuality in the Anglican Communion. There is no contradiction here between Abodunde&rsquo;s sense of Pentecostalism being a global movement and his proud conviction that &ldquo;history has placed in our [Nigerian] hands the baton in this hour&rdquo;.
    a#fnref676.footnoteRef(href='#fn676')
      sup 676 
  p
    | The contrasting attitudes to nationalism between the two movements also express attitudes towards culture more generally that are deeply rooted in their parent religious traditions. The main focus of Pentecostalism&rsquo;s hostility to the culture of African nationalism was where it was felt to promote &ldquo;idolatry&rdquo; (as in the anti-FESTAC protests). But Pentecostalists are not in principle opposed to cultural specificities, and they have often taken trouble to adapt and preserve the cultural markers of ethnic distinction, provided they are free, or can be purged, of any idolatrous taint.
    a#fnref677.footnoteRef(href='#fn677')
      sup 677 
    | The Babel of linguistic diversity, as a fact of human history &ndash; the &ldquo;Parthians and Medes and Elamites &mldr; Cretes and Arabians&rdquo; of Acts II &ndash; is 
    em not 
    | there simply to be erased. Rather, it has provided the occasion for two complementary responses: transcendence though the Pentecostal gift of tongues, and translation of the Bible into vernacular languages.
    a#fnref678.footnoteRef(href='#fn678')
      sup 678 
    | The latter, famously, has worked powerfully to valorize the nations which are the bearers of those languages. We can see a strong modern evocation of this conjunction of the universal and the particular in that favoured 
    em mise-en-sce&#x300;ne 
    | of big Pentecostal revival services, where the back of the stage, behind the preacher&rsquo;s rostrum, is adorned with a row of national flags.
    a#fnref679.footnoteRef(href='#fn679')
      sup 679 
    | The message is implicit but clear: the Gospel is for all nations, since Christ is less the source of any one culture than the redeemer of all cultures.
    a#fnref680.footnoteRef(href='#fn680')
      sup 680 
  p
    | Salafists, by contrast, are very uneasy about cultural diversity because of their conviction that Islam offers a &ldquo;complete way of life&rdquo;.
    a#fnref681.footnoteRef(href='#fn681')
      sup 681 
    | This notion, if taken literally, would obviate any discussion of the relationship 
    em between 
    | Islam and particular cultures, since it leaves no space for true Muslims to have any culture except what is derived from Islam. Even Olayiwola has to recognize that this is fantastical, and he concedes that &ldquo;Islam permits the incorporation of people&rsquo;s customs into the framework of Shari&rsquo;ah&rdquo;.
    a#fnref682.footnoteRef(href='#fn682')
      sup 682 
    | The trouble is that in Nigeria, as he delicately puts it, &ldquo;this concession &mldr; seems to have been overutilized&rdquo;, so that Muslims from one part of the country are not able to recognize as &ldquo;Islam&rdquo; what they find Muslims practising in the name of that same religion in another part. Without uniformity, he feels, the ideal of unity is always at risk, so Nigerian Islam needs to be restored as closely as possible to that pristine form of social cohesion that Emile Durkheim called mechanical solidarity: &ldquo;All should understand that our ability to remain united depends on how closely alike we are. The culture of Islam [is] good enough for any people [in] any age. The more tenaciously we hold to it &ndash; devoid of admixture &ndash; the more united we shall be&rdquo;.
    a#fnref683.footnoteRef(href='#fn683')
      sup 683 
  h2 VIII
  p
    | On the surface, these two narratives may just seem to be very different; but they also harbour deep incompatibilities, not primarily as regards the faith and practice of individuals, but as to how the two religions should connect with the political community. Salafism tends to come with explicit views of the kind of Islamic state it aspires to, but Pentecostalism shrinks from any statement of its own politics, save for the oblique criticism of the Nigerian state for its failure to bring about development and the expression of disgust at political corruption that is common among individual Pentecostalists (as among Nigerians in general). But is the apolitical character of Pentecostalism simply to be taken at face value? It is surely not helpful to regard all religions as equally political in principle, as a thoroughgoing disciple of Foucault may be inclined to do, on the grounds that the play of power is all-pervasive in social life, and that power implies politics. Yet even on the narrower view that the &quot;political&quot; is what relates to the  
    em polis 
    | or state, the most &quot;apolitical&quot; of movements may have important political consequences, whether from how the state responds to them (as Jehovah&apos;s Witnesses have often found to their cost), 
    a#fnref684.footnoteRef(href='#fn684')
      sup 684 
    | or through the mobilizing and empowering effects they may have in the sphere of civil society. It is also quite possible that any group of Pentecostalists may take up an active political position, and feel empowered by their faith is so doing, but in that case they will need to get their political script from some other source than Pentecostalism.
  p
    | The key point here is how far the political messages of a religion in any particular situation are to be seen as integral or contingent to it. What is striking here is how much more historically contingent are the messages carried by Nigerian Pentecostalism &mdash; it might be better to say Pentecostalists &mdash; than those of Salafism, such as its articulation of resistance to the Abacha tyranny in the mid-1990s or the various affinities it has established with other social forces (such as the &ldquo;Life More Abundant&rdquo; theme of the Awoist political tradition in Yorubaland). It is precisely this protean character of Pentecostalism which has enabled it to flourish in such diverse social contexts. Putting the point another way, we might say that Pentecostalism, as far as politics goes, offers a much more &ldquo;empty&rdquo; or &ldquo;open&rdquo; religious disposition, one whose content is less constrained by its traditions, than Salafism does. There are certainly forms of Pentecostalism which enjoin strict codes of behaviour, but in general the Holy Spirit is a vastly more flexible guide, one far more open to what the contingencies of history may bring, than the Koran and Hadith are. Whereas Pentecostalists, existing as they do in many varieties, presume (and therefore also tend to promote) an open, plural and level religious field, Salafists strive to re-institute the religio-political regime which they believe Allah revealed to mankind through his Prophet. To that extent, the two movements offer Nigeria radically incompatible blueprints for the placement of religion in society.