section.chapter(data-type='chapter')
  p.ch-start beginning
  .folio
  hgroup
    .dup History, Culture And The&nbsp;Comparative&nbsp;Method
    h1.ct History, Culture And The&nbsp;Comparative&nbsp;Method
    .cst
      | A West African Puzzle
      a#fnref18.footnoteRef(href='#fn18')
        sup 18 
  p
    | At the most general level, comparison is not a special method, or in any way unique to anthropology. Comparison is implicit in any method of deriving understanding through 
    em explanation, 
    | i.e. by determining the sufficient and necessary conditions for the existence or occurrence of any phenomenon or action. To say 
    em why 
    | a thing is so is to indicate particular obtaining conditions, and it follows that where these conditions obtain otherwise, so also must the object of explanation. If it does not, the adequacy of the alleged explanatory conditions and/or the description of the 
    em explanandum 
    | are called into question. Comparison&apos;s key role, then, is as a test on explanations, in the manner classically set out in J. S. Mill&apos;s 
    em System of Logic, 
    | the &quot;Method of Difference&quot; providing a more powerful test than the &quot;Method of Agreement&quot;.
    a#fnref19.footnoteRef(href='#fn19')
      sup 19 
    | This is as true in principle for explanations of occurrences in daily life as it is for those sought in science, as true for explanation of socio-cultural as of natural phenomena. The more elaborate or systematic explanations that we call theories may be little invoked in fields like history or textual criticism, but the logic of explanation is still present in such seemingly &ldquo;idiographic&rdquo; exercises as the construction of a plausible chain of events in history, or the determination of a most likely reading in a classical text.
  p
    | But the West African puzzle of my title does arise from a theory: namely the systematic explanation that Robin Horton has given for the widespread occurrence, timing and distribution of conversion to the world religions in Africa over the past two centuries.
    a#fnref20.footnoteRef(href='#fn20')
      sup 20 
    | Briefly, it explains this as an adaptive response to changes in the scale of people&rsquo;s social experience. As traditional African religions make cogent sense of living in localized, small-scale communities, so when people move into a wider field of social relations &ndash; as through labour migration or more extensive trade networks &ndash; they are drawn to more general, transcendental forms of religion. This theory made much sense of the Yoruba data (see further, Chapter 7), but failed completely to explain why the trajectory of religious change of the seemingly comparable Akan should be so different. Since the Akan yield nothing to the Yoruba in terms of the kind of factors which Horton&rsquo;s theory specifies as relevant to conversion &ndash; it even had earlier direct relations with Europe, a richer export-oriented colonial economy, the earlier development of modern education etc. &ndash; why should its religious development have been markedly so much &ldquo;slower&rdquo; and more uneven?
  p
    | In 1960, according to the 
    em Population Census of Ghana, 
    | just over 60 % of all the Akan were reported as being adherents of world religions, the great majority of them Christians. By contrast, already by 1952 well over 80% of Yoruba were Christians or Muslims, though the proportions varied considerably by region. 
    a#fnref21.footnoteRef(href='#fn21')
      sup 21 
    | By 1960 the difference between the two peoples had grown to over 30%. Only after the mid-1960s did this gap start to close, with the further growth of Christianity among the Akan. Other divergent features of their religious histories appear to correlate with the difference. In fact, what first pointed me in this direction was puzzlement as to why the strains of high colonialism had produced a Christian prophet movement known as Aladura among the Yoruba, while the main Akan response had been to turn to &ldquo;pagan&rdquo; anti-witchcraft shrines.
    a#fnref22.footnoteRef(href='#fn22')
      sup 22 
  p
    | So we have to look elsewhere than to the factors specified in Horton&rsquo;s microcosm-to-macrocosm theory in order to explain the Akan/Yoruba difference. The explanation I shall eventually propose &ndash; that it is to do with the contrasting relationship between religion and political authority in the two societies &ndash; will involve us in a critical reappraisal of the strong comparative literature produced by social anthropologists, mostly in the 1960s-70s, about the conditions of state-formation in West Africa. But to get our intellectual bearings here, it is helpful to go further back and consider the tradition of comparative study from which it arose, and in which &ldquo;
    em the 
    | comparative method&rdquo; occupied a central position. This was seen as a means towards developing a natural science of society, in opposition to history as the study of unique sequences of events. But it has been far from being a unified enterprise; and I shall argue that it has involved several distinct &ldquo;modes&rdquo;, which differ in how they handle history. This will bring us back to the Akan/Yoruba contrast, where I shall argue that they need to be compared in their histories, not (as with most anthropological comparison) as static social systems.
  h3 Modes of the comparative method
  p
    | The comparative method, sometimes argued to be 
    em the 
    | method of social anthropology
    a#fnref23.footnoteRef(href='#fn23')
      sup 23 
    | or treated as if it were one single thing
    a#fnref24.footnoteRef(href='#fn24')
      sup 24 
    | exists in at least five distinct modes:
  ol
    li
      p a single, universal, ideal history or &ldquo;natural history of society&rdquo;;
    li
      p a branching, concrete history, on the model of comparative philology;
    li
      p
        | where history is denied or ignored, as comparison is used to derive sociological universals or general laws;
    li
      p
        | where a degree of common history is presumed, as in regional comparative studies;
    li
      p where it is histories, not societies, that are compared.
  p
    | These modes tend to be products of particular historic moments, but at the same time they have a perennial appeal, since they represent distinct logical options for the analysis of social phenomena.
  h2 Mode I: an ideal, universal history
  p
    | This began as a projected &ldquo;natural history of society&rdquo; or 
    em histoire raisonn&eacute;e; 
    | and involved the search for a single logically appropriate (and hence also normative) sequence of stages. The comparative method was to provide the confirming evidence. This mode existed fully fledged by the 1760s and 1770s in the &ldquo;four stage theory&rdquo; of Smith, Turgot and Millar.
    a#fnref25.footnoteRef(href='#fn25')
      sup 25 
    | The presents of backward societies were the equivalent of the pasts of advanced societies, so that comparative evidence from contemporary non-European societies could be used to fill in or corroborate evidence for stages of Europe&apos;s past. &ldquo;It is in [the American Indians&apos;] present condition we are to behold, as in a mirror, the features of our own progenitors&rdquo;.
    a#fnref26.footnoteRef(href='#fn26')
      sup 26 
    | The Nineteenth Century produced much fresh data, more complicated stage-models and several special applications (e.g. to marriage-types, forms of religion), as well as the authoritative paradigm of comparative anatomy and physiology, worked through most thoroughly in Spencer&apos;s theory of social evolution; but the basic components were the same.
  p
    | Though social evolution had ceased to be the absolutely paramount form of social thought by 1914, this Mode of the comparative method continued to be practised in anthropology for some time. Indeed one could hardly find better instances of it than in such late works as those by Hobhouse, Wheeler and Ginsberg or Hocart.
    a#fnref27.footnoteRef(href='#fn27')
      sup 27 
    | Neo-evolutionism apart, some of its devices continue to find valid heuristic employment within projects of a quite different overall character. For example, the device of using an undeveloped community as a model to reconstruct the baseline form from which a culturally related but developed community has grown, has been used by M. G. Smith (contemporary Abuja=pre-Fulani Zaria) and Horton (contemporary Niger Delta fishing villages=New Calabar before the Atlantic trade).
    a#fnref28.footnoteRef(href='#fn28')
      sup 28 
  h2 Mode II: a branching, concrete history
  p
    | This emerged in the early nineteenth century, its paradigm being comparative philology. The achievement of Jones and Bopp was to explain the affinities between Greek, Sanskrit and other languages in terms of their descent from a putative common ancestor, Indo-European, and to work out rules governing the sound-shifts that lay between them. The essential point of comparison here was to reconstruct a particular 
    em ur&shy;- 
    | form, the actual histories of the languages being paths of divergence from it. Compared with Mode I, Mode II dealt with several actual histories rather than with one ideal or normative history&apos;: and its focus was the point of origin or departure, rather than the path of development from it. Moreover, whereas Mode I depended on a unity grounded 
    em in nature 
    | (&ldquo;the psychic unity of mankind&rdquo;), Mode II pointed to a limited and 
    em cultural 
    | unity, that of the Indo-European (or Ural-Altaic or Semitic . . .) stock. A linguistic version of Mode I was found in a theory like von Humboldt&apos;s, which held that 
    em all 
    | languages, by virtue of their common human nature, pass through the same sequence of develop&shy;mental stages. Even in modern anthropology there are instances of Mode II, such as Luc de Heusch&apos;s study of Bantu mythologies.
    a#fnref29.footnoteRef(href='#fn29')
      sup 29 
    | Besides L&eacute;vi-Strauss, the major influence on de Heusch was the work of Georges Dumezil on the transformations of mythical archetypes in Indo-European cultures.
    a#fnref30.footnoteRef(href='#fn30')
      sup 30 
    | Both Dumezil and de Heusch, characteristically, are more concerned to demonstrate the existence of an 
    em ur 
    | -&shy;form which serves to bring out the resemblances between diverse myths, than to map the historical path of that form&apos;s transformations.
  h3 Comparison: for or against history?
  p
    | All use of the comparative method in the nineteenth century, and especially in its dominant Mode I, was informed by two profound inclinations. The first was to reduce a vast and perplexing variety by postulating an underlying unity of some kind: in the terms of Mill&apos;s 
    em Logic 
    | the &ldquo;Method of Agreement&rdquo; got vastly more attention than the &ldquo;Method of Difference&rdquo;. Consequently, the manifest variations or differences are less often explained than set aside or treated as superficial: comparative analysis thus pointed away from history.
  p
    | Secondly, there was the impulse to make sense of things in terms of how they had come to be, in terms of origins, sources or paths. That led Comte to regard the comparative method (Mode I) as a 
    em m&eacute;thode historique, 
    | which for him also had the appeal of providing scientific grounds for divining the path into the future. But this is a &ldquo;historical&rdquo; approach only in a very particular sense: in the sense of dealing with time and change, but not in the sense of dealing with the unique totalities or conjunctures, the action and the contingencies, out of which concrete instances of social change are formed. Spencer went further and expressly set the project for a science of society in opposition to any notion of a humanistic history, in terms of a series of antinomies: process vs. events, structure vs. individuals, necessity vs. con&shy;tingency etc.
    a#fnref31.footnoteRef(href='#fn31')
      sup 31 
  p
    | It was the legal historian Frederick Maitland who saw that such ahistoricism was self-defeating, and succinctly stated comparative anthropology&apos;s dilemma: &ldquo;by and by anthropology will have the choice of being history or being nothing&rdquo;.
    a#fnref32.footnoteRef(href='#fn32')
      sup 32 
    | Rarely has a clear statement been so often misunderstood by being read out of context.
    a#fnref33.footnoteRef(href='#fn33')
      sup 33 
    | Maitland was 
    em not 
    | telling a functionalist anthropology that it should study social change. His essay, &ldquo;The Body Politic&rdquo; was directed at the whole organicist metaphor in which the comparative method (Mode I) sought laws of development, taking Spencer as the great exemplar. His point was that processes of change must be seen in terms of contingencies and specific conditions, not as the working out of immanent laws of organic development. The great irony was that, whereas Maitland wanted the time perspective without organicism, what British anthropology eventually produced after the structural-functionalist revolution was a form of organicism without the time perspective.
  p
    | The fundamental methodological issues here were posed most sharply in Germany, where a strong attraction to evolutionary and organicist models of society coexisted with the greatest contemporary school of historical scholarship and an antipathy to Anglo-French universalism and utilitarianism in such fields as law and economics. The famous 
    em Methodenstreit 
    | concerned the antithesis of history and science, of 
    em Geist 
    | and 
    em Natur 
    | as objects of study, and of the placement of any so-called social sciences in this academic scheme. &ldquo;Sociology&rdquo; was precisely what Max Weber called his attempt to transcend the distinction, to meet scientific standards in the definition and analysis of historical problems without denying the meaningful character of their subject matter.
    a#fnref34.footnoteRef(href='#fn34')
      sup 34 
    | But for all Weber&apos;s vast influence on the history of sociology, anthropology was shaped instead by the rather different response to this dilemma proposed by Franz Boas, the main conduit by which German historical idealism was transmitted to American anthropology. Boas polarized &ldquo;the historical method&rdquo;, concerned with the development of unique cultural wholes, and &ldquo;the comparative method&rdquo;.
    a#fnref35.footnoteRef(href='#fn35')
      sup 35 
    | The latter sought to establish synchronic links between discrete variables expressed in the terms of a general theory.
  p
    | This distinction between history and comparison was already implicit in what has come to be called &ldquo;Galton&apos;s Problem&rdquo;.
    a#fnref36.footnoteRef(href='#fn36')
      sup 36 
    | At the first presentation of Tylor&apos;s famous essay in Mode I comparative method on the evolution of systems of marriage and descent, Francis Galton had drawn attention to a major difficulty with its research design.
    a#fnref37.footnoteRef(href='#fn37')
      sup 37 
    | How could one tell whether the &ldquo;adhesions&rdquo; or correlations between variables were independent cases of the postulated causal relationships between traits, thus serving to confirm the theory, or were the result of societies borrowing traits at some particular stage in their history? The problem indicates the tension which must exist between the search for a theory specifying causal relations which hold irrespective of time and place, and the evident fact that social variables may be rather &apos;loosely fitting&apos; and combine in unique configurations (cultures) under contingent circumstances (history). In that sense, as Boas saw, both culture and history presented refractory materials for the comparative method. 
  h2 Mode III: history ignored
  p
    | This is when the comparative method is detached entirely from considerations of time and change. This was only decisively achieved after the structural-functionalist revolution, but some of the groundwork was already laid. Even when, as with Mode I, the ultimate object of the comparative method was to construct a &ldquo;natural history&rdquo; of society, the temporal sequence was essentially something added to the correlations from outside. The sequence itself usually followed from some naturally ordered feature such as population size or density, degree of social differentiation or level of technology. The comparative method was to determine the corresponding sequence of religious beliefs, kinship systems, ethical values, etc; and it could obviously continue to be used apart from any social evolutionary project.
  p
    | Moreover, there is an ambiguity in the very notion of explaining a thing by reference to its source or origins. This may be interpreted phylogenetically, in which case an institutional history (as with a language&apos;s descent from an 
    em ur 
    | -form) is required; or ontogenetically, in which case the genesis in an individual of an instance of the thing is required. These two interpretations can be combined, as in Freud&apos;s theory of religion, where a historical myth about its supposed origins is taken up in an account of the origin of individual neuroses which reach out to religious solutions. We find the same thing in Frazer. For besides the evolutionary progression from magic to science, he also seeks explanation by looking for a link between some need or habit of thought which is inherent in human individuals and some type of magico-&shy;religious action. The intellectual tedium of 
    em The Golden Bough 
    | is largely due to the fact that the vast range of comparative materials is used to provide repeated illustration of such linkages between source and effect according to Mill&apos;s Method of Agreement.
  p
    | We are here only a very short step from Mode III, which was described by Radcliffe-Brown as a means &ldquo;to pass from the particular to the general &mldr; to arrive at the universal, at characteristics which can be found in different forms in many societies&quot;.
    a#fnref38.footnoteRef(href='#fn38')
      sup 38 
    | This is the Method of Agreement exclusively and 
    em &agrave; l&apos;outrance. 
    | In the next generation this universalist ambition was sustained above all by Fortes. In 
    em Oedipus and Job in West African Religion 
    | Fortes acknowledged the lead of Frazer in the great project &ldquo;to bring home to us the unity behind the diversity of human customs&rdquo;, and where he refers to the beliefs of other West African peoples it is only to point out the similarities, not to use the differences to get a better explanatory purchase on the specifics of the Tallensi situation.
    a#fnref39.footnoteRef(href='#fn39')
      sup 39 
    | Again, in &ldquo;Pietas in Ancestor Worship&rdquo; he gives far more attention to parallel cases which fit his theory that ancestor worship is a ritualization of lineage authority,
    a#fnref40.footnoteRef(href='#fn40')
      sup 40 
    | and even to extensions of it to such spheres as the &ldquo;pietas&rdquo;&apos; displayed by Russian cosmonauts and Cambridge college fellows, than to problematic counter-cases such as the Tiv which might sharpen up the explanation.
    a#fnref41.footnoteRef(href='#fn41')
      sup 41 
  p
    | The conditions for finding generalizations applying to &ldquo;all human societies, past, present and future&rdquo;
    a#fnref42.footnoteRef(href='#fn42')
      sup 42 
    | were better met when Levi-Strauss displaced the subject-matter of anthropology upwards, from social relations to cultural forms such as myths, and explanation was sought in terms of laws of the mind, not of society. Rodney Needham&apos;s book 
    em Exemplars, 
    | written very consciously as a comparativist, shows the clear outcome of Mode III. Though Needham considers a historical sequence of writers, neither their pastness, nor the temporal relations between them nor their historically specific circumstances are of essential concern to him; for through comparison he is looking for &ldquo;fundamental inclinations of the psyche&rdquo; or &ldquo;natural proclivities of thought and imagination&rdquo;. 
    a#fnref43.footnoteRef(href='#fn43')
      sup 43 
    | Such things point to &ldquo;cerebral vectors&rdquo; as where explanation must ultimately lie; and at that point the natural science of society teeters on the edge of physiology.
  h2 Mode IV: regional comparative studies
  p
    | The trajectory of Mode III, from Radcliffe-Brown to Needham, was not however the most typical development of the comparative method in social anthropology from the 1950s onwards. This was Mode IV, where more limited comparisons are essayed, usually dealing with particular social institutions and within a particular ethnographic area. For Africanist anthropology, it arrived in the classic volumes on 
    em African Political Systems 
    | (eds. Fortes and Evans-Pritchard, 1940) and 
    em African Systems of Kinship and Marriage 
    | (eds. Radcliffe-Brown and Forde, 1950), albeit prefaced with Mode III manifestos from Radcliffe-Brown. This mode of the comparative method did not just make use of ethnographies but, more than any of the preceding ones, really arose out of ethnography and remained close to it. Consequently much more use is made of Mill&rsquo;s Method of Difference, in two principal ways: explanation and exploration.
  p
    | Two essays by Nadel &mdash; who had a better idea of what he was about theoretically than any of his contemporaries
    a#fnref44.footnoteRef(href='#fn44')
      sup 44 
    | &mdash; indicate the difference in emphasis. Explanation is predominant in the tightly organized argument of &ldquo;Witchcraft in four African societies2
    a#fnref45.footnoteRef(href='#fn45')
      sup 45 
    | (Nadel 1952): two pairs of closely related societies, a single definite question about each (presence or absence of witchcraft beliefs? female or male witches?) and a clear guiding hypothesis (that witchcraft beliefs answer to frustrations and anxieties arising from the pattern of social relations). His essay on Nuba religion, on the other hand, is more exploratory, seeking to clarify a rather diffuse difference between the religions of two further Nuba peoples, one of which has a more anxious, ritually obsessive outlook, and the other a more serene and submissive attitude towards the gods.
    a#fnref46.footnoteRef(href='#fn46')
      sup 46 
    | No definite explanatory hypotheses are evident here, beyond an assumption that one should look for &ldquo;more significant, because more far-reaching, causal relations connecting religion with acts of an altogether different order, that is with conditions which are functionally autonomous and hence represent &lsquo;independent&rsquo; variables&rdquo;.
    a#fnref47.footnoteRef(href='#fn47')
      sup 47 
    | So Nadel proceeds to look at a number of variables, most of which are germane to his interest in social psychology: the regulation of adolescence, the jural status of wives, sexual morality, attitudes to homosexuality etc. Thus ethnography reaches, through the comparative method, to further and better ethnography.
  p
    | In the early 1950s, a time when the surge of new ethnography studies had encouraged several reviews of the comparative method,
    a#fnref48.footnoteRef(href='#fn48')
      sup 48 
    | Schapera had strongly urged the methodological advantages of this, in contrast with sweeping cross-cultural studies such as those based on the 
    em Human Relations Area Files. 
    | At the very least, where social-structural relations were being investigated, comparison within an ethnographic region enabled culture to be held much more securely constant. Its further potential was that it allowed variations genuinely to be analysed as variants or transformations of locally given basic forms. This remained a productive seam, as was shown in such fine studies as those of Adam Kuper on Southern Bantu marriage systems,
    a#fnref49.footnoteRef(href='#fn49')
      sup 49 
    | or Richard Fardon on social organization in the Benue Valley region of Nigeria and Cameroon.
    a#fnref50.footnoteRef(href='#fn50')
      sup 50 
    | One original aim of Mode IV was to avoid being bothered by culture through setting up situations where it could be set aside as a constant, yet the regional focus eventually pointed the way back to historical questions, and hence reintroduced the problem of culture. Mode IV could also converge with Mode II, as with the work of de Heusch. 
  h3 Regional comparison within British social anthropology
  p
    | Before turning to issues that bear directly on my initial puzzle, it is necessary to examine two closely related features of British social anthropology as practised in the 1940s and 1950s: holistic presentism and sociological reductionism. They infused most exercises in Mode IV comparative method without being strictly entailed by it, and together they utterly inhibited an adequate analysis of the role of culture in social transformation. Holistic presentism followed from the practical rejection of historical explanation by the founders of structural-functionalism. Where the histories of pre-literate societies were judged to be unknowable; &ldquo;conjectural history&rdquo;, using Mode I comparative method, was worthless, so apparent history or oral tradition made better sense when interpreted as charters for present social arrangements. So all social phenomena had to be explained in terms of other social phenomena with which they cohered in whole systems, or of the external conditions of such systems. With this doctrine, social anthropology acquired a wonderful self-sufficiency as a discipline, since ethnographic fieldwork, if sufficiently thorough, could provide all the material needed for explanation.
  p
    | What holistic presentism did 
    em not 
    | provide was guidance as to what explains things. In principle, it might be environment, race, technology, cultural values... But after Radcliffe Brown, it was social structure: social anthropology for a while became more sociological than sociology. Now, while this still left open many questions about the relations between such social institutions as politics, law, kinship, the economic division of labour etc. it did propose a definite answer, or rather two somewhat inconsistent answers, to the interpretation of culture. The core message was: culture does not matter much in social analysis.
  p
    | On the one hand, culture is a kind of clutter, which has a certain obscuring tendency, so needs to be cleared away if valid comparisons are to be made. Because there might be &ldquo;the same kind of political structures . . . in societies of totally different culture&rdquo;, comparison should be &ldquo;on an abstract plane where social processes are stripped of their cultural idiom and reduced to functional terms&rdquo;.
    a#fnref51.footnoteRef(href='#fn51')
      sup 51 
    | Over thirty years later Lewis, in 
    em Ecstatic Religion, 
    | was to propose just the same thing. He urged &ldquo;the crucial importance of distinguishing between the unique cultural forms of particular institutions and their actual social significance in any society&rdquo;. Only if anthropologists did this would they be able to &ldquo;develop useful typologies which cut across cultural 
    em forms 
    | and which facilitate meaningful comparison&rdquo;. Thus would anthropology be able to storm &ldquo;the last bastion of the unique&rdquo;, religion.
    a#fnref52.footnoteRef(href='#fn52')
      sup 52 
  p
    | Alternatively, instead of varying randomly, culture was argued to co-vary exactly, as a dependent variable, with the forms of social structure. If the Tallensi have a cult of their ancestors, it is not (as Frazer would have argued) because of a fear of the dead, &ldquo;but because their social structure demands it&rdquo;.
    a#fnref53.footnoteRef(href='#fn53')
      sup 53 
    | And it was precisely with those forms of religion &mdash; &shy;ancestor-worship and witchcraft/sorcery beliefs &mdash; that seem  
    em in fact 
    | to reflect social structure most closely that the comparative analysis of religion was attempted to best effect.
    a#fnref54.footnoteRef(href='#fn54')
      sup 54 
    | As Bradbury put it in a fine study of the Edo cult of the dead, where &ldquo;relations with the objects of worship derive very directly from the typical experiences of individuals in their relations with certain categories of deceased persons . . . severe limits are set upon the imaginative capacities of the religious thinker&rdquo;.
    a#fnref55.footnoteRef(href='#fn55')
      sup 55 
  p
    | Bradbury clearly recognized that this need not be true of all forms of religion, but any great exploration of cultural autonomy was long impeded by a strong methodological resistance from social anthropologists. Middleton and Winter, for example, counterposed two ways to explain the content of witchcraft beliefs: &ldquo;cultural analysis&rdquo; and &ldquo;sociology&rdquo;. Only by &ldquo;sociological analysis&rdquo;, they argued, can we develop explanations that subsume the facts from more than one society; and cultural explanations are in any case untestable.
    a#fnref56.footnoteRef(href='#fn56')
      sup 56 
    | But why should cultural explanations be less testable in principle than sociological ones? The contention that phenomenon A in society 
    em X 
    | is due to its being Muslim (a cultural fact) can indeed be supported by showing that it is also present in other Muslim societies Y and 
    em Z 
    | (the Method of Agreement), especially if it is absent from otherwise comparable but non-Muslim societies, 
    em P, Q 
    | and 
    em R 
    | (the Method of Difference). But there has to be a theoretical interest in finding explanations of this kind; and mostly, in the comparative analysis of the 1950s and 1960s, this interest was excluded by satisfaction at the power of social-structural determinism to explain at least some of the empirical variation of African religions.
  p
    | But what eventually became clear is that substantial amounts of variation were left unexplained by sociological facts, and that these often pointed to culture. Two examples suffice to make the point. Gluckman&apos;s extended comparison of domestic systems among two centralized Bantu societies, Zulu and Lozi, is a good example of synchronic, social-structural Mode IV comparative method.
    a#fnref57.footnoteRef(href='#fn57')
      sup 57 
    | He explained the presence or absence of the &ldquo;house property complex&rdquo; and related phenomena in terms of the presence or absence of strong agnatic lineages. Compelled thus to extend the range of comparison, he found his explanation supported by the same correlations among a cluster of peoples in north&#x2011;eastern Africa. Things started to get untidy when a group of patrilineal peoples in West Africa (Tallensi, Fon, Igbo) provided a negative case &mdash; no house property complex &mdash; but this he was able to handle in a theoretically plausible, but also 
    em ad hoc, 
    | way, by adducing an extra negative condition &mdash; their having brother-to-brother succession. But what is then the import of a case like the Yoruba, another patrilineal West African people, who manage to combine some major features of the house property complex typical of the Zulu, with other features more characteristic of the Lozi who lack it? Clearly it does not simply invalidate Gluckman&apos;s detailed explanation of the Zulu/Lozi differences, but it does negate any idea of a necessary link between the two variables. There is just more &ldquo;free play&rdquo; between social-structural variables than Radcliffe-Brown&apos;s programme supposed, so that where variables do cohere, it is within a complex of other conditions which is the product of a particular local history. Any &ldquo;necessity&rdquo; of things is the rolling product of determinations accumulating over time &mdash; a subject-matter which social anthropology, for a time, forswore to touch.
  p
    | Mary Douglas&apos;s classic paper, &ldquo;Lele economy compared with the Bushong&rdquo;, brings us more expressly to a similar conclusion.
    a#fnref58.footnoteRef(href='#fn58')
      sup 58 
    | She asked why the Bushong of the Congo were so much more productive than their neighbours, the Lele, despite identical levels of technology and a similar natural environment. Her convincing answer was that it was due to different patterns of labour use, which in turn depended on contrasting evaluations of what activities were appropriate to particular age/sex categories. In other words, the key factor was specific cultural patterns, which existed in the present simply as a precipitate of the past, and were themselves only to be explained historically. By the same stroke, we are forced to take culture/ideas/religion seriously and to open social explanation to history. Holistic presentism had excluded historical explanations, but not explanation by reference to culture, the form in which the past exists in the present. There were some good grounds for this suspicion of historical explanations. But only its companion dogma, socio&shy;logical reductionism, really closed the door, by refusing to acknowledge the effectiveness of any constituent of present reality besides the social relations themselves or, for those of an even harder turn of mind, their ecological and physical conditions of existence.
  h3 History revived in anthropology?
  p
    | For all that these were 
    em id&eacute;es maitresses 
    | of British social anthropology at its acme, they never won universal assent. Opposition to them was most sharply expressed by Evans-Pritchard. Yet this opposition was both shifting and equivocal, and did not lead to a resolution of the problems of an ahistorical anthropology. This was because Evans-Pritchard was unable to transcend Radcliffe-Brown&apos;s terms of debate, which themselves had been set in the Montesquieu/Spencer/Durkheim tradition of science-vs-history. He merely opted for the other alternative. Despite his own remarkable analysis of structural transformation ( 
    em The Sanusi of Cyrenaica, 
    | 1949), Evans-Pritchard&apos;s case for &ldquo;anthropology as history&rdquo; had less to do with the treatment of time or change than with insistence on the uniqueness of what the anthropologist studies: individual cultures. History acknowledged this uniqueness, which a &ldquo;natural science of society&rdquo; would deny.
    a#fnref59.footnoteRef(href='#fn59')
      sup 59 
    | The kind of &ldquo;explanation&rdquo; he wanted had nothing to do with causes: it was &ldquo;exact description which bears its own interpretation&rdquo;
    a#fnref60.footnoteRef(href='#fn60')
      sup 60 
    | He was con&shy;sequently unenthusiastic about the comparative method, that handmaid of science. Some &ldquo;comparative religion&rdquo; he was prepared to countenance but, insofar as it goes beyond hermeneutics, he only allowed it the very weak causal aspirations of &ldquo;relational study&rdquo;.
    a#fnref61.footnoteRef(href='#fn61')
      sup 61 
  p
    | For the anthropologists who most seriously re-engaged with history did 
    em not 
    | take their cue from the later writings of Evans-Pritchard. The new concern arose among those who had done fieldwork in some of the larger-scale African societies, typically societies which had acquired some depth of literary tradition and whose &ldquo;ethnic&rdquo; traditions had the most direct relevance to the newly emergent states, peoples like the Yoruba, Akan, Tswana, Somali, Akan, Ganda and Hausa-Fulani. Methodological essays
    a#fnref62.footnoteRef(href='#fn62')
      sup 62 
    | led on to monographs
    a#fnref63.footnoteRef(href='#fn63')
      sup 63 
    | and to collaborative volumes.
    a#fnref64.footnoteRef(href='#fn64')
      sup 64 
    | Though the forms of the anthropological engagement with history varied considerably, its typical position was in fact diametrically opposed to Evans-Pritchard&apos;s. Rather than adopt the supposed traits of history (&ldquo;idiographic&rdquo;, hermeneutic etc.) in order to be adequate to its subject matter, anthropology should preserve its own disciplinary identity, which was as some sort of science, and bring it to bear on questions of change. Anthropologists might interact closely with historians, but they would do distinctive things with historical data.
  p
    | A full account of the contrasting styles of history and anthropology is not needed here. Suffice it to note briefly three characteristic ways in which anthropologists tackled historical questions. 
    em Firstly 
    | , potted histories or ethnographies were used to test general theories of social processes, or else theoretical models used to shed light on historical questions, as with Lloyd&apos;s &ldquo;conflict model&rdquo; applied to Yoruba kingdoms.
    a#fnref65.footnoteRef(href='#fn65')
      sup 65 
    em Secondly, 
    | anthropologists opposed the supposed historian&apos;s interest in unique sequences of events to their own search for &ldquo;structural regularities&rdquo; or &ldquo;sociological time&rdquo;.
    a#fnref66.footnoteRef(href='#fn66')
      sup 66 
    | Here the most telling voice was M. G. Smith&apos;s, since few anthropologists of West Africa had collected more extensive oral-historical data or pursued such a consistent theoretical project. From 
    em Zazzau 
    | (1960) to 
    em Daura 
    | (1978) his (&ldquo;parahistorical&rdquo;, as he called it) objective had been to establish &ldquo;relations of logical necessity&rdquo;, holding through time.
    a#fnref67.footnoteRef(href='#fn67')
      sup 67 
    | He did not shrink from the implication that the elements to be so temporally ordered required abstraction from the total historical process and that &ldquo;causal analysis&rdquo;, 
    em qua 
    | determination of the conditions of concrete historical reality, were not what he was about. 
    em Finally 
    | , of course, there was again the comparative method. Thus Mode IV, though still marked by some ahistorical tendencies that ran back a long way, was brought directly to bear on historical questions. How it fared in relation to substantive issues in the history of West African societies, I now turn to consider.
  h3 Anthropology and state-formation in West Africa
  p
    | From the 1950s to the 1980s the dominant theme which brought anthropologists and historians together was state formation. In the age of Africa nationalism, it was of pressing interest to West Africans themselves, and the local schools of academic historiography made states and elites their central topic
    a#fnref68.footnoteRef(href='#fn68')
      sup 68 
    | Social anthropology was able to respond effectively because it had, in its own tradition, already addressed some cognate issues. Fortes and Evans-Pritchard in 
    em African Political Systems 
    | (1940) provided the conceptual groundwork for later collections on pre-colonial states.
    a#fnref69.footnoteRef(href='#fn69')
      sup 69 
    | Behind the presentist ethnography of structural-functionalism there still lurked the evolution&shy;ary schemes, based on Mode I comparative method, of Morgan and Maine. The dichotomy between segmentary lineage systems and states which was used as a static typology in 
    em African Political Systems 
    | was turned again into a description of process, in the studies of political centralization. This was thus conceived as a process in which the decline of lineages was the essential condition of the state&apos;s advance.
  p
    | Discussion about the factors making for political centralization in pre-colonial West Africa faces a considerable initial difficulty. How do we distinguish a state of relatively greater, from one of lesser, centralization? The most appropriate sort of evidence would seem to be historically concrete actions indicative of the centre&apos;s political capacity: a king able to tax his subjects heavily, to raise armies and use them to ends determined by himself, to effect his will in distant provinces and to maintain public works, to place his own nominees in influential positions and to remove them at will. By such criteria Asante and Dahomey are reasonably considered centralized kingdoms. Else&shy;where, adequate historical evidence of  
    em actions 
    | being lacking, inferences are often made from 
    em institutions, 
    | typically observed in the twentieth century but presumed traditional, which are considered appropriate indicators or proxies of relative centralization. The typology contained within 
    em African Political Systems 
    | gives clear guidance as to what those institutions might be. The baseline for development would be a &ldquo;segmentary&rdquo; state, in which titled offices belong to lineages and the king is selected by non-royal title holders from the segments of a royal lineage.
    a#fnref70.footnoteRef(href='#fn70')
      sup 70 
    | Of the four forest kingdoms which were at the centre of discussion &mdash; Asante, Benin, Dahomey and Oyo (Yoruba) &mdash; the Yoruba approximate most closely to this model, and, in true Mode I fashion, their present condition was taken as analogous to the condition from which the others are presumed to have developed.
    a#fnref71.footnoteRef(href='#fn71')
      sup 71 
  p
    | There are several difficulties with this procedure. The first is logical. The argument becomes circular when the same thing, e.g. &ldquo;the decline of descent groups&rdquo; is 
    em both 
    | used to define centralization, 
    em and 
    | treated as a &ldquo;factor of change&rdquo; itself.
    a#fnref72.footnoteRef(href='#fn72')
      sup 72 
    | In a diachronic analysis, of course, the same institution may at one moment be treated as a cause or condition, at another as an effect. But here the comparisons are essentially static, between one generalized societal description and another, as in the manner of Gluckman&apos;s Zulu/Lozi comparison, albeit with the aim of isolating historically significant variables, so circularity is hard to avoid. Hence the perennial appeal of technological determinism, which offers a way to break the circle. Thus the argument, first put forward by Morton-Williams to explain Asante/Oyo differences, and elaborated by Goody for West Africa more widely, that military technology (specifically the horse vs. the gun) was the main factor determining the allegedly greater centralization of the forest kingdoms.
    a#fnref73.footnoteRef(href='#fn73')
      sup 73 
    | Behind military technology lay geography (savannah vs. forest) since rulers near the coast would get the guns which they could store and use to take power from lineage chiefs into their own hands. But empirically, as Law showed,
    a#fnref74.footnoteRef(href='#fn74')
      sup 74 
    | Goody&apos;s hierarchy of causes &ndash; geography, technology, sociology &mdash; just doesn&apos;t work. To give just one example, the introduction of guns into nineteenth-century Yorubaland, one of the later areas to receive them, served to accentuate political fragmentation and conflict, both between states and within them, rather than to create a greater centralization of power..
  p
    | But centralization cannot be 
    em plausibly 
    | defined in this question-begging way, with a theory of the process built into the definition. The case of Asante shows this most clearly. Lloyd expressed a once common view when he grouped the Asante 
    em with 
    | most of the Yoruba in one category (&ldquo;open representative government&rdquo;), while Benin and Dahomey were placed in another (&ldquo;government by political association&rdquo;). In the first of these, chiefs are selected as lineage representatives, an arrangement which expresses the coherence and importance of the lineages in society at large. The latter category, indicated by non-lineage titles, close succession in the royal house etc., is more centralized. The same linking of Asante and Yoruba occurs in Fortes&apos;s essay &ldquo;Strangers&rdquo;, where he argued that in both societies, because lineages are the &ldquo;building-blocks&rdquo; of the community, strangers can only become members of the community through assimilation to them.
    a#fnref75.footnoteRef(href='#fn75')
      sup 75 
    | Mostly by the 1970s, however, the Asante and the Yoruba were being placed in contrasting categories, the Asante alongside Dahomey and Benin as relatively centralized states (gun-using, with non-lineage titled offices), in contrast to less centralized states (cavalry-using, with lineage titles), such as Oyo, Gonja or Mossi.
    a#fnref76.footnoteRef(href='#fn76')
      sup 76 
    | The shift in the classification of Asante resulted from Wilks&apos;s demonstration of the bureaucratic aspects of the Asante state in the late Eighteenth and Nineteenth centuries,
    a#fnref77.footnoteRef(href='#fn77')
      sup 77 
    | which had eluded the attention of an anthropology too rooted in the colonial period.
  p
    | Wilks&apos;s work forced a reconsideration, not just of Asante, but of the whole comparative framework derived from 
    em African Political Systems. 
    | What had seemed to justify its model of centralization was that, linked to the declining significance of lineages, there should be a number of other socially significant features, including such common-sense criteria of centralization as royal executive capacity. All this now collapsed in the light of Wilks&apos;s account of Asante. Certainly the late eighteenth-century &ldquo;Kwadwoan revolution in government&rdquo; involved the establishment of new bureaucratic offices, which were detached from the matrilineages to which titles of general community leadership belonged.
    a#fnref78.footnoteRef(href='#fn78')
      sup 78 
    | But the matrilineages remained of great social consequence in social life, access to land and other local functions, so to be represented in the colonial ethnographies after the structures of the expansionist Asante state had fallen away.
    a#fnref79.footnoteRef(href='#fn79')
      sup 79 
    | The advance of the state did 
    em not 
    | entail the withering away of the lineage.
  p
    | Does the model fare better with the other kingdoms? Dahomey, like Asante, combined a powerful royal system of control with the continued existence of corporate, land-holding (patri)lineages, which Herskovits called &ldquo;the pivot of Dahomean social organization&rdquo;. 
    a#fnref80.footnoteRef(href='#fn80')
      sup 80 
    | At first, the Yoruba would not have seemed to present much of a problem, since the ethnographic consensus represented their town structures as &ldquo;federations of lineages&rdquo;
    a#fnref81.footnoteRef(href='#fn81')
      sup 81 
    | which failed in diverse ways to become centralized; but this consensus came to be severely questioned.
    a#fnref82.footnoteRef(href='#fn82')
      sup 82 
    | Great difficulties arise from the regional variety of Yorubaland, but in general it can be said that the importance of lineage as 
    em the 
    | basis of social organization was much exaggerated. Yoruba title systems don&apos;t just reflect lineage structure; in many instances residential groupings, such as quarters, are as important a principle of cooperation as descent; the ancestral cult known as 
    em egungun 
    | shows a much less decisive recognition of the importance of corporate descent than do the ancestor cults in Dahomey or Asante. It is curious that corporate lineages, this supposed token of the baseline of political development, should have been more strongly emphasized in accounts of the north-western Yoruba, none of whose communities in its present form predates the wholesale upheavals of the last century, than in the centuries-old communities of the south-eastern forests, such as Ondo and Ilesha. Indeed Lloyd ends by admitting of Ibadan &mdash; the new military master of Yorubaland in the nineteenth century, which chronically failed to create a stable political centre &mdash; that its strongly corporate lineages were &ldquo;a product of the development of the political structure in response to new opportunities in the sphere of trade and war&rdquo;.
    a#fnref83.footnoteRef(href='#fn83')
      sup 83 
    | It is true that at Ilesha the importance of non-lineage titles and non-lineal social units (such as the quarters), grew as an aspect of the town&apos;s successful expansion; but they did not bring (and cannot be used as an indicator of) any marked centralization.
  p
    | The last case to be considered is Benin. Its contrast with the Yoruba now looks less sharp, though the evidence of its relative centralization is not to be denied: the periodically impressive executive outreach of its kings, the extraordinary role of the palace associations in the integration of the kingdom, the stem dynasty. But is there a plausible trajectory of development? Bradbury argued, from the evidence of the ritual opposition between the  
    em Oba 
    | (from a dynasty of Ife, i.e. Yoruba, descent) and the kingmaker 
    em Uzama 
    | chiefs (representing the elders of Benin) for a convergence of Yoruba and Edo (Benin) political cultures. Divergences from the Yoruba pattern were put down to 
    em ur 
    | -Edo cultural elements (e.g. primogeniture, lineages shallow and non-land-holding). But should we equate what seems distinctively Edo to a twentieth-century ethnographer with a putative ur-Edo baseline? Some things count against this: some less centralized peoples of the Edo-speaking periphery in fact have land-holding patrilineages more like the Yoruba than Benin;
    a#fnref84.footnoteRef(href='#fn84')
      sup 84 
    | and the 
    em Uzama 
    | titles at Benin, those supposed tokens of ur-Edo culture, are widespread as very ancient titles among the forest Yoruba.
    a#fnref85.footnoteRef(href='#fn85')
      sup 85 
    | In sum, it strongly looks as if at least some of those institutions distinctive of Benin were the product of its political development, rather than drawn from an 
    em ur 
    | -Edo baseline. If, moreover, the reduction in the significance of lineages in the heartland of the Benin kingdom was part of this process, it seems that Benin&apos;s development squares with the lineages-to-state model suggested by 
    em African Political Systems 
    | better than Asante or Dahomey do.
  p
    | So what can we conclude from this debate about the conditions of political centralization in pre-colonial West Africa? 
    em Firstly 
    | , the notion of &ldquo;centralization&rdquo; is thoroughly confused. In fact, at least three distinct criteria seem to be involved. (i) All forms of political develop&shy;ment appear to have entailed some concentration, an essentially spatial process by which the population and disposable resources of a region come to be concentrated at a power centre. Such concentration appears to be a necessary, but not a sufficient condition of (ii) the sort of power transfer between institutions within the emergent centre that the lineages-to-state concept of centralization is mostly about. Then there is (iii) a growth in the capacity of a state executive to extract and direct to its own ends the labour and resources of its subjects. Criteria (ii) and (iii) need not coincide. Take, for example, the nineteenth-century jihadist state of Masina, on the middle Niger. 
    a#fnref86.footnoteRef(href='#fn86')
      sup 86 
    | This was a cavalry-based state with a mass dynasty, so belongs to Goody&apos;s group of the less centralized, by criterion (ii). But its Fulani Muslim ruling estate maintained their cavalry army by extremely heavy taxation of the Bambara subject population; the land was expected to produce at least double the subsistence of its cultivators, a very high level of exploitation by West African standards. Masina was highly centralized, by criterion (iii). Process (iii) is surely the one which, from a general viewpoint, has the greatest historical significance. It refers to an increase in societal capacity, achieved through rulers finding ways of controlling their subjects more, making more continuous calls on their labour and resources and thus being able to take political and military initiatives not open to the rulers of less &ldquo;geared-up&rdquo; societies. The large armies they raised, the vast size of their palace establishments, the accumulation of resources at their annual Customs, the road networks they maintained, all indicate that states like Dahomey and Asante took a definite developmental step. The question then is: how did they manage to do it?
  p
    | It is evident that neither anthropologists nor historians have produced very satisfactory answers. The leading anthropological idea, that the advance of the state is linked to the decline of the lineage, has proved to have very little in it; process (ii) is only contingently connected to process (iii). Technological determinism, military or otherwise, is hardly more helpful; and even the presence of trade routes (for there is plenty of &ldquo;trade without rulers&rdquo; in West Africa)
    a#fnref87.footnoteRef(href='#fn87')
      sup 87 
    | does not sufficiently explain why states come into being or, in a handful of cases, succeeded in gearing themselves up to higher levels of societal performance. Can we do no more than agree with Law when he writes, after a careful review of the comparative literature, that &ldquo;ultimately, perhaps, explanations are to be sought in specific historical circumstances [for the failure of Oyo to become more centralized]&rdquo;?
    a#fnref88.footnoteRef(href='#fn88')
      sup 88 
    | Law raises questions here about the specific factors of change, and about the value of the comparative method in general.
  h3 Religion, ideology and the state
  p
    | One large area of thought and activity has, by and large, been neglected by both historians and anthropologists in their attempts to explain the differences between these societies: religion. For the social anthropologists this neglect is hardly surprising in the light of the sociological reductionism which has been the main key to their interpretation of religion. Even Goody&apos;s essay &ldquo;Polity and ritual: the opposition of horse and earth&rdquo;, which is almost the only treatment of religion in relation to the debate about political central&shy;ization, seems to assume that, while religion may have some real effect on the behaviour of individuals, it has no significant role in the creation of social forms.
    a#fnref89.footnoteRef(href='#fn89')
      sup 89 
    | Historians too have tended in practice to deny significant historical effects to religion. The two major studies of the forest kingdoms, Wilks on Asante and Law on Oyo, have little to say about it. It is only with Islam that a role for religion as a force of social change seems readily conceded, as with Johnson&apos;s argument that &ldquo;Islam, military force and taxation are connected in a complex way&rdquo; in Masina&apos;s development.
    a#fnref90.footnoteRef(href='#fn90')
      sup 90 
  p
    | Available evidence suggests that it was not utterly different for the &ldquo;pagan&rdquo; religions, that they too served as &ldquo;models for&rdquo; as well as &ldquo;models of&rdquo; social relations.
    a#fnref91.footnoteRef(href='#fn91')
      sup 91 
    | For all that they have been little investigated, it is clear that religious innovation and controversy were integral aspects of the growth of state power in eighteenth-century West Africa. In Asante, one king met effective resistance from his chiefs when he contemplated adopting Islam);
    a#fnref92.footnoteRef(href='#fn92')
      sup 92 
    | and in Dahomey, the great king Agaja (1708-32) introduced the Ifa cult of divination from the Yoruba
    a#fnref93.footnoteRef(href='#fn93')
      sup 93 
    | . 
    em The 
    | central occasion for the exercise of the state&apos;s mastery over the resources and activities of its subjects was the great annual religious celebrations known as the &ldquo;Customs&rdquo;, preparation for which structured the activities of the entire population of the kingdom for a large portion of the year.
    a#fnref94.footnoteRef(href='#fn94')
      sup 94 
    | In Asante a further key role in this regulation of subjects&apos; activities was the 
    em Adaduanan, 
    | or 42-day calendrical cycle, which McCaskie (1980) calls a veritable 
    em Grundnorm 
    | of Asante life, a rooting of social activity in a cosmic pattern.
    a#fnref95.footnoteRef(href='#fn95')
      sup 95 
  p
    | Here at last we can start to return to the initial puzzle: Akan resistance to adoption of the world religions, compared with Yoruba openness to them. For what that comparison of twentieth-century patterns of action showed is that even after the British had dismantled the structures of Asante state control, the Asante long retained a lively sense that the integrity of their society depended on the sanctions of the traditional religion. A most significant instance of this was the petition of Christian clergy, both missionary and local Akan, to the 
    em Asantehene 
    | in 1944, arguing that Akan Christians were loyal subjects of their chiefs, even though their religious scruples prevented them from treating Thursdays, sacred to the Earth goddess, as rest-days within the  
    em Adaduanan 
    | cycle.
    a#fnref96.footnoteRef(href='#fn96')
      sup 96 
    | It is utterly inconceivable that Yoruba Christians should have to make such a protestation as late as the 1940s. The same Akan attitude was evident in other ways too: for example, in the much greater and longer-enduring sense that chiefship and church membership were flatly incompatible, or the much commoner practice of requiring Christian converts to withdraw from the town to live a quarter outside it, usually known as &ldquo;Salem&rdquo;
    a#fnref97.footnoteRef(href='#fn97')
      sup 97 
    | .
  p
    | So my argument about religious change in twentieth-century West Africa leads back to an argument about political change, and the role of religion in it, in eighteenth-century West African kingdoms. Common to both is an insistence on an aspect of religious change which finds little cognizance in Horton&apos;s theory of African conversion, from which I began. That is essentially cognitive or &ldquo;cool&rdquo;: change is explained as occurring insofar as people&apos;s new experience renders their old explanatory frameworks inadequate. The present argument, however, is that religious change is a much more affective or &ldquo;hot&rdquo; process, because religion (in addition to having explanatory functions, as Horton says) also serves to define the membership of social groups and to underpin authority in them &mdash; and especially so in highly &quot;geared-up&quot; societies such as Asante. It is important, when we recognize that religion serves as an ideology to stress that it  
    em must 
    | be more than that. There is a danger here of another form of sociological determinism, that quasi-Marxist functionalism which embodies a teleology: the ruling class needs an ideology to justify its position, so religion must somehow be on hand to provide one. Such strategies often paper over crucial gaps in the explanation. So Wilks tells that in late eighteenth-century Asante, &ldquo;government 
    em had 
    | to be extended in range . . . in scope . . . and in proficiency&rdquo; (my italics).
    a#fnref98.footnoteRef(href='#fn98')
      sup 98 
    | He tells us 
    em how 
    | it was, but not how it 
    em could 
    | be so. The &ldquo;need&rdquo; does not suffice to produce the effect; the crucial cultural conditions had to be met. If it &ldquo;&apos;had&rdquo; to be ideology to work the trick because purely material conditions fall short &mdash; and we must never forget that in West Africa the most segmentary peoples and the most centralized states share the same technological, ecological and physical conditions of existence &mdash; there had to be some independent strength in the religious ideas drawn upon. Religion had this power because it was already the shared idiom in which both chiefs and people confronted the pains and anxieties of the human situation. 
    em Asantehenes 
    | really feared witchcraft; kings of Dahomey, two of whom died of smallpox, respected its cult for all that they disliked it.
    a#fnref99.footnoteRef(href='#fn99')
      sup 99 
    | If this was the bottom line of their reality, on what else could rulers better seek to build structures of higher obligation and control &mdash; and themselves remain constrained by its premises?
  h3 Reintroducing history
  p
    | It is now clear that some of the failure of the comparative method to explain West African centralization is to be attributed to the neglect of culture or ideology as a causal agency. But the problem goes deeper. The comparative method, as employed by social anthropologists on these questions, is really a combination of two modes: it is Mode I in its view of the process of centralization, and Mode IV in its views as to causes. Now both these modes proceed by abstracting their data from history, even when their aim is an idealized, general history or the determination of real historical causes. For what they compare are either &ldquo;societies&rdquo; described in a detemporalized ethnographic present or a cross-section from a society in history, a frozen moment taken as some kind of whole; and they aim to establish relationships between variables which hold apart from historical time. But it is inconsistent with a realistic concept of what society is, and human experience within it, thus to base comparison on a procedure that eliminates change, incompleteness and potentiality, memories and intentions &mdash; in a word, historicity. It is small gain to rectify the omission of culture from explanations by introducing it as yet another factor in a  
    em presentist 
    | scheme of comparison. For it is then reified, rather than viewed as the hinge between the past of which it is the precipitate and the future which it aims to prefigure.
  h2 Mode V: histories compared
  p
    | What we need is a Mode V of the comparative method, where it is histories, or &ldquo;societies-in-change&rdquo; rather than just &ldquo;societies&rdquo;, which are compared, following the path blazed by the great historical sociologists or comparative historians such as Maitland, Weber and Bloch. Other modes of the comparative method (except Mode II) pose questions about general sociological categories, aggregates of things taken from their several historical contexts. Underlying this is the antithesis of science and history, and the assumption that if the data are to be treated scientifically, their historicity must be purged from them. Mode V differs in several related ways. Its aim is to explain historical particulars through applying to them general statements, which are theories or models, rather than to move from particulars to empirical generalizations or &ldquo;laws&rdquo;. This is to hold to the general logic of scientific explanation as to the use of comparison, but to refuse to distort the data by dehistoricizing it, that is by taking it out of its placement in a time sequence. For their place in a time sequence is an  
    em essential 
    | feature of social facts, constituted as these all are by individual actions. Natural science, whose example has done so much to inspire the comparative method, need have no concern with historicity, since it deals with entities that have fixed properties and hence highly determinate relation&shy;ships with one another. Social anthropology&apos;s attempts to develop such generalizations about the variables of its own subject matter have been extremely disappointing. Virtually all its generalizations turn out to no more than tendencies, or true only by definition, or holding only under particular historical or cultural conditions, or only able to state the very minimum conditions under which social facts exist. Between its variables there is much more free play: we are forced to conclude that the linkage of variables in particular cases often results less from their inherent properties than from 
    em how they have come to be combined, 
    | through human action in a succession of contexts. By comparing histories or societies-in-change, Mode V offers a path to the explanation of social phenomena without misrepresenting the general way in which they are brought about.
  h3 A final contrast between Yoruba and Akan
  p
    | A final recourse to the Yoruba/Akan comparison illustrates the role of culture as the pivot of social change. I have argued that the relative reluctance of the Akan, especially Asante, to embrace the world religions had much to do with their sense that the integrity of their society depended on sanctions bound in with the old religion. Asante society was not religiously static; but the world religions could not be subjected to local chiefly control as other imported cults were. The Asante knew their political community as founded by human agreement, though also given spiritual sanction by the Golden Stool. McCaskie brilliantly conveys the Asante sense of the fragility of their achievement, speaking of their &ldquo;abiding fear that without unremitting application and effort, the fragile defensible space called culture would simply be overwhelmed or reclaimed by an irruptive and anarchic nature&rdquo;.
    a#fnref100.footnoteRef(href='#fn100')
      sup 100 
  p
    | The Yoruba perception of themselves and their situation was rather different. Again it is instructive to look back from their response to the world religions. Though conversion brought both conflict and persecution, the fact remains that the Yoruba were much more open to religious change. It was, of course, a less highly geared-up society, which could allow more religious toleration &mdash; already within Yoruba paganism there was both cultic diversity and religious choice &mdash; and whose rulers were perhaps less able to stop religious novelty. Whereas, after 
    em Asantehene 
    | Osei Kwame&apos;s flirtation with Islam in the late Eighteenth Century, the Asante authorities quarantined Islam and effectively prevented its further spread, in the Oyo empire at the same time Islam made such strides that Muslims became a key component in its overthrow; and Islam grew steadily in Oyo&rsquo;s successor states in the Nineteenth Century. A highly distinctive feature of Yoruba traditional religion was its oracular cult called Ifa, whose priest-diviners 
    em (babalawo) 
    | had great prestige as religious professionals. Through consultation with Ifa an individual might be directed to the worship of a particular deity. But most remarkably, 
    em babalawo 
    | could, and on occasion did, advise clients to become Muslims or Christians.
    a#fnref101.footnoteRef(href='#fn101')
      sup 101 
    | Why could Ifa, a key element in the &ldquo;traditional&rdquo; religion, thus sponsor major religious change?
  p
    | The many Yoruba kingdoms never enjoyed political unity or a common ethnic name till the twentieth century; but they recognized their affinity through the claim of all their kings to descent from Oduduwa, a god who had reigned at Ile-Ife. Ife had been the first great kingdom of the West African forest 
    em (fl. 
    | 1100-1450)
    a#fnref102.footnoteRef(href='#fn102')
      sup 102 
    | and, even after it had declined to a town of modest political importance, the Yoruba always looked to it not only as a supreme cultic centre but as the very site of the creation of the human race.
    a#fnref103.footnoteRef(href='#fn103')
      sup 103 
    | Ife&apos;s sacred prestige in later centuries was especially conveyed in the cult of Ifa. This was not just because Ife is especially prestigious as a centre for the training of 
    em babalawo, 
    | but because of the way that Ife is represented in Ifa.
  p
    | Ifa comprises a vast number of poems 
    em (ese), 
    | organized under the 256 figures 
    em (odu) 
    | which the 
    em babalawo 
    | may cast with his apparatus (Bascom 1969; Abimbola 1976).
    a#fnref104.footnoteRef(href='#fn104')
      sup 104 
    | The 
    em babalawo 
    | then recites the 
    em ese 
    | appropriate to the figure cast, one of which will give the key to the client&apos;s problem. Each 
    em ese 
    | takes the form of a mythical precedent, in which such-and-such a diviner or diviners (named by praise-names which often encapsulate the problem) is consulted by some archetypal figure, who does or does not do what Ifa advises, usually to make a specified sacrifice; and the outcome is told, usually in the form of an extended myth, parable or fable; finally the precedent is applied to the case in hand. Ifa is, therefore, a vast corpus of coded messages about the past. More important than the fragments of specific &ldquo;historical&rdquo; information it may contain is its overall vision of the meaning of the past.
  p
    | The 42-day calendrical cycle or 
    em Adaduanan 
    | of the Akan bears a certain comparison with Ifa, &mdash; as central elements of their respective cultures and so, as we have seen, factors in the reception of the world religions. Both are to do with the ordering of social life through the assertion that things do, and should, repeat themselves. The 
    em Adaduanan, 
    | with its lucky and unlucky days, is much more to do with the mastery of time as such, structuring human activity in short cycles, well expressive of the perpetual anxiety of that hard-won and humanly-constructed political order. Ifa, by contrast, is less concerned with time than with the past, specifically with &quot;the Glory that was Ife&quot;. For the mythical precedents which prefigure all possible later contingencies are stated or presumed to have taken place in Ife, &ldquo;
    em
      | un etat autrefois florissant, et dont la capitale fut une ville sainte . . . une patrie mystique
    | &rdquo;
    em , 
    | as a 
    em babalawo 
    | working in Dahomey in the 1930s put it.
    a#fnref105.footnoteRef(href='#fn105')
      sup 105 
    | Ifa presents to its adherents the highly refracted image of a past great civilization, and it is 
    em here 
    | that for the Yoruba the essential order lies, an ideal order. It is moreover a divinely given, not a humanly constructed order; for Ife (unlike Kumasi, Abomey or Benin) was also the site of a cosmogony. While the 
    em Adaduanan 
    | actually creates definite patterns of activity, Ifa does not stipulate, but rather sanctions, in the name of this past, those actions which the client is deeply disposed to take. The flexibility and openness to change of Yoruba society is thus conditioned by the belief that the ultimate order is eternally guaranteed by how things began. What our comparison most importantly teaches is that culture is less a reflection of society, than a reflexion on history