section#chap-4.chapter(data-type='chapter')
  p.ch-start beginning
  .folio
  hgroup
    .dup DIVERGENT MODES OF RELIGIOSITY
    h1#lol.ct
      | Divergent Modes Of Religiosity In West Africa
      a#fnref241.footnoteRef(href='#fn241')
        sup 241 
  p
    | The intellectual ambition of Harvey Whitehouse&rsquo;s project on &ldquo;divergent modes of religiosity&rdquo; (hereafter DMR) compels respect: no less than to develop a general theory of religion.
    a#fnref242.footnoteRef(href='#fn242')
      sup 242 
    | Though there have recently been some others,
    a#fnref243.footnoteRef(href='#fn243')
      sup 243 
    | what makes Whitehouse&rsquo;s somewhat different is that it has grown out of the ethnography of a particular region, Melanesia: one marked by a religious scene of remarkable diversity, where the confrontation between local tradition and missionary Christianity has not only produced a range of movements drawing on both, but has forced the contrast between different kinds of religion to the centre of analytic attention. The tension between anthropology&rsquo;s ambition to develop theory of a general, even universal, scope and its main research practice of regionally-based ethnography is, of course, very much what drives it as a discipline. Yet if the history of anthropology shows anything, it is that its high ambition to be a &ldquo;science of man&rdquo; or a &ldquo;natural science of society&rdquo; has continually faltered in the face of the problems of regional and historical specificity that ethnography throws up. While it is true that ethnographic research has sometimes been inspired by theoretical concerns of high generality, what has happened repeatedly is that what were born as theories have survived as models, that is as conceptual instruments for the more precise description and analysis of particular cases. The subject has tended to be &ldquo;centrifugal&rdquo;, in that theories are evaluated on the grounds of whether they are &ldquo;useful&rdquo;, or have &ldquo;heuristic value&rdquo; in relation to the problems thrown up by particular local (or at the most regional) studies. Whitehouse&rsquo;s aim is &ldquo;centripetal&rdquo;, in that it seeks to draw on local studies to test and refine the theory.
  p
    | As Whitehouse points out (2000: 3-4) his distinction between &ldquo;imagistic&rdquo; and &ldquo;doctrinal&rdquo; modes of religiosity has a definite affinity with many of the other dichotomous contrasts that have been proposed in the sociology of religion, from Weber and Durkheim onwards.
    a#fnref244.footnoteRef(href='#fn244')
      sup 244 
    | The central focus of these dichotomies has usually been on the content of the religions: with what they are &ldquo;about&rdquo; or with their orientation to life and the world. Thus Ruth Benedict&rsquo;s contrast of Apollonian and Dionysian religions is to do with the ethos which they express and promote; while Turner and other anthropologists of Africa have distinguished between cults that are primarily oriented to ancestors or &ldquo;forces of society&rdquo; or to deities/spirits of the land or &ldquo;forces of nature&rdquo;. Of course, such variations in content will tend to be linked to other attributes, such as with their forms of organization or with their range or scale, but it is the linkage of such features with content that has tended to be the crucial issue both in sociological arguments about the functional importance of various features of religion and inhistorical arguments about the impact of particular religions on the direction of social change.
  p
    | The distinctiveness of Whitehouse&rsquo;s approach shows up most instructively when we contrast it with Weber&rsquo;s, since there is much overlap in their content. Weber&rsquo;s sociology of religion pivoted on a distinction between &ldquo;traditional&rdquo;, &ldquo;primitive&rdquo; or &ldquo;small-scale&rdquo; religions and &ldquo;world&rdquo; religions. Though this might seem to imply a primary concern with the effects of scale, Weber was essentially concerned with differences in their soteriological content: with whether salvation is a material, this-worldly matter or whether it has other-worldly objectives, as it the case with world religions; with the various directions which the search for salvation may take; with the affinities between different notions of salvation and the orientations of particular status groups; and with the consequences of these cultural choices for other areas of life. For several decades now the most impressive work in the Weberian tradition that covers much of the same subject-matter as Arguments and Icons has been Bryan Wilson&rsquo;s Magic and the Millennium. 
    a#fnref245.footnoteRef(href='#fn245')
      sup 245 
    | Its comparative analysis of movements in Africa, North America, Melanesia and elsewhere is based on a seven-fold typology of their &ldquo;responses to the world&rdquo;. The sheer empirical variety and complexity of religious phenomena which led Wilson to this diversification of the original Troeltschean two-term typology of &ldquo;sect&rdquo; vs. &ldquo;church&rdquo; is for Whitehouse a means to the more strenuous testing and refinement of his dichotomous typology and its theoretical underpinning. Wilson points out that sociologists of religious movements have been largely preoccupied by the issues of doctrine, organization and the relations between them (and that often in ways shaped by their Christian antecedents). But for Whitehouse it is neither the &ldquo;content&rdquo; of doctrine (or as he prefers, revelation) nor organization which is the pivot of his typology, but the way in which the core revelation of a movement is encoded and transmitted. It looks to Darwin rather Weber since it is about what religions have to do/be in order to survive and perpetuate themselves; and its premises are drawn from cognitive psychology. 
  p
    | Any revelation&rsquo;s accurate transmission over time depends upon the mechanisms of memory which it can call upon. Again, the emphasis of the theory of DMR is not on how the content of memory may be influenced by external forces, but on the effects of different forms of memory .
    a#fnref246.footnoteRef(href='#fn246')
      sup 246 
    | These are of two kinds: &ldquo;episodic memory&rdquo;, which is of particular personal experiences; and &ldquo;semantic memory&rdquo;, which is of the generalized knowledge, whether practical or theoretical, that people acquire or have been taught as members of a community. Corresponding to these are two ideal-typical &ldquo;modes of religiosity&rdquo;: an imagistic mode, where adherents&rsquo; grasp of their religion is encoded in personal recollections of relevant experiences, particularly of an emotionally arousing kind, such as of a terrifying initiation or a dramatic conversion; and a &ldquo;doctrinal&rdquo; mode, where it derives from such means as sermons, catechizing and rituals of a more routine kind. From an evolutionary viewpoint, each mode has its own limitations. The imagistic mode, since it depends on the recall of exceptional, irregular and personally variable experiences, tends to generate cults which are limited to small local communities and are susceptible to constant modification. The standardized and constantly repeated forms of the doctrinal mode do facilitate its spread to populations of varying local circumstances and ensure a relatively faithful transmission of its revelation. The main problem faced by the doctrinal mode is that repetition creates boredom and so reduces the motivation of participants. Any religion which managed to combine appropriate elements from both modes would find the prospects for its transmission and spread greatly enhanced. 
  p
    | As already noted, the first impetus to the theory of DMR came from trying to make sense of the religious diversity of Melanesia, where the initiation rites of peoples like the Orokaiva or the Baktaman suggested the imagistic mode, and the very different face of mission Christianity the doctrinal mode. Whitehouse insists that, though the two modes are only tendencies and that most actual traditions contain elements of either, the strength of their respective internal logics mean that in practice Melanesian traditions &ldquo;gravitate strongly&rdquo; to one or the other, or if towards both, they do so &ldquo;within readily distinguishable domains of operation&rdquo;. The evolutionary framework of his argument enjoins us to look, less at what gives rise to either mode in general, than to what enhances the survival prospects of particular cults or religions.
  p
    | Yet the question of origins is pertinent to the general argument in one respect. It seems highly likely that the imagistic mode is more ancient, possibly going back to the Upper Palaeolithic era, and that the doctrinal mode, since it depends so much on codification by means of writing, came much later. So it is not surprising that Durkheim, when he came to characterize the forms of religion in general, drew his example from a Stone Age religion of a markedly imagistic kind. Here Whitehouse is led to comment that Durkheim over-generalized, ignoring the different ways in which the doctrinal mode operated. But it is less the deutero-Durkheim of The Elementary Forms than the proto-Durkheim of The Division of Labour who comes closest to the matter.
    a#fnref247.footnoteRef(href='#fn247')
      sup 247 
    | For having first proposed that there are two forms of social solidarity, mechanical (deriving from conscience collective) and organic (deriving from the division of labour), of which the former progressively gives way to the latter as society becomes modern, Durkheim turns round to argue that conscience collective nevertheless remains basic to the very existence of society. So too, it seems, with modes of religiosity: though the doctrinal is more characteristic of modern and world religions, they cannot altogether dispense with the imagistic. For the vitality of any religion must depend on its adherents feeling that their doctrines articulate the past occurrence, and the possible re-occurrence, of some more-than-ordinary contact between the human and the divine, which calls for the imagistic mode. Weber made much the same point with his argument that an access of charisma is the foundation of all religions, however much it is later institutionalized.
  p
    | A theory such as DMR is one of those middle-range theories that social scientists have often asked for, mediating between highly abstract propositions drawn from cognitive psychology and ethnographic-cum-historical material of great empirical richness. So there are two broad approaches towards applying it. One would use a particular body of empirical data to test and refine the relations postulated between the variables of the theory at the abstract level, the other would apply a more pragmatic test and ask how far the theory enhances our understanding of a particular body of regional data. Here I shall take the latter approach, and especially with respect to what seems a crucial possibility suggested by the DMR theory: how the two modes may be combined or integrated in particular cults, religions or local systems of religious provision.
  hr
  p
    | As an ethnographic region West Africa has some similarities to Melanesia. It too is an area of diverse local religions, which over the past century and a half has witnessed extensive activity by Christian missions and large-scale conversion to them against a background of sweeping social change induced by colonialism. The cultural gap between the two kinds of religion, the pressures of colonialism and the desire of Christian converts to seek power according to their own understandings gave rise, as in Melanesia, to movements of substantially Christian idiom, initiated by charismatic local leaders, that have variously been termed syncretist, prophetist, millenarian and so forth. These similarities have often led to the inclusion of movements from West Africa and Melanesia within the same comparative and analytic frame. Yet in other respects the West African setting is very different. Most of its communities were far larger, including pre-colonial kingdoms with complex political hierarchies, large settlements with developed class and occupational structures, markets and long-distance trade. Consequently many indigenous religions and cults were much more extensive in scope and scale than in Melanesia; and there was the centuries-old existence of Islam &mdash; itself testimony to the region&rsquo;s extensive links with the outside world -which interacted in complex ways with indigenous cults, and in some areas both anticipated and complicated the encounter between them and Christianity. 
  p
    | The DMR dichotomy evokes several of those current in the West African literature, so we are led to ask whether it offers a more precise and profound characterization of differences already and independently recognized as real and significant. But here a caution needs to be registered: a theoretically cogent dichotomy is a powerful cognitive magnet, tending to draw other, related distinctions into itself. Then dichotomies get &ldquo;stacked up&rdquo; on top of one another, so that significant differences of emphasis get elided, or reduced to aspects or implications of the master dichotomy. Two dichotomies in particular have been much used in studies of religion in West Africa. Firstly, between traditional (or &ldquo;primal&rdquo;) and world religions, or pre-literate religions and religions of the Book, which is the same distinction empirically but viewed from a different angle. There is a more theorized version in Horton&rsquo;s contrast between microcosmic and macrocosmic cults, which embodies a crucial shift of emphasis, since it expressly allows for representations of the macrocosm to occur within the idiom of traditional religion.
    a#fnref248.footnoteRef(href='#fn248')
      sup 248 
    | Secondly, within the latter, anthropologists have made various closely related contrasts between two kinds of cult found widely in indigenous African religion: ancestors vs. deities, spirits of society vs. spirits of nature, political vs. fertility rituals. In all these cases distinctions that are manifest in empirical or synthetic form may be reworked analytically, so as to highlight aspects considered to be of particular theoretical relevance.
  p
    | So how far may either of these distinctions (traditional vs. world religions, ancestor vs. nature cults) be aligned with the DMR antithesis of the imagistic vs. the doctrinal? It is obvious how the former does, but its pertinence to the latter is not so clear. The argument to follow rests on the assumption that the imagistic mode is primary (both in the sense that it emerged first and that it remains basic to the appeal of religion) and the doctrinal mode came later. The semantic memories sustained by the doctrinal mode are the generalized codification of what is taken to follow from the original episodic memories &mdash; that is of those individuals who experienced divine revelation and communicated it to their fellows &mdash; on which all religious establishments and many social orders depend. It explores firstly, how the ground for the doctrinal mode was prepared within the traditional religions of West Africa, later to be realized in a fairly pure form in the Evangelical Christianity brought by the missionaries in the Nineteenth Century; and secondly, how the imagistic mode has been reconstituted within the &ldquo;born-again&rdquo; Christianity that is its dominant manifestation in West Africa today.
  p
    | For our present purposes what most crucially distinguishes cults of the ancestors and of the earth or natural spirits is that the former are highly embedded socially, often to the point of being hardly more than the ritual aspect of the lineage structure which they regulate. Their membership is ascriptive and closed, while the latter tend to be free-standing religious institutions which have to take deliberate steps to reproduce themselves, for their memberships are open and fluctuating. Many ancestor cults, indeed, seem almost to stand outside the imagistic/doctrinal contrast, needing neither &ldquo;doctrine&rdquo; nor high-arousal experiences to motivate their practices, but merely the habitus of quotidian relations with elders and the spontaneous remembrance of them after their decease, autobiographical memory gradually blending into semantic. 
    a#fnref249.footnoteRef(href='#fn249')
      sup 249 
    | So it is understandable that ancestral cults in Africa tend to be poorly supplied with such mnemonic devices as myths or images. It is significant that in the Yoruba case, it is in the cult of a lineage&rsquo;s and town&rsquo;s collective ancestors called Egungun (as also with royal ancestors of importance to the community at large) that iconic representation bulks larger, with specialized priesthoods, annual festivals and, in general, some degree of assimilation to the other kind of cult, of orisa or spirits of nature.
    a#fnref250.footnoteRef(href='#fn250')
      sup 250 
  p
    | The Yoruba orisa are a highly-developed example of this category, since (though associated with natural features or substances) they were imagined as personalized deities, many of them with specialized functions or pronounced personal characteristics. Since, unlike ancestors, the orisa cults did not ride on other institutions, they needed to develop specific ways to ensure their survival: they had to motivate their adherents &mdash; which meant above all to provide cogent evidence of the presence and power of their god &mdash; and they had to offer an adequate rationale of the ritual and behavioural requirements of the cult. In respect of the former, their dominant mode was strongly imagistic: if an individual had not been dedicated at birth, it was often an acute personal crisis interpreted by the diviner as a call from the orisa that first drew members into the cult; orisa on occasion possessed their most active adepts and priests, who temporarily became their vessels and might offer further revelations; the cult members met regularly to renew their special relationship with the orisa through shared sacrifice; at annual festivals, accompanied by drumming and dancing, praise-singing and public parade of their images, links between the community and the orisa were reaffirmed. All this was highly performative &mdash; devotees were said to manifest their orisa&rsquo;s active power by &ldquo;playing&rdquo; or enacting them 
    a#fnref251.footnoteRef(href='#fn251')
      sup 251 
    | &mdash; and often generated states of high arousal.
  p
    | There was a doctrinal aspect too. Partly it was implicit in the epithets of the praise-poetry, and in the symbols and images of the orisa &mdash; the red and white clay beads on the forehead of the Orisa Oko devotee, the thunderbolt-axe of Sango, Obatala&rsquo;s white cloth &mdash; because such served as mnemonic pegs for stories (itan) about their origins and attributes. Cult knowledge was esoteric, and authority within any social unit &mdash; whether cult, craft, lineage, or town &mdash; went with mastery of relevant itan. So access to knowledge was both highly stratified &mdash; priests and adepts having a &ldquo;deeper&rdquo; knowledge than ordinary adherents, and they than outsiders &mdash; and segmented into parcels not shared by everyone. But there was a body of generally knowledgeable people in the babalawo (&ldquo;fathers of secrets&rdquo;), the practitioners of the system of divination known as Ifa. The corpus of Ifa divination verses was the largest archive of myth and cosmology available to the Yoruba, and (since most people consulted babalawo occasionally and heard some of these verses) was probably the most widely available source of general religious knowledge. Of Ifa itself, more shortly. 
  p
    | Taken as a whole, Yoruba 
    em orisa 
    | cults were remarkably effective in staving off the two threats to survival which, according to the DMR theory, all cults face. The major cults, at least, were able to generate enough motivational interest &mdash; partly through their attachment to the major crises in human lives, which created a high level of personal identification with them, and partly through their own vivid presentation of 
    em orisa 
    | -power at festivals, through possession etc. &mdash; as well as sufficient understanding of their theory and practice to achieve both wide geographical spread (extending in some cases well beyond the Yoruba-speaking area) and impressive stability over time. In this achievement of spatial and temporal extension, they may be contrasted with the non-lineage cults among peoples such as the Akan and the Kongo, whose spiritual forces &mdash; respectively, 
    em abosom 
    | or &ldquo;deities&rdquo; and 
    em minkisi 
    | or &ldquo;fetishes&rdquo; &mdash; not only lacked the personality and cult organization of the major 
    em orisa 
    | but, apparently like many traditional cults in Melanesia, showed a cyclical pattern in their rise and fall, as old ones lost their appeal and new crises led to the emergence of new ones.
    a#fnref252.footnoteRef(href='#fn252')
      sup 252 
    | Here cults established in conditions of social crisis and/or high emotional arousal seem to have lacked either the doctrinal elaboration or the social infrastructure to keep them perduringly in existence, though the cultural conditions for later revivals of similar movements remained in place. 
  p
    | The historical terrain created by missionaries in their project to convert adherent of indigenous religions to Christianity is likely to be especially fruitful for examining the interplay of the two modes of religiosity. For it contains movements that reach out in either direction: anticipations of the doctrinal within religious systems predominantly imagistic in character, and movements to recover the power of the imagistic by those placed within strongly doctrinal settings like missionary Christianity. Of the former an excellent example is provided by the Yoruba divination cult of Ifa, which was held to be the special province of a particular deity, Orunmila. It was not the only system of divination, for the priests of other deities gave oracular guidance too, typically through some form of trance or possession. Ifa, however, did not rely on its babalawo being possessed by their orisa, but on their mastery of a technique, which entailed their capacity to remember a vast corpus of verses. The babalawo began by manipulating a handful of palm-nuts to produce one of 256 (16x16) configurations (odu), to each of which corresponded a sequence of verses that described mythical precedents; these were then recited by the babalawo, and the client selected one that spoke to his situation. The source of the problem and the steps to be taken to resolve it, by a specified sacrifice to a particular orisa, would then be clarified by casting lots in response to the client&rsquo;s questions. Though Orunmila thus sustained the system of orisa cults as a whole (which indeed he belonged to), he also represented himself as somewhat above and outside it, as the sole channel of wisdom from the Supreme Being, Olodumare, who was the source of the Ifa verses. And as if to underscore this autonomy from the rest of the orisa, Ifa sometimes advised its clients that the answer to their problem was to become Muslim or Christian, that is to worship God directly, rather than through the orisa. 
  p
    | It is thus not surprising that missionaries accorded considerable respect to babalawo, who were ready dialecticians and their most astute critics, but also very ready to learn from them.
    a#fnref253.footnoteRef(href='#fn253')
      sup 253 
    | Moreover, the marks indicating the selected odu which the babalawo drew in the sacred powder on his ritual tray were widely interpreted by Yoruba pagans as a kind of literacy avant la lettre, and the reception of both Koran and Bible was conditioned by what was required of Ifa verses: to predict and to solve problems. In fact this degree of pre-adaptation to some of the features of the doctrinal mode may well have been written into Ifa from its origin, for it appears that the &ldquo;16-options&rdquo; systems of divination, found widely throughout sub-Saharan Africa and Madagascar, all ultimately derive from Islamic sources.
    a#fnref254.footnoteRef(href='#fn254')
      sup 254 
  p
    | Yet though Ifa was the most doctrinal of the orisa cults and provided a doctrinal component to the system as a whole; though it became the most pan-Yoruba of all cults, and spread far beyond the Yoruba-speaking region, east to the lower Niger and west to the Volta region; 
    a#fnref255.footnoteRef(href='#fn255')
      sup 255 
    | though its practitioners were able to enter into a serious engagement with Muslim and Christian clergy, it still fell short of being a full-blown realization of the doctrinal mode. Firstly, it remained dependent on oral modes of transmission. Hence, though it was considered as sacrilegious to add to or subtract from the corpus, and steps were taken (by such means as the stringent training of neophytes and Ifa-recitation competitions between experienced babalawo) to prevent these, there was almost certainly a slippage of content as well as some regional variation in what was put out. Secondly, since Ifa was a pragmatic and client-centred system of oracular consultation, and not a congregational religion, it worked in practice to embrace a multitude of individual perspectives (albeit within a common framework of cosmology and ritual practice) rather than impose any kind of collective ideology--hence, indeed, its openness to Islam and Christianity. Thirdly, it enshrined the principle of secrecy, for the expertise of the babalawo was that only they knew how to access secrets or hidden things (awo). Secrecy is bound to undermine the diffusion of that standardized common understanding of religious knowledge which is at the heart of the doctrinal mode. 
  hr
  p
    | By contrast, missionary Christianity was in the strongest sense a religion of the book, its converts being initially known in Yoruba as onibuku (&ldquo;book-people&rdquo;). Instead of the pragmatic and personalized advice of Ifa were universal ethical injunctions; and instead of Ifa&apos;s emphasis on secerets (awo) it was vital that the Word of God should be made openly available in the language of the people. The other religion of the book, already well ensconced by the mid-Nineteenth Century, had already been modified by the demands of Yoruba culture. The not-to-be-translated Koran lent itself to esoteric and magical uses, and quite a lot of the doctrinal/ imagistic distinction seems to appear in the contrast between two faces of Yoruba Islam: the one communal and egalitarian, associated with public worship, Koranic exegesis and sermons, and learning to recite the Koran; the other individualist and hierarchical, when people consulted alfa for Koranic charms or sought access to esoteric power through Sufi shaykhs. While there are difficulties in simply labelling the latter &ldquo;popular&rdquo; or heterodox &mdash; since it always drew in learned Muslims and had deep roots in the mainstream -there is no doubt that it could attract the criticism of preachers for encouraging wrong attitudes and is the target of contemporary reformism. Yet it provided a way to meet some basic Yoruba religious expectations which missionary Christianity found difficult to match. This was a primary stimulus to the independent religious movements and churches, which burgeoned in the early decades of the Twentieth Century.
  p
    | Here we come to the reassertion of imagistic practices within African Christianity, as against the anticipation of doctrinal ones within traditional religion. African independent churches (or AICs) have given great scope for typology.
    a#fnref256.footnoteRef(href='#fn256')
      sup 256 
    | While most classifications are derived from labels used by the churches themselves &mdash; such as Ethiopian/Zionist in South Africa or African/Aladura in Nigeria
    a#fnref257.footnoteRef(href='#fn257')
      sup 257 
    | &mdash; they have given rise to binary typologies of a more analytic character. So, for example, Fernandez constructed four types based on two cross-cutting continua: one (nativistic/ acculturated) dealing with the movements&apos; primary cultural orientation and the other (expressive/ instrumental) having to do with the manner of their response to the colonial situation.
    a#fnref258.footnoteRef(href='#fn258')
      sup 258 
    | Neither of these has much to do with the imagistic/doctrinal contrast. Yet the DMR theory does seem, in retrospect, to be pertinent both to certain empirical contrasts made in my study Aladura (1968) and to the searching critique of its approach expressed by Fernandez in an influential general review of the field.
    a#fnref259.footnoteRef(href='#fn259')
      sup 259 
  p
    | The Aladura are a cluster of churches founded by African religious innovators, who triggered a series of &ldquo;revivals&rdquo;--involving healing through sanctified water, witchcraft confession, mass destruction of idols and some millennial preaching--between 1918 and the mid-1930s. Their basic aim was to make the power of prayer (adura, hence their name) more fully available than it was in the older Protestant missions for such this-worldly objectives as health, fertility, protection against witchcraft and danger, guidance, prosperity and success--in sum, that state of all-round well-being that the Yoruba call alafia. While Aladura&rsquo;s theological content is strongly Christian, its ritual forms as well as its ontology of the spirit world owe much to the indigenous religious background. Dreams, visions and ecstatic tongues &mdash; gifts of the Holy Spirit &mdash; are seen as vehicles of divine power and guidance, recalling aspects both of orisa cult-groups and of Ifa divination, but with prayer substituting for sacrifice as the medium of human address to God.
    a#fnref260.footnoteRef(href='#fn260')
      sup 260 
    | There had been early influences from an American faith-healing group called Faith Tabernacle, but a more significant external input came when, from 1930 onwards, the Aladura became somewhat variably subject to the influence of Pentecostalism, initially through a British group, the Apostolic Church. The outcome was a spectrum of churches, ranging from some of a more home-grown idiom (with African-style music and liturgy, the wearing of white prayer-gowns, elaborate hierarchies of spiritual offices, a rich repertory of ritual symbols and the use of such items as candles, incense and holy oil) to those more conformed to Euro-American Pentecostal norms, with their emphatic scripturalism and aversion to complex ritual symbolism. Aladura took for comparison two churches standing towards either end of this spectrum: the Cherubim and Seraphim (C&amp;S) and the Christ Apostolic Church (CAC).
  p
    | The approach of Aladura was &ldquo;intellectualist&rdquo; in that, in contrast to studies of new religious movements in the Third World of Marxist and/or functionalist inspiration,
    a#fnref261.footnoteRef(href='#fn261')
      sup 261 
    | it sought to explain Aladura belief and practice as intellectually cogent responses, granted the cultural premises of young Yoruba Christians, to the problems and dilemmas they confronted at a time of mid-colonial crisis. But from their shared roots C&amp;S and CAC tended over the years to diverge. I was struck by how C&amp;S, with its more African idiom, tended to revert to what might be called the Yoruba cultural default system, becoming flexible and pragmatic in its search for spiritual power, whereas the more consciously Pentecostal CAC held much more to doctrinally-grounded lines of conduct, even against the promptings of Yoruba culture (e.g. its rejection of polygamy or its categorical ban on any use of medicine). I further related these differences to organizational ones:
  blockquote
    p
      | &ldquo;The C&amp;S see themselves &mldr; as a society of people which God had supremely invested with spiritual power, and the prophet or &quot;spiritualist&quot; &mldr; is their most distinctive religious type. The spiritual clientage is the form of grouping associated with such a man; and this is modified to being the general clientage of a big man, or an association of people after the same spiritual goal &mldr; Wider organization than these they have found difficult.
  blockquote
    p
      | CAC members are equally concerned with the fruits of spiritual power, but they are being educated by their leaders to explain it differently. Personal authority of various kinds has always been, and still is important, but the possessors of it have used it to spread the idea that their church is the one which embodies correct doctrines, and so has spiritual power. This has been the work of intellectualist pastors &mldr; Doctrines are open, public, arguable things, and favour the growth of pastors who expound them; the pastors derive their legitimacy from the church, the embodiment of the doctrines.&rdquo;
      a#fnref262.footnoteRef(href='#fn262')
        sup 262 
  p
    | It is evident that this contrast might be rephrased in terms of the DMR theory: the C&amp;S being more imagistic, the CAC more doctrinal &mdash; within a fairly narrow band of difference, it is true, but still with the organizational correlates that Whitehouse argued for.
  p
    | There is a complex ebb and flow at work here. The C&amp;S responded most directly to the dissatisfaction of African converts with an insufficiently inculturated British evangelicalism: its apparent inability to summon prayer-power for mundane needs, and more diffusely, their hunger for symbolically (that is, imagistically) richer forms of engagement with the divine. The CAC, by contrast, thanks to the influence of their Pentecostal mentors, seemed in some ways to have moved back some way towards the evangelical baseline &mdash; a less imagistic (or at least more doctrinal) form of faith &mdash; but yet seemed no less successful for that. I interpreted this in terms of a long-term process of religious rationalization, a&#x300; la Max Weber, which I linked to the fact that its social bearers were modernizing educated young men. It was this assumption that Fernandez called into question.
    a#fnref263.footnoteRef(href='#fn263')
      sup 263 
    | He argued, in terms which almost uncannily anticipate those of the DMR theory, that my intellectualist approach to Aladura and to African movements more generally projected a kind of &ldquo;imageless thought&rdquo; onto them. Instead, because African thought is socially embedded, analysts of religious movements needed to attend to the &ldquo;argument of images&rdquo; that they employ. This was applied in his analysis of the Bwiti cult among the Fang of Gabon and the former French Congo, one of the finest studies of an African religious movement ever done.
    a#fnref264.footnoteRef(href='#fn264')
      sup 264 
    | The colonial experience was extremely traumatic for the Fang, but what Bwiti offered was less a monovalent solution to its problems than a microcosmic &ldquo;pleasure dome&rdquo;, created through a complex play of symbols and ritual, syncretizing themes from Christianity, the ancestral cult and images from the rain-forest environment, from which any adept may take what s/he needs. Bwiti is one of the very few African cults to make use of a psychotropic drug, eboga, in its rituals. Its use of symbols is highly polysemic, and its sermons employ what Fernandez called &ldquo;an elliptical riddling style&rdquo; to produce &ldquo;edification by puzzlement&rdquo;. If it is a mark of the imagistic mode to generate a &ldquo;dynamic &mldr; towards creative elaboration rather than faithful repetition, and the production of local differences rather than regional homogeneity&rdquo;,
    a#fnref265.footnoteRef(href='#fn265')
      sup 265 
    | then Bwiti fits the bill perfectly. But at the same time, this implies that the approach advocated by Fernandez, with movements of this type in mind, will be less helpful for those that stand closer to the doctrinal pole, such as the Nigerian CAC.
  hr
  p
    | It is not easy to generalize about the direction of change within Africa Christianity as whole over the last three decades, but if there is a single dominant trend, it is the rise of neo-Pentecostal or (as it is colloquially known in Nigeria) Born-again Christianity. The Africanizing ethos of the older AICs like the C&amp;S, with their local idioms and resonances, yields to something a great deal more universalist in its sense of itself. Neo-Pentecostalism is a global movement in Christianity, with much circulation of people and media between West Africa, its epicentres in the American South and West, and even such places as Brazil or Korea. While this is certainly a response to wider processes of globalization, it does not mean that churches of a strongly local idiom do not continue to attract many Nigerians.
    a#fnref266.footnoteRef(href='#fn266')
      sup 266 
  p
    | Surveys of churches in the Yoruba metropolis of Ibadan in the 1990s showed a great burgeoning, not merely of the newest Born-again churches or &ldquo;ministries&rdquo;(as they often style themselves), as well as of older Pentecostals such as Apostolic, Foursquare Gospel, Assemblies of God etc., but also of the Celestial Church of Christ, a C&amp;S-related body which has the most ritualized practices of prayer, healing and prophecy of the &ldquo;white-garment&rdquo; churches, as the Aladura nowadays are often described. Of the churches once regarded as Aladura, it seems that it is those at either end of the imagistic/doctrinal spectrum--Celestial and CAC--which have grown the most, while churches in the middle--most C&amp;S branches or Church of the Lord (Aladura)--that have languished. One great irony is that though Pentecostalism first entered Yoruba Christianity through the Aladura movement in 1931, the terms Aladura and Pentecostal are now regarded as mutually exclusive, and fall into different sections of the national umbrella body, the Christian Association of Nigeria. CAC is now emphatic that it is Pentecostal, not Aladura, and has had close relations with some of the newer Born-again groups, especially Deeper Life. A further irony is that the current market-leader among Born-agains, the Redeemed Christian Church of God, actually began as a breakaway from the Eternal Sacred Order of Cherubim and Seraphim, but was radically reconstructed by its well-educated second leader. Like other Born-again churches, it is anxious to make out that a chasm separates it from the Aladura, who are stigmatized as mixing pagan or &ldquo;demonic&rdquo; elements into their practices. Former members of the Celestial Church sometimes denounce it in testimonies given at Redeemed revival services as engaged in &ldquo;works of Satan&rdquo;, to be renounced by the born-again.
  p
    | The fact that people can still be drawn in large numbers to Africanizing churches like the Celestial Church of Christ, even though the main flow of preference is to the more globally-oriented Born-agains, should counsel us against seeking to explain the success of the latter simply as an adjustment to the spirit of the times. Pentecostalism is a global form of Christianity, but then so is Catholicism, even though since Vatican II &ldquo;inculturation&rdquo;, or the adaptation of its theology and liturgy to local cultures, has been strongly promoted. But granted that the ethos of global modernity projected by neo-Pentecostalism is part of its appeal, and that this pushes it towards the doctrinal mode, since it has to rely on semantic memory to create understandings that can be shared across an international community of believers, how is Born-again Christianity so successful in combating the &ldquo;tedium effect&rdquo; (with consequent loss of motivation) that threatens all forms of Evangelicalism, with its austere symbolic repertory, sustained Bible study, long sermons and so forth?
  p
    | Here we may return to Whitehouse&rsquo;s view that the source of the doctrinal mode presented in missionary Christianity (of all denominations) lay in the Reformation&rsquo;s onslaught on the imagistic practices of late medieval Catholicism.
    a#fnref267.footnoteRef(href='#fn267')
      sup 267 
    | A weakness in his argument at this point is that, in jumping directly from the Sixteenth to the Nineteenth Century, it elides some critical shifts in how the two modes have figured within Evangelical Christianity. We may distinguish three main paradigms in chronological order: Puritanism, Evangelicalism, and Pentecostalism. In the first of these, Puritanism up to the end of the Seventeenth Century (or in America the early Eighteenth), the doctrinal mode in a fairly pure form could often be applied in religiously uniform communities--Geneva, Scotland, New England &mdash; where the tedium effect could, at some cost, be suppressed by social controls. It is hardly a historical accident that it was when these started to break down in the early Eighteenth Century, making it necessary to find some other means to revive motivation, that a new form of the imagistic mode came into being. Hence Evangelicalism, distinguished sociologically from Puritanism by its focus not on the closed community of the Elect, but on the perception (in Wesley&rsquo;s words) of the world as its parish, and theologically by its voluntaristic conception of God&rsquo;s saving grace freely offered to all who would receive it. Evangelicalism saw itself, not as disclosing new doctrinal truth, but rather as reviving the faith of the believer. So in the terms of the DMR theory there was the paradox that, though in one sense it was as doctrinal as any other version of Protestantism &mdash; as dependent on preaching and reading the Word &mdash; Evangelicalism also made vital use of a new form of the imagistic mode. For it created powerful experiences of divine grace, whose deposit in autobiographical memories &mdash; of ecstatic revival meetings, of the moment when one first knew the Lord Jesus &mdash; would supplement the semantic memories of routine religious instruction. Hence the Methodist societies as they initially related to the Established Church markedly resembled such splinter groups of the mainline Paliau movement as the Noise or the Second Cult.
    a#fnref268.footnoteRef(href='#fn268')
      sup 268 
    | Compare the name assumed by the movement in colonial America, &ldquo;the Great Awakening&rdquo; with the Melanesian cultists&rsquo; use of the metaphor of &ldquo;waking up&rdquo;. &ldquo;Imagistic&rdquo; is a term that may mislead, if it is felt to point exclusively to visual icons; for the autobiographical memories activated in the Evangelical &ldquo;religion of the heart&rdquo; depended not on visual images, but on words and music.
  p
    | With its institutionalization in churches, Evangelical religion tended to slip back to a greater reliance on the doctrinal mode, with little iconic or ceremonial richness to offset the danger of tedium. As John Wesley himself said, in a passage famously quoted by Weber: &ldquo;I do not see how it is possible, in the nature of things, for any revival of true religion to continue long&rdquo; (Weber 1930: 175).
    a#fnref269.footnoteRef(href='#fn269')
      sup 269 
    | So too the Evangelical missionaries of the Anglican CMS in Yorubaland came to lament the &ldquo;cold&rdquo;, formal religion (which, reversing Wesley&rsquo;s line of causation, they thought gave rise to &ldquo;worldliness&rdquo;) of their flock in the second generation.
    a#fnref270.footnoteRef(href='#fn270')
      sup 270 
    | Yet revival &mdash; a form of religion in the imagistic mode &mdash; was still contained within Evangelical culture as a memory and a hope, at both individual and collective levels, to be periodically reactivated. The 1859-60 revival in Britain and Ireland (monitored from afar by missionaries in West Africa) led on to the Keswick Convention from the 1870s, which over the next three decades sent out a series of evangelists to conduct revivals at the behest of the Lagos churches.
    a#fnref271.footnoteRef(href='#fn271')
      sup 271 
    | African CMS candidates for ordination in the 1880s-90s, many of whom were &ldquo;converted&rdquo; at these Keswick revivals, were asked to write autobiographical statements of which a key element was their account of this experience.
  p
    | An issue which needs to be explored in relation to mission is how this Evangelical culture of periodic revival interacted with indigenous historicities in which there were cycles of social renewal, involving such imagistic episodes as anti-witchcraft movements or the accession of new sources of power. Take the case of the Ulster Evangelicals who set up the Qua Iboe Mission among the Anang of south-eastern Nigeria. Its pioneer, Samuel Bill, was first moved in the late 1870s by the visit to Belfast of the American evangelists Moody and Sankey in one of the &ldquo;last waves of the Ulster revival&rdquo;,
    a#fnref272.footnoteRef(href='#fn272')
      sup 272 
    | and started out in Nigeria in 1887. By the 1910s the Mission was making fair progress under the aegis of colonial rule, opening churches and schools, winning converts but yet dissatisfied: &ldquo;the Christians in Ikotobo &mldr; have not grown in grace as they have grown in numbers... the missionary, joined by a few earnest souls, has been much in prayer for a true revival&rdquo;.
    a#fnref273.footnoteRef(href='#fn273')
      sup 273 
    | Over a decade later it was still reported: &ldquo;our churches and services and all our carefully built organisation are futile for doing God&rsquo;s work without the life-giving Spirit&rdquo;.
    a#fnref274.footnoteRef(href='#fn274')
      sup 274 
    | It finally came in 1927, triggered by a young teacher but taking the Mission completely by surprise, to produce what was known as the Spirit Movement, marked by witch confessions, mass destruction of idols and charms, contagious enthusiasm, glossolalia &mldr; The missionaries, of course, saw it in terms of the archetypal Day of Pentecost, and of precedents such as the Ulster revival or the Welsh revival of 1904. The Anang precedents are less easy to discern, and certainly some of the immediate conditions, arising from tensions produced by colonial rule, were strictly unprecedented; but later cycles of upheaval suggest that this fluid society with rather unstable chiefly authority &ndash; in that, more like Melanesia than the Yoruba were &ndash; was prone to cycles of routine and revitalization.
    a#fnref275.footnoteRef(href='#fn275')
      sup 275 
  p
    | Faith missions like the Qua Iboe were already on the cusp between classic Evangelicalism and Pentecostalism, the third main manifestation of the Protestant tradition. The ideal of being born again in the Holy Spirit had been present within West African Evangelicalism from its very origins: it was a prominent theme in the preaching of the Rev. W.A.B. Johnson, the famous German CMS missionary who converted hundreds of liberated Africans during his ministry at Regent in Sierra Leone, as far back as 1817-23. So what exactly did Pentecostalism bring that was new? Pentecostalism incorporates several of the recurring features of nineteenth-century American Protestantism &mdash; perfectionism, pre-millennialism, fundamentalism, dispensationalism &mdash; and also draws down, through its African-American origins, a strong current of African religious sensibility (which would of course re-connect potently with local cultural demand when it got to Africa). Perhaps what most set it apart it from earlier (and largely European) expressions of Evangelical religiosity was the emphasis placed on the physical tokens of divine favour, notably speaking with tongues as the mark par excellence of baptism of the Holy Ghost, and miracles of healing. As studies of its world-wide diffusion show clearly, Pentecostalism is an extremely protean phenomenon, even within particular countries or churches.
    a#fnref276.footnoteRef(href='#fn276')
      sup 276 
    | Whether its impact is politically conservative or culturally radical, what its natural class affiliation is, what its main practical thrust is--whether holiness teaching, divine healing, gospel of prosperity, deliverance from demons and ancestral spirits, predictive prophecy--are questions all hotly debated (probably because each and all of these alternatives comes up in the appropriate context). Neo-Pentecostalism taps as deeply into the springs of indigenous African spirituality as the older AICs, but manages to do it in a attractively modern and transnational idiom. Its success may be seen, in terms of the present argument, as arising from its unique ability to bring together, sometimes close to the point of fusion, the two modes of religiosity.
  p
    | The DMR theory is about how the ability of a religion to pass on its revelation is affected by the way it is encoded in memory, not about how the content of that revelation may relate to its context. Still, the connection between religious content and mode of religiosity will always call for attention. Here I come to a final dichotomy apparent in the fluctuating religious orientations of both Aladura and Born-agains, which may be called holiness vs. empowerment. Holiness is essentially a concern to conform oneself to the will of God, following the dictates of scripture and prayer, typically by living a life of spiritual self-discipline. Empowerment is where one seeks to enlist the power of God, above all through prayer and revealed means, to achieve a fuller, richer life and to defeat any forces that oppose it. While holiness looks inside the self for the solution to one&rsquo;s existential problems, empowerment looks outside. Yet despite this contrast the two orientations have common elements, and holiness can easily &ldquo;flip over&rdquo;, as when self-discipline comes to be regarded instrumentally, as a means analogous to sacrifice in gaining the favour of a god. In their first encounter with religious modernity, the Yoruba had an early version of the holiness solution presented to them by Evangelical CMS missionaries &mdash; change yourselves inwardly, then your institutions will be transformed and &ldquo;your country will become good&rdquo; &mdash; while they looked to the mission for direct techniques of empowerment. 
    a#fnref277.footnoteRef(href='#fn277')
      sup 277 
    | It goes without saying that the missionary version of holiness teaching was firmly in the doctrinal mode.
  p
    | The trajectories of Aladura (from the 1920s) and the Born-agains (from the 1970s) show striking similarities. Both began as prayer and Bible-study groups largely composed of earnest young people with a marked orientation towards holiness. Faith Tabernacle (CAC&rsquo;s precursor) and the Praying Band of C&amp;S were composed of young literates,
    a#fnref278.footnoteRef(href='#fn278')
      sup 278 
    | and fellowships of &ldquo;campus Christians&rdquo; were the germ of the massive Born-again ministries of recent years.
    a#fnref279.footnoteRef(href='#fn279')
      sup 279 
    | Chastity and monogamy, abstention from alcohol, regimes of fasting, reliance on prayer alone for healing, (in the case of women) not wearing jewellery and a generally disapproving attitude to the flamboyant display of Yoruba social life were some of its hallmarks. So what are the conditions under which it becomes plausible, even compelling, so to go against the grain of Yoruba culture? Holiness, presenting oneself to God as &ldquo;a living sacrifice&rdquo;, is an appropriate response to the expectation that the millennium, the end of the present dispensation, is imminent. Pre-millennialist anticipation was widespread in Nigeria in the years after 1918 into the early 1930s and still animate the more holiness-oriented of the larger Born-again churches, such as Deeper Life. But a complex blend of Zeitgeist and Bible-based teaching is needed to hold the holiness orientation in place, and if either condition fades, it may be expected to yield to the perennial Yoruba search for empowerment, where its moral restraints will be re-signified as conditions for effective prayer. The concern for empowerment tends to reassert itself when what started as small holiness fellowships grow into large ministries, though differences of emphasis may still remain: of the larger bodies, Deeper Life still stands towards the holiness end of the spectrum, while the Redeemed Christian Church of God or Winners&rsquo; Chapel stand towards the empowerment end.
    a#fnref280.footnoteRef(href='#fn280')
      sup 280 
  p
    | In asking how the holiness/empowerment distinction correlates with the DMR contrast, it helps to consider what challenges the two tendencies respectively have to face. Holiness groups need above all to keep their members from slipping over to Born-again churches closer to the general cultural mainstream, that is, those of the empowerment tendency. Their integrity is grounded in the doctrinal mode, in Bible study, sermons and pamphlet literature, but this is motivationally boosted by the imagistic impact of intense emotions aroused by prayer and the work of the Holy Spirit, particularly in small fellowship groups. The challenge facing the empowerment tendency (which includes most of the largest and high-profile Born-again organizations) is more from rival operators offering similar products in the same crowded religious marketplace, including Aladura churches like the Celestial Church of Christ. What they most have to do, rather like orisa cults in the Nineteenth Century, is to project a clinching public image of their effectiveness as mediators of divine power. So here the relative importance of the imagistic and the doctrinal tends to be reversed.
  p
    | Revival is here more of a continuous preoccupation than in the older evangelical churches: Redeemed has a Holy Ghost Night every month, drawing tens of thousands of people to its Redemption Camp off the Lagos-Ibadan expressway. In cities like Lagos or Ibadan big revivals and crusades take place almost continuously, often with visiting pastors on the Born-again circuit (including prestigious figures from abroad). They are attended by much advance publicity and make the fullest use of all the techniques of religious show-biz as developed in the United States. I earlier noted that the term &ldquo;imagistic&rdquo; might seem oddly applied to Evangelicalism, granted its poverty of visual icons, as witness the declination from the Catholic crucifix to the plain cross of the Protestants to no cross at all in many neo-Pentecostal auditoria. But visual imagery has been able to stage a triumphant re-entry through the Born-agains&rsquo; confident exploitation of electronic media: TV coverage, videos of preachers and revivals and video-movies, such as those made by Mike Bamiloye&rsquo;s Mount Zion Faith Ministries. Yet even here all is not imagistic. Complementing these revivals is a network of prayer fellowships and Bible-study sessions, where the doctrinal mode is paramount. Within a fortnight I have seen the leader of the Redeemed Christian Church of God, E.A. Adeboye, conduct a studious afternoon Bible-study meeting at the University of Ibadan&rsquo;s Protestant chapel, and preside at the tumultuous praise-worship and ecstatic spiritual effusions of a Holy Ghost Night. It is in the way that it has found ways to combine imagistic and doctrinal modes of religiosity that much of the effectiveness of the Born-again movement is to be found. 