section#chap-7.chapter(data-type='chapter')
  p.ch-start beginning
  .folio
  hgroup
    .dup CONVERSION AND COMMUNITY
    h1.ct Conversion And Community In Yorubaland
  p
    | The Yoruba have a sense of themselves as being exceptionally tolerant of religious difference &mdash; and now particularly as having harmonious relations between Islam and Christianity. Let me illustrate the point through two vignettes from field research in Ibadan in 2009:
  blockquote
    p
      | The local ward development committee in Yemetu Aladorin meets to launch a primary health-care program for women and children. It is chaired by a local imam and the six committee members present comprise four Muslims and two Christians. At the end of the proceedings, the imam recites the 
      em Surat al-Fatiha 
      | [the short first 
      em sura 
      | of the Qur&rsquo;an] in Arabic, and I notice even the Christians trying to follow it with their lips. One of the Christians then says a short informal prayer in Yoruba, ending with &ldquo;
      em l&rsquo;oruko&#x323; Jesu Kristi Oluwa wa!&rdquo; 
      | [In the name of Jesus Christ, our Lord]
      em , 
      | to which everyone responds 
      em &ldquo;E&#x323; yin Ologo!&rdquo; 
      | [Praise the King of Glory].The imam rounds off by saying &ldquo;
      em Hallelu! 
      | &rdquo; three times.
      a#fnref386.footnoteRef(href='#fn386')
        sup 386 
  blockquote
    p
      | Two ladies from St. Paul&rsquo;s Anglican Church take me on a tour of the back alleys of Yemetu, to explore the great variety of little churches and mosques to be found there. We come to the small Akabiako mosque, whose elderly imam belongs to the Bamidele sect. The two women teachers in the primary school attached to it are both e&#x323;&#x323;le&#x323;&#x323;ha (wearing full black purdah). Before we get to our discussion, which might touch on sensitive religious differences, one of my companions recalls to the imam an incident a little while back. A female pupil of the mosque school had been knocked down by an o&#x323;kada (motor-bike taxi) in the main road. The church lady picked her up, sorted her out and brought her back to the mosque. The imam thanks her again warmly for what she had done, and our discussion proceeds. A common ground of Yoruba humanity has been reaffirmed. No surprise that the imam later says that Muslims and Christians, while they go their different ways for religious purposes, should still regard one another as o&#x323;mo&#x323;-iya [children of the same mother].
      a#fnref387.footnoteRef(href='#fn387')
        sup 387 
  p
    | By and large this self-image is well justified, especially compared with the pattern of intermittent violent conflict that has developed in many areas of northern Nigeria over the past thirty years. The Yoruba like to see their tolerance as an enduring cultural trait, and it does surely derive support from the live-and-let-live ethos of the 
    em oris&#x323;a 
    | cults; but if we want to 
    em explain 
    | it, it is more fruitful to regard the relationship between Islam and Christianity as potentially conflictual, and also as one that is not static, but evolves under changing historical conditions. In fact, we view it better as an ongoing historical accomplishment than as a cultural given, the product of the kind of ground-level interaction in local communities of the kind just described. Nowadays this takes place in full awareness, not only of the situation in northern Nigeria, where things are so different, but also of the strong rivalry between the two faiths in Yorubaland. I will suggest that the classic form of this inter-faith harmony belonged to the late colonial period and lasted through Independence in 1960, but came under severe pressure from the late 1970s. Though substantially restored in the 1990s, it can no longer be taken so easily for granted as before.
  p
    | So I begin by looking at the evolution of this pattern of inter-faith relations since the beginning of the colonial period. My analysis will hinge on the concept of community: the overarching framework of the Yoruba community, the communities created by the two religions, and the relations between them. Here Yoruba &ldquo;community&rdquo; must be understood as an expanding hierarchy of levels: at its centre the town or historic community known as the 
    em i&#x300;lu&#x301; 
    | ; below this the town&rsquo;s quarters and (at the bottom) the family compound; above it a level of &ldquo;sub-tribes&rdquo; (Ijesha, Ekiti, Egba etc.), often related to colonial administrative divisions, and at the top the pan-Yoruba level, which was progressively emergent over the colonial period.
    a#fnref388.footnoteRef(href='#fn388')
      sup 388 
    | In what follows, my narrative will move through three stages: (i) the process of conversion, (ii) the formation of the new religions as communities within the wider community, and (iii) the impact of nationalist and post-nationalist politics on the pattern of religious coexistence between them.
  h3 Explaining Yoruba conversion
  p
    | From their modest numbers at the end of the Nineteenth Century, both world religions experienced a dramatic growth within a few decades after the imposition of colonial rule in the 1890s. By the later 1930s, probably a majority of Yoruba had become Muslims or Christians; by the early 1950s nearly 90% were; today virtually everyone is. This correlation suggests an obvious explanation, at least for Christianity: its association with colonial power &ndash; whether in a general symbolic way, or as a mystical way of accessing the white man&rsquo;s power, or through such specific modalities as passing through the school system which was largely set up and controlled by missions. But this explanation won&rsquo;t work for Islamic conversion, unless that is seen as a path to empowerment that avoided symbolic identification with colonialism, or even as some kind of symbolic resistance to it. But neither of these views &ndash; which would treat conversion to the two faiths as presenting two quite different patterns and problems &ndash; fits with what we know of the local phenomenology of Yoruba conversion, which suggests that the two processes ran concurrently along similar lines. 
  p
    | The problem of Yoruba conversion to the world religions has to be addressed in the light of two general principles: 
  ol(type='1')
    li
      p
        | What needs to be explained is a 
        em single 
        | overall pattern of change, where the two world religions advanced at roughly the same pace over time, but very unevenly over space.
    li
      p
        | Paradoxically, it proves easier to work down from the broad social trends to a rationale that makes subjective sense at the individual level, then to work upwards from personal reasons for conversion to explanation of the overall movement. The latter approach &ndash; such as I once employed in a household survey of Ilesha to collect, 
        em inter alia 
        | , family histories
        a#fnref389.footnoteRef(href='#fn389')
          sup 389 
        | &mdash; tends to produce a great array of personal motives and circumstances that tell much about the &ldquo;How?&rdquo; of individual conversion, but will not yield a coherent answer to the overall &ldquo;Why?&rdquo; of the whole process.
  p
    | Here Robin Horton&rsquo;s general theory of &ldquo;African conversion&rdquo; is promising on both counts, since it is so set up as to apply equally to both world religions, and it follows the classic Durkheimian strategy of treating social facts as things and relating them to other facts of the same order. 
    a#fnref390.footnoteRef(href='#fn390')
      sup 390 
    | It explains the social fact of conversion, not as a response to colonial power 
    em per se 
    | &mdash; as in &ldquo;adopting the religion of the conqueror&rdquo;-type explanations
    a#fnref391.footnoteRef(href='#fn391')
      sup 391 
    | &mdash; but as an adjustment to a general social experience which colonialism contingently brought about: viz., an increase in the scale of social relations, a move from the microcosm of life lived mostly in local communities to the macrocosm of lives opened to wider influences (such as labour migration, expanded trade networks, growing cash-crops for world markets, the expansion of horizons by education and the press).
  p
    | As to why such a change of experience should produce such as ideational change as a principal effect, Horton argues that it depends on the character of indigenous belief. From that perspective, Islam and Christianity are essentially cults of a High God, who functions as a general ground of being within the indigenous cosmology but receives little direct ritual attention. That mostly goes to subordinate deities, 
    em oris&#x323;a 
    | in the Yoruba case, since they are seen as addressing the conditions of existence of people whose lives are mainly preoccupied with local concerns. A shift of focus from 
    em oris&#x323;a 
    | to God can therefore be expected wherever the vital concerns of a population shift away from the microcosm to the macrocosm. Colonialism in Nigeria certainly provided a sufficient condition of such an outcome, but evidently not a necessary one. From our viewpoint, the vital implication is that if Christianity gained converts under colonialism, it was less because it was the Europeans&rsquo; religion than because it was locally the most available monotheism; and that where Islam was more available, then colonialism would deliver converts to 
    em it 
    | .
  p
    | So we have a coherent and elegant explanation of the temporal and geographical pattern of conversion to the monotheistic faiths in Yorubaland. It depends essentially on the relationship between two factors: (i) the timing and intensity of the colonial impact (in terms of adoption of cash-crops, communications, administrative presence etc.), which tended to spread out in waves from Lagos towards the remoter parts of the north and east, and (ii) the relative strength of existing Christian or Muslim contacts and influence, when and where the general disposition to convert appeared. The first of these explains the 
    em general 
    | disposition to adopt a monotheistic religion, and the second explains which 
    em particular 
    | monotheism would be its principal beneficiary in any area.
  p
    strong [Map 3 to go about here] 
  p
    | In the light of this we can discern five distinct regional patterns.
    a#fnref392.footnoteRef(href='#fn392')
      sup 392 
  p
    | 1. 
    strong Ilorin 
    | . This was the only area of Yorubaland to be conquered in the 
    em jihad 
    | that established the Sokoto Caliphate, of which in the early 1820s it became the most southerly emirate.
    a#fnref393.footnoteRef(href='#fn393')
      sup 393 
    | Initially its Muslim ruling class presided over a mainly pagan population, whether of slaves or free peasants. Under colonialism it was assigned to Northern Nigeria, which impeded missionary activity and so facilitated Islamization, resulting in a large Muslim majority, though some peripheral areas to the east became more Christian.
  p
    | 2. 
    strong Lagos 
    | . After a decade of informal control through a &ldquo;Consulate&rdquo;, British rule was imposed in 1861, more than thirty years before the occupation of the Yoruba interior. Islam had a significant presence well before the missions arrived in 1851, and spread rapidly in the 1860s and 1870s, especially among the followers of the exiled king, Kosoko.
    a#fnref394.footnoteRef(href='#fn394')
      sup 394 
    | By the 1890s, to missionary chagrin, Islam had succeeded in claiming the allegiance of a majority of indigenous Lagosians.
  p
    | 3. 
    strong The North and West 
    | . This embraces most of the savanna region and extends into the forest areas settled by Oyo in the Nineteenth Century. Here the missionaries established their early bases at Abeokuta and Ibadan in the 1840s-50s, finding Muslims already there: not many, but the 
    em alfa 
    | were well-placed, with networks ramifying towards the north.
    a#fnref395.footnoteRef(href='#fn395')
      sup 395 
    | When the conditions for mass-change came, in a series of rising surges (the 1890s, World War I, the cocoa boom of the 1920s), Islam picked up more converts than Christianity did, particularly among Oyo-Yoruba.
  p
    | 4
    strong . The East. 
    | This vast area, extending into what had been Kabba Province of Northern Nigeria (now part of Kogi State), is mainly forest, fading northwards into savanna woodland. It had been substantially beyond Oyo control or settlement, and Islam had little or no prior presence to Christianity. Missionaries reached Ilesha around 1860 and Ondo in the late 1870s, but the work of conversion only came in strength after the 1890s.
    a#fnref396.footnoteRef(href='#fn396')
      sup 396 
    | Here Christianity came to claim a large majority of the population, with the boom coming in the 1920s and especially the 1930s, when the Aladura revival created a mass conversion movement.
    a#fnref397.footnoteRef(href='#fn397')
      sup 397 
    | The proportion of Muslims rises somewhat in the far north-east (Akoko), an area subject to the influence of the Muslim Nupe in the late Nineteenth Century.
    a#fnref398.footnoteRef(href='#fn398')
      sup 398 
    | An instructive case is Ife itself, where back in the 1840s a party of Oyo refugees (when they must have been almost entirely pagan), were allowed to form an adjacent settlement called Modakeke. The importance of Oyo links as a vector of Islamic influence is shown in the fact that, many decades later, while indigenous Ife went mainly Christian, Modakeke went mainly Muslim.
    a#fnref399.footnoteRef(href='#fn399')
      sup 399 
  p
    | 5. 
    strong Ijebu 
    | is the most complex case of all.
    a#fnref400.footnoteRef(href='#fn400')
      sup 400 
    | Close to Lagos and athwart its main trade route to the interior, Ijebu had refused the missions all entry in the Nineteenth Century. By the 1880s there were close links with Muslims in Lagos and Ibadan, which had a fair number of Ijebu residents. Ijebu was the only Yoruba kingdom the British needed to crush with a full-blown military expedition (1892), and this defeat triggered within a few years the first mass-movement towards the world religions. The theological response to the defeat, as noted by an African pastor in Ibadan, was 
    em O&#x323;lo&#x323;run ni a o sin! 
    | (&ldquo;It is God we shall serve&rdquo;).
    a#fnref401.footnoteRef(href='#fn401')
      sup 401 
    | But not exclusively the white man&rsquo;s God. The missions did indeed gain massively &ndash; by the 1920s over a third of Yoruba Christians were Ijebu, with many becoming teachers and clergy &ndash; but so did Islam. In fact Muslims came to comprise over two-thirds of the capital, Ijebu Ode. There is no way that the Islamic option can be regarded as anti-colonial, since the chief who led it, 
    em Balogun 
    | Kuku, was the principal local ally of the British in the wake of the conquest. He built himself a grand mansion, Olorunsogo (&ldquo;God has wrought the glory&rdquo;) House in the high-bourgeois style of Victorian Lagos.
  p
    | But whereas Ijebu Ode went mainly Muslim, the smaller subordinate towns of the Ijebu kingdom went mainly Christian. While this may partly be due to reaction against the capital&rsquo;s choice &ndash; Yoruba subordinate towns are always looking for the opportunity to assert their autonomy &ndash; the critical condition was that, being towns with populations of farmers rather than traders, they lacked the prior links with Muslims in Lagos and Ibadan that Ijebu Ode had.
    a#fnref402.footnoteRef(href='#fn402')
      sup 402 
    | A further feature of the Ijebu case sits especially well with Horton&rsquo;s theory. A major aim of the British conquest had been to break Ijebu&rsquo;s stranglehold on the trade-route between Lagos and the Yoruba interior. A further effect of this, as well as the weakening of the capital&rsquo;s control over the district towns, had been to throw the Ijebu into a trading diaspora: they crop up everywhere along the new arteries of colonial trade over the next 20-30 years, often as pioneers of Christian congregations in other parts of Yorubaland or following the line of rail into Northern Nigeria.
    a#fnref403.footnoteRef(href='#fn403')
      sup 403 
    | Thus the scale of their social experience was more abruptly and radically expanded than occurred with any other Yoruba group, with just the religious effect predicted by Horton&rsquo;s theory.
  p
    | A final general observation may be made about the conditions of conversion after 1892. While Islam&rsquo;s expansion was greatly accelerated by colonial conditions, Christianity&rsquo;s overall 
    em rate 
    | of expansion, starting from a much smaller base, was undoubtedly greater. Two additional factors, which both stand outside the terms of Horton&rsquo;s theory, would seem to explain this: (i) the enhanced attractiveness of the specific &ldquo;empowerment package&rdquo; offered by Christianity under colonial conditions; 
    a#fnref404.footnoteRef(href='#fn404')
      sup 404 
    | and (ii) the greater effectiveness of Christian missionary institutions, compared with Muslim ones, in proactive outreach into new areas where neither religion had better prior contacts than the other. I shall return to the question of their respective institutional endowments shortly.
  h3 After conversion: pragmatism, loyalty and tolerance
  p
    | So what did conversion to these monotheistic faiths, with their aspiration to create exclusive religious loyalties and to reshape individual and community life, mean for the new Christians and Muslims? What sort of faith communities emerged from the protracted conversion process? At their heart, I suggest, we may see a balance between three attitudes, all to some extent carried forward from the old religion and closely implicated with one another: pragmatism, loyalty and tolerance.
  p
    | Even after conversion, the Yoruba still largely rationalized their religious adherence in pragmatic terms &ndash; it often comes up when individuals talk about their personal religious choices: what does it bring by way of spiritual empowerment or secular advantage? These were not evenly spread between the two religions. Christianity&rsquo;s greatest relative advantage was its virtual monopoly of access to modern education in the early colonial period. Still, those who see this as the primary explanation for Christian conversion have to explain why those Yoruba who became Muslim were apparently indifferent to it. Islam also had its secular advantages &mdash; such as giving access to certain trading networks or craft skills, or to chiefly patronage &ndash; but these may have been less important than the magico-spiritual techniques deployed by its clerics (
    em alfa) 
    | . In time Christianity would develop its own responses to these, in the missions&rsquo; various medical facilities and in the &ldquo;prayer power&rdquo; offered in the Aladura churches. In the early colonial period, Islam still had the negative advantage over Christianity that it demanded less from potential converts by way of cultural renunciation (e.g. in the matter of polygamy), though as the number of Christian converts grew, the churches perforce soon became more tolerant of Yoruba custom. Each religion was aware that it had certain weaknesses in relation to its rival, so their competition, conducted within the shared moral framework of community membership, led to considerable interchange between them &ndash; a topic to be explored at greater length in Chapter 9. 
  p
    | At the same time, despite these pragmatic reasons and rationalizations, converts were rapidly drawn into new bonds of fellowship, expressed in each religion&rsquo;s distinctive rituals and activities, which fostered loyalty to their new faith. Intrinsic satisfactions and identities must have worked to reduce the likelihood that converts would be led by pragmatic considerations to subsequently swap their religion, though this seems to have been common right at the beginning, with many first-generation Muslims being prepared to send their children to school, even though it would might well result in their conversion to Christianity. With the entrenchment of the colonial order by 1920, the appeal of education got even stronger, leaving committed Muslims &ndash; with some exceptions
    a#fnref405.footnoteRef(href='#fn405')
      sup 405 
    | &mdash; with a clear choice: to keep their children out of mission schools or to organize schools of their own.
  p
    | A crucial challenge presented by the world religions to Yoruba society was how these new loyalties might be reconciled with their existing communal loyalties. One positive condition for this was the pragmatism which had powerfully underpinned conversion in the first place, since it worked to undercut the kind of exclusive identification with the transcendent values which world religions seek to instil in their converts. It encouraged Yoruba to view all religious attachments as provisional on their capacity to deliver benefits, as had been the case with the membership of the 
    em oris&#x323;a 
    | cults. This view underlay and was reinforced by the large-scale shift of religious identities which occurred between 1910 and 1940. Membership of one&rsquo;s 
    em i&#x300;lu&#x301; 
    | (&ldquo;town&rdquo;) or of its smallest sub-unit (the 
    em ile&#x301; 
    | , &ldquo;family or compound&rdquo;), was nothing like as provisional as that. Religious tolerance was a corollary of this combination of personal religious choice and the near-absolute &quot;givenness&quot; of community membership.
  p
    | The culture and practice of tolerance had deep roots in the past. An elder once expressed it in response to some unwelcome hell-fire preaching from a Yoruba evangelist in Ijebu back in 1878: &ldquo;Let the Ifa man worship his Ifa; let the orisha man worship his orisha; and let the slave follow his Shango priestcraft for his food&rdquo;.
    a#fnref406.footnoteRef(href='#fn406')
      sup 406 
    | Sentiments like this occur widely into the Twentieth Century, the 
    em oris&#x323;a 
    | varying according to the locality: 
    em
      | E&#x323; j&rsquo; onifa o bo&#x323; Ifa, e&#x323; j&rsquo; o&#x323;lo&#x323;s&#x323;un o bo&#x323; O&#x323;s&#x323;un, E&#x323; j&rsquo;elegun o bo&#x323; Egun re&#x323;, k&rsquo;aye le gun
    | (&ldquo;Let the Ifa devotee worship his Ifa, let the Osun devotee worship her Osun, let the Elegun worship his Egun, that the world may be straight&rdquo;) was a song current near Osogbo.
    a#fnref407.footnoteRef(href='#fn407')
      sup 407 
    | Pragmatic considerations &mdash; the thought that because there were many powerful 
    em oris&#x323;a 
    | , it was imprudent to neglect any of them &ndash; as well as a spirit of live-and-let-live between cult groups, underlay the practice of tolerance. Even so, this tolerance was not unconditional: in many places both world religions were persecuted at the outset, whether because of their alarmingly absolutist claims or the fear that they would cause the neglect of local cults which local people regarded as essential for community welfare. 
    a#fnref408.footnoteRef(href='#fn408')
      sup 408 
    | But tolerance returned as soon as it became clear that the new cults could be domesticated, and were themselves keen to contribute to the well-being and solidarity of the community. The reassertion of tolerance during the period of mass conversion is uniquely described in many of the biographies of notable Yoruba men and women that have appeared in the past two decades. Here are two haphazard examples chosen from different parts of the country.
  p
    | The first concerns Mrs Folayegbe Ighodalo (b. 1923), the first woman to become a permanent secretary in the civil service of Western State, who grew up in a large compound in Okeigbo, a middling-sized and eventually mainly Christian town north-west of Ondo:
  blockquote
    p
      | Her father, Benjamin Akintunde, was baptized in 1915, but the compound head (baale), his great-uncle Bello Aromoye, was a Muslim. The compound had its own egungun (ancestral masked spirit), as well as shrines of other oris&#x323;&#x323;a. As a devout Christian, Akintunde forbade his children to enter any of the shrine rooms, to go out during the Egungun festival or to eat any of the sacrificial food of the oris&#x323;&#x323;&#x323;&#x323;a worshipped by some family members. &ldquo;Still, he realized the futility of forbidding them to watch the entertainment part of the festivals and never defied the instructions of the [baale] that the eldest child of each family in his compound must attend the ritual slaughter of a ram during the Muslim festival, Id el-Kabir [Ileya].&rdquo; Fola&rsquo;s brother attended, but under strict instructions not to eat any of the meat. Members of Akintunde&rsquo;s family &ldquo;always contributed to and attended the naming ceremonies, marriages and funerals of their Muslim and traditionalist relatives, [and] Muslims in the family always attended the festivities &mldr; of their Christian relatives&rdquo;. 
      a#fnref409.footnoteRef(href='#fn409')
        sup 409 
  p
    | What is impressive here is the tactful way in which individuals manage to combine a fairly strict view of the lines they need to draw to meet the demands of their own faith within a shared social framework which requires that they recognize the equal claims of others &ndash; and more than that, in that the Christians show respect to the Muslim 
    em baale 
    | by acknowledging the special status of his celebration of Ileya.
  p
    | The second instance comes from a much smaller place, Joga-Owode, a village in Egbado (now known as Yewaland), the birthplace of Professor Biyi Afonja (b. 1936), an eminent statistician:
  blockquote
    p
      | He grew up in a religiously mixed family: of his father&rsquo;s eight paternal siblings, only two were Christian, the others Muslim, but two others on his mother&rsquo;s side were Christian. But they all attended the major ceremonies of both faiths. &ldquo;Every [New Year&rsquo;s Eve], our village church St John&rsquo;s was filled with as many Christian and Moslem worshippers outside as there were inside. At exactly midnight, the church leader would ring in the New Year by joyously shouting, &ldquo;Da muso, muso&rdquo; (that is &ldquo;Hip, hip, hip!&rdquo;) and the congregation would give a thunderous &ldquo;Muso&rdquo; (&ldquo;Hurrah!&rdquo;). As we all trooped out of church singing the hymn O&#x323;&#x323;lo&#x323;run t&rsquo;o&#x323;dun t&rsquo;o ko&#x323;ja, &ldquo;O God our help in ages past&rdquo;, bonfires would be lit and the loud noise of bangers would rend the air &mldr; Conversely, during Ramadan young Biyi would join his Muslim uncles at the 4.30 meal called sari before the day&rsquo;s fast and (though he didn&rsquo;t usually fast past midday), he&rsquo;d be present at the evening prayer (asamu) before joining in the meal afterwards. At Ileya, his father would actually don a turban and accompany his Muslim brothers in the grand procession to the prayer ground. 
      a#fnref410.footnoteRef(href='#fn410')
        sup 410 
  p
    | In this small Egbado village, people clearly took a more relaxed view of what their religion required of them than in Okeigbo. One reason for strong Muslim attendance at the New Year service may be that, because the ritual calendar of Islam operates on a lunar cycle, the solar calendar of Christianity is better able to provide an idiom for annual transitions and is to that extent more compatible with traditional ideas about the need for a yearly fresh start. It is worth noting that the Christian villagers of Joga-Owode called Christmas  
    em o&#x323;dun kekere 
    | (&ldquo;the little festival&rdquo;), while the 
    em o&#x323;dun nla 
    | (&ldquo;the great festival&rdquo;) was the New Year. Life-cycle rituals, now expressed in Christian or Muslim idiom, rather than the public rituals of the new religions themselves, came to be the prime occasion for individuals to express solidarity across the Muslim/Christian divide.
  p
    | But the public expression of communal religious amity still depended vitally on two institutions carried forward from the past, though both would be modified in the process. The first was the festivals of a small number of important 
    em oris&#x323;a 
    | which were felt to embody the identity of the whole town, such as Sango in Oyo, Agemo in Ijebu or Ogun in Ilesha, Ondo and other eastern towns. For decades to come, Christians and Muslims continued to join in these annual festivals, though they gradually came to see them in more secular terms, as &ldquo;cultural&rdquo; events; or they reconfigured them in newly devised festivals aimed at community development. 
    a#fnref411.footnoteRef(href='#fn411')
      sup 411 
    | The second key institution was the 
    em o&#x323;ba 
    | -ship. As a quasi-divine being himself &ndash; 
    em ekeji oris&#x323;a 
    | (&ldquo;second to the gods&rdquo;) &ndash; the 
    em o&#x323;ba 
    | &rsquo;s most essential role to serve as the point of articulation between the town and the 
    em oris&#x323;a 
    | whose good-will ensured public welfare. It is thus is not surprising that 
    em o&#x323;ba 
    | s tended to be religiously more conservative than their subjects. But as the balance between the old cults and the new ones tipped in the 1930s, the 
    em o&#x323;ba 
    | &rsquo;s patronage shifted towards the world religions, though in a similar spirit as with the old cults. Whatever his own convictions, he had to be the &ldquo;father&rdquo; equally of all accepted faith groups in the town: attending their major festivals (usually with a small retinue of chiefs, attendants etc.), receiving their leaders at the 
    em afin 
    | (&ldquo;palace&rdquo;), contributing to their building funds and so forth. In any case, by this time increasing numbers of 
    em o&#x323;ba 
    | were Muslims or Christians themselves, very often men who had lived and worked for some time outside the town, so acquiring a degree of 
    em o&#x323;laju 
    | (&ldquo;enlightenment&rdquo;).
    a#fnref412.footnoteRef(href='#fn412')
      sup 412 
    | By the 1940s, so widely was it coming to be felt that a town&rsquo;s progress depended on having an enlightened 
    em o&#x323;ba 
    | , that several strongly Muslim towns were moved to choose a Christian to be their 
    em o&#x323;ba 
    | ,
    a#fnref413.footnoteRef(href='#fn413')
      sup 413 
    | on the grounds that he would be best able to represent their overall interests, a striking testimony to both their pragmatism and their tolerance.
  h3 Institutions and community: Christianity
  p
    | The two religions organized themselves as communities within the larger community in very different ways, which expressed their own prior institutional histories. Christianity&rsquo;s main institutional form was the churches or denominations which were set up by the missionary societies. By the 1920s, these were beginning to recede into the background, as Yoruba pastors headed congregations, chaired local church councils and managed church schools. European missionaries remained in power at the highest levels but were increasingly concentrated in educational, training and medical work. Yoruba Christianity is predominantly Evangelical Protestant, with Anglicans (CMS) historically the largest and most prestigious church, followed by Methodists and Baptists. The Roman Catholics, though important for their hospitals and schools,
    a#fnref414.footnoteRef(href='#fn414')
      sup 414 
    | were less numerous and remained dependent on foreign missionary priests for much longer.
  p
    | The mainline churches became considerable bureaucracies, employing thousands of people (especially teachers); owning extensive property in church premises, schools and other facilities like hospitals and clinics, training centres, presses and bookshops, and developing systematic evangelization strategies. Apart from their training colleges like St Andrew&rsquo;s College Oyo or the Baptist Seminary at Ogbomoso, their apex institutions were grammar schools, the focus of intense local as well as church pride, in places like Lagos, Abeokuta, Ibadan, Ijebu Ode &mdash; the top flight of these were known as the Aionian schools, a sort of Ivy League. And even when such schools were owned by the community rather than the church (as Ondo Boys High School, Oduduwa College at Ife, or Ilesha Grammar School were), they were often headed by Anglican clergymen.
  p
    | The clergy of the inter-war years, the age of high colonialism &ndash; the sons of the nineteenth-century pioneers, the fathers of the post-war generation of nationalist politicians and professionals, so to speak &ndash; were major figures in their communities. The archetype of them all was the Revd. A. B. Akinyele (1875-1968), a member of one of Ibadan&rsquo;s oldest and most distinguished Christian families. 
    a#fnref415.footnoteRef(href='#fn415')
      sup 415 
  blockquote
    p
      | His early career was typical. From the CMS Grammar School in Lagos he went on to its Training Institution for &ldquo;native teachers&rdquo; and then, after a few years teaching (mostly in Abeokuta), he caught the attention of the bishop and was sponsored to attend Fourah Bay College in Freetown, then the only institution of higher education in West Africa. Graduating in 1906, he returned to pastoral work in Ibadan, and was ordained priest in 1910. When Ibadan Grammar School was founded in 1913, under CMS auspices but with strong support from local people &ndash; land for it at Oke Are was given by a prominent Muslim chief, Balogun Shittu &mdash; Akinyele was the obvious man to be its first Principal. He remained so for twenty years, and as such presided over the production of the next generation&rsquo;s elite. Church affairs apart, he was much consulted informally both by the chiefs and by colonial officers (some of whom he instructed in the Yoruba language) and was active in all the doings of his fellow o&#x323;laju. A powerful axis of influence linked him with his junior brother, I. B. Akinyele, who was active in local politics, becoming a chief in 1933 and slowly climbing the hierarchy till he got to be Olubadan (1955-64). In 1933, A.B. was appointed Assistant Bishop of Lagos, based in Ondo, but he returned to Ibadan as first bishop of its new diocese in 1952.
  p
    | A proper social and cultural history of this important group of men remains to be written, though much of it can be excavated from the many commemorative local church histories that have been produced.
    a#fnref416.footnoteRef(href='#fn416')
      sup 416 
    | For the present, the most vivid evocation of this world is to be found in two memoirs by Wole Soyinka: the autobiographical 
    em Ake&#x301; 
    | , mostly about his mother&rsquo;s family (the Ransome-Kutis) in Abeokuta, and 
    em Isara&#x300; 
    | , a quasi-fictional treatment of his father&rsquo;s circle of young 
    em o&#x323;laju 
    | in a small Remo town.
    a#fnref417.footnoteRef(href='#fn417')
      sup 417 
    | These men stood outside the formal structure of the &ldquo;Native Authority&rdquo;, local government by 
    em o&#x323;ba 
    | and chiefs, as sanctioned by Indirect Rule, but they were often their advisors. They tended to be active in the town Improvement Societies and Progressive Unions, which combined local patriotism with the promotion of 
    em o&#x323;laju. 
    | Here they joined with educated traders (often ex-mission teachers), commercial or government clerks and even a few educated Muslims &mdash; though the societies&rsquo; ethos was distinctly but undogmatically Christian.
    a#fnref418.footnoteRef(href='#fn418')
      sup 418 
    | At the same time, there was an important pan-Yoruba dimension to their work-lives: they promoted the CMS-derived Standard Yoruba language in church and school, against local dialects; in their early careers (often starting as teachers) they were liable to be transferred all over Yoruba country, forming regional networks; a handful of them went annually to Lagos for the diocesan synod, the nearest thing to a parliament for the  
    em o&#x323;laju 
    | of Yorubaland in the inter-war years, where they discussed issues going way beyond the narrowly ecclesiastical.
  p
    | These years of rapid church growth brought their conflicts and tensions, of which two waves of breakaway or independent churches were the outcome. What are known as the &ldquo;African churches&rdquo; emerged between 1891 and 1918: opposed to paternalist policies and the restriction of African advancement in the mainline Protestant missions, particularly the CMS, they advocated a greater acceptance of African culture and custom, but in doctrine and church order they remained close to the missions from which they had seceded.
    a#fnref419.footnoteRef(href='#fn419')
      sup 419 
    | At one level the Aladura or &ldquo;praying&rdquo; churches, emerging between 1918 and 1940, were a response to a widespread sense of social dislocation, arising from the rapid growth of the cash economy in the 1920s, followed by the depression of the early 1930s.
    a#fnref420.footnoteRef(href='#fn420')
      sup 420 
    | They offered a much more far-reaching Africanization, which did much to close the gap with Islam though the provision of Christian techniques of healing, divination and protection. The Aladura movement created new organizational forms, such as the followings of charismatic 
    em woli 
    | (&ldquo;prophets&rdquo;), but over time they tended to move back towards the template provided by the older churches, as they too began to acquire property and needed to develop stable systems of leadership succession.
  h3 Institutions and community: Islam
  p
    | The primary organization of the Muslim community differed markedly from that of Christianity (and still does), even though there has been some adoption of Christian forms. Islam famously has no church, which is because as a religion it set out to be none other than the organization of a spiritual polity. In Yorubaland, except for Ilorin, it spread without corporate institutions of any kind, bottom-upwards rather than top-downwards, without 
    em jihad 
    | or the constraining force of Islamic rule. The main agents of its expansion were Muslim &ldquo;clerics&rdquo; or 
    em alfa 
    | , a social category whose two defining features &ndash; some measure of Arabic learning and the provision of religious services &ndash; were extremely variable, though the most essential function of any 
    em alfa 
    | was to be a &ldquo;professional man of prayer&rdquo;.
    a#fnref421.footnoteRef(href='#fn421')
      sup 421 
    | They ranged from those with just enough Arabic to be able to offer magico-spiritual services to clients both Muslim and non-Muslim
    a#fnref422.footnoteRef(href='#fn422')
      sup 422 
    | , to those whose better command of Arabic enabled them to run Koranic schools, as well as to perform the public prayers and life-cycle rites of the Muslim community. 
  p
    | Though the 
    em alfa 
    | began more as entrepreneurs than as missionaries, they readily organized those who gathered around them into congregations. As the numbers of Muslims grew, augmented by visiting traders and their local contacts, in every significant community there emerged a  
    em jumat 
    | or central mosque for Friday prayer, often located close to the 
    em o&#x323;ba&rsquo;s 
    | palace (even in mainly Christian towns like Ilesha and Ife). Here there clustered those 
    em alfa 
    | with the greatest reputation among their peers for Arabic learning, often the descendants of pioneers who had come from Ilorin, Hausaland or further afield. They occupied the chief-imamship and other offices of the central mosque, which tended to become hereditary among their descendants. Spread throughout the town were many small, so-called 
    em ratibi 
    | mosques, usually set up by an 
    em alfa 
    | under the patronage of the 
    em baale 
    | or compound-head, where local residents gathered for the five daily prayers. These might be no more than a large room in a house or a small building within the compound and were typically known by the name of the founding 
    em alfa 
    | or the compound itself, being regarded simply as a Muslim spiritual facility for the neighbourhood. This has led some to regard conversion to Islam as being collective &ndash; the co-resident members of a lineage deciding to convert together &ndash; in contrast to Christian conversion as individual. I see no good evidence for such a contrast, though the conversion of a big man might lead many of his followers to convert , as with the 
    em Are&#x323; 
    | Latosa in nineteenth-century Ibadan or 
    em Balogun 
    | Kuku in early-twentieth century Ijebu. The central mosque apart, mosques thus tended to be more numerous but smaller than churches.
  p
    | This basic pattern became more complex as Muslim numbers grew and its varieties diversified. As the population of Ibadan rose to more than a million in the course of the colonial period, with over 65% of its indigenes Muslim, the simple structure of central and 
    em ratibi 
    | mosques became insufficient. From the mid-1950s onwards, a middle tier of more localized &ldquo;central&rdquo; mosques for Friday prayer emerged throughout the main localities of the vast town, thus replicating the urban hierarchy of town, quarter and compound. In addition, over roughly the same period, various sects and societies established their own mosques, which formed their own groupings more analogous to Christian denominations, with some having its own &ldquo;central&rdquo; mosque for its fraternity in the town as a whole. Here the way was led by modernist Muslim organizations, such as Ahmadiyya, which came to Lagos in 1916 and operated much like a Christian missionary society, with a directing overseas headquarters (in the Punjab), moving into the interior and opening schools, among which Ahmadiyya Grammar School in Ibadan proved especially important.
    a#fnref423.footnoteRef(href='#fn423')
      sup 423 
    | It showed the way for other societies of modern-oriented Muslims, which also opened schools and had their own mosques: Ansar-ud-Deen (1923) and Nawair-ud-Deen (1936).
    a#fnref424.footnoteRef(href='#fn424')
      sup 424 
    | At the other end of the spectrum were societies like the Zumratul Mumin, popularly known after its founder as the Bamidele, a religiously conservative group founded in Ibadan in the 1940s, whose branches operate more like Aladura churches (including a certain proneness to factional splits).
    a#fnref425.footnoteRef(href='#fn425')
      sup 425 
  p
    | So Islam, weak in principles of corporate organization above the level of the single congregation, made some use of the denominational form characteristic of Christianity, but relied mainly on whatever structures of community prevailed locally. Whereas churches are a distinctly religious form of organization, differentiated from the communities they work in and also working across many communities, Yoruba Islam aspires to be, as it were, the community in its Islamic aspect. Some very characteristic effects of this have appeared in patterns of leadership and conflict, particularly in strongly Muslim towns, such as indigenous Lagos, Ibadan and Ijebu Ode.
  p
    | There has often been a strong mutual influence between the chiefly hierarchies of the town and the Islamic community, especially around its central mosque. At Ijebu Ode, it was the custom that appointments to the two senior Muslim posts, the chief imam or 
    em Lemo&#x323;mu 
    | and his deputy the 
    em Noibi 
    | , were ratified by the 
    em o&#x323;ba 
    | &ndash; something that no church would have judged appropriate &ndash; which meant that it might fall to a Christian 
    em o&#x323;ba 
    | to install the chief imam by &ldquo;capping&rdquo; him.
    a#fnref426.footnoteRef(href='#fn426')
      sup 426 
    | This went with the obligation of the 
    em Lemo&#x323;mu 
    | and his fellow 
    em alfa 
    | to go and pray for the 
    em o&#x323;ba 
    | every year at the Ileya festival. In Iseyin, a town where Islam was established very early, the imamship came to rotate between the four quarters of the town much as an 
    em o&#x323;ba 
    | -ship might rotate between the main segments of the royal lineage.
    a#fnref427.footnoteRef(href='#fn427')
      sup 427 
    | Ibadan developed its own unique system of succession to the imamship, which again mirrored that of the town. 
    a#fnref428.footnoteRef(href='#fn428')
      sup 428 
    | Because it had been founded in the Nineteenth Century as a war-camp and lacked a crowned 
    em o&#x323;ba 
    | , it came to be governed by two parallel ranked lines of chiefs, respectively civil and military. Men from the leading families were appointed to a low rung on either of these &ldquo;ladders&rdquo; and progressed up it as deaths opened vacancies above them, while succession to the headship of the whole town alternated between the two lines. Over the Twentieth Century, a norm emerged for Ibadan&rsquo;s central mosque to be governed by two lines of &ldquo;chiefs&rdquo; known as the 
    em Mo&#x323;gaji 
    | and 
    em Alfa 
    | lines, filled respectively by sons of previous imams and by self-made men of Islamic learning. (A 
    em mo&#x323;gaji 
    | in Ibadan is the heir to the headship of one of the major families). This can be seen as a way of recognizing both descent and learning as criteria for the imamship, but the system of choosing the imam from the two lines alternately has often not worked smoothly in practice. There are various criteria for choosing an imam &ndash; learning, popularity, descent, character &ndash; and they rarely converge in one man. So to the regret of many educated Muslims, especially those aware of normative patterns elsewhere in the Islamic world, imamship succession disputes have tended to resemble Yoruba chieftaincy disputes in general. 
  p
    | A further result of the interpenetration of Muslim and town organization has been that conflicts arising in one sphere have readily spilled over into the other, in a way that has rarely happened with Christianity. These cleavages &ndash; whether originating over doctrinal and/or ritual issues, or over rivalry for office or matters of mosque management or control &ndash; might run on for years, morphing over time from one leading issue to another. Muslim unity in Lagos was first fractured by an 
    em alfa 
    | from Ilorin who during Ramadan 1875 preached the all-sufficiency of the Koran, without recourse to Hadith, for determining Islamic practice. His followers thus came to be known as the Alalukurani or &ldquo;Koranic&rdquo; Muslims. So heated did feelings become that the Governor felt it prudent to post troops during Id al-Fitr to prevent violence and later presided at reconciliation meetings; but he refused requests to use his authority to ban the Alalukurani.
    a#fnref429.footnoteRef(href='#fn429')
      sup 429 
    | In 1901 another cleavage opened up, initially over the management of the central mosque, one faction following the chief imam, hence known as the Lemomu group, the other as the Jama&rsquo;at (&ldquo;congregation&rdquo;) group. The great flashpoint in secular Lagos politics in the early Twentieth Century was the government&rsquo;s plan to introduce a water rate, which polarized opinion into anti- and pro-government parties. By 1916, the existing split among Lagos Muslims had become aligned with this, the Lemomu group supporting the government, while the Jama&rsquo;at people opposed it, thus becoming the popular base for what evolved into a proto-nationalist party, the NNDP.
    a#fnref430.footnoteRef(href='#fn430')
      sup 430 
    | The leadership of the NNDP was provided by educated Christians &ndash; notably Herbert Macaulay, the grandson of Bishop Crowther &ndash; but they were involved as individuals, not as a faction of any church or of the Christian community at large.
    a#fnref431.footnoteRef(href='#fn431')
      sup 431 
  p
    | At Ijebu Ode too, cleavages in town politics impacted reciprocally on those in the Muslim 
    em umma 
    | . In the late 1890s, a dispute over the quality of the Arabic learning of the chief imam (
    em Lemo&#x323;mu 
    |) became entangled with the main conflict in the town at large, between the king (
    em Awujale&#x323; 
    |) and his over-mighty subject, 
    em Balogun 
    | Kuku. While Kuku gave his backing to the 
    em Lemo&#x323;mu 
    | &rsquo;s critics, the 
    em Awujale&#x323; 
    | supported him and by 1907 the Muslim cleavage had hardened to the point that there were two 
    em Lemo&#x323;mu 
    | s and two 
    em Noibi 
    | s, with occasional fights between the two factions. It took eleven years for the conflict to be resolved, and finally only through the intervention of the District Commissioner and town council, which included several lay Christians.
    a#fnref432.footnoteRef(href='#fn432')
      sup 432 
    | A running sore of Ijebu Ode politics in the late colonial period was the unpopularity of 
    em Awujale&#x323; 
    | Gbelegbuwa II (1933-59), whom the British virtually forced on Ijebu as they wanted an &ldquo;enlightened&rdquo; ruler, despite the general view that he was ineligible by descent and excessively high-handed in his dealings with people. Gbelegbuwa was a Christian, and as such drew some support from his co-religionists, though his most doughty opponent, Chief Timothy Odutola, was also a Christian; and not just that, but a member of the same church (St Saviour&rsquo;s Anglican), with the title 
    em Asiwaju 
    | (&ldquo;leader&rdquo;) of Ijebu Christians.
    a#fnref433.footnoteRef(href='#fn433')
      sup 433 
    | This was in recognition of his being, as a highly successful entrepreneur, the wealthiest Ijebu of his day. As a subject fit to rival his king, Chief Odutola was rather like a latter-day Kuku. Yet the dispute came to affect the Muslims of the town more than the Christians, since different quarters of the town split over the imamship, and rival candidates were anti- or pro-
    em Awujale&#x323; 
    | , even with an 
    em Awujale&#x323; 
    | so generally unpopular among the mass of Muslims as Gbelegbuwa was.
    a#fnref434.footnoteRef(href='#fn434')
      sup 434 
  h3 Leadership and the Yoruba Muslim dilemma
  p
    | At least since the early Twentieth Century, Yoruba Muslims within Nigeria have faced a continuing dilemma, whether in religion, culture or politics: how far do they orient themselves towards their Christian fellow-Yoruba or their non-Yoruba fellow-Muslims? The dilemma arises from a double sense of inferiority that has challenged them: the sense of being regarded as less enlightened than their Christian compatriots, and as less complete Muslims than their co-religionists in Northern Nigeria. Education was critical to addressing the problem on both fronts. 
  p
    | On one side, the virtual Christian monopoly of Western education in the early colonial period was an enormous disadvantage to Muslims, felt especially in Lagos. The government took some steps to rectify this, appointing Edward Blyden as Director of Muslim Education (1896). But Muslim parents still tended to be suspicious, not least since its aims were sometimes undermined by the appointment of Christian teachers. On the other side, there was the low level of Arabic scholarship of most Yoruba 
    em ulama 
    | . For many of them, this did not extend to much more than a few years&rsquo; attendance at a local Koranic school, which gave them just enough Arabic to make a living by selling charms and divining. The necessary dual upgrading took place over many decades, and involved, not just some synthesis of Arabic and Western syllabuses and educational methods, but drawing on links with Ilorin, the North and the Middle East. 
    a#fnref435.footnoteRef(href='#fn435')
      sup 435 
    | By the 1940s, some Yoruba had attended Al-Azhar in Cairo, and in the 1950s two major centres of higher-level Arabic/Koranic training were established at Elekuro in Ibadan and Agege, near Lagos. The latter, the Centre for Arabic and Islamic Studies, was founded in 1955 by an Al-Azhar graduate from Ilorin, Shaykh Adam Abdullah al-Ilori (1917-1992), the greatest Yoruba Arabic scholar of his generation, trained entirely outside Western institutions.
    a#fnref436.footnoteRef(href='#fn436')
      sup 436 
    | In his own writings in Arabic, al-Ilori showed himself to be well aware of the two sides of the Yoruba Muslim dilemma. He responded critically to the Revd Samuel Johnson&rsquo;s pro-Christian account of Yoruba origins and history; but he also asserted the integrity of Yoruba Islam, defending it from &ldquo;reckless accusations of infidelity&rdquo; by the over-zealous orthodox, including the leading Salafist intellectual of the North, Abubakar Gumi.
    a#fnref437.footnoteRef(href='#fn437')
      sup 437 
    | In the last 30 years, another source of Arabic expertise has come into play: Yoruba graduates of Saudi universities, especially the Islamic University at Medina. They pride themselves on the fluency of their Arabic, and there is some status rivalry between them and the Nigeria-trained  
    em ulama 
    | , who regard them as &quot;narrow&quot; in their attitudes. They were the core of an organization founded in 1982, Tadamun al-Muslimin (&ldquo;Islamic Solidarity&rdquo;), which with some others under the umbrella of a larger grouping calling itself Ahl us-Sunna (&ldquo;People of the [Prophets&rsquo;s] Way&rdquo;) has promoted a Salafist perspective within Yoruba Islam, though so far with limited success. 
  p
    | In theory, Islam has no priesthood, but here there is the paradox that in a non-Arabic-speaking society like Yoruba the sacred and esoteric prestige of Arabic for Muslims inevitably produces a distinction between 
    em ulama 
    | and laity that is in some ways more absolute than that between pastors and lay-people in Yoruba Protestantism. Though churches are institutionally distinct from society, the culture of Christian 
    em o&#x323;laju 
    | is shared by clergy and educated laymen, as witness the ease with which university lecturers (often in scientific subjects) have become the leaders of Pentecostal churches. They are distinguished from their members less by their possession of specialist knowledge than by the charisma that is attributed to them. But among Muslims, Arabic learning and Western education remain distinct sources of authority, and their respective possessors &ndash; the serious 
    em ulama 
    | and the educated Muslim laity &ndash; vie with one another to speak for Islam, since few people stand really high in both categories, apart from university graduates in Arabic and Islamic studies. Thus there is some tension between the League of Imams and Alfas (LIA), an organization of and for the Yoruba 
    em ulama 
    | across a broad spectrum, and a body like the Muslim Ummah of South-Western Nigeria (MUSWEN), inaugurated in 2008 after several years&rsquo; discussion among modern Muslim professionals (lawyers, academics, doctors etc.). They felt that the LIA leadership was not educated enough to articulate the collective Muslim interest under the peculiar conditions of Yorubaland, where Christians were so much seen as the bearers of &ldquo;modern civilization&rdquo;.
    a#fnref438.footnoteRef(href='#fn438')
      sup 438 
  p
    | The third source of leadership in the Muslim community is wealthy laymen, typically traders or businessmen. Some of them have a smattering of Arabic, and most have a measure of Western education, but it is their power of material patronage which gives them standing and influence (e.g. to appoint imams to mosques they have founded or to settle disputes within the  
    em umma 
    |). Until his death in 2014, the pre-eminent figure here was Alhaji Abdul-Azeez Arisekola Alao, who had a few years of Koranic school and completed his primary education at a CMS school in one of Ibadan&rsquo;s villages, before getting a job as a distributor of agricultural chemicals.
    a#fnref439.footnoteRef(href='#fn439')
      sup 439 
    | His commercial activities diversified, but it was not till the 1990s that he really made it big through a contract, gained through his friendship with General Abacha, to supply food to the Nigerian troops in ECOMOG, the peace-keeping force in the Liberian civil war. After something of a playboy youth, he started taking his religion more seriously at the end of the 1970s, and in 1981 agreed to be &ldquo;turbaned&rdquo; as 
    em Are&#x323; Musulumi 
    | .(&ldquo;Commander of Muslims&rdquo;). His most conspicuous work of patronage was his building of a large mosque with a conspicuous golden dome on the Iwo Road in Ibadan, which he got the Chief Imam of al-Azhar in Cairo to come and open. Arisekola paid the salaries of at least three imams. Yet the style of his leadership owed more to the Ibadan warlords of the Nineteenth Century than to any Islamic paradigm,
    a#fnref440.footnoteRef(href='#fn440')
      sup 440 
    | as struck me forcefully when I visited him in his vast walled compound at Ikolaba, a respectable suburb in the north-east of Ibadan:
  blockquote
    p
      | We enter through great double iron gates set in a concrete wall about 15 feet high, in front of which runs a mucky stream which looks somewhat like a moat. Security is intense: several tough-looking henchmen hang around a small guardhouse, and we wait in the car for over twenty minutes after having phoned to announce our arrival before being admitted, while other vehicles are checked as they come or go. Inside there is a large main house, other buildings including a mosque, plenty of parking and well-maintained grounds which are said to include a menagerie with ostriches. We are received in a large audience chamber upstairs, decked with drapes in the Nigerian colours of green and white, and in the corners are set enormous coloured photographic portraits of Arisekola&rsquo;s late parents on their return from the Hajj, as well as of General Abacha. Arisekola&rsquo;s manner is relaxed, self-confident and genial. We sit on a sofa by a glass table on which he lays a small array of cell-phones, which ring periodically throughout the 90-minute interview. He answers briskly, &ldquo;Tani ye&#x323;&#x323;n [Who is that]?&rdquo; or &ldquo;Do I know you?&rdquo;, to what appear to be requests for money or favours. Two or three times an attendant comes in and speaks in a low voice to Arisekola, who rummages in the front pocket of his big gown and brings out wads of banknotes to be distributed. On the way out, we pass by a large antechamber with thirty or more people still waiting to see the Are&#x323;: men and women, all sorts and conditions, but including several quite prominent people known to my companion (who is an experienced journalist).
  p
    | Arisekola was not the only wealthy Muslim to receive a title from the League of Imams and Alfas: his friend and political associate, the late Chief M.K.O. Abiola from Abeokuta &ndash; of whom more shortly &mdash; was styled 
    em Baba Adinni 
    | (&ldquo;Father of the Religion&rdquo;). This conferment of pan-Yoruba Muslim chieftaincy titles was an organizational innovation at the time.
    a#fnref441.footnoteRef(href='#fn441')
      sup 441 
    | Titles have long been given to senior lay leaders in both Islam and Christianity, but usually at the level of the single congregation, as with the 
    em Baba Ijo&#x323; 
    | (&ldquo;Father of the Church&rdquo;) or 
    em Iya Suna 
    | (&ldquo;Mother of the [Islamic] Faith&quot;). In the extension of this to the highest levels of the communal hierarchy &ndash; like Oyo, Ogun or Lagos States, or Yorubaland as a whole &ndash; we see again Yoruba Islam&rsquo;s propensity to draw organizational form from the wider community or polity in which it is set. These wealthy laymen offer a kind of leadership that has no close equivalent within Yoruba Christianity today. While their largesse is eagerly received, their power is also resented, especially by some of the 
    em ulama 
    | , who feel that those qualified by learning and piety for Islamic leadership should not have to defer to &ldquo;big men&rdquo; whose conduct sometimes falls short of the religiously ideal. It is a tension that harks a long way back in Muslim history, recalling the attitudes of the 
    em ulama 
    | , then still emergent as a force within Islam, towards the Umayyad caliphs.
  h3 Religion and nationalism, 1940s-late 1970s
  p
    | Nationalism &mdash; the movement after 1945 to take over control of the colonial state in the name of the mass of the African people &ndash; had its roots in the agitation by educated young men a decade or so earlier to challenge the system of Indirect Rule, which had restricted power in local communities to  
    em o&#x323;ba 
    | s and chiefs. In both cases leadership was overwhelmingly provided by Christians, even in mainly Muslim towns, since they were so far ahead in the Western education needed to challenge the institutions of the colonial state. Because effective representation of communal interests was always the paramount issue, Muslims were on the whole happy to accept Christians as their community representatives. The main vehicle of Yoruba political aspirations, the Action Group (AG), was not strictly a Christian party, even though its leader, Obafemi Awolowo, and most of all his closest political associates were Christians, and its programme was strongly infused with the Yoruba Christian value of 
    em o&#x323;laju 
    | .
    a#fnref442.footnoteRef(href='#fn442')
      sup 442 
    | Still, 
    em some 
    | Muslims were uneasy about these affinities and in 1957 a Muslim party, the National Muslim League, was founded &mdash; though it was quickly and effectively stamped on as religiously divisive. Measures were taken to gain Muslim favour, such as the setting-up for a Pilgrims Welfare Board and more provision for Islamic instruction in schools.
  p
    | Where party-political divisions in Yorubaland did come to have a religious aspect, this arose contingently, as a by-product of the religious profile of particular communities, as we can see from a comparison of Ibadan and Lagos. Many of the same factors were present in both places, such a strong Muslim majority among the indigenes, but under different local conditions they led to diametrically opposed outcomes. At Ibadan those chosen at the first elections in 1951 were mostly from the local Christian elite, members of the Ibadan Progressive Union drawn to a politics of 
    em o&#x323;laju 
    | , and they naturally affiliated themselves with the Action Group at the level of regional politics. Popular disaffection from this elite arose less directly from the fact that the mass of Ibadan people were Muslim than that they were linked by ties of personal attachment to the compound heads or 
    em mo&#x323;gaji 
    | , descendants of the warlords of nineteenth-century Ibadan, whose position was under threat from the rationalizing reforms to the court and taxation systems intended by the Action Group. What further alienated them from the AG was that, as a party with a strong pan-Yoruba identity, it had no option but to support the demand of the so-called &ldquo;native settlers&rdquo; to be allowed to acquire land rights in the town. These were immigrants to Ibadan from other Yoruba towns, especially the much-resented Ijebu &mdash; of whom Awolowo was one, with a house at Oke Ado where his legal practice was based. There emerged a communal party, the Mabolaje Grand Alliance, 
    a#fnref443.footnoteRef(href='#fn443')
      sup 443 
    | under the leadership of a flamboyant Muslim populist, Adegoke Adelabu, which allied itself at the Regional level with the Action Group&rsquo;s rival, the NCNC.
    a#fnref444.footnoteRef(href='#fn444')
      sup 444 
    | Since Islam (though fairly recently adopted in most cases) had fused rather effectively with status values deriving from nineteenth-century Ibadan, Adelabu combined radical socialism at the national level with cultural conservatism at the local level.
    a#fnref445.footnoteRef(href='#fn445')
      sup 445 
    | Though as well educated as most of his Christian compeers and possessed of an excellent command of English, Adelabu was a polygamist who kept open house in traditional chiefly style, and he made good use of Muslim networks &ndash; such as the 
    em ratibi 
    | mosques &ndash; to build a strong popular base. He was well supported by the generality of the 
    em ulama 
    | , and in fact, there was nearly a rebellion against the leadership of the chief imam of the day, Muili Abdullahi, because one Friday in 1957 he introduced Awolowo (who was Muili&apos;s personal friend) into the Central Mosque.
    a#fnref446.footnoteRef(href='#fn446')
      sup 446 
  p
    | One might have expected the NCNC to have become the political voice of the Muslim indigenes in Lagos too. It had been founded in 1945 as the successor to Herbert Macaulay&rsquo;s NNDP, which (as noted earlier) had its popular base in the Ilu Committee, closely linked to the Jama&rsquo;at faction at the central mosque; and the NNDP had indeed attracted &ldquo;the traditionalistic, predominantly Muslim indigenous masses&rdquo; of Lagos.
    a#fnref447.footnoteRef(href='#fn447')
      sup 447 
    | Now this was a period when the population of Lagos was growing rapidly, through immigration not only from the Yoruba interior but from further afield (including many Igbo), and the census in 1950 showed that as a result Christians had come to outnumber Muslims. The Lagos indigenes felt they were becoming marginalized in their own city. Of the two main parties, up to the early 1950s the NCNC was master of the field in Lagos, so the Action Group faced the problem of how to break into it. Now while the NCNC was the most pan-Nigerian party, the Action Group was the most pan-Yoruba one; and while this worked against it in Ibadan, where the indigenes saw the main threat to their position as coming from other Yoruba as &ldquo;native settlers&rdquo;, in Lagos the threatening outsiders were culturally much more diverse, and the Action Group &mdash; unencumbered by the wider ethno-regional commitments of the NCNC &mdash; was better able to target its appeal at the Lagos indigenes. 
    a#fnref448.footnoteRef(href='#fn448')
      sup 448 
    | In particular, it built a network of effective support through the market women, led by such as the formidable (and piously Muslim) Madam Abibatu Mogaji. The effects proved long-lasting: there emerged a lineage of progressive Muslim politicians &ndash; L.K. Jakande, Bola Tinubu, Raji Fasola
    a#fnref449.footnoteRef(href='#fn449')
      sup 449 
    | &ndash; attached to the Action Group and its successor parties (UPN, AD, ACN, APC), who have controlled Lagos State down to the present.
  p
    | Awolowo remained the political hero of most Yoruba, whether Christians or Muslims, for the rest of his life.
    a#fnref450.footnoteRef(href='#fn450')
      sup 450 
    | His reputation was only enhanced by his imprisonment for alleged treason between 1962 and 1966, at the hands of a coalition of his enemies, headed by the Muslim Premier of the Northern Region, the Sardauna of Sokoto. At least on the Yoruba side, this opposition was always coded in terms of North vs. South, or Hausa vs. Yoruba, rather than Muslim vs. Christian. In fact Awolowo&rsquo;s one-time lieutenant, who was seen as having betrayed him to the Sardauna, Chief S. L. Akintola, was a Christian from Ogbomosho, while the acting leader of the Action Group while Awolowo was in prison was a Muslim from Abeokuta, Alhaji D. S. Adegbenro. Up to the late 1970s, the conventional wisdom was that religion &ndash; in the sense of the Muslim/Christian divide &ndash; was essentially irrelevant to Yoruba political conflict, except as an occasional accompaniment to communal divisions.
    a#fnref451.footnoteRef(href='#fn451')
      sup 451 
    | But this would change.
  h3 Post-nationalist turbulence, late 1970s onwards
  p
    | The second half of the 1970s, a period that led up to the restoration of civilian government after 13 years of military rule, marked a decisive watershed in the post-Independence history of Nigeria. Religion came onto the political agenda as a factor in its own right, not just as an additional aspect of communal or regional difference. This first showed itself in the dispute in the constitutional assembly in 1977-78 about whether there should be a Federal Sharia Court of Appeal. Yoruba Muslim opinion was divided, but in general came down against, fearing its potential to divide the community.
    a#fnref452.footnoteRef(href='#fn452')
      sup 452 
    | (Of this I will say more in Chapter 8). About the same time, there emerged onto the public stage new and more strenuous forms of devotion on both sides: Islamist reform movements, and Charismatic or Born-Again Christianity. In both cases the new movements had global or international links, and these have tended to weaken those local attachments which had done so much to restrain religious conflict in Yoruba communities.
  p
    | When we consider the articulation of religious identity and Yoruba ethnicity, the so-called Second Republic (1979-83) brought about a paradoxical double effect. On the one hand, the Unity Party of Nigeria (UPN), led by Chief Awolowo, won a much larger overall share of the Yoruba vote than its Action Group predecessor had done, even though it was defeated at the national level by its main rival, the NPN, led by a Muslim Northerner, Shehu Shagari.
    a#fnref453.footnoteRef(href='#fn453')
      sup 453 
    | Yet at the same time, Muslims became a more distinct and assertive political force within the Yoruba arena. There were several reasons for this: the Sharia debate of 1978-79 had raised the Islamic consciousness of the most active; the dominance of Nigeria&rsquo;s government by Muslims (which continued after the return of the military in 1983) offered a political resource to be exploited; and Muslims&rsquo; level of education had increased, so that they were less prepared to look to Christians to provide political leadership. In Oyo State, with its capital at Ibadan, the NPN picked up the threads of the old anti-Action Group tradition, now with a more strongly Muslim flavour. The State&rsquo;s UPN Governor, Chief Bola Ige, was the particular target of Muslim criticism for pro-Christian bias in his appointments and educational policies, with the Muslim Students Society (which had recently become much more radical) taking a highly militant stand against him. A new role was played by a group of wealthy Muslims, most notably the 
    em Baba Adinni 
    | , M.K.O. Abiola, who made alliance with the Northern Muslim establishment the cornerstone of his politics. Abiola, famously satirized in the 1970s for his corrupt business practices
    a#fnref454.footnoteRef(href='#fn454')
      sup 454 
    | and well-known for his lavish, philandering lifestyle, the very epitome of the Yoruba big man, used his business links with Northern politicians to good advantage for Muslims (though it must be said that non-Muslims also benefitted from his largesse). Federal contracts and funds came their way, as well as Saudi money for approved projects; and Abiola used his 
    em National Concord 
    | newspaper to support the cause of Sharia.
  p
    | In 1985 there erupted the highest-profile public confrontation between Muslims and Christians that the Yoruba had known: the Ibadan cross controversy. It was triggered by a reckless speech given by Abiola at the opening of a large new mosque &ndash; largely funded with Saudi money &mdash; on the University of Ibadan campus. About 200 yards away from the mosque and in clear view from it, there had stood since 1954 a large white monumental cross, at a crossroads close to the Catholic chapel. Abiola took it into his head, possibly without premeditation, to demand that the cross be demolished. Other issues of Muslim grievance &ndash; essentially arising from a diffuse sense of their marginalization in an institution whose staff and students were overwhelmingly and often assertively Christian
    a#fnref455.footnoteRef(href='#fn455')
      sup 455 
    | &mdash; came into the dispute, which deepened when the Muslim side invoked the intervention of the Federal Commissioner for education, a Northern Muslim. The dispute ran on for many months, but ended in a compromise: the cross stayed, but a concrete screen and a suitable Muslim emblem were erected nearer the mosque. 
    a#fnref456.footnoteRef(href='#fn456')
      sup 456 
    | When the dispute was eventually settled, there was a great sense of relief at having pulled back from the brink of something very nasty and un-Yoruba &ndash; the more because of the intermittent outbreaks of serious religious violence which were by then occurring widely in Northern Nigeria.
  p
    | At the end of the 1980s, the military head of state, General Ibrahim Babangida, a Northern Muslim, announced a programme for a return to civilian rule: two parties were set up, with carefully vetted candidates. M.K.O. Abiola was approved as the candidate of the SDP, no doubt regarded (in view of his recent record) as a safe choice. But as the campaign got under way, an unexpected turnaround occurred. Because his opponent in the contest for the presidency, also a Muslim, was a Northerner, Abiola became the candidate of the South in the 1993 elections, and particularly the vessel of Christians&rsquo; hopes to see the overthrow of the Northern/Muslim/military complex (to which they had come to apply the sobriquet &ldquo;the Caliphate&rdquo;). If ever a politician was defined by the hopes vested in him by his supporters, rather than by the force of his own political convictions, it was Abiola. The military took fright at Abiola&rsquo;s victory and annulled the election.
  p
    | There was an interim period before yet another Northern Muslim general, Sani Abacha, seized power, and Abiola (after a year of dithering) was imprisoned. So this most un-Awolowo-like of politicians found the mantle of Awolowo placed around his shoulders and assumed the role of another Yoruba victim of Northern oppression &ndash; a role for which the Christian template of the &ldquo;suffering servant&rdquo; of his people was well suited. From having been a force to accentuate the Yoruba religious divide in the 1980s, in the 1990s Abiola became &ndash; virtually in spite of himself &mdash; a bridge across it. In some quarters this erstwhile advocate of Sharia even became seen as a kind of honorary Christian. While in Nigeria in 1994, I was once astounded to see a newspaper headline, &ldquo;MKO Born-Again?&rdquo; The wish was surely father to that thought. Yet the Born-Again rhetoric of breaking with the past and receiving fresh empowerment in the spirit aptly expressed the yearning of many Yoruba of both religions for a fresh political start. Conversely, this was a difficult time for Yoruba Muslims, since their loyalties could not be quite so undivided. Alhaji Arisekola Alao, the 
    em Are&#x323; Musulumi, 
    | was nearly lynched by students in 1995 on an ill-advised visit to the University of Ibadan campus, on account of his friendship with Abacha. Even so, in general Yoruba Muslims were as strongly committed to Yoruba interests and the democratic cause as Christians were. Kudirat, Abiola&rsquo;s senior wife, was assassinated at Abacha&rsquo;s behest, and his most persistent legal opponent, the radical lawyer Gani Fawehinmi, was a Muslim from Ondo. The issue of Abiola&rsquo;s imprisonment put a very severe strain on relations between Yoruba and Northern members of the Nigerian Supreme Council for Islamic Affairs.
    a#fnref457.footnoteRef(href='#fn457')
      sup 457 
  p
    | By the time that both Abiola and Abacha died in 1998, religious tension had subsided from the high levels of the 1980s, as Muslims and Christians again found common Yoruba ground in their opposition to &ldquo;the North&rdquo;. An ugly side of this was the anti-Hausa violence of the Oodua Peoples Congress, a vigilantist organization which emerged in the late 1990s, particularly active in and around Lagos.
    a#fnref458.footnoteRef(href='#fn458')
      sup 458 
    | The election of Olusegun Obasanjo in 1999 as President of Nigeria &ndash; the first Yoruba to hold the office that Awolowo had wanted so much &ndash; had a complicating effect on the religious alignments of Yoruba politics. Though a Christian himself, he had never stood close to the pro-Awolowo political mainstream, which was one thing that recommended him to the elders of the PDP, which stood roughly in the lineage of the Northern-led coalitions of earlier years. In fact, most Yoruba cordially detested Obasanjo,
    a#fnref459.footnoteRef(href='#fn459')
      sup 459 
    | and in the 1999 election showed their fidelity to the Awoist tradition by supporting the AD (later AC), though this support was later eroded by the PDP&rsquo;s exercise of power. Significantly the PDP first broke through in Oyo State, the mainly-Muslim heartland of earlier resistance to the Yoruba political mainstream, from Adelabu to the NPN, whose exemplary figure was Ibadan&rsquo;s notorious political &ldquo;godfather&rdquo;, Alhaji Lamidi Adedibu.
    a#fnref460.footnoteRef(href='#fn460')
      sup 460 
    | But this did not last: after 2011, in disgust at PDP misgovernment (and, more than that, in growing disaffection from the Nigerian national project), the five Yoruba States of the south-west returned to Awoist parties. The key element here was Lagos State, which alone had rejected the PDP massively and consistently since 1999. The ironical outcome here was that a political tradition which at its outset in the 1950s had been so largely dominated by Christians now had as its main standard-bearers the Muslim politicians who for decades had controlled Lagos.
    a#fnref461.footnoteRef(href='#fn461')
      sup 461 
  p
    | The master theme of this chapter has been the evolving patterns of Yoruba community over the past century. Community, we might say, emerges from the continuous interplay between two spheres of human action: an external or &ldquo;political&rdquo; sphere, concerned with defending (and defining) the community against other entities of like kind; and an internal or &ldquo;social&rdquo; sphere, constituted by the associational activity of community members in pursuit of their various life-goals. The original and primary focus of Yoruba community, the 
    em ilu 
    | (city-state or &ldquo;town&rdquo;), has been subjected to two distinct, but connected, forces of change. As a result of incorporation into the Nigerian state, it has been extended outwards to higher-order levels of community, to the Yoruba as an ethnic group and to Nigeria as a nation. But what has concerned us more here is how the 
    em ilu 
    | has had to accommodate the new identities brought by the world religions, each intent on enlarging its constituency and realizing its own conceptions of community. The Yoruba have succeeded remarkably in domesticating them, to the extent that they are well suffused with Yoruba criteria of value, such as religious tolerance and the expectation that they deliver this-world benefits, whether for individuals or the community. Yet Yoruba community, as configured by religion, is always historically provisional, never finally realized. At present, its political and its socio-cultural aspects stand in a state of potential tension. On the one hand, as the foregoing narrative has suggested, Yoruba Muslims seem at last incorporated in a common political project with their Christian compatriots. On the other, currents within the religious sphere, principally but not exclusively on the Muslim side, are working to differentiate culturally Muslims and Christians more sharply than in the past. This is the theme of the next chapter. 