section#chap-3.chapter(data-type='chapter')
  p.ch-start beginning
  .folio
  hgroup
    .dup Ogun In Pre-colonial Yorubaland
    h1.ct
      | Ogun In Pre-colonial Yorubaland: A Comparative Analysis
      a#fnref145.footnoteRef(href='#fn145')
        sup 145 
  p
    | Clerical intellectuals like Samuel Johnson prided themselves on being the constructors of a more unified concept of Yoruba society and culture, including something that they called &quot;Yoruba heathenism&quot;.
    a#fnref146.footnoteRef(href='#fn146')
      sup 146 
    | Yet they were well aware of the variety that stood on the way of this task, since their very activity as evangelists introduced them to religious practices in dozens of communities across a large swathe of Yorubaland and their detailed reports necessarily document it. In this Chapter my aim is to use this evidence in a deconstructionist spirit, suggesting that the sheer extent of regional diversity in Yoruba religion practice calls into question whether we should be speaking of &ldquo;Yoruba religion&rdquo; as a single entity at all. We have to deconstruct Yoruba religion if we are to see it as an entity with a history, rather than (as most of the literature presents it) as a pantheon of deities with unchanging, even eternal attributes, as first manifest in the archetypal setting of primordial Ile-Ife. 
  p
    | Ogun, the Yoruba god of iron and war, makes an excellent subject for this purpose since his cult is spread all over Yorubaland, placing him clearly in the quite small number of truly pan-Yoruba 
    em oris&#x323;a 
    | . In this task, comparison will play a key role, in two dimensions: between the manifestation of Ogun in different areas/locations, and between the functional attributes of Ogun and other 
    em oris&#x323;a 
    | . What will emerge is a view of &ldquo;Yoruba traditional religion&rdquo; as less a single pantheon of deities with fixed attributes in relation to one another, spread evenly across the whole country, than a spectrum of varying cult-complexes, each one the product of a unique set of local and historical circumstances.
  h3 Evidence from the CMS Journals
  p
    | The great bulk of the evidence will be drawn from the journals and reports of missionary agents&mdash;in the great majority, Yoruba ones&mdash;of the Church Mis&shy;sionary Society, active since 1845, which is the richest contem&shy;porary source for almost any aspect of Yoruba life These men were hardly disinterested observers of what they considered to be &quot;idolatry,&quot; and only rarely can their observations be called &quot;ethnographic,&quot; in the sense of attempting to portray &quot;heathen&quot; re&shy;ligious practices in some detail as being significant in their own right. There is, for example, little detailed description of the rituals of 
    em oris&#x323;a 
    | worship, or record of myths or prayers. What we have is hundreds of mostly brief references to the 
    em oris&#x323;a 
    | and their devotees, as they came to the attention of CMS agents as they went about their pastoral and evangelistic duties. These fall into several main categories: observations of 
    em oris&#x323;a 
    | worship by individuals encountered in streets or houses; references to public festivals, sacrifices, or oracular consul&shy;tations; conversations and arguments with devotees or priests about their 
    em oris&#x323;a 
    | or about 
    em oris&#x323;a 
    | worship in general; itemizations of which &quot;idols&quot; have been given up by new converts; and, very occasionally, general characterizations of particular 
    em orisa 
    | or of the cults of a particular community. In contrast to much of the large existing literature on 
    em oris&#x323;a, 
    | which is strong on general character&shy;izations of the 
    em orisa, 
    | drawn from oral sources such as myths, Ifa divination literature and other kinds of religious poetry, and on analyses of their rituals, particularly the great annual festivals, as observed in the present, the CMS data focus our attention on the more prosaic, day-to-day character of 
    em oris&#x323;a 
    | worship. Where modern studies of &quot;traditional reli&shy;gion&quot; commonly present it as detached from the main preoccupations of daily life, the CMS journal writers, even if their accounts do not often penetrate very deeply, cannot but forcefully convey the omnipresence of the 
    em oris&#x323;a 
    | in the lives of ordinary Yoruba in the Nineteenth Century. Their evidence, taken as a whole, tells us a great deal about both the settings and the occasions when Yoruba people entered into relations with the 
    em oris&#x323;a. 
  p
    | So this body of source material has weaknesses, of which we must be aware, as well as strengths, which we should try to exploit. The most significant strength is the sheer number of references to 
    em oris&#x323;a 
    | cults&mdash;in my reading of the entire archive, I have noted 778 of them, and have doubtless missed some&mdash;made under broadly similar assumptions over a large swath of Yorubaland. This makes possible systematic comparison, between different towns and regions in terms of their cult profiles, and between the manifestations of particular 
    em oris&#x323;a 
    | in different places. Through comparison, and particularly through the use of appropriate contrast cases (e.g., Sango vs. Ogun, Ogun in eastern vs. in western Yorubaland), we can make much more out of what are often rather passing observations. And just as a determined historicism is the best antidote to the tendency to essentialize Yoruba religion across time, so is regional comparison to the too easy assumption of pan-Yoruba uniformity. It is not that pronounced continuities do not exist in Yoruba religion, across both time and space, but that they need to be seen as existing in the face of historical vicissitudes and variable local circumstances.
  p
    | Table I presents references to the main 
    em oris&#x323;a 
    | in the journals and letters of CMS agents organized according to five distinct regions, each of which has its own cultural character. Because of the uncertainties attaching to the figures, they are better used comparatively with one another &mdash; because the effects of the uncertainties will then tend to cancel one another out &mdash; rather than treated individually as indicators of an objective state of affairs. Moreover, because they are biased by where the CMS was active, as well as by the number of mission agents and the length of time they served &mdash; nearly a third of the ref&shy;erences relate to Abeokuta, and just over half to the southwestern corner of Yorubaland, while Ijebu and large parts of the farther north and east are missing &mdash; cross-regional comparisons need to be made on the basis of the pro&shy;portion of references that each 
    em oris&#x323;a 
    | receives in a particular region. Thus we can compare the 4% of references to 
    em oris&#x323;a 
    | which Ogun receives in Abeo&shy;kuta with Obatala&apos;s 12% in the same town or the 14% which Ogun reaches in the East. The table needs to be read down (comparison within a region) before it is read across (comparison between regions).
  p
    | Of course, these kinds of data present certain problems in their use. Most important, the aggregate references to 
    em oris&#x323;a 
    | in the CMS agents&apos; reports can be at best only an approximate measure of their actual significance in the lives of communities, since strictly speaking they do not record the real frequency of cult observance among the Yoruba, but rather what struck missionary ob&shy;servers most frequently as worthy of report. Religious prejudice, as such, seems less of a problem than less obvious forms of bias, such as a tendency to give more space to what caught the eye or to neglect those aspects of religion which were private or implicit in other activities. Doubts about arguments that proceed largely from silences or thinnesses in the sources are well recognized in principle in historical meth&shy;odology, but are less easy to quell in practice. I simply say that I am very aware of them, and will address them as they become pertinent at particular points in the argument. 
  figure
    h2.tabletitle Table I. Oris&#x323;a reported in CMS Journals, 1845-1912
    table
      thead
        tr
          th
            p
              em Orisa 
          th(colspan='2')
            p Abeokuta
          th(colspan='2')
            p Costal Southwest
          th(colspan='2')
            p Ibadan
          th(colspan='2')
            p Other Oyo
          th(colspan='2')
            p East
          th(colspan='1')
            p Total
        tr
          th
            p
          th
            p n
          th
            p %
          th
            p n
          th
            p %
          th
            p n
          th
            p %
          th
            p n
          th
            p %
          th
            p n
          th
            p %
          th
            p n
      tbody
        tr
          td
            p Ogun
          td
            p 11
          td
            p 4
          td
            p 6
          td
            p 4
          td
            p 10
          td
            p 7
          td
            p 5
          td
            p 6
          td
            p 21
          td
            p 14
          td
            p 53
        tr.even
          td
            p Sango
          td
            p 41
          td
            p 16
          td
            p 23
          td
            p 16
          td
            p 41
          td
            p 27
          td
            p 29
          td
            p 38
          td
            p 12
          td
            p 8
          td
            p 146
        tr.odd
          td
            p Oya
          td
            p 3
          td
            p 1
          td
            p 1
          td
            p 1
          td
            p 9
          td
            p 6
          td
            p 7
          td
            p 9
          td
            p 1
          td
            p 1
          td
            p 21
        tr.even
          td
            p Orisa Oko
          td
            p 14
          td
            p 6
          td
            p 1
          td
            p 1
          td
            p 12
          td
            p 8
          td
            p 5
          td
            p 6
          td
            p 0
          td
            p -
          td
            p 32
        tr.odd
          td
            p Obatala
          td
            p 30
          td
            p 12
          td
            p 4
          td
            p 3
          td
            p 11
          td
            p 7
          td
            p 2
          td
            p 3
          td
            p 8
          td
            p 5
          td
            p 55
        tr.even
          td
            p
              | Other white 
              em orisa 
          td
            p 13
          td
            p 5
          td
            p 8
          td
            p 6
          td
            p 4
          td
            p 3
          td
            p 3
          td
            p 3
          td
            p 1
          td
            p 1
          td
            p 29
        tr.odd
          td
            p Ifa
          td
            p 40
          td
            p 16
          td
            p 31
          td
            p 22
          td
            p 25
          td
            p 17
          td
            p 15
          td
            p 19
          td
            p 29
          td
            p 19
          td
            p 140
        tr.even
          td
            p Esu/Elegbara
          td
            p 19
          td
            p 8
          td
            p 14
          td
            p 10
          td
            p 9
          td
            p 6
          td
            p 2
          td
            p 3
          td
            p 27
          td
            p 17
          td
            p 71
        tr.odd
          td
            p Osun
          td
            p 15
          td
            p 6
          td
            p 6
          td
            p 4
          td
            p 8
          td
            p 5
          td
            p 0
          td
            p -
          td
            p 13
          td
            p 8
          td
            p 42
        tr.even
          td
            p Yemoja
          td
            p 12
          td
            p 5
          td
            p 6
          td
            p 4
          td
            p 1
          td
            p 1
          td
            p 1
          td
            p 1
          td
            p 0
          td
            p -
          td
            p 20
        tr.odd
          td
            p
              | Other water 
              em orisa 
          td
            p 5
          td
            p 2
          td
            p 5
          td
            p 3
          td
            p 2
          td
            p 1
          td
            p 1
          td
            p 1
          td
            p 4
          td
            p 3
          td
            p 17
        tr.even
          td
            p Osanyin
          td
            p 3
          td
            p 1
          td
            p 8
          td
            p 6
          td
            p 1
          td
            p 1
          td
            p 0
          td
            p -
          td
            p 1
          td
            p 1
          td
            p 13
        tr.odd
          td
            p Sopona
          td
            p 9
          td
            p 4
          td
            p 3
          td
            p 2
          td
            p 2
          td
            p 1
          td
            p 0
          td
            p -
          td
            p 6
          td
            p 4
          td
            p 20
        tr.even
          td
            p Buruku
          td
            p 6
          td
            p 2
          td
            p 1
          td
            p 1
          td
            p 2
          td
            p 1
          td
            p 0
          td
            p -
          td
            p 0
          td
            p -
          td
            p 9
        tr.odd
          td
            p Ori
          td
            p 6
          td
            p 2
          td
            p 4
          td
            p 3
          td
            p 3
          td
            p 2
          td
            p 3
          td
            p 4
          td
            p 0
          td
            p -
          td
            p 16
        tr.even
          td
            p Ibeji
          td
            p 5
          td
            p 2
          td
            p 3
          td
            p 2
          td
            p 2
          td
            p 1
          td
            p 0
          td
            p -
          td
            p 0
          td
            p -
          td
            p 10
        tr.odd
          td
            p Other
          td
            p 21
          td
            p 8
          td
            p 20
          td
            p 14
          td
            p 8
          td
            p 5
          td
            p 4
          td
            p 5
          td
            p 31
          td
            p 20
          td
            p 84
        tr.even
          td
            p
              strong Total 
          td
            p
              strong 253 
          td
            p
              strong 100 
          td
            p
              strong 144 
          td
            p
              strong 102 
          td
            p
              strong 150 
          td
            p
              strong 99 
          td
            p
              strong 77 
          td
            p
              strong 98 
          td
            p
              strong 154 
          td
            p
              strong 101 
          td
            p
              strong 778 
    p.table-caption
      em Note: 
      | Abeokuta includes all Egba and Egbado towns and villages, but more than 90% of references relate to Abeokuta itself. Coastal Southwest means Lagos, Badagry and vicinity, Awori towns (Ota, Igbesa, Ado Odo). Ibadan is just Ibadan and its farm villages. Other Oyo means (in order of importance) Ijaye, Iseyin, New Oyo, Oke Ogun settlements, Ogbomosho, and observations made on journeys through the Oyo towns to the east of Ibadan. East means (in order of importance) Ondo, settlements on the Eastern Lagoon (Leki, Itebu, Ikale), Ilesha and a small part of western Ekiti.
  h3 Two Questions about Ogun
  p
    | So what do the figures tell of Ogun? To begin with, they clearly confirm what is often remarked on in the literature, that the cult of Ogun is especially strong in eastern Yorubaland. From the eastern Lagoon up through Ondo to Ilesha and the edges of Ekiti, Ogun accounts for 14% of 
    em oris&#x323;a 
    | reported, third after Ifa (19%) and Esu (17%). Ogun&apos;s important cult center at Ire
    a#fnref147.footnoteRef(href='#fn147')
      sup 147 
    | is unfortunately unreported &mdash; most of Ekiti was not visited by evangelists until the Twentieth Century &ndash; and so is the famous Olojo festival of Ogun at Ife.
    a#fnref148.footnoteRef(href='#fn148')
      sup 148 
    | But Ogun&apos;s importance at Ondo and Ilesha is strongly attested. At Ondo, unlike Abeokuta or Ibadan, the annual festival of Ogun is referred to as a major event in the public life of the town.
    a#fnref149.footnoteRef(href='#fn149')
      sup 149 
    | Though references to Ilesha are relatively sparse compared with the rich documentation available for Ondo from 1875 onward, the CMS agent there wrote in June 1889 of &quot;the annual festivity of Ifa . . . which with Ogun, wh[ose] festivity is always kept about six [months] after this, make the two great idols worshipped in common by the whole town from the king to the poorest man.&quot;
    a#fnref150.footnoteRef(href='#fn150')
      sup 150 
    | Ifa and Ogun still structure the Ijesha year in this fashion, and the dominance of pre-colonial religion by these two 
    em oris&#x323;a 
    | is strongly confirmed by the responses to a question put to household heads in a sample survey that I conducted in Ilesha in 1974: Ifa and Ogun each made up 26% of all 
    em oris&#x323;a 
    | named as those worshipped traditionally in the household, followed by Osun at 8% and Orisa Onifon (the local equivalent of Obatala) at 7%.
    a#fnref151.footnoteRef(href='#fn151')
      sup 151 
    | It so happens that the agents who provide us with infor&shy;mation about the cults of these eastern Yoruba towns were themselves mostly Egba, and they clearly understood that the cult profiles of this area were signi&shy;ficantly different from what they knew at home in Abeokuta. So the first ques&shy;tion is: Why is Ogun more prominent in the religious systems of eastern Yorubaland?
  p
    | The second question concerns the nature of Ogun&apos;s presence in western Yoru&shy;baland. My initial reaction on collating the evidence of the CMS reports was one of surprise that in the whole southwestern area, Ogun accounted for only 4% of references, and was outstripped by Sango in the ratio 4:1, even though Sango was a deity associated with the Oyo enemies of the Egba.
    a#fnref152.footnoteRef(href='#fn152')
      sup 152 
    | In Abeokuta itself, Ogun also came behind such 
    em oris&#x323;a 
    | as Ifa, Obatala, Esu, Osun, Orisa Oko, and Yemoja. In Ibadan and the Oyo areas, Ogun came up somewhat more often, but at 7% still did not reach more than half the level reported for the east. This was the more surprising since Ogun appears to occur far more often as the main element in personal names than any other 
    em oris&#x323;a 
    | (with the possible exception of Ifa). Notable examples include Ogunbona and Ogundipe, the two 
    em balogun 
    | (war chiefs) who successively between the 1840s and the 1880s were the chief patrons and protectors of the CMS at Abeokuta; Ogunmola, the 
    em Bas&#x323;o&#x323;run 
    | of Ibadan; Ogunkoroju, the 
    em Balogun 
    | of Ijaye who gave quiet support to the mission there; and Ogunbiyi, the first Lagosian chief to become a Christian. The explanation I shall propose will be partly a matter of religious 
    em realities, 
    | that Ogun was part of a more complex cultic division of labor in the center and the west; and partly one of religious 
    em appearances, 
    | that Ogun was of a particularly immanent character, which reduced his saliency to the missionary gaze.
  h3 Ogun and Iron
  p
    | Ogun is most commonly glossed by the CMS journal writers as &quot;the god of iron and war,&quot; and the relations between these aspects have provided a primary focus for discussing Ogun&apos;s place in the cultural and political devel&shy;opment of forest-belt West Africa. Ogun appears as &quot;god of iron&quot; in a more direct and unmediated sense than as &quot;god of war&quot;, since he is not merely 
    em &quot;of 
    | iron,&quot; in the sense of being the force or principle &quot;behind&quot; iron technology, but vir&shy;tually iron itself, worshipped as a personal force. The epithet &quot;god of iron&quot; sounds analogous to such expressions as &quot;god of brass&quot; or &quot;god of palm nut,&quot; applied to Osun and Ifa respectively, which missionaries sometimes used to make their point that the 
    em oris&#x323;a 
    | were 
    em merely 
    | &quot;idols&quot;: inanimate material objects or artifacts taken to represent imaginary beings. Ogun is sometimes described in this way as &quot;god of stone,&quot;
    a#fnref153.footnoteRef(href='#fn153')
      sup 153 
    | which refers to the blacksmith&apos;s anvil stone, taken as one of his symbols. But with iron, it seems less fitting to say that Ogun was represented by iron than that Ogun 
    em was 
    | iron. Perhaps this would explain why Ogun, despite the very personalized way in which he appears in myth, is never portrayed in carved human form, as such a representation could only be inferior to iron itself.
    a#fnref154.footnoteRef(href='#fn154')
      sup 154 
    | Such thoughts appear to have been in the mind of the Ibadan catechist James Barber when, in his report of a deep discussion with a 
    em babalawo 
    | , he first wrote &quot;Ogun (the god of iron, which is of hunting and war),&quot; and then crossed out the first &quot;of,&quot; so that it reads simply &quot;Ogun (the god iron)&quot;.
    a#fnref155.footnoteRef(href='#fn155')
      sup 155 
  p
    | This is consistent with the common practice of Ogun&apos;s cult as CMS evangelists observed it. At Erinla near Ondo, a man worships Ogun in the form of some iron implements with a piece of skin from an elephant&apos;s tail,
    a#fnref156.footnoteRef(href='#fn156')
      sup 156 
    | and at Leki on the eastern Lagoon, a pastor encounters six men in an enclosure next to a house worshipping Ogun as &quot;twelve guns arranged horizontally in a row, an animal having been sacrificed to worship them&quot;.
    a#fnref157.footnoteRef(href='#fn157')
      sup 157 
    | But what particularly un&shy;derscores how much Ogun is identified with iron is that clear instances of Ogun worship are often described without Ogun being named as such &mdash; some&shy;thing that happens with no other deity. A Lagos pastor sees a dead fowl hanging over the anvil, and bits of kola lying around, in a blacksmith&apos;s shop. Asked why he doesn&apos;t eat them instead, the blacksmith replies that he must be &quot;paying religious homage to his tools as such acts make him to be always lucky.&rdquo; 
    a#fnref158.footnoteRef(href='#fn158')
      sup 158 
    | The German missionary J. A. Maser gives a fuller account of a rather similar ritual at Abeokuta:
  blockquote
    p
      | Abroad in the town, he encounters a family group gathered in a blacksmith&apos;s shop for an oracular consultation. Seven &quot;country hammers,&quot; the blacksmith&apos;s tools, are set up erect, and he addresses each in turn, breaking kola as he does so. As the pieces fall, the answers are lucky or not. The sacrificial fowl is held up in front of the hammers. As Maser retires, not wanting to disturb the ceremony, the blacksmith calls him back to partake of the kola, which he declines.
  p
    | Maser does not say that the ritual here is addressed to Ogun, but this is confirmed when he calls back ten days later to find the blacksmith in the &quot;house of Ogun&quot; close by, &quot;making 
    em odun 
    | [festival]&quot; with his fellow worshippers.
    a#fnref159.footnoteRef(href='#fn159')
      sup 159 
    | Elsewhere, in the absence of the clinching presence of the blacksmith, iron objects of worship can be only presumptively attributed to Ogun, though I think the presumption must usually be very strong, as with the calabash with a plate, an old rusty sword, a mug, and half of a pair of scissors which made up the idol of a man at Palma,
    a#fnref160.footnoteRef(href='#fn160')
      sup 160 
    | or the &quot;new god of iron&quot; that Chief Olikosi of Ota set up in the center of his house.
    a#fnref161.footnoteRef(href='#fn161')
      sup 161 
    | A case that is less certain is a reference to people rescuing their &quot;gods of iron&quot; from their houses during a fire at Abeokuta, for the plural might indicate other deities, such as Orisa Oko or Osanyin, whose cult objects were also made of iron.
    a#fnref162.footnoteRef(href='#fn162')
      sup 162 
  p
    | The links between Ogun and iron appear more directly in connection with blacksmiths, who are engaged in the mysterious transformations of ore and metal, than with other occupational groups, such as hunters, warriors, and farmers, who merely use iron tools. Here there is a very marked and curious bias in the CMS references. Although Ogun was more widely worshipped (both by individuals and as the major deity of the community) in the east, nearly all the references to blacksmiths, whether or not they also refer to Ogun, occur in documents relating to central or western Yorubaland. This does not seem likely to have occurred randomly, and yet obviously there were many blacksmiths in the east, so it is a real puzzle that they are virtually missing from the detailed and continuous reportage that we have over more than thirty years from Ondo, for example. 
    a#fnref163.footnoteRef(href='#fn163')
      sup 163 
  p
    | The most likely immediate reason has to do with the public saliency of blacksmiths, which would affect the frequency of missionary allusion to them. In central and western Yoruba, blacksmiths&apos; shops are often mentioned in reports of public preaching about the town, for they were places where people liked to congregate, like markets, thus providing the evangelist with a ready-made audience. The processes of ironworking were also a rich source of useful metaphors. In one case the evangelist affects to accuse the blacksmith of cruelty for putting the iron in the fire and inflicting blows on it &mdash; &quot;iron being worshipped by the people as the god of iron,&quot; he adds &mdash; and goes on to ask them: &quot;To whom then . . . should we give thanks &mdash; He who makes the iron for our use or the iron which is made?&quot;
    a#fnref164.footnoteRef(href='#fn164')
      sup 164 
    | In another case, a catechist chances on workers separating the dross from the pure iron, and likens it to sin. &quot;As this iron was useless before you smelted it, so is our body,&quot; he tells them. &quot;We are to be purified before we are made fit for the kingdom of heaven and there is no furnace that would make us pure, but the blood of Christ which cleanseth from all sins.&quot;
    a#fnref165.footnoteRef(href='#fn165')
      sup 165 
  figure
    img#yorubaland(src='images/map_1.svg', alt='', class="map")
    figcaption Map 1: Yorubaland
  p
    | These two cases come from Ota and Ibadan, and apparently blacksmiths&apos; shops were not the same kind of public place as this in Ondo. Weavers&apos; sheds &mdash; again a venue suitable for the evangelist to make contacts
    a#fnref166.footnoteRef(href='#fn166')
      sup 166 
    | &mdash; present some&shy;thing of a parallel case, being present in Ibadan and Abeokuta, but absent in Ondo. Here there is an obvious reason: the East lacked the tradition of men&apos;s weaving that existed among the Oyo and Egba.
    a#fnref167.footnoteRef(href='#fn167')
      sup 167 
    | Though this does not help us directly, it still suggests that regional comparison may clarify things. For as well as the contrasts between eastern and central/western Yorubaland in the prominence of the Ogun cult and in the frequency of reference to blacksmiths in missionary reportage, there is a third: the scale of ironworking activity itself. As the Map shows, whereas the great civic festivals of Ogun are to be found in the East, especially in its forest regions, the centers of iron mining and smelting &mdash; the real seat of iron technology &mdash; are located in an arc running from the Awori country west of Lagos up into Egbado, to a large area of north-central Yorubaland between Ibadan, Iseyin, and Ogbomosho, possibly to Ilorin.
    a#fnref168.footnoteRef(href='#fn168')
      sup 168 
  p
    | That blacksmiths&apos; shops in the Center/West appear more prominently as public venues may be related to the practice here of a wider and more elaborate range of ironworking techniques, which included smelting. Though Eugenia Herbert in her comparative study of African ironworking has underscored the contrast between smelting and smithing, the correlations we have found for Yorubaland rather undermine her linkage of smithing with the public and smelting with the secret and isolated.
    a#fnref169.footnoteRef(href='#fn169')
      sup 169 
    | It was in the Yoruba East, which lacked a strong tradition of smelting, that blacksmiths appear to have worked inside their compounds, just as women did their weaving. Yet it was also here, where iron was most scarce because it was not locally produced, and was imported from the smelting areas of the West and North,
    a#fnref170.footnoteRef(href='#fn170')
      sup 170 
    | that Ogun was held in the greatest honor.
    a#fnref171.footnoteRef(href='#fn171')
      sup 171 
    | For iron must have been particularly crucial in enabling ag&shy;riculture and human settlement to take place in the formidable environment of the southeastern forests. 
    em &quot;E&#x323;ni pe Ilaje l&apos;oko, ko ni irin ajo Ogun ye 
    | (&quot;Whoever calls Ilaje a farm will not have Ogun to clear his journey&apos;s path&quot;) goes an Ijesha proverb, referring to a small village which was once the kingdom&apos;s capital before the foundation of Ilesha.
    a#fnref172.footnoteRef(href='#fn172')
      sup 172 
    | What this proverb declares, like the festivals of Ogun in towns such as Ilesha and Ondo, is how much the overall viability of the community depends on the use of iron. The festivals do this most em&shy;phatically through the parades of the male citizenry through the town, mar&shy;shaled by their 
    em e&#x323;gbe&#x323; 
    | or quarter-based bands of militia under their 
    em e&#x323;le&#x323;gbe&#x323; 
    | chiefs, which are such a prominent feature of their title-systems.
    a#fnref173.footnoteRef(href='#fn173')
      sup 173 
    | This tendency to associate Ogun with the generality of the townsfolk, rather than just with those whose work brings them into close contact with iron, is perhaps the keynote of the cult of Ogun in eastern Yorubaland. 
  h3 Ogun as Snake: A Lost Cult?
  p
    | Nothing that has been said so far &mdash; whether about the individual devotions of blacksmiths and others who worked with iron, or about the communal importance of Ogun in eastern Yorubaland &mdash; challenges the notion, widespread in the literature, that (as Abraham&apos;s 
    em Dictionary 
    | puts it) &quot;Ogun is worshipped only by men, not by women.&quot; This might seem to make symbolic sense for a deity &quot;of iron and war,&quot; yet it is not true. Pierre Verger has given a detailed account of women&apos;s participation as &quot; 
    em &quot;femmes dedie&#x301;es a&#x300; l&apos;Oris&#x323;a et qui chantent pour lui,&quot; 
    | in a festival of Ogun Igbo in the Nago villages of Ilodo and Isede, and Margaret Drewal has described women possessed by Ogun not far away at Igbogila in Egbado.
    a#fnref174.footnoteRef(href='#fn174')
      sup 174 
    | For a more prosaic instance of female devotion to Ogun, there was the female butcher noted by E. M. Lijadu faraway at Ondo in 1892.
    a#fnref175.footnoteRef(href='#fn175')
      sup 175 
    | As she went into her stall in the market, she gathered up her iron implements, split kola and threw the pieces several times over them, and offered some &quot;incantations.&quot; To Lijadu&apos;s question, she said she was &quot;consulting Aje the goddess of money through Ogun the god of iron [and that] Aje promises to send me many customers with much money to carry home after the market.&quot; This Ogun/Aje linkage is attested from elsewhere;
    a#fnref176.footnoteRef(href='#fn176')
      sup 176 
    | and, as a woman&apos;s ritual directed at personal wealth, it may perhaps be seen as practically analogous to the cult of Ori, which was popular among wealthy women in central and south-western Yorubaland but apparently absent from the East.
    a#fnref177.footnoteRef(href='#fn177')
      sup 177 
    | As described here by Lijadu, such elements of the ritual as breaking kola over iron tools seem identical to those practiced by male workers with iron. 
  p
    | But the main way in which Ogun appears in the CMS journals as an object of women&apos;s worship is quite different: not as iron but as a snake. It was not exclusively a women&apos;s cult, though women were most active in it (as, indeed, in most forms of 
    em oris&#x323;a 
    | worship). The most dramatic account of the cult of Ogun-as-snake comes from Ijaye in 1855:
  blockquote
    p
      | It was the annual Ifa festival of the Are Kurunmi, despotic ruler of the town, and large crowds had gathered before the gate of his compound. Most of them were said to be &quot;worshippers of the orisa called Ogun or snake,&quot; for Kurunmi&apos;s late mother had been one of its principal devotees, and this was in remembrance of her. Lots of snakes of different sizes from different parts of the town were brought to &quot;play&quot; with Kurunmi, but he wouldn&apos;t allow them inside his house since (says the African catechist Charles Phillips) he was afraid of them. So they were displayed on a platform set up in front of it. The worshippers took them up and carried them in their arms: mild unless irritated, some were up to six feet long and as thick as a man&apos;s thigh. The people looked upon them with curiosity and praise. 
      a#fnref178.footnoteRef(href='#fn178')
        sup 178 
  p
    | Kurunmi&apos;s own premier 
    em oris&#x323;a 
    | was Sango, and a rather similar (though reversed) family linkage of Sango and Ogun came up during a pastoral visit at Ota in 1855: a female devotee of Sango has a child dedicated to Ogun, whose snake is kept in a calabash where it is fed with rats.
    a#fnref179.footnoteRef(href='#fn179')
      sup 179 
  p
    | The cult was most publicly manifest when its members went about the town with their Ogun-snakes, offering blessings in the god&apos;s name, and receiv&shy;ing gifts (in essence, sacrifices) of cowries in return.
    a#fnref180.footnoteRef(href='#fn180')
      sup 180 
    | An African pastor in Abeoku&shy;ta in 1852 met two women, &quot;one of whom had a large snake curled round her neck, while the other as a crier went before singing and extolling Ogun the god of blacksmith [
    em sic 
    | ]
    em . 
    | &rdquo;
    a#fnref181.footnoteRef(href='#fn181')
      sup 181 
    | Many years later another pastor, on the road to the Ibadan camp at Ikirun, met a &quot;snake charmer&quot; who had once even attended church at Ibadan with a Christian friend, and reproached him for &quot;directing [people] to worship Ogun through the snake to earn his livelihood.&quot;
    a#fnref182.footnoteRef(href='#fn182')
      sup 182 
    | Back in Ibadan, a catechist told a woman sitting by the roadside with her snake and getting a few cowries from passers-by that Ogun was not the true God to worship.
    a#fnref183.footnoteRef(href='#fn183')
      sup 183 
    | A traveling Methodist missionary was visited by a female &quot;snake charmer&quot; at Oyo in the early 1890s.
    a#fnref184.footnoteRef(href='#fn184')
      sup 184 
    | Our last glimpse of the cult is again in lbadan, when a European woman missionary encounters &quot;sitting by the roadside an old woman, an Ogun worshipper with a huge snake coiled round the body, and she asking alms of the people.&quot;
    a#fnref185.footnoteRef(href='#fn185')
      sup 185 
  p
    | This form of the cult of Ogun has gone almost unremarked in the sec&shy;ondary literature, save for the briefest passing reference in Talbot&apos;s 
    em Peoples of Southern Nigeria 
    | (1926) to &quot;snake charmers, &quot;who adore [Ogun] in the guise of a smallish snake called Mana-mana.&quot;
    a#fnref186.footnoteRef(href='#fn186')
      sup 186 
    | This does not sound as if it derives from any very close acquaintance with the cult, since 
    em mo&#x323;na-mo&#x323;na 
    | means &ldquo;python,&quot; which better fits the descriptions of the sometimes large snakes which occur in eyewitness reports from the Nineteenth Century. Evidently erased from the memory of Abraham&apos;s educated informants in Ibadan in the early 1950s (along with the memory that women also worshipped Ogun), it seems likely that it died out rather rapidly in the early twentieth century. The old woman whom Mrs. Fry met with her snake near Kudeti Church in 1911 must have been one of a dwindling band. It looks likely that it died out sooner among the Egba than among the Oyo Yoruba: the sole Abeokuta reference is from the 1850s, whereas those for the Oyo areas continue into the 1880s and later. This seems supported by the confused reference to the cult in the Reverend T. Harding&apos;s summary account of Egba religion in 1888: he emphasizes the im&shy;portance of Ogun in a listing of 
    em oris&#x323;a 
    | which goes on to mention Orisa Oko and Yemoja, and right at the end notes that worship is also given &quot;to a snake called Manumanu.&quot;
    a#fnref187.footnoteRef(href='#fn187')
      sup 187 
    | Harding&apos;s failure to link &quot;Manumanu&quot; explicitly with Ogun, if it is not due to misunderstanding or ignorance, suggests that this form of Ogun&apos;s cult was by then rare if not extinct at Abeokuta.
  p
    | It is not easy, in the absence of evidence of other kinds from outside the CMS papers, to explain why Ogun&apos;s cult should take this form. But one final negative clue gives us a little help. There is only one reference to Ogun-as-snake from outside the central and western areas, but it is an exception which seems to prove the rule that this cult was exotic to the east:
  blockquote
    p
      | At Ondo in 1878 a man and a woman were seen to have brought from Ile-Ife several snakes which they publicly exhibited &quot;as the god Ogun, blessing the people in its name . . . [and getting] large amounts of cowries in return.&quot; But next day one of the quarter chiefs took against them when they started their display in his street, and threatened to cut the snakes to pieces. This triggered a popular clamor against them, and the Lisa [Ondo&apos;s most powerful chief of the day] advised them to get out of town. 
      a#fnref188.footnoteRef(href='#fn188')
        sup 188 
  p
    | Since the site of Ile-Ife was all but deserted at this time, it seems quite likely that these two religious entrepreneurs were not themselves Ifes but Oyos from the adjacent settlement of Modakeke, where the cult must have been as prevalent as it was in Ibadan or Ijaye. However that may be, the Ondos clearly took it greatly amiss that strangers should come and present one of their most im&shy;portant deities in such an outlandish form.
  p
    | So we need to seek an explanation in terms that apply specifically to the situation in central and western Yorubaland. Dahomey might seem a possible source, since it had two notable snake deities. There was the  
    em vodun 
    | Dangbe, represented by a large python at its major cult center at Whydah, and also worshipped along the Lagoon eastward as far as Badagry;
    a#fnref189.footnoteRef(href='#fn189')
      sup 189 
    | and there was also the rainbow serpent Dan, otherwise known as Aido-Hwedo or (by the Yoruba) Osumare, whose origins were traced to the Mahi country north of Abomey.
    a#fnref190.footnoteRef(href='#fn190')
      sup 190 
    | But neither of these seems to have any affinity with Ogun (or with Gu, his Dahomean form). In any case, an explanation of a cult in terms of external origins is less helpful than one which deals with its intrinsic meaning.
  p
    | Unfortunately, the lack of external evidence to supplement the thin accounts in the CMS journals prevents more than the most hesitant speculation. Snake symbolism in general can carry a number of different connotations, but one of the most widespread is of earth-rooted or chthonic power, and this would fit with the technologies of iron 
    em production, 
    | mining, and smelting, long practiced in central and western Yorubaland. Ogun-as-snake evidently had its heartland in the Oyo towns where Ogun, while not attaining the degree of civic recognition that it got in the iron-hungry East, was nevertheless an ancient cult, probably more so than Sango.
    a#fnref191.footnoteRef(href='#fn191')
      sup 191 
    | It was at Oyo in the 1950s that Peter Morton-Williams came across the 
    em oris&#x323;a 
    | Alajogun, a refraction of Ogun known as the deity of fighting.
    a#fnref192.footnoteRef(href='#fn192')
      sup 192 
    | Alajogun, unlike Ogun himself, 
    em was 
    | represented in human form, and in one instance was accompanied by his wife Oke Ijemori, she standing with a snake around her neck (for she was said to play with them). Their children were hills 
    em (oke), 
    | and one wonders if iron-bearing hills were particularly intended. For what more appropriate as a symbol of this great power drawn from the earth than 
    em mo&#x323;na-mo&#x323;na, 
    | the python?
  h3 Ogun and Orisa Oko
  p
    | The prominence of any one of Ogun&apos;s potential meanings or functions in a particular place depends partly on local circumstances (such as the mining and smelting operations of the Center/West, or the acute iron hunger of the East), but it is also affected by what other deities are present in any local complex of cults. By &quot;local cult complex&quot; I mean the ensemble of cults found in a particular place, which is likely to include both several 
    em orisa 
    | found more widely and others of more local currency, perhaps even locally unique. These complexes are the practical, concrete reality of Yoruba religion, rather than the pan-Yoruba pan&shy;theons &mdash; models or idealizations which give each 
    em oris&#x323;a 
    | a particular character, temporally and spatially standardized, and set them in a system of complementary relations with one another &mdash; which dominate the literature. 
    a#fnref193.footnoteRef(href='#fn193')
      sup 193 
  p
    | What is generally held to be distinctive of an 
    em oris&#x323;a 
    | is also qualified by the fact that all 
    em oris&#x323;a 
    | are required by their devotees to provide much the same range of general benefits: protection, health, guidance, children, wealth, etc. This means that female 
    em oris&#x323;a 
    | (such as the gentle and fecund river goddesses Osun and Yemoja) sometimes take on &quot;male&quot; qualities like fierceness, while 
    em oris&#x323;a 
    | with predominantly male functions (such as Ogun or Sango) can also reward their female devotees with fertility.
    a#fnref194.footnoteRef(href='#fn194')
      sup 194 
    | The mobility of 
    em oris&#x323;a, 
    | whether as a consequence of the migration of their ordinary adherents or through the promotional zeal of their priests, also promotes shifts in the character of 
    em oris&#x323;a. 
    | An incoming 
    em oris&#x323;a 
    | may find its special niche (as the deity of the new yam, or smallpox, or hunting) already occupied, or it may seek to carve out a new niche for itself. Even the thunder god Sango, who seems the most essentially male of deities, can come to be represented as female where he is a latecomer to a community that already has a male thunder deity.
    a#fnref195.footnoteRef(href='#fn195')
      sup 195 
    | The unending push and pull between the homogenization and the differentiation of cults that takes place in the Yoruba religious marketplace means that no single cult can be considered in isolation.
  p
    | As the &quot;god of the farm,&quot; whose main cult emblem was an iron stave made from hoe blades, Orisa Oko overlaps with Ogun in respect of the application of iron technology to agriculture. Though variously described as male or female, Orisa Oko is most commonly represented in myth as a hunter who turned to farming. His/her main cult center was at Irawo, a small town in the far northwest of Yorubaland, where there was an important shrine for the settlement of witchcraft accusations. According to the Revd. Thomas King, an Egba, Orisa Oko was the most esteemed and prominent deity worshipped by women at Abeokuta, and was handed down in families, where its first acqui&shy;sition &quot;was always originate[d] from the accusation of witchcraft and sorcery.&quot; 
    a#fnref196.footnoteRef(href='#fn196')
      sup 196 
    | Initiation was expensive, but membership carried social privileges: devotees (recognized by red and white marks on the forehead) could not be seized for debt, might cross war-lines, and were exempt from tolls.
    a#fnref197.footnoteRef(href='#fn197')
      sup 197 
    | The interdict against their coming into contact with corpses suggests the relevance of the same complex of ideas about pollution and death that pertain to the cleansing role of the blacksmith&apos;s forge. A striking case of functional overlap at Abeokuta between Orisa Oko and Ogun was evident when, in order to promote cotton as a cash crop, the CMS introduced a &ldquo;roller gin&rdquo; to clean the raw cotton. Its erection and operation aroused great interest among the Egba, some reckoning it to be &quot;a sort of mysteriously acting fieldpiece ... for the use of the Egbas against their enemies,&quot; while others, contemplating it in silence, took it to be a manifestation of Orisa Oko.
    a#fnref198.footnoteRef(href='#fn198')
      sup 198 
    | In view of Ogun&apos;s celebrated adaptation to modern technology, it is noteworthy that in this instance from the mid-1850s it was Orisa Oko who took that part, as &quot;a god represented by iron,&quot; explains our witness.
  p
    | In the CMS reports from Ibadan, Orisa Oko figures rather differently. There is less emphasis on the elite status of Orisa Oko&apos;s devotees, and more on the communal importance of the cult. Because Abeokuta was founded as an amalga&shy;mation of many small towns, which each kept their cultic peculiarities, there was virtually no cult that embraced the whole town save that of Oro, the collective ancestors.
    a#fnref199.footnoteRef(href='#fn199')
      sup 199 
    | Ibadan&apos;s population was even more heterogeneous in its origins, but its early settlers were so scrambled that town-wide festivals could coalesce more readily. The Egba pastor of Ibadan, Daniel Olubi, considered that, because &quot;the whole town&quot; was involved in them, the three principal deities of Ibadan were Orisa Oko, in whose honor &quot;every gate and street are full of soup and pounded yams,&quot; along with Ogiyan (one of the &quot;white deities,&quot; related to Obatala) and Oke&apos;badan (&quot;Ibadan Hill,&quot; the 
    em genius loci 
    |).
    a#fnref200.footnoteRef(href='#fn200')
      sup 200 
    | Orisa Oko&apos;s importance, shown by his association with the New Yam festivities, rested on the Ibadan people&apos;s recognition of his key role in the annual reproduction of their community. When the second rains of 1883, much needed and expected, arrived in a nightlong downpour in mid-August, a pastor overheard many people in the street the next day attribute them to Orisa Oko, whose feast was due at the next new moon. 
    a#fnref201.footnoteRef(href='#fn201')
      sup 201 
  p
    | All this seems to be just what we would expect for the chief agricultural deity; and insofar as Ogun could also have agricultural functions, we can con&shy;sider Orisa Oko to have taken some of the semantic space in the West that Ogun occupied in the East. The exact converse has been noted by J. R. O. Ojo in a western Ekiti town where Orisa Oko had been introduced from an Oyo source: finding Ogun already clearly associated with farming, Orisa Oko had to assume a much more general role, as healer and protector against witchcraft, etc.
    a#fnref202.footnoteRef(href='#fn202')
      sup 202 
    | Another illuminating case is provided by Ila-Orangun, the main Igbomina town, which stands on the border between the East (where Ogun is the major civic deity) and the Center/West (where Sango and Orisa Oko have a strong presence). Here, according to John Pemberton&apos;s careful analysis, Ogun stands in a complementary relationship to Orisa Oko as hunter to farmer, the two aspects of subsistence provision.
    a#fnref203.footnoteRef(href='#fn203')
      sup 203 
    | But the ceremonial placing of the New Yam ritual was not simply a matter of anchoring it to the festival of the main agricultural deity. While it 
    em was 
    | very widely attached to Orisa Oko in the Centre/West and to Ogun in the East, other 
    em oris&#x323;a 
    | figured too: most commonly Obalufon, but also Oro at Iseyin, Ifa at Ilesha, Oramfe at Ondo, and even Sango at Ijaye.
    a#fnref204.footnoteRef(href='#fn204')
      sup 204 
    | Its linkage with a particular 
    em orisa 
    | seems to have been governed by local and practical considerations as much as by what was symbolically most appropriate, though in the towns of the East (as well as some old towns in the Center/West, such as Iseyin and Ede) Ogun was always bound into a ceremonial sequence that linked him with collective and royal ancestors, and with the forces of annual renewal, of which eating the New Yam was a powerful symbol.
  h3 Ogun and Sango
  p
    | As a force to build empire, Ogun is challenged by Sango, the early 
    em Alafin 
    | of Oyo deified as the god of thunder. J. L. Matory has per&shy;suasively shown that Sango was much more than just the official cult of the Oyo regime: he was the very icon of the means and manner of the 
    em Alafin&apos;s 
    | rule, through his messengers (the 
    em ilari), 
    | the royal wives and Sango priests, who all stood symbolically as wives to the god-king as possessing husband.
    a#fnref205.footnoteRef(href='#fn205')
      sup 205 
    | Matory goes on to contrast Ogun with Sango, as a deity who was more effective as a pathfinder or culture hero than as a ruler, and whom myth represents as failing to sustain his marriage with Yemoja. This is fair enough for Oyo, but does not capture the manner in which Ogun&apos;s cult realized its communal importance, particularly among the eastern Yoruba. The central feature is that, despite his linkage with royal ancestors, Ogun&apos;s was typically a civic, rather than a royal, cult: a deity worshipped &quot;from the king to the poorest man,&quot; as M. J. Luke put it for Ilesha in 1889.
    a#fnref206.footnoteRef(href='#fn206')
      sup 206 
    | A clear sign of this is the occurrence during Ogun festivals &mdash; as at Ilesha and Ila &mdash; of mock battles between palace and town chiefs, ritual dramas which present the expression and resolution of conflicts between the king and the people as lying at the heart of the public life of the community. At Ilesha, it was chiefs particularly connected with Ogun/iron who mediated the tensions between the king and the people.
    a#fnref207.footnoteRef(href='#fn207')
      sup 207 
  p
    | In the 1820s the imperial order of Old Oyo gave way to seventy years of turbulence among its successor states and their neighbors, which Matory sees as an &quot;Age of Ogun&quot; following an &quot;Age of Sango.&quot; The newly dominant social forms of the period&mdash;the warlords 
    em (ologun) 
    | and their retainers or &quot;war boys&quot; 
    em (omo-ogun), 
    | their vast military households, their prominence in the title systems of new towns such as Ibadan, Abeokuta, and Ijaye &mdash; have been well described by historians.
    a#fnref208.footnoteRef(href='#fn208')
      sup 208 
    | Matory&apos;s is quite a Yoruba way of putting it, in terms of suc&shy;cessive &quot;ages&quot; 
    em (aiye) 
    | which each have their distinct character, and there is some evidence that contemporaries saw it this way too. A 
    em babalawo, 
    | in discussion with an African catechist in Ibadan in 1855, put down the wars to God&apos;s having sent Esu (disorder) and Ogun (war) &quot;to execute His vengeance on men upon the earth for their disobedience.&quot;
    a#fnref209.footnoteRef(href='#fn209')
      sup 209 
    | Two decades later, a rather similar diagnosis was made by another 
    em babalawo, 
    | also in Ibadan.
    a#fnref210.footnoteRef(href='#fn210')
      sup 210 
    | God had sent Ogun and Sopona (the god of smallpox) into the world to &quot;render unto everyone according to his deeds.&quot; &quot;Ogun is armed with 4000 short swords and he goes out daily on the earth to slay, for his meat is to drink the blood of the slain.&quot; The 
    em babalawo 
    | ended by referring to Sango, &quot;a very mighty god, and when he is about to go [into] the world, he is always cautioned by Ifa and Orisanla to deal gently with their own special worshippers.&quot; So both Ogun and Sango, like Esu and Sopona, are here seen as destructive deities, in contrast to the saving deities, Ifa and Orisanla (Obatala). But the overall message is less that Yoruba considered this as 
    em uniquely 
    | Ogun&apos;s age, than that they recognized Ogun as one of the major forces shaping it.
  p
    | For as far as levels of individual devotion go, there is no evidence that Sango was displaced by Ogun. On the contrary, by the CMS evidence, Sango appears alongside Ifa as the most popular deity of late-nineteenth-century Yorubaland, though less pan-Yoruba in the spread of his appeal than Ifa. Accounting for as many as 38% of all 
    em orisa 
    | referred to in Other Oyo towns and 27% in Ibadan &mdash; a difference explicable by Ibadan&apos;s significant population of non-Oyo origin &mdash; Sango attains 16% at Abeokuta, and still reaches 8%, equal to Osun, in the East, right outside his home territory. References to Ogun run at much lower levels, except for the East (where Ogun stands at 14%). Though these two sets of figures for Ogun and Sango are misleading as direct measures of their relative im&shy;portance, they do shed valuable light on the social character of the two cults. For I suggest that the number of reports of Sango expresses not merely his popularity, but also the sometimes spectacular appearance of his cult and the zeal with which he was promoted, both of which gave it a very high profile in nineteenth-century Yoruba towns. Sango&apos;s cult survived the collapse of the old imperial capital where it had been based, and thrived vigorously in the new world of the 
    em ologun. 
    | It made its way through the belief of its devotees in its protecting power, through the way that it both frightened people and offered them relief from their fears, and through sheer predation, in the form of the purification fines or fees, backed by the threat of violence, which it levied after a house had been struck by lightning. 
    a#fnref211.footnoteRef(href='#fn211')
      sup 211 
    | While priests of Ogun are never mentioned in the CMS reports
    a#fnref212.footnoteRef(href='#fn212')
      sup 212 
    | (except to the extent that a blacksmith might implicitly serve as one), priests of Sango are the next most frequently mentioned religious specialists after 
    em babalawo 
    | and Muslim 
    em alfa. 
    | The senior Sango priests at Ibadan were clearly formidable figures who had to be treated with circumspection by the ruling war chiefs of the town,
    a#fnref213.footnoteRef(href='#fn213')
      sup 213 
    | whereas the cult of Ogun does not appear as a distinct force in the politics of the town at all.
  p
    | The adaptability of the Sango cult shows up equally at whichever end of its range we view it. As an instrument of rule, its potency was most evident at Ijaye, which until 1862 was Ibadan&apos;s only rival as the military successor state to Oyo. Ijaye&rsquo;s ruler Kurunmi &mdash; functionally a &quot;man of Ogun,&quot; if ever there was one &mdash; took the headship of the Sango cult himself and made it a mainstay of his regime. But Ijaye was an Oyo town, whose people already held Sango in awe. More impressive in its way was the extent to which Sango started to make inroads into Ogun&apos;s heartland of the East, regions which war and trade had opened to Oyo influence as never before. At llesha by the late 1880s, the Sango cultists were wielding a new influence over the king,
    a#fnref214.footnoteRef(href='#fn214')
      sup 214 
    | and their confident public praises of their god excited some popular resent&shy;ment.
    a#fnref215.footnoteRef(href='#fn215')
      sup 215 
    | The reasons for these developments at Ilesha are obscure, but for Ondo we have a much fuller picture. In the late 1870s Ondo was afflicted by a run of smallpox epidemics. Though Sango was said in 1877 to be &quot;wor&shy;shipped here by only a few . . . [and] looked upon with some degree of contempt by the mass of the people,&quot; two years later he had &quot;many worshippers&quot; who conducted an impressive festival.
    a#fnref216.footnoteRef(href='#fn216')
      sup 216 
    | In 1879 and 1880 the chiefs gave large amounts to some newly arrived Sango cultists for sacrifices to expel the disease. The sheer chutzpah of the Sango people in promoting their god as the solution to the epidemic &mdash; something for which he was not previously known &mdash; can only be wondered at, especially when they called at the CMS compound afterwards to mock the Ondos for their gullibility.
    a#fnref217.footnoteRef(href='#fn217')
      sup 217 
  p
    | Ogun&apos;s relevance to the public sphere was realized differently from Sango&apos;s. In all areas of Yorubaland, the nexus of killing, pollution, purification and retributory justice was cardinal to it. Kurunmi, who avoided close contact with his mother&apos;s cult of Ogun-as-snake, is reported to have turned to Ogun on two occasions, which both involved the claim to righteous vengeance. An adulterous wife of his was killed and her organs were torn out &quot;in the front of his house before his Ogu, his god of iron&quot;; and an old woman was killed for an unspecified offense at his Ifa festival, again before his Ogun, who this time received his usual sacrifice of a dog.
    a#fnref218.footnoteRef(href='#fn218')
      sup 218 
    | At Ota the place for executing criminals was a little grove of trees near one of the town gates, known as Ojugun (&quot;the face of Ogun&quot;).
    a#fnref219.footnoteRef(href='#fn219')
      sup 219 
    | Ogun&apos;s role as the sanction of justice, which was most universally expressed in the practice of swearing on iron, is closely linked to his role in purifying the just shedder of blood. Here every blacksmith&apos;s shop was potentially a shrine: after the Egungun at Ibadan had executed the adulterous wife of a chief, the actual killer had to sleep in a blacksmith&apos;s shop for several nights, to be released from blood guilt.
    a#fnref220.footnoteRef(href='#fn220')
      sup 220 
    | Both sides at the Kiriji battlefield had shrines of Ogun to which heads of the slain were taken,
    a#fnref221.footnoteRef(href='#fn221')
      sup 221 
    | which sound similar in their general form to the hunters&apos; shrines of Ogun marked out by the cheekbones of elephants.
    a#fnref222.footnoteRef(href='#fn222')
      sup 222 
    | That of the Ekitiparapo was a grove in the middle of the camp where sacrifices were made, and there was also a smithy which could serve as a sanctuary like other blacksmiths&apos; shops.
    a#fnref223.footnoteRef(href='#fn223')
      sup 223 
    | Ogun, even in relation to the butchery of war, was far from being gratuitously bloodthirsty. He was not even always the deity who received human sacrifices: when the war staff 
    em (opagun) 
    | was propitiated at the beginning of Ibadan&apos;s campaigns, it was Or&shy;anyan, not Ogun, for whom a man was killed.
    a#fnref224.footnoteRef(href='#fn224')
      sup 224 
    | Unlike Sango&apos;s, the cult of Ogun was not predatory.
  h3 Ogundipe as Man of Ogun
  p
    | Yoruba religion is distinguished equally by the variety of its 
    em oris&#x323;a 
    | and the reality of personal cultic choice. It has long been suggested that as a result there might be a close match between the personality of the devotee and the character of his god. This idea is strikingly confirmed in the case of that individual worshipper of Ogun about whom the CMS missionaries tell us the most, the Egba chief Ogundipe. A revealing incident is told by the English missionary J. B. Wood, who reckoned him a friend and had many dealings with him.
    a#fnref225.footnoteRef(href='#fn225')
      sup 225 
    | Ogundipe trained as a blacksmith, and even into his old age &mdash; he was now around 70 &mdash; continued to work at his forge. Wood once called to see him, and knew he was at work from the smoke curling up in the evening air from the back of the house. Since no member of Ogundipe&apos;s household dared to interrupt him in his smithy, Wood had to wait, and finally had to leave after more than an hour without seeing him. The story discloses not only Ogundipe&apos;s commitment to his &quot;mystery&quot; but the awe, even fear, in which his people held him. Like other great warlords, he maintained a large polygynous household which he ruled as its absolute master. If a wife or a slave absconded, he would pursue his rights with ferocious per&shy;sistence, and on at least two occasions he killed adulterous wives.
    a#fnref226.footnoteRef(href='#fn226')
      sup 226 
    | His end was tragic. In failing health and fearing plots against him, he kept revolvers and a rifle always at his side, and he shot one of his wives, whom he suspected of poisoning his sleeping mat.
    a#fnref227.footnoteRef(href='#fn227')
      sup 227 
    | His death a few days later was suspected to be by his own hand&mdash;or perhaps someone in his household could stand his rage no longer.
  p
    | If all this recalls the myths of Ogun&apos;s propensity for violence and his own fraught marriage, other sides of Ogundipe&apos;s life fit more positive aspects of the mythical template. The Methodist missionary Halligey called him &quot;not only a brave warrior, but a very skillful mechanic &mdash; quite an artist in metal work&quot;: he made his own staff of brass, ornamented &quot;with curious figures.
    a#fnref228.footnoteRef(href='#fn228')
      sup 228 
    | Ogundipe&apos;s artistic interests extended to music as well as to metalwork: he composed songs, which he set to his own music and had sung by a choir of his wives. Halligey actually met him &quot;engaged in one of those interesting rehearsals,&quot; conducting some twenty-five women who accompanied their singing with a gentle rhyth&shy;mical swaying and clapping. The words of the song, alluding to recent conflict in the town, were as follows:
  blockquote
    p They who destroy other men&apos;s houses really destroy their own;
    p The war chiefs sent their men to pull down the houses of the white men.
    p The houses of the war chiefs must now come down.
    p Cowards and thieves these war chiefs are.
    p Strangers who visit us in peace they plunder.
    p Ah! When the Dahomians come, these chiefs will flee.
  p
    | We seem here to have a synthesis between the topical chants associated with the Oro cult (performed by men), 
    a#fnref229.footnoteRef(href='#fn229')
      sup 229 
    | the Christian practice of conducted choral singing, and perhaps an element of praise poetry 
    em (oriki, 
    | performed by women). The ex&shy;pressed sentiment of retributive violence, of course, is most thoroughly Ogun&rsquo;s.
    a#fnref230.footnoteRef(href='#fn230')
      sup 230 
    | And even as they sang their husband&apos;s praises, the women could not have forgotten that like Ogun he was capable of doing terrible things in his anger.
  p
    | Yet despite Ogundipe&apos;s capacity for violence, J. B. Wood insisted that in the public life of Abeokuta, &quot;he was admired, feared and 
    em respected. 
    | As a judge he was well-liked, since his judgments were regarded as fair, whilst his charges were moderate&quot;.
    a#fnref231.footnoteRef(href='#fn231')
      sup 231 
    | The Egba attributed the failure of the second rains of 1887, shortly after his death, to the passing of a great man.
    a#fnref232.footnoteRef(href='#fn232')
      sup 232 
    | He had first come to attention in the 1850s as the lieutenant of the en&shy;lightened chief Ogunbona, on whose death he became in turn the chief patron of the missionaries. He staunchly supported them during the crisis of 1867, when the Europeans were expelled from Abeokuta in response to the policies of the British governor of Lagos. Ogundipe&apos;s policy was always to keep trade routes to Lagos open and to encourage cultural inno&shy;vation. When he argued, against those who wanted to maintain the blockade of the river linking Abeokuta and the Lagoon, that &quot;the river was made by God and is for him, and that whatever is made by God is made for the Common use of all his creatures,&quot; 
    a#fnref233.footnoteRef(href='#fn233')
      sup 233 
    | the Ogun theme of open roads
    a#fnref234.footnoteRef(href='#fn234')
      sup 234 
    | converges with ideas of Christian enlightenment. Ogundipe was widely known by the sobriquet 
    em Alatis&#x323;e 
    | ,
    a#fnref235.footnoteRef(href='#fn235')
      sup 235 
    | a name which alludes to a proverb that promotes the ideal of active responsibility: its meaning comes close to &quot;a man&apos;s got to do what a man&apos;s got to do.&quot;
    a#fnref236.footnoteRef(href='#fn236')
      sup 236 
    | Toward the end of his life he modified it to the title 
    em Alatuns&#x323;e 
    | (&quot;the one who restores things&quot;).
    a#fnref237.footnoteRef(href='#fn237')
      sup 237 
    | Though this seems to allude directly to his role in the installation of an 
    em Alake 
    | (the Egba paramount) in 1884, it also clearly echoes a recurrent mis&shy;sionary theme: that their preaching was about 
    em atuns&#x323;e aiye, 
    | &quot;the restoration of the world&quot; from its present state of confusion.
    a#fnref238.footnoteRef(href='#fn238')
      sup 238 
  h3 Ogun in History 
  p
    | Of the two main ways in which anthropology can be historical&mdash;in dealing with the past as other, and in addressing the problem of change&mdash;this chapter has concentrated on the former, in attempting to give an account of the cult of Ogun as it was in the second half of the Nineteenth Century. The variations that have concerned us have chiefly been variations across space, not across time, and particularly as they link with variations in levels of missionary re&shy;portage of different  
    em orisa. 
    | The problem of Ogun&apos;s greater prominence in the Yoruba East proved less intractable than that of the apparently low level of his reportage in the Center/ West, when compared with that of some other  
    em orisa, 
    | notably Sango. To some extent, functions ascribed to Ogun in the East are taken up by other 
    em oris&#x323;a 
    | in the Center/West, such as the agricultural deity Orisa Oko. The case of Sango, however, was quite otherwise: it was a matter less of competition for the same functional niche than of a general challenge posed by a cult that was distinctly organized, aggressively promoted, and endowed with formidable sanctions. Ogun, by contrast, was a cult much more implicitly grounded in a range of mundane activities that were vital to the welfare of the community, all arising from the perceived importance of iron. These re&shy;spective characteristics ensured that Sango would get the maximum &quot;publicity&quot; in missionary reports, while Ogun would tend to be underreported.
  p
    | When the otherness of past practice is clearly shown &mdash; as here, most strikingly, with the largely female cult of Ogun-as-snake &mdash; the problem of change soon demands attention too. The conundrum here is that, while it is the differences between present and past that pose the problem, the past has to be seen as providing essential conditions for the present. The great fact about Ogun&apos;s recent history is his singular relative success, over a period in which  
    em orisa 
    | cults in general have been in marked decline, in adapting to the circumstances of modernity. Where Orisa Oko has declined with the marginalization of subsis&shy;tence agriculture, and the Sango cult has lost its most potent sanctions, Ogun never depended on such sanctions and still possesses a large field in which he is the implicit controlling force. Though some of his areas of functional rele&shy;vance have shrunk in importance&mdash;subsistence farming, hunting, local warfare, and mining/smelting operations&mdash;there has been a vast expansion in others, such as the use and repair of iron implements. If we see Ogun 
    em qua 
    | iron in the center of the picture, then it is a shift away from the producer to the user end of iron technology. I suggest that the demise of Ogun&apos;s snake cult was an aspect of this shift. Most notable of all, perhaps, has been the uses of iron in relation to modern travel, where Ogun&apos;s traditional connection with the open road has been reaffirmed. The nexus of mechanics, drivers, motor park touts 
    em (agbero), 
    | party thugs, etc. &mdash; the milieu memorably depicted in Soyinka&apos;s play, 
    em The Road 
    | &mdash; extends back to some of the values of the nineteenth-century war boys.
  p
    | How far the modern manifestation of Ogun has been affected by his per&shy;ception as a culture hero or as the archetype of the artist, as Wole Soyinka has expressed it
    a#fnref239.footnoteRef(href='#fn239')
      sup 239 
    | , is hard to say. Suffice it to note that, whatever his personal religious beliefs, Soyinka stands directly in a tradition that runs back to the central figures of late-nineteenth-century Egba Christianity. His great-grandfather, the Revd. J. J. Ransome-Kuti, was doubtless among the clergy and elders whom Harding assembled at Ake Church in 1888, the year after Ogundipe&apos;s death, to provide collective answers to a questionnaire about Egba religion, and who gave it as their view that Ogun was &quot;the chief of all the many gods of the Yoruba people . . . when other gods are consulted, their reply is &apos;worship Ogun.&rsquo;&rdquo;.
    a#fnref240.footnoteRef(href='#fn240')
      sup 240 
    | The ag&shy;gregate evidence of the CMS archive is hardly compatible with quite such a sweeping view. But perhaps we may interpret the opinion as a sign for the future as well as a statement about the past, as showing that a body of leading Christians was already prepared to regard Ogun as an acceptable symbol of some widely shared values of their culture.