section#chap-6.chapter(data-type='chapter')
  p.ch-start beginning
  .folio
  hgroup
    .dup CONTEXT, TRADITION
    h1.ct Context, Tradition And The Anthropology Of World Religions
  p
    | The world religions present social anthropology with a serious challenge. It came to them relatively late, but with a body of theory and method honed on the analysis of primitive or tribal religions. The larger project by which the classic monographs were framed was in one sense paradoxical: it was to use materials from societies few of which had so much as a concept of religion to develop theories about what &ldquo;religion&rdquo; (or else &ldquo;ritual&rdquo;) was in general. But now we have to move from a large number of small religions, to a small number of very large ones; from religions which have no awareness of themselves as such, to religions which are highly self-conscious of themselves and of their boundaries; from religions which had to be treated as having no time-depth to ones which not only are &ldquo;the longest lasting of civilization&rsquo;s primary institutions&rdquo; 
    a#fnref318.footnoteRef(href='#fn318')
      sup 318 
    | but have complex ways of remembering their own pasts. It is these world faiths that have been spreading through mission and migration, generating new forms of religious expression and new situations of pluralism and conflict.
  p
    | So it is hardly surprising that over recent decades a fast-growing number of impressive studies of particular world religions have appeared; and that attempts have begun to be made to organize them intellectually as sub-fields, in the form of programmatic statements for anthropologies of Islam (most elaborately), Christianity and Buddhism. These various attempts have typically been based on the corpus of studies of the particular religion, referring to the salient empirical questions which it has given rise and to more general criteria of anthropological reason; but they have made little use of the notion of &ldquo;world religion&rdquo; or employed comparisons between them as a means of deepening their analysis. That might not matter so much if the religions existed as cultural isolates, but there has been much historical interaction between them &ndash; notably between Christianity and Islam &ndash; and they coexist in a growing number of situations in the contemporary world, where people compare them in practice and so encourage various kinds of exchange to occur between them. 
  h2 I
  p
    | Our primary framing category of world religions stands against one of tribal or primitive religions, in terms of a complex of interrelated features: that they have written scriptures, seek (or at least acquire) converts, tend be transvaluatory etc.
    a#fnref319.footnoteRef(href='#fn319')
      sup 319 
    | But the distinguishing feature that I want to start from is the differentiation of religion and society. The classic ethnographers &ndash; Firth, Middleton, Evans-Pritchard, say &mdash; soon found themselves having to refer to religion, when they set out to elucidate such things as Tikopia chiefship, Lugbara lineages or the Nuer relationship to their natural environment. By contrast, the links between world religions and the societies or communities where they are practised lacks this quality of immediate and necessary mutual implication. Even where a world religion is strongly held by everyone to the exclusion of any other, provides the charter for the basic forms of social life and is regarded as a key component of group identity, people are aware that it has come from another time and/or place. They know that their forebears converted to it; and their clergy &ndash; whatever exact form these take &ndash; have to remind them regularly that their practice of it falls short of its highest normative standards. Implicit here is comparison: with the practice of another place and/ or time, or with the practice of other religions. This gap between religion and society means that the analysis of world religions can never be purely contextual and functional, as the classic monographs of primitive religion have been. It must be both comparative, because of their inherent awareness of alternatives, and historical, because their normative ideals have a &ldquo;once and future&rdquo; character. 
  p
    | Paradoxically, all this may be better appreciated when we take a view, not from the heartlands of a world religion, where it has been long practised and become deeply woven into local culture, but from its frontiers or periphery. The point has been made before. Fernand Braudel remarked that &ldquo;it is most often on the border that the most characteristic aspects, phenomena and tensions [of a civilization] are found&rdquo;.
    a#fnref320.footnoteRef(href='#fn320')
      sup 320 
    | More recently, the historian of mediaeval Islam, Richard Bulliet, has argued that the growth of the Muslim 
    em umma 
    | as a trans-cultural entity is better understood by taking a &ldquo;view from the edge&rdquo; (in this case from Khurasan), that is to look at how Islam&rsquo;s non-Arab converts were brought into it, rather than by following the conventional approach of tracing its expansion outwards from its Arabian point of origin.
    a#fnref321.footnoteRef(href='#fn321')
      sup 321 
    | So too with the Yoruba. What makes their case even more exemplary is that the age of conversion, being for most people only two-to-three generations back, has not entirely faded from the communal memory; and everyone is aware that there are alternatives to the religion that they practise, for they are also divided roughly half-and-half between Islam and Christianity. As a result, history and comparison are inherent in the religious situation &ndash; part of the lived experience of every Yoruba &ndash; and not brought to it, or imposed on it, by the external analyst.
  h2 II
  p
    | It is quite possible for excellent, even classic, studies to be written about particular Christian or Muslim groups or movements by authors who are not interested in asking questions about the inherent or distinctive attributes of the religion as such. Such was the case for a long time with anthropological studies of Christianity &ndash; a religion which presented the additional &ldquo;problem&rdquo; that it seemed so close to the culture that had produced the anthropologists as not to merit their attention in the same way as religions deemed exotic to Europe. Their focus was divided between two distinct spheres, which gave rise to two bodies of literature about different kinds of Christianity, seemingly almost unconnected with each other. Firstly, there were studies of peasant or folk religion in areas long Christian, such as the Catholic or Orthodox Mediterranean or Latin America. These generated the well-used distinction between great and little traditions, which spread into the study of other world religions and so worked against, rather than for, any deeper enquiry into the character of Christianity as such.
  p
    | Secondly, there were forms of Christianity arising in the wake of European mission and colonial expansion: cargo cults in Melanesia, nativist movements employing Christian symbols in North America, prophetist movements and independent churches in Africa. Here, the question of how far, or in what ways, they were to be seen as Christian usually did not interest anthropologists, though it was a preoccupation of many missionary writers under the rubric of &ldquo;syncretism&rdquo;.
    a#fnref322.footnoteRef(href='#fn322')
      sup 322 
    | In so far as it concerned them at all, the Christian expression of these movements was treated as incidental rather than integral to them: anthropologists were much more concerned to show how it was underlain by indigenous, pre-Christian concerns and beliefs. (A partial exception to this might be seen in the comparisons sometimes drawn with earlier outbreaks of Christian millennialism, for example through Norman Cohn&rsquo;s classic studies of the Middle Ages, though here too what gave more satisfaction was the discovery of indigenous notions of periodic societal renewal.) 
    a#fnref323.footnoteRef(href='#fn323')
      sup 323 
    | Often the framing questions were more to do with politics than religion, as in the debate about how far they were to be seen as movements of anti-colonial protest and precursors of nationalism.
    a#fnref324.footnoteRef(href='#fn324')
      sup 324 
    | Were they better explained with reference to a Marxist analysis in terms of interests, or a Weberian one in terms of ideas?
    a#fnref325.footnoteRef(href='#fn325')
      sup 325 
  p
    | Still, Christianity slowly rose up the anthropological agenda, of which a significant marker was Wendy James and Douglas Johnson&rsquo;s 
    em Vernacular Christianity 
    | (1988). Important as this was in arguing for the gap between the two literatures to be closed, it was still some way from adumbrating an anthropology of Christianity as that has developed in the last decade, by scholars such as Joel Robbins, Fenella Cannell, Matthew Engelke and others.
    a#fnref326.footnoteRef(href='#fn326')
      sup 326 
    | These scholars typically had their roots firmly in one or the other of the two spheres of Christianity distinguished above &ndash; as Cannell on popular Filipino Catholicism or Robbins on Pentecostalism in the New Guinea Highlands. As we shall see, their specific proposals for an anthropology of Christianity tend to bear the imprint of these backgrounds.
  p
    | The aim of the anthropology of Christianity (as of other world religions) is to give a sharper intellectual organization to a spread of empirical enquiries that are cognate (in that closely related thematic issues keep cropping up within it), and also disparate (in that diverse local concerns clutter the foreground). It embraces questions both of method (i.e. how the study of religion X should be set about) and of substance (i.e. what concrete issues are central to its study). Though there is no sharp distinction between these two kinds of questions, the main emphasis of different authors may be directed one way or the other. A common strategy for anthropologies of religions X,Y or Z is to select some substantive feature deemed particularly characteristic of the religion, which then treated as a fixed point to which studies of its diverse manifestations might relate. So Robbins proposes that &ldquo;discontinuity&rdquo; be seen as a central feature of Christian culture. The problem about any such particular proposed focus is that, however plausible it might be, it is likely to be at once logically arbitrary and factually over-determined by the researcher&rsquo;s own research area. So while Robbins&rsquo;s idea of discontinuity fits very well with his research on Urapmin Pentecostalism, does that make it paradigmatic for Christianity in general? If he had worked on, say, Coptic Christianity in Egypt, is it conceivable that he would have proposed &ldquo;discontinuity&rdquo; as  
    em the 
    | leitmotif of Christianity? The key principle of method here is that no particular form of a religion can be privileged over any other as the starting point of an anthropology of it.
  p
    | Cannell&rsquo;s proposed focus is quite different: Christianity&rsquo;s propensity for various kinds of dualism, especially as between the transcendent and embodied dimensions of faith &ndash; the unresolved character of which leads her to dub it &ldquo;the impossible religion&rdquo;.
    a#fnref327.footnoteRef(href='#fn327')
      sup 327 
    | This perspective can surely yield real insights for the study of Christianity; but like the problematic of great vs. little traditions with which it has an obvious affinity,
    a#fnref328.footnoteRef(href='#fn328')
      sup 328 
    | the idea of a tension between the transcendent and the embodied does not seem to be peculiar to Christianity. Is it not equally a tension in other world religions (as her own passing references to work on Hinduism imply)? Taken together, the proposals of Robbins and Cannell highlight a general problem of method: how to steer a middle course between the Scylla of too much specificity and the Charybdis of too little. 
  p
    | As these questions imply, any proposal for a substantive agenda for an anthropology of religion X or Y carries comparative implications, whether or not these are explicitly addressed. The obvious kind of comparison is substantive: what concrete features of religion X most usefully serve to distinguish it from religions Y and Z? But sometimes the comparison has to do more with method: Robbins&rsquo;s argument for the anthropology of Christianity to be grounded in the notion of 
    em dis 
    | continuity is counter-posed to what he sees as the &ldquo;continuity thinking&rdquo; ingrained in anthropology&rsquo;s approach to cultural phenomena. He has a good point here; for certainly the study of movements like cargo cults and African prophet movements has been strongly disposed to emphasize their roots in pre-contact local culture, and to downplay their Christian originality. What is curious about Robbins&rsquo;s argument is that implicitly it runs against one common criticism made of the anthropology of religion: that it imports assumptions derived from Christianity (especially liberal Protestantism) into its analysis of other religions. That precisely was the thrust of Talal Asad&rsquo;s well-known and widely accepted critique of Clifford Geertz&rsquo;s seminal essay on &ldquo;Religion as a cultural system&rdquo;.
    a#fnref329.footnoteRef(href='#fn329')
      sup 329 
    | It is Cannell who stands closer to Asad here, with her idea that Christianity has functioned as &ldquo;the repressed&rdquo; &ndash; i.e. an active but unacknowledged force &ndash; within the culture of anthropology itself. Perhaps it is not so un-acknowledged than she claims. For as David Gellner shows in his masterly review of the anthropology of Buddhism, European scholars &ndash; both anthropologists and orientalists &ndash; have made much use of the categories of Protestantism and Catholicism to get a theoretical fix on the many variants of Buddhism: Mahayana and Theravada, traditional and modernist.
    a#fnref330.footnoteRef(href='#fn330')
      sup 330 
    | Nor is this necessarily distorting, provided the comparisons are sufficiently tentative and provisional, used as methodological scaffolding rather than substantive rafters for the anthropology of Buddhism.
  p
    | Now if there is one general problem of method which is relevant to the anthropology of  
    em any 
    | world religion, it is how to conceptualize it as a theoretical object without essentializing it. Essentialism, one might say, is pretty much anthropology&rsquo;s Sin Against the Holy Ghost. By contrast, most believers consider that there is a timeless, essential, trans-contextual core to their faith. Typically this also has a normative force, providing criteria for defining certain beliefs and practices as illegitimate and excluding deviants from the faith community. Anthropology, of course, cannot get into the business of religious norm-setting by privileging one form of a religion against others. What a large majority of believers may consider as heterodoxy or deviation, even to the extent of placing it outside the faith-community altogether, anthropologists will rightly wish to see as standing in the tradition of that religion as much as its dominant or mainstream forms. Indeed, a religion&rsquo;s tradition may be very fruitfully viewed precisely as a set of running arguments about just what 
    em is 
    | essential to it.
    a#fnref331.footnoteRef(href='#fn331')
      sup 331 
  p
    | One seeming solution to the problem presented by the contrast between the essentializing faith of the believer and the variety of forms encountered by the anthropologist is to try to dissolve it by pluralizing the religion, making as many Christianit 
    em ies 
    | and Islam
    em s 
    | as there are contexts in which they are practised. That would be to abandon any serious programme for the anthropologies of religions X or Y, and 
    em a fortiori 
    | any comparative anthropology of the world religions at all. But it is hardly a solution since particular variants or versions of a faith, or groups or communities which consider themselves to practise it, all presuppose the prior existence of a body of diverse but cognate traditions such as is implied by the notion of &ldquo;a world religion&rdquo;. Those complex, variegated, historically-given ensembles are bound to be fuzzy at the edges &ndash; does Mormonism belong to Christianity, do the Druse or Ahmadiyya belong to Islam, does Chrislam
    a#fnref332.footnoteRef(href='#fn332')
      sup 332 
    | belong to either or both? &ndash; but it surely suits the purposes of anthropology to take an inclusive view and count marginal cases as being in, rather than out. The strategy of pluralizing world religions, rather than accepting them for the complex unities that they are, ignores both the prime source of their resemblances and the issue of why their disparate members are typically so keen to claim for themselves the name of what  
    em they 
    | assuredly see as 
    em one 
    | religion.
  p
    | An extreme form of this pluralizing strategy to deal with the problem of reconciling the linked tensions between unity/diversity and believer/outsider perspectives has been proposed by some anthropologists of Islam. 
    a#fnref333.footnoteRef(href='#fn333')
      sup 333 
    | This is to regard Muslims, rather than Islam, as the object of anthropological enquiry. Varisco goes further to argue that, &ldquo;the anthropologist observes Muslims in order to represent their representations of Muslims; only Muslims can observe Islam&rdquo;.
    a#fnref334.footnoteRef(href='#fn334')
      sup 334 
    | An initial appeal of this &ldquo;solution&rdquo; is that it neatly gives unity to the believers and keeps diversity for the anthropologists, thus keeping the latter well away from the lure of essentialism. But can it possibly make sense for anthropology to be restricted to a study of believers&rsquo; representations? Of course it is widely accepted across the whole field of religious studies that believers 
    em must 
    | be treated as the privileged witnesses of their own faith; and that includes their representations, as they are evident to the anthropologist in the context of his field encounters.
    a#fnref335.footnoteRef(href='#fn335')
      sup 335 
    | Data of this kind is surely the starting point for anthropology&rsquo;s distinctive contribution to the study of world religions. But if we want to go beyond this in the description of a religion, or to advance from description to comparison and explanation, then a very large part of the evidence, such as the social and material conditions of those representations, the whole of the religion&rsquo;s past (including its scriptures), its institutional forms and so forth, is not subject to believers&rsquo; privilege. In so doing, we will be talking about the world religions as given bodies of tradition which provide pre-conditions for the beliefs and practices of their contemporary adherents. The complex historical reality of Islam is presupposed by the existence of the contemporary Muslims, with all their diverse views of what &ldquo;true&rdquo; Islam is, who are encountered by anthropologists. The same must be true, 
    em mutatis mutandis 
    | , for any other world religion.
  h2 III
  p
    | It is more than odd that the programmatic wave of writing on Christianity should refer so little to work on Islam, and not just because the anthropology of any world religion is at least implicitly comparative with respect to the others. For the anthropology of Islam is unquestionably much more developed, with a lively critical literature (now going back more than 30 years) in response to the impressive build-up of monographs.
    a#fnref336.footnoteRef(href='#fn336')
      sup 336 
    | No single contribution to it has occasioned as much comment as Talal Asad&rsquo;s essay, &ldquo;The Idea of an Anthropology of Islam&rdquo; (1986). Since it offers the most cogent attempt so far to steer a viable course between pluralism and essentialism in the analysis of a world religion, it has lessons for those interested in other religions, though these are not Asad&rsquo;s main concern.
  p
    | Asad&rsquo;s question is how Islam might be conceptualized as an object of anthropological enquiry. He quickly disposes of two answers: that Islam is merely a convenient label that covers all its concrete instances, as emically defined (the position of Gilsenan); and that Islam has no value as an 
    em analytical 
    | category at all (as El-Zein argued). What he is especially concerned to critique are the views of those like Ernest Gellner and Bernard Lewis, who see Islam in 
    em substantive 
    | terms, as a historic formation that has shaped the life of Muslims and the forms of their societies in particular and distinctive ways. Inevitably, comparison comes quickly to the fore here, but Asad is oddly resistant to it. He brushes aside, rather than engages with, still less refutes, Gellner&rsquo;s contention &ndash; hardly original with him &ndash; that a highly distinctive and historically momentous feature of Islam, compared with Christianity, has lain in its relationship with political power. Islam offers, Gellner argued, the &ldquo;blueprint of a social order&rdquo;, a political aspiration consolidated by its rapid ascent to being a world empire. By contrast, Christianity&rsquo;s normative separation of the things of God and Caesar is to be referred back to its early formation among the politically marginalized. Asad, however, finds it &ldquo;impossible to accept&rdquo; that Christianity throughout its history has been less intimately concerned with political power, citing cases from the Emperor Constantine to &ldquo;colonial missionaries&rdquo;.
    a#fnref337.footnoteRef(href='#fn337')
      sup 337 
    | His refusal to recognize difference at this point begs quite a few questions about the precise 
    em modalities 
    | of how the two religions have related to political power. As if sensing this, Asad at once avers that he has &ldquo;nothing in principle against comparison between Christian and Muslim histories&rdquo;, and instances a couple of cases; but these are perfunctory, and play no role whatever in his argument. It is clear that for Asad the path to an anthropology of Islam does not lie through comparison with other world religions as regards substantive features of any kind, that derive from its origins or early history and exert some characteristic effect on its subsequent instances.
  p
    | So where does Asad look for it instead? He wants to find a framework that can encompass the many diverse realizations of Islam that anthropologists encounter without privileging any one of them, in terms of its substantive content. He finds this in a notion of Islam as a &ldquo;discursive practice&rdquo;, a tradition of argument among Muslims about the correct forms of belief and practice. Such a discursive tradition is necessarily both rooted in, and oriented to, the past, but is always conducted in some particular present, which is where it becomes the object of anthropological analysis. Now while this is pitched at a very general level, and appears as more methodological than substantive in its import, it is not hard to see something more concrete glimmering behind it (rather as Pentecostal revivalism glimmers behind Robbins&rsquo;s notion of Christian discontinuity). I mean the absolutely central role within mainstream Islam of argumentative recourse to the Koran and the 
    em hadith 
    | in the ongoing normative self-constitution of the community of Muslims, the 
    em umma 
    | . Of this Sharia is the consolidated summation.
  p
    | That is, if you like, the strong version of Asad&rsquo;s argument, perhaps stronger than he wants to make it, since he does not explicitly mention Sharia. But we may also see a weaker version, which has the potential to serve as starting-point for other world religions too. The relation between the present and the past, or rather the way that the present serves as the fulcrum between the past and the future, is absolutely central to 
    em all 
    | religious traditions and to all religions 
    em as 
    | traditions. A body of knowledge and practice is received from the past, but never inertly: it has to be engaged with, worked upon, and so its reproduction is also, to varying extents, always a process of development or transformation. 
    em Pace 
    | Robbins, while we cannot ignore the ruptural potential of Christianity, the latent continuities must not be neglected either &ndash; even in its most ruptural forms, like Pentecostalism
    a#fnref338.footnoteRef(href='#fn338')
      sup 338 
    | &mdash; for in a larger view it is the tension or balance between rupture and continuity that marks the reproduction of all religious traditions.
  p
    | Yet despite its promise, Asad&rsquo;s programme for the anthropology of Islam leaves one with a pronounced sense of anti-climax. Substantive lines of enquiry pursued by other anthropologists are dismissed, yet his own core concept of &ldquo;discursive tradition&rdquo; remains very sketchy, almost empty of content. He has little thing to say about what distinctive cast might have been given to Muslim life by the vehicles of this tradition: the Koran, ancillary media such as 
    em hadith 
    | , 
    em tafsir 
    | , legal commentaries and so forth; then historical works &mdash; both copious and distinctive
    a#fnref339.footnoteRef(href='#fn339')
      sup 339 
    | &mdash; from the 
    em Sira 
    | of the Prophet onwards, and other traditions which give Muslims a sense of their past, including mnemonics set in ritual practices (such as the 
    em Hajj 
    |); and, moving further from Islam&rsquo;s normative mainstream, forms of custom and culture linked to Islamic identities in particular ways. And beyond all this, is the tradition of Islam to be seen purely as a matter of discourse? Does it not carry definite institutional implications? Asad implicitly points us towards this when he writes of &ldquo;the 
    em alim 
    | [scholar], 
    em khatib 
    | [Friday preacher] or Sufi 
    em shaykh 
    | &rdquo; as among those who activate the discursive tradition of Islam.
    a#fnref340.footnoteRef(href='#fn340')
      sup 340 
    | For these all denote statuses that are socially instituted in enduring structures that are distinctive of Islam &ndash; statuses which might be contrasted with those of other world religions, such as the monks of the Buddhist 
    em sangha 
    | or the clergy of a Christian church. Why is it so difficult for us to imagine Islam as having monasteries, or Christianity Sufi brotherhoods?
    a#fnref341.footnoteRef(href='#fn341')
      sup 341 
    | It is as if Asad&rsquo;s argument describes a circle: he has begun by leading us away from the substantive approach of a Gellner, but ends &ndash; albeit inadvertently &ndash; by leading us back to the kind of substantive questions about the impact of Islam over time that engaged Gellner.
  h2 IV
  p
    | The two basic components of the anthropological analysis of world religions are context and tradition. Ever since the revolution which displaced the older evolutionary paradigm and created modern anthropology in the 1920s, it has been widely agreed that its central interpretive strategy is to proceed by &ldquo;placing social and cultural phenomena in context&rdquo;.
    a#fnref342.footnoteRef(href='#fn342')
      sup 342 
    | The notion of a &ldquo;context&rdquo; may be understood in various ways: subjectively, as the epistemological frame for the questions the anthropologist asks of the phenomena, or objectively, as the given conditions which frame the existence of the phenomena themselves. In the latter case &ndash; which is what concerns me here &ndash; it is vital to distinguish between, rather than to yoke or conflate, social and cultural notions of the context. It helps to bring out the theoretical difference by noting what they are respectively set 
    em against 
    | . To emphasize the 
    em cultural 
    | context is to insist that social and material conditions, routinely treated as predictably leading to similar effects in all contexts where they are present, are insufficient to explain the phenomena. In other words, in the name of cultural variation between contexts, it is a protest against an over-simplifying universalism. On the other hand, an emphasis on explanation in terms of the 
    em social 
    | context tends to go with a distinct presentism: things are to be made intelligible in their concrete immediacy solely through their mutual relations with other features of the context. This is above all a protest against any recourse to the past, any attempt at explanation of the phenomena in terms of how they have come about, or to what has preceded them. Of these, the former is typical of American anthropology in the Boasian tradition, the latter of British social anthropology, particularly after Radcliffe-Brown gave a more strictly sociological cast to the presentist functionalism pioneered by Malinowski.
  p
    | It is only superficially a paradox that, when our objective is to analyse a cultural phenomenon, such as a world religion viewed as tradition, the 
    em social 
    | context is the best place to begin. What makes the notion of cultural context unhelpful as a starting-point is that it tends to take for granted precisely what we are seeking to explore: how religions realize themselves over time, as they pass through successive contexts. Culture being &ldquo;precisely the organization of the current situation in the terms of a past&rdquo;, as Marshall Sahlins has put it,
    a#fnref343.footnoteRef(href='#fn343')
      sup 343 
    | if continuity between past and present is presumed, then invoking &ldquo;the cultural context&rdquo; is all too likely to lead to a vacuous re-description of what we are seeking to explain in the first place. Of course, in nearly all settings there will be important long-run continuities from past to present; but the relationship between them needs to be examined open-mindedly. So although no one would be proud to call himself a functionalist now, it makes good sense that anthropologists still usually start their analysis by looking at how the thing that they are interested in is conditioned by its immediate material and social circumstances. 
  p
    | The notion of &ldquo;social context&rdquo; is a static conceptualization, a synchronic model of the interplay of social forces that corresponds to the present of the anthropologist&rsquo;s encounter with his subject. But viewed concretely, it is also a site through which multiple temporalities flow, from the relatively short span of individual lives to the longer-span &ldquo;lives&rdquo; of institutions, with world religions virtually the longest-span of all. How should we characterize the relations of present and past represented by the tradition of a world religion? The obvious and to some extent inescapable way is to see it in terms of a descent, the transmission of an inheritance or deposit from the past, subject to a degree (often large) of variation from its original form through the impress of later circumstances, that is of the cumulative effect of the successive contexts through which it has passed. Tradition and context thus stand in a two-way relationship. Contexts are given to religious traditions at every moment of their empirical instantiation, but they are also subject to modification by them, as they strive to realize in novel situations the specific and distinctive forms that they bring from their past. Thus it is that as traditions pass through successive contexts of practice, they are partly reproduced and partly transformed.
    a#fnref344.footnoteRef(href='#fn344')
      sup 344 
  p
    | The utility of a notion of tradition here may be reached by another route. In order to recognize the multiple commonalities among the members of a class without making the assumption of a single underlying essence &ndash; as socio-cultural phenomena of all kinds typically require &mdash; anthropologists have often invoked the idea of &ldquo;polythetic classification&rdquo;.
    a#fnref345.footnoteRef(href='#fn345')
      sup 345 
    | This derives from Wittgenstein&rsquo;s metaphor of &ldquo;family resemblances&rdquo;, but a fruitful implication of this metaphor is rarely drawn out: that such resemblances are only intelligible on the basis of shared descent from a common ancestor.
  p
    | If we apply a neo-Darwinian model of &ldquo;descent with modifications&rdquo;, as suggested by W. G. Runciman for cultural and social phenomena of all kinds, this might be expected to lead to a gradual but continuous drift away from their original forms.
    a#fnref346.footnoteRef(href='#fn346')
      sup 346 
    | But in the case of world religions, a countervailing force comes powerfully into play, that we might call recursion. This arises from the fact that the past is not just an objectively given anterior state to the present, the baseline on which change works, but is often regarded as something of such intrinsic positive value that serious attempts are made to &ldquo;download&rdquo; it for contemporary application. However, this does not lead to a unified or determinate relation between past and present. Valuing the past may lead to an active concern to preserve its institutional, monumental and documentary traces, so that it can be genuinely known for what it was, and so be a means for genuinely assimilating present to past. But where the demand for normative support from the past is strong but the means to recover it are weak, the &ldquo;past&rdquo; easily becomes more like a site on which present interests are projected, as Malinowski famously argued.
    a#fnref347.footnoteRef(href='#fn347')
      sup 347 
    | So we have the paradox that, for all their supposed traditionalism, the religions of pre-literate peoples are particularly likely to be labile, though for lack of evidence their histories are notoriously hard to recover.
    a#fnref348.footnoteRef(href='#fn348')
      sup 348 
    | Even when literacy enables religious truth to be fixed in a scriptural canon, the very prestige of a source that is viewed as giving access to an authoritative past, like 
    em hadith 
    | in Islam, may encourage traditions to be invented on a massive scale.
    a#fnref349.footnoteRef(href='#fn349')
      sup 349 
    | A world-religious tradition may alternate between periods when the past is largely replicated, but within a slow drift of little-noticed change, and other periods, perhaps triggered by some sense of crisis, where the past is deliberately turned to as a source of guidance
    a#fnref350.footnoteRef(href='#fn350')
      sup 350 
    | &ndash; sometimes with far-reaching transformative effects, as notably with the Protestant Reformation.
  p
    | But while recursion plays a key role in the actualization of world-religious traditions, it is powerfully constrained by what they make immediately available, even when allowance is made for the possibility of drawing on the resources of the remoter past to leapfrog the bequest of the more recent past. Now whereas the anthropologist is chiefly concerned with the most recent past, since that is what a religion&rsquo;s adherents practically engage with as they reproduce and modify its tradition, the latter will usually set much more store by what they believe of its remote foundational past, which they access through scriptures, mnemonic rituals and the institutions which carry and interpret them. Since this past serves as the common point of reference for all the diverse contemporary manifestations of their faith, it also serves as a key reference point in the marking of religious identity at the global level. Yet despite the mythologization to which it is invariably subject, all students of the religion have to be take this &ldquo;past&rdquo; as standing in 
    em some 
    | sort of relationship &ndash; however highly refracted &mdash; with a definite historical reality, namely the religious entity as it was when it started its movement through time and space down to the diverse contexts of the present.
  p
    | Between these two points stretches a vast historical terrain crossed by tracks that diverge, sometimes intersect and occasionally converge, since they are subject, not just to the continuous impress of influences specific to each new context which they pass through, but to less frequent movements within the imagined 
    em oikoumene 
    | of each religion which cut radically across contexts &mdash; such as (say) the Evangelical Revival in Protestant Christianity or the Wahhabist movement in Islam, both coincidentally originating in the Eighteenth Century. Religions go through golden ages and periods of decline, episodes of restoration and revival, all of which further inflect their traditions in particular ways. Over time, world religions acquire many additional attributes, whose historical contingency does not make them any less consequential, at least for a time. They establish alliances with various cultural and political formations, and though these have their own distinct historical trajectories, the concurrence between them and the world religions, with the two-way influences that result from it, may result in what amount practically to near-fusions of religion and culture or polity. So Islam&rsquo;s linkage with some particular peoples &ndash; such as the Turks (so that, in a seventeenth-century Christian European perspective, to become Muslim was to &ldquo;turn Turk&rdquo;) 
    a#fnref351.footnoteRef(href='#fn351')
      sup 351 
    | or the Fulani in parts of West Africa
    a#fnref352.footnoteRef(href='#fn352')
      sup 352 
    | &mdash; were of great contextual importance, though of course neither had the foundational character which created the integral bond between Islam and Arabic. Christian history evinces two long-lasting phases of the near-fusion of religion and culture, far-reaching in their effects but still in the end time-limited. The first was the medieval emergence of &ldquo;Christendom&rdquo;, a joint effect of the papacy&rsquo;s ambition to turn itself into a universal monarchy, the absorption into the Western Church of so much of the value system of a Germanic military aristocracy, 
    a#fnref353.footnoteRef(href='#fn353')
      sup 353 
    | and the confrontation with Islam. Undermined by the Reformation and the rise of the nation state, Christendom eventually mutated into &ldquo;the West&rdquo; &ndash; but only after a long period in which Christianity was seen throughout much of the world as &ldquo;the white man&rsquo;s religion&rdquo;, the ambiguous travelling companion of Europe&rsquo;s imperial outreach.
    a#fnref354.footnoteRef(href='#fn354')
      sup 354 
    | Then as Christianity has moved &ldquo;south&rdquo; over the past two centuries while Europe became more secular, the contingency of its long and intimate concurrence with Europe&rsquo;s history has become increasingly apparent.
  p
    | If we emphasize those features which a world religion derives from the political and cultural context of its first emergence, and treat them as a deeply-engrained, primary deposit within its tradition, we clearly open ourselves to the charge of essentializing it &ndash; that is, to treat it as if it stood outside history. To this, two responses might be made. (i) A world religion&rsquo;s early years are  
    em in fact 
    | likely to have the most far-reaching and wide-ranging relevance for its later manifestations. We are speaking here, not just about its scriptures, especially if they are seen as a foundational revelation absolutely prior to any institutional development of the religion (as believers often suppose), but also about the ritual and institutional forms with which they are closely implicated. (ii) But what is at stake here is not features assumed to be necessarily present in 
    em all 
    | instances of a particular religion, as an unvarying and essential ground of their being such, but something less than that: features which are so characteristic of a religion, and attributable to its early history, that they repeatedly recur in diverse later contexts and which , when taken in the aggregate, serve to distinguish instances of that religion from those of others. But as the metaphor of &ldquo;family resemblances&rdquo; suggests, we can regard mandibular prognathism as being a characteristic feature of the Habsburgs without seeing it as an invariable trait, still less a defining attribute, of all the descendants of the Emperor Frederick III.
  p
    | We might illustrate this by comparing how the formative years of the three great world religions endowed them, not just with characteristic answers to the problems posed by human existence, with very different core social institutions: the Christian church (
    em ekklesia 
    | or &ldquo;assembly&rdquo;), the Muslim 
    em umma 
    | and the Buddhist 
    em sangha 
    | . The church is a collectivity of believers which presupposes the parallel existence of a secular collectivity, even where their memberships closely coincide, whereas the 
    em umma 
    | unites the faithful in a single collectivity that originally and ideally is both religious and political. The basic conditions of this difference are much as Ernest Gellner suggested: that Christianity grew up within a state that it did not create (though it eventually &ldquo;annexed&rdquo; it), while Islam created its own state. But whatever their links to the state, religious collectivities soon require organization which inevitably has a political dimension; and the structures that the two faiths developed again corresponded to their respective political placements. In the case of Islam this was tantamount to the organization of its own polity, which is why its fundamental (and enduring) internal cleavage of Sunni vs. Shia concerned the nature of legitimate authority within the early Islamic state.
    a#fnref355.footnoteRef(href='#fn355')
      sup 355 
  p
    | The Christian church, by contrast, had little alternative but to develop a specifically 
    em clerical 
    | hierarchy. While facilitated by belief in the mediated sacred power of the priestly heirs of the apostles &ndash; something abhorrent to early Islam &ndash; this was really necessitated by Christianity&rsquo;s development over its first three centuries as an entity outside the state. Paradoxically, lacking organizational models of its own, in this process it borrowed extensively from Caesar&rsquo;s domain: territorial dioceses, priestly vestments copying those of secular magistrates, great church-buildings modelled on the law courts (basilicas) of imperial Rome and so forth. But being no more than a 
    em quasi 
    | -polity, the Church still needed to look for a mutually supportive relationship with rulers whose original legitimacy came from elsewhere but who could be remodelled as Christian kings. Here there are notable parallels with the independent case of Buddhism, which also developed outside the state.
    a#fnref356.footnoteRef(href='#fn356')
      sup 356 
    | Where early medieval Europe had its Woden-descended kings, south-east Asia had its Hinduized sacred monarchies; and in both cases, convert kings derived new legitimacy from such pious acts as endowing monasteries.
    a#fnref357.footnoteRef(href='#fn357')
      sup 357 
    | But there is a major difference. While both Buddhism and Christianity have a &ldquo;laity&rdquo; in a sense that Islam lacks, the 
    em sangha 
    | , as a corporation of monks, is not a kind of &ldquo;church&rdquo;. For Buddhism, unlike Christianity and Islam, is not a congregational religion &ndash; a feature which they derive from their shared Judaic roots. This three-way comparison, which puts Christianity in the middle, rests on two axes of variation. The first, dealing with the structural context of its emergence, gives rise to the parallel with Buddhism , whereas the second, deriving from the religious tradition from which it came, produces the affinity with Islam.
  p
    | Clearly, these &ldquo;classical&rdquo; forms of the three religions, with the values and roles that ride on them, are not guaranteed to reproduce themselves fully (or even, on occasion, at all) in all subsequent instances, owing to the contingent circumstances of history. For considerable periods in the history of Buddhism in South Asia, according to Carrithers, the 
    em sangha 
    | virtually disappeared.
    a#fnref358.footnoteRef(href='#fn358')
      sup 358 
    | For us, the contrasting trajectories of Islam and Christianity are especially illuminating, not just for their vicissitudes but for the ways they impacted on one another. The primary ideal of the 
    em umma 
    | &ndash; a community of believers undifferentiated horizontally as between religious/political or vertically as between laity/clerics &ndash; started to come under pressure almost at once, with the death of the Prophet and the rapid conquest of a vast empire. Eventually there emerged a social group which ever since has been regarded as distinctive of Islam: the scholars or 
    em ulama 
    | , those credited with the authority to determine the content of Prophetic tradition which was critical to the systematization of 
    em sharia 
    | law which was starting to occur around this time (Eighth-Ninth Centuries, 150+ years AH).
    a#fnref359.footnoteRef(href='#fn359')
      sup 359 
    | Their rise was a response to the fading of direct oral memories of the founding years, coupled with the rising flood of non-Arab converts seeking normative incorporation into the 
    em umma 
    | . The political alignment of the 
    em ulama 
    | was uncertain: the legal advisors and so usually the allies of the rulers, they were also sometimes the focus of popular opposition to them (especially where the latter were of alien origin). Yet despite these developments, the  
    em ulama 
    | were always very different from a Christian clergy, just as Sufi 
    em shaykh 
    | s and 
    em muqaddam 
    | s, new religious roles within Islam that emerged a century or so later, differed from the ascetic spiritual guides that were primary within Buddhism. For it remained the case that these new roles were set within a wider institutional and ideological matrix that was a particular and unique product of Islam&rsquo;s earlier history.
    a#fnref360.footnoteRef(href='#fn360')
      sup 360 
  p
    | Islamic institutions would face a more complex challenge where Muslim populations came to exist as minorities under non-Muslim rule &mdash; as in large parts of south and south-east Asia, Sub-Saharan Africa and (latterly) Western Europe &ndash; so lacked the political means to guarantee the routines of Muslim life as originally imagined. As Olivier Roy argues for Muslims in the West today, a whole range of responses to this predicament is available in principle, from the radical ones of following the Prophet&rsquo;s precedent of 
    em hijra 
    | or withdrawal to a Muslim-ruled territory or trying to annex the country to Islam by 
    em jihad 
    | , to various forms of accommodation, such as creating religio-cultural enclaves or settling for a much more &ldquo;church&rdquo;-like social existence, based on local congregations.
    a#fnref361.footnoteRef(href='#fn361')
      sup 361 
    | Across the long span of Islam&rsquo;s existence in Nigeria, several of these options have been realized as the varying circumstances of time and place have allowed. Roy suggests that among Muslims in the West, several reduced forms of the 
    em umma 
    | exist concurrently: most concretely as a local congregation; as an imagined but deterritorialized world community; or and as a virtual community accessed through the Internet. Even where the adherents of a religion are able to realize, or are happy to settle for, much less than its normative ideal &ndash; that is, for Muslims, the 
    em umma 
    | as a religious community politically organized within its own space &mdash; it tends to retain a potent and recurrent appeal, especially for its clerics and literates, who know it from its scriptures and traditions, or from its practice in the past or in other places. Even though the characteristic traits of a religion are not invariably reproduced, their presence in past tradition makes it more likely that they, rather than randomly possible others, will recur; and &ndash; to anticipate the Nigerian case-study to come &ndash; a comparison of the divergent features of two religions in a single situation may bring out sharply the potentiality of what lies latent in their distinctive traditions.
  h2 V
  p
    | &ldquo;Compare and contrast &mldr;&rdquo; goes the old clich&eacute; of examination papers. The implication of this phrasing &ndash; that &ldquo;comparison&rdquo; looks for similarities and &ldquo;contrast&rdquo; for differences &ndash; is misleading, since productive comparison always depends on finding the right interplay between similarities 
    em and 
    | differences. Even so, comparison shifts between moments where one or the other mode predominates. Anything can be compared with any other thing, however unlike, but to be fruitful the process has to begin from establishing a similarity, some shared features to provide a frame within which questions about difference can be posed. When faced with puzzling novelty, the first human impulse is to get some kind of preliminary fix on it by looking for similarities with what is already familiar. Thus the Spanish conquistadors initially called Aztec temples &ldquo;mosques&rdquo; &ndash; the impressive buildings of an alien religion
    a#fnref362.footnoteRef(href='#fn362')
      sup 362 
    | &ndash; or (as implausibly) the London 
    em Evening Standard 
    | suggests to its readers that Professor Tariq Ramadan might be seen as Islam&rsquo;s Martin Luther.
    a#fnref363.footnoteRef(href='#fn363')
      sup 363 
    | Such 
    em ad hoc 
    | comparisons are very likely to be tendentious, because cognitive considerations are subordinated to practical ones, such as the pressure to reassert moral boundaries challenged by otherness, or to quell anxiety by domesticating the alien.
  p
    | It is when the grounds for comparison are elaborated and the two 
    em comparanda 
    | are subsumed under some more general notion that the real cognitive possibilities of comparison open up. Such a notion is &ldquo;fundamentalism&rdquo;. Curiously, this term initially implied only an intra-Christian comparison, since it was used around 1920 as a self-identification by conservative Evangelicals to distinguish themselves from liberal Protestants given to a non-literalist reading of Scripture. Only later was it turned the other way, often by secular-minded commentators, to stress &mdash; usually with negative overtones
    a#fnref364.footnoteRef(href='#fn364')
      sup 364 
    | &mdash; the similarities between diverse contemporary movements within Christianity, Islam and other faiths. Subsequent attempts to theorize the term have not proved very productive, because the phenomena themselves are so diverse; so that what we are left with is the valid but much watered-down claim that there are many partial and overlapping resemblances among the movements so designated. I shall argue later that the careless use of the term has led, in the Nigerian context, to the ignoring of important differences between Muslim and Christian forms of so-called fundamentalism.
    a#fnref365.footnoteRef(href='#fn365')
      sup 365 
  p
    | Drawing out the similarities between world religions can shed much light on some key features of their operation, especially those which arise from common structural conditions. To take one example, we may abstract and generalize from a trajectory which Carrithers identifies in the history of Buddhism, by which the &ldquo;renouncer&rdquo;, the monk devoted to the individual exemplary pursuit of spiritual merit, becomes the &ldquo;specialist&rdquo;, someone whom that very merit enables to provide ritual and magical services for a lay community. Something analogous can be seen in other religions: for example, in the way in which Sufi 
    em shaykh 
    | s in West Africa came to be valued more as miracle-workers than as mystical guides, or (a less exact parallel) in the transit of West African Pentecostal churches from a primary focus on the pursuit of holiness through ascetic self-discipline to the provision of &ldquo;effective prayer&rdquo; for mundane needs. The sheer diversity of the settings in which something like this trajectory shows up indicates a recurrent dilemma that world religions face. They all originated in a radical, world-rejecting vision, which downgraded the significance of the here-and-now in favour of a transcendental vision of reality.
    a#fnref366.footnoteRef(href='#fn366')
      sup 366 
    | It is surely significant, as Max Weber emphasized,
    a#fnref367.footnoteRef(href='#fn367')
      sup 367 
    | that this perspective was typically grounded in the experience of social groups &ndash; traders, craftsmen, officials, minor aristocrats etc. &mdash; who were marginal to the imperatives of subsistence production in overwhelmingly agricultural or pastoral societies. But as the religions spread, the old this-worldly pressures &ndash; especially for healing and magical services &mdash; inevitably reasserted themselves. The tension between the two orientations became a perennial stimulus to reform movements, as it came to be felt that the founder&rsquo;s elevated vision had got too overlaid with baser concerns. At this point, however, our comparative focus needs to shift back from similarity to difference, for the responses to this situation are also strongly inflected by the traditions of each particular religion. So notwithstanding the existence of what has been called &ldquo;Protestant Buddhism&rdquo; in Sri Lanka in the Nineteenth Century,
    a#fnref368.footnoteRef(href='#fn368')
      sup 368 
    | it would seem that Buddhism is less prone to reformism of the sort just outlined than are the two Abrahamic faiths since, lacking their monotheist and exclusivist character, it can more readily offload the provision of health, fertility, prosperity etc. onto cults of local deities which can easily coexist with it, without compromising its transcendental message. 
    a#fnref369.footnoteRef(href='#fn369')
      sup 369 
  p
    | When anthropology moves from its primary task of contextual analysis to comparison, it usually has to 
    em de 
    | contextualize its objects of analysis. Taking religions out of their social context and treating them for comparative purposes as things-in-themselves is routine in the field known as &ldquo;comparative religion&rdquo;, whose aim may be no more ambitious than to show the comparability of religions through applying &ldquo;phenomenological&rdquo; categories taken to be universal 
    a#fnref370.footnoteRef(href='#fn370')
      sup 370 
    | . It is presumed in any project whose aim is to compare them solely in terms of their theologies or internal logics or how they address what are taken to be universal problems of human existence, such as John Bowker&rsquo;s study of the ways they respond to human suffering 
    a#fnref371.footnoteRef(href='#fn371')
      sup 371 
    | . But decontextualization 
    em does 
    | pose a problem for the social-scientific study of religion, in so far as that aims to explain the variable social impact of the world religions, because the myriad of contextual circumstances in which this occurs cannot be controlled. The  
    em ceteris paribus 
    | proviso which is presumed in any rigorous analysis of the social impact of differences between religions can hardly obtain, if the contexts are full of random variation. There is no doubt that this is a major methodological problem which dogs Weber&rsquo;s  
    em Sociology of Religion 
    | , master-work of historical sociology though it is.
    a#fnref372.footnoteRef(href='#fn372')
      sup 372 
  p
    | The logically optimal conditions for comparing world religions are not easily met, as we see in the case of Geertz&rsquo;s 
    em Islam Observed 
    | , widely regarded as a foundational text for the anthropology of Islam.
    a#fnref373.footnoteRef(href='#fn373')
      sup 373 
    | Because this treats Islam as the constant, and the two cultures in which it has found a context &ndash; Morocco and Indonesia &mdash; as variables, it ends up telling us less about Islam than about the two cultures which have imprinted their very different ethoses on it. The book&rsquo;s most general message &ndash; that Islam is susceptible to enormous variety in its concrete realizations &ndash; is mere conventional wisdom for anthropologists, whereas it might be found challenging by Islamicists, and even more so by orthodox Muslims. What is essentialized by Geertz here is not Islam but the two cultures in which it is set. They are portrayed in the manner of Ruth Benedict&rsquo;s 
    em Patterns of Culture, 
    | consistently opposed to one another in a series of maximally heightened contrasts, while Islam itself, though described in its local specificities, never receives any kind of overall characterization.
    a#fnref374.footnoteRef(href='#fn374')
      sup 374 
    | In Geertz&rsquo;s shorthand, Islam in Morocco is &ldquo;maraboutism&rdquo;, while in Indonesia it is &ldquo;illuminationism&rdquo;.
    a#fnref375.footnoteRef(href='#fn375')
      sup 375 
  p
    | But when Geertz comes to his longest and pivotal chapter, entitled &ldquo;The Scripturalist Interlude&rdquo;, which deals with the contemporary religious situation as observed in the present time of his own fieldwork, there is a notable shift in the balance of similarity and difference in his argument. He sees the Islamizing movements in both countries as &ldquo;astonishingly similar&rdquo;, though differing in the details of their local course and impact.
    a#fnref376.footnoteRef(href='#fn376')
      sup 376 
    | To explain this he invokes three conditions: (1) Western colonial domination, (2) the growing influence of a new kind of legalistic, scriptural Islam, and (3) the emergence of an &ldquo;activist nation state&rdquo;, all of which working together have shaken the old order of things in a manner analogous to the complex joint impact of Capitalism, Protestantism and Nationalism in Europe.
    a#fnref377.footnoteRef(href='#fn377')
      sup 377 
    | One cannot but be struck by the contrast between his thoroughly anthropological emphasis on difference in his characterization of the two &ldquo;classical&rdquo; cultures, and his readiness, when he switches into macro-sociological mode, to stress sweeping similarities between expressions of religion across great gulfs of historical time and cultural space. Resemblances on this scale obviously require explanation in terms of broadly similar and highly general social-contextual conditions, such as are here denoted by the overarching labels of Capitalism and Nationalism.
  p
    | But the third condition, &ldquo;the increasing influence of &mldr; scriptural Islam&rdquo; (or, Geertz implies, of a kind of &ldquo;Protestant Islam&rdquo;), is different from the other two. For it is a cultural, rather than a social condition, and it brings with it the ambiguity so common with cultural explanations: it seems to be as much part of the 
    em explanandum 
    | as one of the 
    em explanantia. 
    | For what we are dealing with here is the operation of a tradition, reaching back into the past, and interacting reciprocally with other features of the situation(s) through which it passes. Geertz only makes mention of &ldquo;the Koran, the Hadith and the Sharia, together with various standard commentaries on them&rdquo;, when he gets to the &ldquo;Scripturalist Interlude&rdquo;, as if they had not been significant factors in the prior history of Islam in the two countries. To use a musical metaphor, 
    em Islam Observed 
    | is like a pair of variations without any prior statement of the theme: we have Maraboutism and Illuminationism first, placed in contrasting 
    em cultural 
    | contexts, then their shared nemesis Scripturalism, which is placed in a mainly 
    em social 
    | context. But the operation of the Islamic tradition as an object of anthropological enquiry &ndash; which would require the analysis of its reciprocal interaction with the contexts where it is taken up, or the interplay of the cultural and the social &ndash; is barely attempted.
  h2 V
  p
    | This interplay of the social and the cultural, or (which is the same thing) of context and tradition, is at the very heart of understanding how religions are realized in human practice. As in all other areas of social life, religious action is always doubly constrained, by the features of the context to which agents have to respond, and by what tradition &ndash; beliefs, values and institutions received from the past &ndash; makes available to them. But never is it completely determined. Virtually all contexts yield options for action, and traditions are open to be revised or reinterpreted. Tradition shapes the selection of options and context inflects how tradition is received.
  p
    | Granted this necessary dialectic, it is remarkable how often attempts are made &ndash; whether by social scientists or by &ldquo;lay&rdquo; social actors &ndash; to deny its operation by insisting that one or the other side of it counts for everything. Such perverse one-sidedness typically has its taproot in moral or ideological considerations which are regarded as being of overriding practical importance. Take a real-life case from Nigeria, which touches on matters to be considered later. The Right Revd Josiah Idowu Fearon, Anglican bishop of Kaduna, is reported as having said of Boko Haram, the violent Islamist organization active in the north-east of Nigeria since 2007, that it &ldquo;is a resistance movement against misrule, rather than a purely Islamic group&rdquo;.
    a#fnref378.footnoteRef(href='#fn378')
      sup 378 
    | Since it is quite possible (and it is in fact the case) that Boko Haram is both of these things, why should he want to present it as a matter of either/or, rather than both/and? The bishop is active in inter-faith dialogue &ndash; very much needed in a city where severe religious rioting occurred in 2000 and 2002 &ndash; and knows that many Muslims are strongly opposed to Boko Haram&rsquo;s activities too, so is reluctant to stress its Islamic character.
    a#fnref379.footnoteRef(href='#fn379')
      sup 379 
    | It may well be too that he wants to counter the common tendency among his fellow Christians to explain everything they see as negative in Muslims as being due to their Islam. (Muslims tend to view Christians through the lens of a similar religious essentialism, such homologies being routine features of religious confrontation). If these are his motives, they are certainly not malign or ignoble ones. But an ecumenical spirit is not necessarily the best guide to a full and cogent analysis of why Boko Haram does what it does.
  p
    | With less excuse, Olivier Roy takes a similar position to Bishop Fearon, but elaborates it methodologically, in an attack on what he terms &ldquo;culturalism&rdquo;.
    a#fnref380.footnoteRef(href='#fn380')
      sup 380 
    | He sees this as widespread across a very wide range of opinion: Samuel P. Huntington of course, &ldquo;orientalists&rdquo; such as Bernard Lewis, &ldquo;the man in the street&rdquo;, fundamentalist and conservative Muslims, even some &ldquo;opponents of Islamophobia and &mldr; moderate Muslims&rdquo;.
    a#fnref381.footnoteRef(href='#fn381')
      sup 381 
    | Altogether quite a coalition of error! Roy&rsquo;s own stated approach is strongly of the either/or variety. &ldquo;Neofundamentalism and radical violence are more linked with westernization than with a return to the Koran&rdquo;, he argues, so that we need &ldquo;a transversal approach to Islam, rather than a diachronic approach [which would look] to history to understand the roots of &lsquo;Muslim anger&rsquo;&rdquo;.
    a#fnref382.footnoteRef(href='#fn382')
      sup 382 
    | So in trying to understand new trends among Muslim youth, it is more useful to look for parallels with other forms of modern religiosity than &ldquo;trying to reread the Koran&rdquo;.
    a#fnref383.footnoteRef(href='#fn383')
      sup 383 
    | But again we have to ask: why should it be a matter of either/or, rather of both/and? In fact, Roy has already undermined his own prescription &mdash; and his book is much the better for it &mdash; by its very subtitle, 
    em The Search for a New Ummah 
    | . For a &ldquo;new Ummah&rdquo; implies an old Ummah, which is at the same time (&ldquo;transversally&rdquo;) a distinctive element in how Muslims respond to the predicament of modernity that is absent from how Christians or Buddhists might respond to it, and (&ldquo;diachronically&rdquo;) one which entails the duality of reception and interpretation, the two-way exchange between present and past, which how religious traditions work. It is fine to begin from a &ldquo;transversal&rdquo; approach to religions in the modern world, but it is arbitrary to limit it to a search for similarities and to ignore the differences between them; and once difference is admitted, it becomes impossible to exclude the past from the analysis of the present. So when Roy says that &ldquo;the key question is not what the Koran actually says, but what Muslims say the Koran says&rdquo;, he offers us another false choice. For if arguments about the true import of the Koran and other sources of faith are a crucial part of how Muslims conduct their lives &mdash; as Asad was right to insist &mdash; it is hard to see how this work of interpretation can be understood by ignoring what it is that is being interpreted.
  p
    | In examining the interplay between context and tradition, our method must not be to start with the origins of the tradition or its foundational texts and speculate about what their implications must be for its later practice, as some recent anti-religious polemicists like to do,
    a#fnref384.footnoteRef(href='#fn384')
      sup 384 
    | but the reverse. We must place ourselves in the midst of a concrete realization of the religion, and look to see what elements of its tradition are presupposed by it. A religion&rsquo;s tradition is thus seen as embodying a set of potentials, which make particular outcomes more or less likely, but which can only be fully assessed in their realization. This task is made much easier if it is possible to compare two religions in the same context, thus enabling factors specific to each religion to be identified &mdash; a strategy opposite to Geertz&rsquo;s: not one religion and two contexts, but one context and two religions. While there are many plural religious settings, the optimal conditions for such a comparison are not easily found, for the two religions need to be equally co-present. It is not easier to think of a case that fits the bill better than the Yoruba of south-western Nigeria, who are divided roughly 50:50 between Islam and Christianity. So to this I now turn.
  p
    | Though Christianity and Islam have coexisted since the very birth of Islam, their relationship has usually been very asymmetrical, as with two of its main contemporary modes: in the Middle East, where historic but rapidly eroding Christian communities exist, as they have for many centuries, within Muslim-dominated societies; and in modern Europe, where Muslim communities have come to exist through migration, mostly over the last few decades, amid a Christian or post-Christian majority. There is also a third mode: where Muslims and Christians, whether through migration or conversion, have come to co-exist in settings dominated by a third religion, as in Susan Bayly&rsquo;s account of how Islam and Catholicism have adjusted to a Hindu context in southern India.
    a#fnref385.footnoteRef(href='#fn385')
      sup 385 
    | The Yoruba situation began like this, but over the past century it has changed to the point that the traditional religion has been drastically curtailed in its range and reduced to the preserve of a small minority (though its memory and ethos still exert a large diffuse influence). Nowadays, the two world faiths are to be found in virtually every community, though their regional distribution is markedly skewed. The presence of Islam goes back much further in time, but both religions can now be regarded as fully and equally at home in Yoruba society and culture. There are high levels of social interaction between Muslims and Christians, and virtually no residential segregation between them. Inter-faith marriages are not uncommon; many extended families contain both Christians and Muslim members; and mutual participation in each other&rsquo;s ritual festivities is a standard feature of Yoruba social life, as well as a source of cultural pride.
  p
    | Since this remarkable pattern of co-existence has come about over the past 150 years, comparison of the two religions cannot be a static exercise. It has to be analysed as the evolving outcome of the interaction between the two world religions with the antecedent culture of the Yoruba, into which &ldquo;paganism&rdquo; had been seamlessly woven, and with each other. More than that, as Yorubaland has become ever more involved in the social and cultural networks which constitute Nigeria, inter-religious relations have been affected by developments at the pan-Nigerian level, particularly since the 1970s. Here another comparison becomes relevant, between the religious harmony of Yorubaland and the pattern of recurrent religious violence that has become endemic in Northern Nigeria. So the two religions are to be seen as dynamic entities, things not just subject to change but initiatory of it, ever reworking both themselves and the social contexts in which they are active. This dynamic capacity, or determination to make history, which we see actualized in the agency of individuals and collectivities, is fuelled by what they each bring to the Yoruba and Nigerian situations from their own pasts. The various ways in which these distinctive heritages of Islam and Christianity both enable and constrain their ongoing self-realization must lie at the centre of our comparison.