section.chapter(data-type='chapter')
  p.ch-start the beginning
  .folio
  hgroup
    .dup Yoruba Ethnogenesis
    h1#chap-8.ct Yoruba Ethnogenesis And The Trajectory Of Islam
  p
    | There has been a reciprocal and long-sustained relationship between &ldquo;the making of the Yoruba&rdquo; and the efforts of the world religions to plant themselves at home in Yoruba society. For more than a century, Christianity has been at the forefront of this, through the CMS adoption of &quot;Yoruba&quot; as an ethnic designation and the creation of a &ldquo;Standard Yoruba&rdquo; form of language for use in church and school, which became the main vehicle for the modern Yoruba identity. Both culturally and politically, Yoruba ethnogenesis has had its high moments, of which the most notable were the efflorescence of cultural nationalism in the 1890s
    a#fnref462.footnoteRef(href='#fn462')
      sup 462 
    | and the articulation of a political programme by the Action Group in the 1950s, in both of which Christians played the leading part.
  p
    | Yet those Christians who defined Yoruba language and history, such as Bishop S. A. Crowther and the Revd Samuel Johnson, were ready to adopt and adapt Muslim materials, including the very name &ldquo;Yoruba&rdquo; itself, which passed from its distant Arabic origins through the Islamic polities of the savannah to designate the people of the Oyo kingdom. The very first specific reference to them comes from Mali, by Ahmad Baba of Timbuktu (d.1627), 
    a#fnref463.footnoteRef(href='#fn463')
      sup 463 
    | and only later from Hausaland. It is an irony that Muslim Yoruba later adopted a tradition of having migrated from the Islamic east, when their Islam actually first came from the west, along the trade corridor provided by the River Niger. A trace of that origin survived in the common Yoruba name for Muslims, 
    em Imale 
    | , even though the memory of what it had once signified was lost. A deposit of vocabulary is also owed to these Malian roots, some of it denoting specifically Islamic items, some of it joining the religiously unmarked general lexicon of Yoruba.
    a#fnref464.footnoteRef(href='#fn464')
      sup 464 
    | One of these words, 
    em borokinni 
    | (&quot;gentleman, respected man of comfortable means&quot;) came to connote a Yoruba cultural ideal, as indicated by its adoption in proverbial expressions.
    a#fnref465.footnoteRef(href='#fn465')
      sup 465 
  p
    | It is unlikely that, at the beginning of the Nineteenth Century, Islam had been adopted by more than a small minority of the Oyo-Yoruba and hardly at all by non-Oyo. For a long time its spread was so slow and gentle, unforced by violence and uncomplicated by dogma, that an easy cultural intimacy, involving influences running both ways, grew up between Islam and the (Oyo)Yoruba, sometimes so unobtrusive as almost to escape notice:
  blockquote
    p
      | One morning in 2008, I call to visit an imam and find him counselling a young couple engaged to be married. At the end of the session, the man hands the imam a 100 naira note (a trifling sum, less than the cost of a newspaper) with his thanks. The imam replies &quot;Olorun gba [God receives]&quot;. The donation is technically a saraa, a word derived from the Arabic sadaqa (&quot;alms&quot;), but in Yoruba contexts often rendered as &quot;sacrifice&quot;.
      a#fnref466.footnoteRef(href='#fn466')
        sup 466 
      | The verbal formula derives from what was said when kola was thrown, in the simplest of all Yoruba forms of divination, after a sacrifice to an orisa to determine if it was acceptable: &quot;orisa gba [the deity receives]&quot;.
  p
    | As far as I can see, this benign little ritual contains no idolatrous implications, though it would surely be condemned by today&apos;s Salafists as being without explicit authorization in the 
    em sunna 
    | of the Prophet. What is tacitly carried forward from 
    em orisa 
    | religion to Islam is an identification of the imam, as a man of God, with his God, just as an 
    em orisa 
    | priest, when he receives a donation for his services, receives it as the 
    em orisa&apos;s 
    | representative. But the continuity in the form of the ritual goes with an emptying-out of its content; and as with all such traces of the past, it is hard to tell if its origins mean anything (still less, are even known as such) to the participants.
  p
    | By such mutual exchanges, Islam quietly made itself at home in Yorubaland, and the Yoruba absorbed elements of Islamic culture without any requirement of &quot;conversion&quot;. When in the second half of the Nineteenth Century, through Christian agency, the term Yoruba began to be adopted by non-Oyo, and in an independent movement over roughly the same period, Islam began to spread from its Oyo heartland into non-Oyo areas, Islamic traits were easily adopted into the habitus of non-Oyo, thus coming to be seen as generically Yoruba. This process has continued, with Muslims continuing to contribute to the stock of items that serve to mark out what it is to be distinctively Yoruba, in such areas as language, dress and music. So alongside Juju music, played mainly by Christians and greatly indebted to hymns, choruses and the &ldquo;Afro-Christian&rdquo; music of independent churches, there is the Muslim-derived Fuji, whose chief source is the accompanied vocal music called 
    em were 
    | , sung to wake people up for the pre-dawn meal (
    em sari 
    |) during Ramadan. The enjoyment of either style of music is no longer religion-specific.
    a#fnref467.footnoteRef(href='#fn467')
      sup 467 
    | Fuji and Juju, when taken together, are unmistakable markers of modern Yoruba culture, in contrast to the musical styles popular among, say, Ghanaians, Igbo or Congolese.
  p
    | The three entities here &ndash; one ethnic culture and two world religions as locally realized &ndash; are all in continuous transformation and impact on one another in complex three-way interactions. Yoruba society has welcomed Islam and Christianity, and proved subtly capable of bending them to its ethos &ndash; up to a point. For while they compete vigorously with one another, they have had to do so under Yoruba rules &mdash; which has the tendency not only to &quot;domesticate&quot; them directly, but to draw them into a process of mutual emulation which further enhances their shared Yoruba features, as I will explore in detail in the next chapter. Yet, being the kind of entities they are &ndash; global faith communities, conversionary and exclusivist, anchored in scriptures which constantly serve to remind their adherents of how imperfectly they are practised &mdash; they cannot find this situation entirely to their liking. They are compelled by their own traditions to try to realize their own distinctive visions. 
  p
    | So how have Christianity and Islam sought to position themselves in relation to Yoruba culture and society? In the early days &ndash; around the 1870s, let us say &ndash; Christians were widely seen as standing right apart from it, and Muslims as much more at home in it. The guiding question I want to ask, which for the sake of argument I state in a strong form, is this: has it come about, over the past century and a quarter, that as Christians have found ways to reconcile themselves with Yoruba culture, Muslims (or at least the most Islamically self-conscious among them) have sought to distance themselves from it? Can we even say that a kind of reversal has come about, such that now it is Christians who are Yoruba undifferenced, while it is Muslims who are Yoruba marked by religious difference? The contrasting trajectories of the two faiths, it would seem, are in accord with their respective cultural logics: both have been true to themselves in the histories they have produced.
  h3 Christianity: indigenization and cultural nationalism
  p
    | A good place to start is with some comments by Edward Blyden, the West Indian-born pioneer of African nationalism, adopted citizen of Liberia, critic of the missions and admirer of Islam&rsquo;s cultural achievements in West Africa. In 
    em Christianity, Islam and the Negro Race 
    | (1887), Blyden compared Christianity unfavourably with Islam as regards its local adaptation, which he linked to the continuing enthralment of Christian converts to their missionary mentors. Whereas with Islam, he argued, &ldquo;the Arabic superstructure has been superimposed on a permanent indigenous substructure, so that what really took place, when the Arab met the Negro in his own home, was a healthy amalgamation, and not an absorption or an undue repression ...&rdquo;, the local Christians remained mere imitators, who &ldquo;try to force their outward appearance into, as near as possible, a resemblance to Europeans&rdquo;.
    a#fnref468.footnoteRef(href='#fn468')
      sup 468 
    | Despite this, he felt that they challenged heathenism less effectively then Muslims &ndash; Blyden was no primitivist &ndash; and failed to bring about real cultural change. This severe indictment was actually shared by some in the missions, notably the Revd. James Johnson, pastor of Breadfruit church in Lagos, as fiery a nationalist as he was an evangelical and an evangelist. &ldquo;Christians&rdquo;, he wrote in 1874, &ldquo;are regarded as a people separate from [the mass of Lagosians], as identifying with a foreign people, and the dress they assume has become a mark of distinction&rdquo;.
    a#fnref469.footnoteRef(href='#fn469')
      sup 469 
    | Johnson responded by putting strong pressure on his parishioners to wear African dress, and insisted on giving Yoruba names in baptism. In the wave of &ldquo;cultural nationalism&rdquo; in the 1890s, the adoption of Yoruba names and dress was a sign of commitment to the cause. Names and dress, the key personal markers of social identity, are themes I will return to later.
  p
    | It was both paradoxical and painful for Christianity, a religion that had put provision of God&rsquo;s Word in the language of the people at the very heart of its evangelistic strategy, to find itself treated as alien, compared with its rival, that had insisted on keeping its Word in the language in which it had first been delivered, a language incomprehensible to all but a handful of Yoruba Muslims. Even the imam&rsquo;s 
    em khutba 
    | or sermon was ideally first given in Arabic and afterwards rendered into Yoruba. Since the missionaries &ndash; including radicals like James Johnson &ndash; were neither ready nor able to do much to modify the content of the Christian message to the Yoruba (e.g. as regards polygamy, the provision of charms, or domestic slavery), there were only two things to be done: (i) to hope that with cultural change under colonial conditions Christianity would come to be positively valued and lose its aura of strangeness; and (ii) to find ways to persuade the Yoruba that, despite its strangeness, Christianity was actually the fulfilment of their historical destiny and the realization of the best potential in their old religion. The framework within which was eventually achieved was the new extended category of &ldquo;Yoruba&rdquo; &ndash; i.e. the Yoruba as we know them today, including all the non-Oyo groups &ndash; which the Church Missionary Society first conceived. This was built on a combination of two values &ndash; the richness of their traditional culture and their modern enlightenment &ndash; which might once have been thought of as opposed or incompatible. 
  p
    | To this project, works on religion and on history were critical: religion because that was where Yoruba culture was at its most distinctive, and history as the medium through which the relations between tradition and modernity needed to be articulated. As to history, all other early historical writing by Christian clergy or laymen pales into insignificance besides the scale and scope of the Rev. Samuel Johnson&rsquo;s 
    em The History of the Yorubas 
    | (see Chapter 2 above). The Christian literature on Yoruba religion is more varied and sustained, but contains no single work of the calibre of Johnson&rsquo;s 
    em History 
    | .
    a#fnref470.footnoteRef(href='#fn470')
      sup 470 
    | &ldquo;Yoruba religion&rdquo;, 
    em qua 
    | discursive construct, was something devised by Christian evangelists to further their project of conversion. It served to throw a single concept round a body of practices which had not previously been so unified by those who engaged in them; and it treated as a single pan-Yoruba phenomenon what was in reality a spread of local cult-complexes (see Chapter 3 above). However conceived, Yoruba religion was complex, but undoubtedly the 
    em oris&#x323;a 
    | cults were its centrepiece: they above all were what converts had to renounce, handing over their images for destruction. The greatest such staging of conversion was the mass iconoclasm at the Aladura revival at Ilesha in 1930-31, where the abandonment of 
    em oris&#x323;a 
    | was linked with the renunciation of other works of evil &ndash; witchcraft, bad medicines, charms or &ldquo;juju&rdquo; &ndash; in a grand demonization of past ritual practice.
    a#fnref471.footnoteRef(href='#fn471')
      sup 471 
    | But since the old religion had met real and continuing needs, this dramatic rupture at the phenomenal level had to be combined with functional alternatives at the existential level, through the Aladura prophets &ndash; like Muslim 
    em alfa 
    | before them &mdash; providing their own means of healing, guidance and protection against enemies. 
  p
    | But demonization, however leavened with practical substitutes, could not generate pride in tradition. For that other strategies were needed. One was de-sacralization, where items of &ldquo;heathenism&rdquo; were rendered inoffensive by being taken out of the category of religion. This was first attempted with the Ogboni society &ndash; in its religious aspect a cult of the earth &ndash; which was argued to be none other than &ldquo;African freemasonry&rdquo;; and then (since many were not persuaded by this) became further refined into the Reformed Ogboni Fraternity, the brainchild of that interesting man, Archdeacon T. A. J. Ogunbiyi. Then a home-grown euhemerism allowed 
    em oris&#x323;a 
    | to be reconfigured as kings, heroes and great men of old, who had been deified after their deaths. This enabled them to be honoured by Christians as ancestors and founding fathers. In recent decades, as already noted, a highly reified concept of &ldquo;culture&rdquo; has proved very serviceable, allowing the annual rituals of the patronal deities of the community to be promoted as &ldquo;cultural festivals&rdquo; pure and simple (though again, as we&rsquo;ll see, not everyone is happy to go along with this redefinition). 
    a#fnref472.footnoteRef(href='#fn472')
      sup 472 
  p
    | Of all the traditional cults, that of Orunmila, the 
    em oris&#x323;a 
    | of the Ifa divination cult, stood in a class of its own. Its priests, the 
    em babalawo 
    | , were treated with a unique degree of respect by the Yoruba clergy.
    a#fnref473.footnoteRef(href='#fn473')
      sup 473 
    | It was reinterpreted in two ways. (i) Following the de-sacralization strategy, its corpus of oracular verses (the 
    em Odu 
    | of Ifa) were seen as containing &ldquo;Yoruba philosophy&rdquo;, a body of ancestral wisdom, a cultural archive. Ifa was, wrote the Rev. D.O. Epega, &ldquo;the embodiment of the soul of the Yoruba nation, and the repository of their knowledge, religious, historical and medical&rdquo;.
    a#fnref474.footnoteRef(href='#fn474')
      sup 474 
    | This outlook continues strongly in the work of Yoruba scholars working in various cultural fields down to today. (ii) Its sacred character was allowed, but treated as an anticipation, even a partial pre-revelation, of Jesus Christ. The Rev. E.M. Lijadu, in particular, glossing the name O&#x323;runmila as &ldquo;It is heaven which knows reconciliation&rdquo;, saw it as pointing to Christ as its fulfilment. The culminating work in this tradition was a remarkable Ph.D. thesis &ndash; unfortunately never published &ndash; completed in 1976 by the Rev. E.A.A. Adegbola, &ldquo;Ifa and Christianity among the Yoruba: a study in symbiosis and the development of Yoruba Christology.&rdquo;
    a#fnref475.footnoteRef(href='#fn475')
      sup 475 
    | But this was always a tricky line-call for clergy of a cultural-nationalist inclination to make, since they ran the risk of valorizing Orunmila to such an extent that he, rather than Christ, came to be seen as Africa&rsquo;s saviour and redeemer. In fact, this was what some people came to think. A short-lived Ethiopian Church, founded by a Prophet Adeniran in Lagos in 1918, argued that each people had its own saviour: Jesus for the Europeans, Mohammed for the Arabs and Orunmila for the Africans.
    a#fnref476.footnoteRef(href='#fn476')
      sup 476 
    | There followed an Ijo Orunmila (&ldquo;Church of Orunmila&rdquo;), modelled on a Christian church but with an 
    em Iwe Odu Mimo&#x323; 
    | (&ldquo;Book of the Holy Odu&rdquo;) in place of the Bible, founded in 1934, which continues to exist, a minor current within the broad stream of Yoruba religiosity.
    a#fnref477.footnoteRef(href='#fn477')
      sup 477 
    | Professor Wande Abimbola&rsquo;s contemporary promotion of Ifa as itself a potential world religion belongs to the same tradition
    a#fnref478.footnoteRef(href='#fn478')
      sup 478 
    | ... though nowadays the main audience for such views is in America rather than Nigeria (see Chapter 11).
  p
    | So Yoruba Christianity&rsquo;s efforts to reconcile itself with Yoruba history and culture, when set alongside institutional developments such as the emergence of the African and Aladura churches and the Africanization of the mainline mission-founded churches, especially after 1945, ran parallel to the general narrative of nationalism. Indeed the political nationalism of the period 1945-60 is better seen as following, rather than leading, developments in the religious field.
    a#fnref479.footnoteRef(href='#fn479')
      sup 479 
    | The symbolic apogee of nationalism was surely FESTAC, the Second World Festival of Black and African Arts and Culture, which took place in Lagos in 1977: a grand cultural jamboree sponsored by the Nigerian state, then flush with new oil revenues, which was intended to mould its diverse traditional cultures into a national culture and to proclaim Nigeria&rsquo;s standing among all people of African descent.
    a#fnref480.footnoteRef(href='#fn480')
      sup 480 
  p
    | Yet this event evoked protests, not merely for its extravagance and the corruption that it gave rise to, but on religious grounds too, from both Muslim and Christian groups, angry that the promotion of African culture should be the occasion for putting on performances that (as they argued) served to showcase idolatry.
    a#fnref481.footnoteRef(href='#fn481')
      sup 481 
    | That some Muslims were not happy with this is not surprising (for reasons shortly to be explored). What is more striking is the new indication of Christian estrangement from the cultural-nationalist project which mainstream clergy had had such a large part in shaping. This reaction against the trajectory of nearly a century was headed by the emerging Neo-Pentecostals: it was in protest against FESTAC that Pastor E.A. Adeboye&rsquo;s Christ the Redeemer&rsquo;s Ministry &ndash; now a core agency of RCCG &ndash; was born.
    a#fnref482.footnoteRef(href='#fn482')
      sup 482 
    | This was the first public showing of, not so much a new attitude, as the revival of the old strategy of demonizing, rather than de-sacralizing, what was left of the old religion. Thus it came about that the new movements in both Christianity and Islam found common cause in a post-nationalist cultural agenda, through their prescriptions for what should replace it were deeply at variance with one another.
  h3 Islam: from the local to the universal
  p
    | So what had meanwhile been going on in Yoruba Islam? The first thing to note is how relatively unengaged it was, either with colonialism or with the nationalist reaction to it. Although colonialism had created conditions for the massive expansion of Yoruba Islam in the early decades of the Twentieth Century, it was never symbolically associated with it, in the way that Christianity was, as the religion of the 
    em oyinbo 
    | (&ldquo;white man&rdquo;). But neither was it intrinsically hostile to it, as much Muslim opinion in Northern Nigeria was. That is not surprising, since there the British had overthrown an Islamic state and, as many saw it, subjected Muslims to the shameful and unnatural condition of being ruled by 
    em Nasarawa 
    | (&ldquo;Christians&rdquo;).
    a#fnref483.footnoteRef(href='#fn483')
      sup 483 
    | As a result, radical nationalists in the North like Sa&rsquo;adu Zungur, critical of the way the British had co-opted the emirate structure, were well able to ground both their socialism and their nationalism in their Islam.
    a#fnref484.footnoteRef(href='#fn484')
      sup 484 
    | It is illuminating to draw a contrast here between Sa&rsquo;adu Zungur and Adegoke Adelabu of Ibadan: both Muslims, both professed socialists, and both affiliated to the NCNC in opposition to the dominant parties in their own respective regions. But Adelabu, though his populist Mabolaje Grand Alliance had its core support from Muslims and took on a certain local Muslim style, made no connection between his religion and his politics. In fact, in his robust exposition of his political credo, 
    em Africa in Ebullition 
    | (1952), he referred to his own Muslim identity as being &ldquo;by chance&rdquo;, even as something he &ldquo;deprecate[d] ... more so when you import it into the political arena&rdquo;.
    a#fnref485.footnoteRef(href='#fn485')
      sup 485 
    | As Northern Muslims had a religious motive for nationalism that Yoruba Muslims lacked, so Yoruba Muslims did not have the motive for Africanizing their religion that Yoruba Christians did. We might even argue that, if Africanization is parallel to nationalism, the dominant trend in Yoruba Islam was counter-nationalist, since it was a movement away from the Africa-specific towards a more universal Islam. This trend had begun haltingly in the 1930s, but accelerated in the late colonial period, so the apparent step-change at the end of the 1970s did not come from nowhere.
  p
    | A telling episode in this process occurred in the mid-1950s. It had become customary for the senior 
    em alfa 
    | of Ibadan to visit the 
    em Olubadan 
    | and chiefs annually on the tenth day of the month Muharram, Ileya as the Yoruba call it, to pray for their welfare and to divine for the coming year. Rituals would be performed to help realize good predictions and avert bad ones; and afterwards 
    em saraa 
    | would be given to the 
    em alfa 
    | to make a feast for their people. This was known as Gbigbohun-Tira (&ldquo;Listening to the Voice of Scripture&rdquo;).
    a#fnref486.footnoteRef(href='#fn486')
      sup 486 
    | Both in form and function, it closely followed the model of a rite called Odifa-O&#x323;dun (&ldquo;Casting Ifa for the New Year&rdquo;), which 
    em babalawo 
    | had performed. Controversy had raged among Muslim clerics since the 1930s about the legitimacy of this practice: was it an idolatrous abuse of the sacred text of the Koran, or a justified expedient to replace Ifa with something more Islamic and to give a more Muslim face to public authority in Ibadan? The person who saved the 
    em ulama 
    | from further argument by abolishing the custom altogether was the first Christian to be elected 
    em Olubadan 
    | (1955-64), the ascetic I.B. Akinyele, who was also head of the Christ Apostolic Church. The irony of the situation was not lost on Shaykh Murtada, who celebrated his triumph in an Arabic poem he circulated to his colleagues: &ldquo;You abused the book of Allah by taking it to a place filled with filth on all sides ...When the Christian among you ascended the throne, he removed from Islam some of its evils by saying, &lsquo;I don&rsquo;t want your book, my Christianity rejects it&rsquo;. What sort of wonder [is this]?&rdquo; His opponent, Ahmad al-Rufai, had cited a  
    em hadith 
    | in which the Prophet had backed some of his Companions who had taken a sheep in payment for having given magico-spiritual help to a pagan Arab chief: a once cogent precedent that no longer had such force.
  p
    | One thing that this episode highlights, when we set it alongside the treatment of Ifa in the Africanizing theology of this period, is how differently Islam and Christianity related themselves to this unique feature of Yoruba religion. Islam and Ifa went back a long time together in Yoruba history: indeed, I am persuaded by Louis Brenner&apos;s suggestion that Ifa actually arose as a Yoruba response to the stimulus of Islam, possibly as far back as the Sixteenth Century.
    a#fnref487.footnoteRef(href='#fn487')
      sup 487 
    | Thereafter, Ifa and Islamic divination existed in parallel; by the Nineteenth Century, their respective practitioners could actually cooperate with one another on difficult cases.
    a#fnref488.footnoteRef(href='#fn488')
      sup 488 
    | Christianity, of course, only encountered Ifa in the 1840s. The cognitive bridges that the two world religions respectively built between themselves and Ifa were very different. A Muslim legend of the origin of Ifa attributes it to one Setilu, who can be identified with Satih, a magician of pre-Islamic Arabia.
    a#fnref489.footnoteRef(href='#fn489')
      sup 489 
    | Ifa was thus set fully within an Arab-Islamic genealogy that carried the implication that it, like other works of pagan 
    em jahiliyya 
    | , must in due time be set aside for Islamic truth. By contrast, the Christian theology of Ifa, as proposed by a cultural nationalist like Lijadu (who actually went to the trouble of taking instruction from a 
    em babalawo 
    |), saw it as a partial revelation of God to the Yoruba, which could therefore serve as a 
    em praeparatio evangelica 
    | , a springboard into a distinctively Yoruba Christianity. This Christian invention of a continuity with something with which it had no prior historical links, stands in contrast to Islam&rsquo;s insistence in principle on rupture from something with which it had a long historical relationship.
  p
    | So some more Islamically self-conscious elements struggled &ndash; against the inclination of most ordinary Muslims, one has to say &ndash; to disown aspects of its own local past, to cast aside some of those syncretistic practices which had earlier given it an entry into Yoruba society. Increasingly the Middle East is looked to as a source of &ldquo;best practice&rdquo;, particularly by those of Salafist views. Among these, A.-R. Shittu drew an interesting contrast to me between the ways in which the two world religions had come to the Yoruba.
    a#fnref490.footnoteRef(href='#fn490')
      sup 490 
    | Christianity, he suggested, had come in a fairly pure form, directly from its centres in places like Rome and Canterbury, but Islam had come through many African intermediaries, picking up a lot of 
    em bid&rsquo;a 
    | (&quot;innovation&quot;) along the way.
    a#fnref491.footnoteRef(href='#fn491')
      sup 491 
    | Shittu&rsquo;s view of the history of Christianity is no doubt too generous, but it entails a characteristically Muslim perspective: that the movement away from the Arabian point of origin, which was equally temporal and spatial, unavoidably carried a declination from primordial truth. (We might note in passing how different Shittu&rsquo;s assessment of African Islam is from Blyden&rsquo;s, whose praise for Islam presupposed a quintessentially Christian view of the proper relationship between religion and culture). So there is a logic to his argument, against mainstream Muslims who accuse him of wanting to import Saudi customs, that the Islam of its heartland in Saudi Arabia must be considered purer, less subject to 
    em bid&rsquo;a 
    | , than the Islam of its spatial periphery.
    a#fnref492.footnoteRef(href='#fn492')
      sup 492 
    | This perspective was no doubt encouraged in the experience of Yoruba undertaking the 
    em Hajj 
    | , whose numbers boomed in the 1950s, and again in the 1970s.
    a#fnref493.footnoteRef(href='#fn493')
      sup 493 
  p
    | The Middle East may be said to have first intervened, directly and decisively, in Yoruba Muslim affairs in the early 1970s. In 1970, the World Muslim League formally declared Ahmadiyya to be a non-Muslim organization on the grounds that its founder, Ghulam Ahmad, had made claims about his inspired status that contradicted Mohammed&rsquo;s unique position as 
    em Khatam an-Nabiyyin 
    | (&ldquo;Seal of the Prophets&rdquo;).
    a#fnref494.footnoteRef(href='#fn494')
      sup 494 
    | This fed through to Nigeria by 1974, after the Saudi Arabian embassy announced it would no longer grant visas to Ahmadis wishing to undertake the Hajj.
    a#fnref495.footnoteRef(href='#fn495')
      sup 495 
    | The Sultan of Sokoto &mdash; ever keen to burnish his credentials with the Saudi royal family &mdash; was more than ready to fall in behind the Saudi initiative and called on all Nigerian Muslims to dissociate themselves from the Ahmadis. The impact of this fell almost exclusively on Yoruba Muslims, since Ahmadiyya&rsquo;s membership was virtually limited to Yorubaland. The most dramatic casualty was Professor I.A.B. Balogun &ndash; the doyen of Yoruba Arabists (with a doctorate from SOAS), imam of the UI mosque, an Ahmadi for 40 years &ndash; who recanted after much soul-searching. This caused consternation in Ahmadiyya ranks, since he took many others with him.
    a#fnref496.footnoteRef(href='#fn496')
      sup 496 
    | A large group seceded, calling themselves Anwar ul-Islam; nearly all the schools Ahmadiyya had founded were eventually lost to it; and though it has since been re-organized from its headquarters in Pakistan,
    a#fnref497.footnoteRef(href='#fn497')
      sup 497 
    | the moment has surely passed when Ahmadiyya made its most important contribution to the development of Yoruba Islam. Taken together, the pressure on local syncretisms like Gbigbohun-Tira and the expulsion of Ahmadiyya amount to a kind of pincer movement on the distinctively Yoruba expression of Islam, squeezing it at both the traditional and modern ends of its range, in such a way as to move it overall closer to the orthodox Sunni mainstream and to reduce the differences between it and the Islam of Northern Nigeria. Ahmadiyya had been at the forefront of Yoruba Muslim modernity, but it had become by now rather an old-fashioned kind of modernity, once symbolized in the kind of formal dress that Ahmadi leaders had favoured: a double-breasted suit with a red fez. Non-Ahmadi Muslims also resented a certain exclusiveness in Ahmadis, expressed in the feeling that they preferred to pray behind an Ahmadi imam. They also had a definite feel of the colonial period about them: politically they had been pro-British and strongly opposed to violent Islamic militancy. The 
    em takfir 
    | against them allowed other conceptions of Muslim modernity to come forward: more militant and assertive, and more in tune with contemporary currents in the wider world of Islam. 
  p
    | No Muslim organization registered these changes over the course of the 1970s as closely as the Muslim Students Society (MSS).
    a#fnref498.footnoteRef(href='#fn498')
      sup 498 
    | This had been founded in 1953 by a group of students attending various secondary schools in Lagos, led by a pupil at King&rsquo;s College, Abdul-Lateef Adegbite.
    a#fnref499.footnoteRef(href='#fn499')
      sup 499 
    | In its early years MSS &ndash; whose base would soon move to the universities &ndash; was mainly concerned with giving social support and promoting fellowship among Muslim students in institutions where they were massively outnumbered by Christians; but over time its focus shifted more towards the intersection of religion and politics. It changed its motto twice in its first twenty-five years: from its original &ldquo;Peace, Love and Community&rdquo; to &ldquo;Peace, Faith and Brotherhood&rdquo;, and finally to the Kalimah itself, &ldquo;There is no god but Allah ...&rdquo; That sequence tells its own story: the development of a more defined and self-consciously orthodox Muslim identity. In 1969, over half the area chairmen of MSS had been Ahmadis (which is not at all surprising, granted their high level of education)
    a#fnref500.footnoteRef(href='#fn500')
      sup 500 
    | ; and one effect of the 
    em takfir 
    | had been to clear the way for a much more radically-inclined leadership to take over. In the early 1980s, some MSS activists actually received para-military training in Libya &mdash; itself a token more of militancy than of orthodoxy.
  p
    | This sharpening of Islamic identity went with a desire, both to pull apart from some institutions in which Yoruba Muslims had joined with Christians (such as Boy Scouts and Girl Guides), and to establish closer ties with their Northern co-religionists. MSS, as a body originating in the Yoruba South, was at first regarded with reserve by Northern Muslims, though it made a point of appointing some emirs as patrons; and eventually it did establish itself firmly on Northern campuses. At a higher level, MSS&rsquo;s founder, by now Dr Adegbite, was active in setting up the first all-Nigerian Muslim body, the Nigerian Supreme Council of Islamic Affairs (NSCIA).
    a#fnref501.footnoteRef(href='#fn501')
      sup 501 
    | This was triggered by the embarrassment felt by Nigerian Muslims at a conference in Libya in 1973, when there was no single national voice to speak for them. Dr Adegbite took discreet soundings with the Sultan of Sokoto, who first suggested that Yoruba Muslims should simply join Jama&rsquo;atu Nasril Islam (&ldquo;Society for the Victory of Islam&rdquo;), which had been set up in 1962 in the context of the Sardauna&rsquo;s Islamization campaigns in the North. Adegbite advised against this: he must have known very well how it would have played in places like Ikorodu and Ijebu-jesha. Even as it was, the Sultan became President of the NSCIA and an official of JNI, his close relative Ibrahim Dasuki (later Sultan himself), became its Secretary-General, while Adegbite had to settle for the post of Legal Advisor. This was undoubtedly humiliating, and it amply confirmed suspicions that Northern Muslims regarded the Yoruba as very much their junior partners. It meshed with the stereotype, still widely current today though denied by some senior figures, that Hausa or Fulani Muslims are reluctant to pray behind a Yoruba imam.
  p
    | Though Yoruba Muslims sometimes find the existence of their fellow-Muslims in the North a useful counter-weight to the influence of Yoruba Christians, their relationship with them is very ambivalent. It has surely worked towards a more uniform and presumptively more orthodox practice of Islam throughout Nigeria &ndash; though here Yoruba Muslims have sometimes been able to outflank the supposedly more correct Northerners. A perennially vexed issue has been over the fixing of the dates for key Islamic festivals &ndash; such as Ileya or Id al-Adha, the &ldquo;day of sacrifice&rdquo; at the end of the  
    em Hajj 
    | &ndash; when the very strong normative ideal is that the whole 
    em umma 
    | should celebrate in unison.
    a#fnref502.footnoteRef(href='#fn502')
      sup 502 
    | Tradition dictates that the exact date should be fixed by sighting the new moon, where the Sultan had a procedure which settled it for the Sokoto Caliphate &mdash; but it sometimes led to a celebration one day out from other parts of the Muslim world. Many Yoruba Muslims have argued for following the lead of the Grand Mufti of Mecca, thus enabling them to claim they are more universalist as Muslims than the Hausa-Fulani are. Some bold spirits, such as Professor Amidu Sanni, imam of the Lagos State University mosque, have gone so far as to argue that the Sultan&rsquo;s claim to be regarded as the &ldquo;Spiritual Leader of Nigerian Muslims&rdquo; is un-Islamic, because it depends on hereditary succession, which has no legitimacy in Sunni Islam. 
    a#fnref503.footnoteRef(href='#fn503')
      sup 503 
    | This is rather an adroit strategy of Yoruba self-positioning as &ldquo;Sunnier than thou&rdquo;.
  h3 The differentiation of Muslim identity
  p
    | The search of Yoruba Islam for a greater religious authenticity, which has led it over several decades both to sever itself from some of its distinctive local forms and to associate itself more closely with currents in the wider Islamic world, has also made many individual Muslims want to present themselves more distinctly as Muslims within the community, through the two main social indicators of personal status: dress and names. (These were, of course, precisely the same markers that James Johnson had chosen in the 1870s when he wanted Christian converts to show that they were Africans and not Black Europeans). This self-differentiation seems linked to other kinds of differentiation, actual or wished-for, which must tend to reduce the amount of symbolic commonality which has hitherto existed between Yoruba Muslims and Christians.
  p
    strong Dress. 
    | A generation ago, it was virtually impossible to distinguish people by religion in a Yoruba crowd, whether in a market or on a campus. Now it is much more common to be able to identify some people as Muslims, particularly women. Women in full black purdah (called 
    em e&#x323;le&#x323;ha 
    | in Yoruba) are more often seen now, especially in the back quarters of towns like Ibadan. Once associated with traditionalist groups &ndash; such as Bamidele and Lanase&apos;s followers &mdash; which adopted it from pious circles in Ilorin or Hausaland, purdah is now encouraged by newer groups of Salafi or Deobandi views like Ahl us-Sunna or the fast growing Tablighi Jama&rsquo;at, from Pakistan.
    a#fnref504.footnoteRef(href='#fn504')
      sup 504 
    | There is strong criticism of it from within the mainstream 
    em ulama 
    | , who in general are firmly opposed to it, for making Islam look alien and for impeding the activity of Yoruba women as traders, but it seems to be growing.
  p
    | More novel is the wearing of indicative dress &ndash; 
    em hijab 
    | or full-length 
    em jilbab 
    | &ndash; by some Muslim women students on campus. A large notice-board authorized by the MSS outside the UI mosque proclaims: &ldquo;O children of Adam! We have bestowed raiment upon you to cover the whole of your body and as an adornment and the raiment of righteousness ... (Q. 7:26)&rdquo;. Women so dressed, at least at the University of Lagos, are (or were) liable to have &ldquo;sharia!&rdquo; shouted derisively at them by male students. 
    a#fnref505.footnoteRef(href='#fn505')
      sup 505 
    | The comportment of women students can be controversial within the Muslim community: a few years ago, some particularly ardent female Salafists at UI adopted the practice of sitting sideways at their desks during lectures so as to avoid making eye-contact with their male professors &ndash; and were robustly criticized for so doing by the then university imam, Dr D.A. Tijani, in a Friday sermon. Whether such displays are strictly due to a desire to follow Sharia, or to a more general wish to declare Muslim identity in public, is a moot point. Certainly the adoption of 
    em hijab 
    | as part of the school uniform for girls in Islamic primary schools, which is quite common, has to be seen as the latter, since the Sharia is only concerned with what adult or adolescent women should wear.
  p
    | As regards male dress, there were always some discreet indicators of Muslim identity, such as the wearing of white embroidered caps, and recent changes in appearance (such as the untrimmed beards sported by some Ahl us-Sunna members) have been less conspicuous than in the case of women. A couple of high-profile instances are more notable for what they tell us about Christian attitudes towards Muslims wearing &ldquo;un-Yoruba&rdquo; dress. As early as the 1950s, Awolowo is said to have rebuked the 
    em Alafin 
    | of Oyo for attending a meeting of 
    em oba 
    | s wearing an Arab head-dress &ndash; he had just returned from Mecca as an 
    em alhaji 
    | &mdash; rather than the customary beaded cap. A rather similar incident occurred between Awo&rsquo;s &ldquo;political son&rdquo;, Bola Ige, and the then leader of the MSS, K.K. Oloso, at a stormy meeting in 1981 over alleged pro-Christian bias in the Oyo State Governor&rsquo;s educational policies. Ige insultingly called Oloso an &ldquo;
    em o&#x323;mo&#x323;-ale 
    | [bastard]&rdquo; for wearing a long Arab gown; to which Oloso smartly retorted, &ldquo;Who is more of a bastard?&rdquo; pointing out, to the cheers of his followers, that Ige was wearing a smart French suit.
    a#fnref506.footnoteRef(href='#fn506')
      sup 506 
  p
    | There are complex and interesting questions about the evolution of Yoruba dress to be considered here. Many, if not most, kinds of dress that Yoruba now wear were introduced through distinctively Muslim or Christian channels and were likely at first to be seen as religious identity markers, though this was not inevitably the case. What is now regarded as 
    em the 
    | Yoruba man&rsquo;s dress &ndash; the gown with voluminous open sleeves (
    em agbada 
    |), usually hitched up onto the shoulders, embroidered at the neck, worn with a long sleeved blouse (
    em buba 
    |), loose trousers (
    em s&#x323;okoto 
    |) and some kind of cap &ndash; is essentially of Northern Muslim origin. As late as the 1880s, it was not worn by local people in south-eastern areas like Ondo, where Islam had no presence. A European missionary at Abeokuta may have been referring to its adoption when he wrote in 1847 that &ldquo;Mahomedan costume is become very fashionable with the young and gay&rdquo;, adding that it &ldquo;is by no means put on as a religious peculiarity&rdquo;.
    a#fnref507.footnoteRef(href='#fn507')
      sup 507 
    | Like many other items or concepts introduced from the Muslim North, this costume rapidly lost what connotations of Islam it originally possessed and passed into the religiously-unmarked cultural repertoire of the Yoruba. The same happened with the European dress &ndash; shirts and trousers, suits for the wealthier &mdash; which once proclaimed Christians as such (and which James Johnson excoriated as culturally alien).
    a#fnref508.footnoteRef(href='#fn508')
      sup 508 
    | From our present perspective, two broad distinctions have emerged in how the Yoruba classify dress: (i) between African or &ldquo;traditional&rdquo;, and international or &ldquo;modern&rdquo; styles; and (ii) between dress which expresses religious identity, and that which is religiously unmarked. As regards (i), the two dress styles have virtually lost all the religious connotations, respectively Muslim and Christian, which they once had: Muslim bankers wear suits and ties like other bankers, while traditional dress is obligatory at weddings and funerals (and, since nationalism, for politicians at public events) &ndash; as well as for 
    em o&#x323;ba 
    | s and chiefs. In general, educational settings require religiously-unmarked modern dress, especially for the young, though (as noted above) some Muslim women now advertise their faith by their dress. As regards (ii), apart from the professional dress of clergymen, nearly all religiously-marked dress is worn by Muslims, while Christians appear as Yoruba unmarked by religious difference (with, I think, the single exception of white-garment Aladuras on their way to church, when they actually look a bit like some Muslims).
  p
    | It must be stressed that these distinctions are flexible and contested as regards to their specific content: the value or meaning attached to a particular item of dress may change. So in the Ige/Oloso confrontation referred to above, Oloso surely intended a strong statement of his Muslim identity by wearing the Arab-style gown, just as the  
    em Alafin 
    | meant to express his pride as a new 
    em alhaji 
    | &ndash; though here I presume with no combative intention &mdash; by wearing an Arab head-dress at the meeting of traditional rulers with Awolowo. Yet something like the gown seen as &ldquo;Islamic&rdquo; when worn by Oloso in 1981 &ndash; a straight, long-sleeved gown or kaftan, reaching down to just above the ankles, worn with trousers underneath (sometimes known by the Hausa name 
    em dandogo 
    |) has since then come into fairly general use, and may be worn instead of the 
    em agbada 
    | for occasions like going to church. So it has lost its religious marking and become &ldquo;traditional&rdquo; or &quot;African&quot;, while other items &ndash; like the Arab head-dress and the turban &ndash; have retained their Islamic character. In effect, then, it seems to have been Christians whose decision to adopt an originally Islamic dress item as theirs too that makes it generically &ldquo;Yoruba&rdquo;. As in other spheres, they have fallen into the role of being the principal arbiters of what counts as general Yoruba culture. No doubt this is what lay behind Awolowo&rsquo;s reprimand of the  
    em Alafin 
    | : an 
    em o&#x323;ba 
    | , of all people, should be the complete embodiment of Yoruba tradition, and not express a religiously partisan identity at an official meeting.
  p
    strong Names. 
    | The choice of personal names &ndash; between European and Yoruba &mdash; was the other key focus of cultural self-reproach by Christian radicals in the 1870s. Who could consider somebody called Thomas Babington Macaulay or Joseph Pythagoras Haastrup to be a proper African?
    a#fnref509.footnoteRef(href='#fn509')
      sup 509 
    | The pressure among Christians for Yoruba names to be given in baptism built up over many decades to the point that today, in any list of names (e.g. a student class-list or an electoral register), the religiously unmarked (i.e. purely Yoruba) names will in the great majority of cases be those of Christians. Virtually all Muslims have a distinctively Muslim name (though most have Yoruba surnames), and are more likely to be known by it. A Muslim woman friend of mine now in her 40s &ndash; let me call her Sidikat &mdash; told me that while she was a student she was more than once asked (often with a note of reproach) by Christian fellow students why she didn&rsquo;t use a Yoruba name like Aduke or Funmi. It is not surprising that Muslim politicians often prefer to use a Yoruba, rather than a Muslim, forename &ndash; e.g. Bola, rather than Ahmed, Tinubu &ndash; as they must appeal to a cross-religious public; and to use Yoruba versions of Muslim names (e.g. Lamidi, or even just Lam, for Abdul-Hamid; Lasisi for Abdul-Aziz). These differences &ndash; with Christians more likely to present themselves as plain Yoruba, while Muslims are more likely to advertise their religion in their preferred names &ndash; do not indicate any difference in the intensity of personal belief, but are the outcomes of the cultural logics of the two faiths.
  p
    strong Religious language 
    | . Here we find the same logic at work as with dress and personal names, with the Christian adoption of a great deal of the religious terminology of Arabic derivation already in use among Muslims. Some of this had already lost its religious marking by the Nineteenth Century: words such as 
    em alafia 
    | (&ldquo;peace, well-being&rdquo;) or 
    em anu 
    | (&quot;mercy&rdquo;). Some other words with a more definite religious content, like 
    em alufa 
    | (&ldquo;pastor, priest&rdquo;), 
    em adura 
    | (&ldquo;prayer&rdquo;), 
    em woli 
    | (&ldquo;prophet&rdquo;), 
    em iwasu 
    | (&ldquo;sermon&rdquo;) were soon naturalized as Christian terms, chiefly at the instance of Bishop Crowther, the principal translator of the Yoruba Bible. It seems reasonable to assume that the orthography he adopted in writing these terms comes close to expressing their actual phonetic values in nineteenth-century Yoruba speech, e.g. as regards the insertion of the &ldquo;u&rdquo; in 
    em alufa 
    | , or the &ldquo;r&rdquo; in 
    em adura 
    | . Of the various names and epithets of God that were current in the Nineteenth Century, 
    em O&#x323;lo&#x323;run 
    | (=&ldquo;Lord of Heaven&rdquo;) was by far the preferred vernacular term among Muslims and was adopted without question by Christians, thus providing a common linguistic reference-point for people of all faiths.
  p
    | Subsequently there has been some movement of linguistic self-differentiation in Yoruba Islam. An interesting case is the use of 
    em waasi 
    | instead of 
    em iwasu 
    | for &ldquo;sermon&rdquo;, which is a shift to a Hausa form from the ancient and original Malian or Songhay-derived word (both deriving from the Arabic 
    em wa&rsquo;z 
    |).
    a#fnref510.footnoteRef(href='#fn510')
      sup 510 
    | It seems most likely that this occurred as a spontaneous effect of the growing links between Yoruba and Hausa Muslims that occurred in the late Nineteenth and early Twentieth Centuries, rather than as a conscious attempt to differentiate Islam from Christianity. However that may be, its effect was to leave the old Muslim word as a Christian word. For &ldquo;Muslim cleric&rdquo;, 
    em alfa 
    | (or sometimes, phonetically closer to popular speech, 
    em afaa 
    |) has long been the preferred usage, thus differentiating it from 
    em alufa 
    | , &ldquo;Christian clergyman&rdquo;.
  p
    | Two other shifts can be pinpointed more exactly, to a new translation of the Koran published in 1977 under the auspices of the World Muslim League &ndash; made by a committee of senior 
    em ulama 
    | including Shaykh Adam al-Ilori &ndash; that has become in effect the &ldquo;authorized version&rdquo; for Yoruba Muslims.
    a#fnref511.footnoteRef(href='#fn511')
      sup 511 
    | One is a very slight shift towards Arabic usage: 
    em adua 
    | rather than 
    em adura 
    | for &ldquo;prayer&rdquo;. The other is phonetically equally slight, but more telling in intention and potentially more momentous in effect. It is the substitution of 
    em O&#x323;lo&#x323;hun 
    | for 
    em O&#x323;lo&#x323;run 
    | as the preferred Muslim rendition of &ldquo;God&rdquo;. This hardly registers in speech at all, since &ldquo;h&rdquo; is barely aspirated and &ldquo;r&rdquo; is only rolled lightly in Yoruba &ndash; both sound pretty much like 
    em O&#x323;lo&#x323;&rsquo;un 
    | &ndash; but in a text, like the NASFAT Prayer Book, the difference strikes the eye. A brief explanation of the change is given in the preface of the 1977 translation. 
    em O&#x323;lo&#x323;run 
    | is said to be unacceptable because it literally means &ldquo;the one who owns heaven only but [by implication] not the earth&rdquo; (
    em e&#x323;niti o ni o&#x323;run nikan ko si ni aiye 
    |). 
    em O&#x323;lo&#x323;hun 
    | is glossed as 
    em e&#x323;niti o ni o&#x323;hun lori e&#x323;nike&#x323;ni 
    | (&ldquo;the one who has 
    em o&#x323;hun 
    | over anyone&rdquo;), which is claimed to be the equivalent of the Arabic Allahu or Allahuma (&ldquo;O God!&rdquo;). But what does 
    em o&#x323;hun 
    | mean?
    a#fnref512.footnoteRef(href='#fn512')
      sup 512 
    | Not a word in very common use, it has the connotations of &ldquo;taboo&rdquo; or &ldquo;forbidden thing&rdquo;, as in the phrase 
    em o ti j&rsquo;o&#x323;hun 
    | (&ldquo;he has done something he shouldn&rsquo;t&rdquo;, or &ldquo;he has incurred a penalty&rdquo;). Evidently al-Ilori, as the leading translator, meant to convey by 
    em O&#x323;lo&#x323;hun 
    | something like &ldquo;the one who has the right to possession or obedience.&rdquo; Abubakre thinks it possible that 
    em o&#x323;hun 
    | may also have some of the connotations of the Arabic concept of 
    em haram 
    | (&ldquo;forbidden&rdquo;, but with the sense of &ldquo;holy&rdquo; or &ldquo;revered&rdquo; when applied to God, like 
    em sacer 
    | in Latin), but still concludes that 
    em O&#x323;lo&#x323;hun 
    | is &ldquo;a rare and difficult word formation&rdquo; in Yoruba. Despite the semi-official status of the translation proposed by al-Ilori, many Yoruba Muslims &ndash; whether literate in Arabic or not &ndash; still use 
    em O&#x323;lo&#x323;run 
    | , or are inclined to provide their own etymologies for the difficult neologism. I once heard a preacher at a NASFAT Asalatu service explain 
    em O&#x323;lo&#x323;hun 
    | by deriving it from 
    em olohun-gbogbo 
    | (&ldquo;owner of all things&rdquo;), which he claimed to be the equivalent of the Arabic phrase 
    em Rabi&rsquo;l-&lsquo;alamin 
    | (&ldquo;Lord of all created beings&rdquo;) at Q. 1.2. This may be theologically sound, but it makes no etymological sense in Yoruba.
  p
    | But perhaps more significant than this small step away from the religious lexicon common to Yoruba of all faiths, is the decision that al-Ilori and his fellow translators did 
    em not 
    | take: to decline to translate Allah at all, and instead to introduce the Arabic name of God into the Yoruba text. In fact, two other Muslim translations have done just this: one brought out by Ahmadiyya in 1976, and one published by Professor Y.A. Quadri in 1997.
    a#fnref513.footnoteRef(href='#fn513')
      sup 513 
    | In principle that might have been the first step towards naturalizing 
    em Allah 
    | as the Yoruba name for the Supreme Being among Muslims, as it has happened in Hausa, Fulfulde, Mande and the languages of other long-Muslim peoples (but notably not Swahili), though that outcome is now effectively ruled out by the fact that so many Yoruba are Christian. The name 
    em Allah 
    | (in phonetic Yoruba form, 
    em Aala 
    |) was not novel in Yoruba oral texts: it occurs not only in the popular Muslim devotional songs called 
    em waka 
    | , but even in some Ifa divination verses.
    a#fnref514.footnoteRef(href='#fn514')
      sup 514 
    | Granted this background, the decision not to use the word 
    em Allah 
    | for God has to be seen as highly deliberate. It is as if al-Ilori (who was always concerned to balance his Islamic with his Yoruba loyalties) wanted to set a limit to the extent to which Yoruba Islam should distance itself from what was common, established and characteristic in Yoruba culture. There was a danger in allowing Christians to take exclusive possession of the name that Yoruba had always applied to God. So I interpret the adoption of 
    em O&#x323;lo&#x323;hun 
    | , which sounds less different than it looks, as a carefully calibrated way of correcting, but yet retaining, the age-old Yoruba designation of God.
  h3
    em Sharia 
    | and community
  p
    | Potentially the most far-reaching instance of the Muslim assertion of difference from common Yorubaness lies in the demand for Sharia. When the issue of Sharia came up in the constitutional assembly in 1977-78, Yoruba Muslims had had very limited experience of it, since the British had squashed the few incipient moves towards it early in the colonial period, and required Yoruba of all faiths to live together under the same &ldquo;Native Law and Custom&rdquo;.
    a#fnref515.footnoteRef(href='#fn515')
      sup 515 
    | The issue was re-ignited in 1999-2000, when twelve Northern States decided to adopt Sharia for criminal as well as civil cases.
    a#fnref516.footnoteRef(href='#fn516')
      sup 516 
    | What first became clear in 1977, and has continued to be the case ever since, is that while most of the formal Muslim leadership, whether lay intellectuals like Adegbite or Shittu, or Muslim title-holders like Arisekola, or leading members of the 
    em ulama 
    | , profess themselves to be strongly in favour of Sharia, the mass of ordinary lay Muslims (including those who are traditional rulers or politicians) are far from enthusiastic about it. It is not hard to see why. The introduction of &ldquo;full&rdquo; Sharia in the North, while it generated much tension and (in some places, like Kaduna) violence, was at least in a region where religious and ethnic differences already tended to coincide, so that what Sharia implied was a deeper Islamization of groups that were already Muslim, leaving non-Islamic groups to their own legal devices (at least in theory). In Yorubaland, however, where not just all communities but also many families are mixed in religion, the notion of a separate law for Muslims must have an ominous potential to divide the community at all levels. I just cannot see Sharia being generally implemented in Yorubaland in the foreseeable future, and I suspect that most of its advocates do not either.
  p
    | Yet there is a substantial continuing literature &ndash; petitions, articles, books &ndash; in which the themes of the late 1970s are reiterated three decades later.
    a#fnref517.footnoteRef(href='#fn517')
      sup 517 
    | It is passionate but little focussed on what the implementation of Sharia would mean concretely in the Yoruba situation, on such issues as: exactly how far would Sharia law extend, what would its effects be on the integration of local communities, how could a law supposed to apply only to Muslims be made work for religiously mixed families, how to reconcile the Christian population to its introduction and, perhaps even more importantly, how to deal with the reservations of reluctant Muslims some of whose freedoms would be curtailed by it. The arguments for it are typically very general, pitched at the level of high religious principle:
  blockquote
    p
      | &ldquo;Sharia is such a concomitant of Islam that to deny access to it is to infringe on [a Muslim&rsquo;s] right to freedom of worship. This is because Islam is not just a set of rituals but a complete way of life ... Unlike other faiths, Islam provides for its adherents guidance in all aspects of human behaviour and obliges them to strictly follow that guidance. ... Sharia is to a Muslim like a soul to a body&rdquo;. 
      a#fnref518.footnoteRef(href='#fn518')
        sup 518 
  p
    | This is couched in such a way as to make it hard for Muslims to oppose Sharia-implementation without opening themselves to the danger of 
    em takfir, 
    | of being declared not to be real Muslims &ndash; or of being, as one Ahl us-Sunna activist put it to me, referring scornfully to a leading Muslim politician in Lagos State, &ldquo;half-Muslim and half-Christian&rdquo;, which in his view was no Muslim at all. In fact, this kind of Sharia advocacy has little to do with Christianity, and everything to do with trying to enlist the help of the state in the continuing campaign by rigorist Muslims, both lay and clerical, to put pressure on their more easygoing co-religionists to adopt a more complete and (as they see it) correct practice of Islam.
  p
    | The notion of Islam as &ldquo;a complete way of life&rdquo; presents a fundamental challenge to the way in which most ordinary Yoruba Muslims have viewed the relationship between their religion and their culture. There are many popular sayings along the lines of:
  blockquote
    p
      | &ldquo;I will practise my traditional rites [oro ile mi, lit. &ldquo;the custom of my house&rdquo;]. Christianity will not stop me, Islam will not stop me, from practising my traditional rites&rdquo;
  blockquote
    p
      | &ldquo;When a Muslim is not hungry, he says he won&rsquo;t eat monkey flesh [a Muslim dietary taboo]. When Sule is hungry, he&rsquo;ll eat colobus monkey&rdquo;
      a#fnref519.footnoteRef(href='#fn519')
        sup 519 
  p
    | Since such attitudes, however much they obtain in practice, are not easy for Muslims to assert as the basis for open opposition to Sharia, there is instead much dissembling and foot-dragging. As the strongly pro-Sharia author of a Ph.D. thesis ruefully commented on the respondents in a survey he had conducted:
  blockquote
    p
      | &ldquo;Some Muslims were hypocritical in their opinions. They seemed to be sceptical ... on [the] re-establishment of Sharia in southern part of Nigeria. Although they hypocritically supported its re-establishment, it seemed they cherished and professed the Western system, but pretended to us ...&rdquo;
      a#fnref520.footnoteRef(href='#fn520')
        sup 520 
  p
    | In the absence of any articulated opposition to Sharia-implementation on Muslim grounds &ndash; if that were possible &ndash; especially by recognized Muslim leaders, we find two ways of reconciling commitment in principle with the recognition of practical impossibility. One is to treat it simply as a very long-term objective, as I found in talking to a group of MSS activists, all vehement supporters of what had been done in northern Nigeria. For the shorter term, they also had ideas about trying it out on a small scale, by doing a sort of 
    em hijra 
    | and establishing small-scale communities where Muslims might realize the ideal of a common life lived according to Sharia.
    a#fnref521.footnoteRef(href='#fn521')
      sup 521 
    | Another, more concrete but strictly limited experiment, is the Islamic court set up under the auspices of the League of Imams and Alfas at Ibadan Central Mosque where, on a voluntary basis, Muslims might submit cases for adjudication under Sharia, mostly concerning domestic issues.
  p
    | The other approach is to argue that what is needed, and can be realized, in southern Nigeria is a &ldquo;Sharia of the soul&rdquo;. This was expounded to me by Alhaji Abdullahi Akinbode, the Chief Missioner of NASFAT:
  blockquote
    p
      | &ldquo;If there is no institutionalized Sharia, [there can still be] personalized Sharia. If men are good, there is no need for the state to intervene. Let us make ourselves perfect ... You can be policeman of your own soul ... we concentrate on the soul ... [and seek to build] a disciplined personality rather than the disciplined state&rdquo;.
      a#fnref522.footnoteRef(href='#fn522')
        sup 522 
  p
    | This would seem to fit well with the experience of NASFAT&rsquo;s core constituency, educated Muslims who work alongside Christian colleagues in the modern commercial sector, who can appreciate the sheer unviability of having a separate legal sphere for Muslim Yoruba. The ideal of personal piety which is expressed here also seems to have a definite affinity with the outlook of many Born-Again Christians, especially those of a &ldquo;holiness&rdquo; tendency. 
  p
    | So Muslim attitudes on the proper relation between their religion and Yoruba culture cover a wide spectrum, as can be seen from with the views of two prominent figures who stand at either end of it. They are Chief Lanrewaju Adepoju, a famous poet in the Yoruba language and now a Muslim of strongly Salafist views, and the 
    em Alafin 
    | of Oyo, the most senior-ranking 
    em oba 
    | to be a Muslim. They used to be friends, but are now bitter enemies over this very issue.
  p
    | Adepoju is an entirely self-taught man who achieved renown in the 1960s for his practice of a kind of satirical poetry called 
    em ewi 
    | .
    a#fnref523.footnoteRef(href='#fn523')
      sup 523 
    | He had his own radio programme for many years and earned the sobriquet 
    em o&#x323;jo&#x323;gbo&#x323;n elewi 
    | (&ldquo;professor&rdquo; or &ldquo;the wisest&rdquo; of 
    em ewi 
    | poets). He was born a Muslim to poor parents in one of Ibadan&rsquo;s farm villages, but had no Koranic education, and was not religiously observant. For a number of years, indeed, he became a sort of freethinking Christian, and was drawn into some cultic activities which he later strongly repudiated. Eventually, after reading a biography of the Prophet Mohammed which he came across in an Islamic bookshop in London,
    a#fnref524.footnoteRef(href='#fn524')
      sup 524 
    | he returned to Islam, espousing a rigorously Salafist position and founding the Universal Muslim Brotherhood, which is part of the Ahl us-Sunna grouping. In his compound in Ibadan he has built a tiny mosque, complete with a minaret, next to his recording studio; his wives now go about as black-veiled 
    em e&#x323;le&#x323;ha 
    | ; and in his study he has many works of 
    em tafsir 
    | and entire sets of 
    em hadith 
    | . Adepoju insists that there is much more to Islam than just the Five Pillars, since it also requires &ldquo;complete adherence to the Sunna of the Prophet&rdquo;, as evidenced in the 
    em hadith 
    | . Since for him Islam &ldquo;is a complete way of life and itself a culture&rdquo;, even the question of a relationship with Yoruba culture seems to be theoretically precluded: it is simply a question of Yoruba Muslims adopting the supposedly complete culture of Islam. So in interview I did not find it easy to get Adepoju to specify how Yoruba values might contribute positively to a Yoruba expression of Islam &ndash; &ldquo;respect for elders&rdquo;, he eventually conceded. Instead, he was entirely concerned to stress how he had &ldquo;broken from his ugly past&rdquo; (sounding for a moment a bit like a Born-Again Christian). So he was vehement about what he called the &ldquo;ugly aspects of Yoruba culture&rdquo;, such as its funeral customs and cult practices, and denounced those whom he regarded as nominal and syncretistic Muslims, such as charm-making 
    em alfa 
    | and Tijaniyya adherents. In 1995, after a confrontation between Muslims and traditionalists over the conduct of the Oro festival at Oyo, Adepoju circulated an 
    em ewi 
    | on audio-cassette which abused the Alafin by calling him 
    em o&#x323;ba keferi 
    | (&ldquo;pagan king&rdquo;).
    a#fnref525.footnoteRef(href='#fn525')
      sup 525 
  p
    | Now 
    em o&#x323;ba 
    | s are at the centre of these culture wars, for they are the embodied symbols of the unity and integrity of their communities, and are thus expected, whatever their personal beliefs, to sponsor and patronize all forms of locally recognized religion, as contributing to the welfare of the town. This norm has been somewhat eroded since the 1950s, both through 
    em o&#x323;ba 
    | s refusing to take part in rituals they personally find offensive and through pressure on them from religiously-motivated outsiders. This has come from both Christians and Muslims, such as on the one side  
    em Olubadan 
    | Akinyele, who (before he discontinued Gbigbohun-Tira) had on promotion to the title of 
    em Balogun 
    | refused to propitiate the war-staff with the usual blood-sacrifices, or on the other, the 
    em Awujale&#x323; 
    | of Ijebu, the Muslim Sikiru Adetona, who from early in his long reign in the 1960s has refused to participate in the annual Agemo festival, the major integrative ritual of the Ijebu kingdom.
    a#fnref526.footnoteRef(href='#fn526')
      sup 526 
    | There has even come into existence an Association of Born-Again Christian Obas which functions as a pressure- and support-group for rulers who want to pick and choose what rituals they engage in, sometimes against the wishes of their subjects.
    a#fnref527.footnoteRef(href='#fn527')
      sup 527 
    | Another Muslim 
    em o&#x323;ba 
    | , the 
    em Atao&#x323;ja 
    | of Oshogbo, where the famous riverside shrine of the goddess Osun now has the status of a UNESCO World Heritage Site and is a potential tourist attraction, complains about the persistent nagging of the late Dr Lateef Adegbite, who was &ldquo;always in palaces ... challenging the souls of rulers ... he would want me to move 100% towards Islam ... he is always saying 
    em Kabiyesi, s&#x323;&rsquo;e&#x323; gbo&#x323; mi na o 
    | ? [&ldquo;Your majesty, are you 
    em really 
    | listening to me?&rdquo;].
    a#fnref528.footnoteRef(href='#fn528')
      sup 528 
    | Yet, he adds, &ldquo;it is not easy to divorce ourselves from our tradition, anyone who tries it will run into trouble&rdquo;. So the old expectations about 
    em o&#x323;ba 
    | s have by no means lost all their power, and nowhere more so than at Oyo, for all that it is now a predominantly Muslim town.
  p
    | Alhaji Lamidi Adeyemi III, the 
    em Alafin 
    | of Oyo, is a genial and widely-respected 
    em o&#x323;ba 
    | , and at least a third-generation Muslim (in fact the son of that 
    em Alafin 
    | whom Chief Awolowo reprimanded for his lack of royal dress sense).
    a#fnref529.footnoteRef(href='#fn529')
      sup 529 
    | He is also regarded as the earthly successor to Sango, the thunder-god whose cult is central to Oyo kingship. Well-practised in expounding Oyo history and culture to visitors, he was not at all fazed or embarrassed when I asked him how he reconciled the discharge of his traditional duties with his personal identity as a Muslim. He did it by means of an ingenious two-way assimilation between Islam and Yoruba culture. Firstly, he read Islam a long way back into Oyo history, maintaining that even Sango, deified after his death for his magical powers, had been a Muslim, and was actually given the epithet 
    em Akewugbe&#x323;ru 
    | (&ldquo;One who is given a slave for reciting the Koran&rdquo;).
    a#fnref530.footnoteRef(href='#fn530')
      sup 530 
    | At the same time, he interpreted Islamic conversion as an expedient policy of self-protection against the Fulani jihadists, that the same time allowed it to be subordinated it to Yoruba values: &ldquo;the Yoruba never allowed other religions to destroy their identity&rdquo;. The 
    em Alafin 
    | &rsquo;s vision of Yoruba history, in fact, has more in common with the Revd. Samuel Johnson&rsquo;s than with Shaykh Adam al-Ilori&rsquo;s, and his response to my question on the Sharia issue was robust and indignant:
  blockquote
    p
      | &ldquo;Is [Sharia] practical? Is it fair? ... [Its effect on the Yoruba would be] &ldquo;to enslave their mentality, to bar their values and make them lose their identity. Yoruba is a nation, not a tribe, a nation!&rdquo; 
  p
    | Of Dr Adegbite he was frankly dismissive, and as for Chief Adepoju, when I gingerly brought up his name, &ldquo;he is like a bat [an ambiguous, ill-omened animal] dangling between two cultures&rdquo;. The 
    em Alafin 
    | &rsquo;s old-fashioned view as to the religious obligations of an 
    em o&#x323;ba 
    | may be under pressure from the assertiveness of the new movements in Islam and Christianity, but it still has widespread popular support.
  h3 Imale no longer?
  p
    | There is now a widespread sentiment among Yoruba Muslims that the term 
    em Imale 
    | should be abandoned and replaced by 
    em Musulumi 
    | . Imale was a designation given them early in their history by the mass of non-Muslim Yoruba, who chose to identify them by where the bearers of their religion had come from. Islam is a religion that was first proudly named as such by itself (or by its Prophet) &mdash; unlike Christianity, whose adherents were first named as &quot;Christians&quot; by critical outsiders. 
    a#fnref531.footnoteRef(href='#fn531')
      sup 531 
    | The motive of Yoruba Muslims for wanting to change the name by which they have been commonly known for centuries is understandable. They want to declare their identification with the world-wide 
    em umma 
    | of Muslims, not to bear a name which seems to tie them into a local and particular history. Yet it is surely to be hoped, particularly at the present juncture in relations between Islam and Christianity in Nigeria, that Yoruba Muslims do not at the same time abandon certain values associated with the &quot;Imale tradition&quot;. 
  p
    | Here we might contrast two main ways in which Islam has sought to realize itself in West African history, each with its distinctive bearers, social forms and doctrinal rationale. The first is Jihadist, its prime instance being the movement lead by a Fulani cleric, Usman dan Fodio, in the first decade of the Nineteenth Century, which led to the establishment of an Islamic state, the Sokoto Caliphate. There have been other such movements, both before and since, but none was as enduring in its effects as this one, not least because of the co-optation of so much of it &mdash; its system of emirates, with their attendant Islamic culture &mdash; by the British as the basis of their regime in Northern Nigeria. So it was that a baneful heritage &mdash; the use of violence in the name of Islam to establish a &quot;just&quot; social order, and the intimidation, subordination, enslavement or exclusion of all sorts of religious other (the wrong kinds of Muslim, pagans and Christians) &mdash; was perpetuated, thus bedevilling Nigerian politics down to the present. 
    a#fnref532.footnoteRef(href='#fn532')
      sup 532 
    | Boko Haram, even though the vast majority of Muslims in northern Nigeria no doubt disown it, is only the latest, most extreme outcome of this tradition. After all, its yearning for an exclusively Islamic political space under Sharia law is an ideal shared by many respectable Muslims, at least in the North; and though it is set apart from them by its readiness to use violence to achieve this end, it can still invoke the most irrefragable of precedents for that line of action in the jihad launched by Usman dan Fodio two centuries ago. 
  p
    | Very different is another kind of Islamic tradition, that has been termed &quot;Suwarian&quot;. As far as the name goes, it is a scholarly artefact and would not find any recognition as such in Nigeria, though it perfectly fits the outlook of the Yoruba Imale. Appropriately, the name comes from a Malian cleric of c.1500, Al-Hajj Salim Suwari, who articulated a doctrinal rationale for a peaceable and non-hegemonic Islam. He argued that it was legitimate for Muslims to live under non-Muslim rule, provided that they were not impeded in the practice of their faith, and that it was by their moral example, not by violence, that they should promote it; for &quot;it was not the responsibility of the faithful to decide when ignorance [
    em jahiliyya 
    | ] should give way to belief&quot;.
    a#fnref533.footnoteRef(href='#fn533')
      sup 533 
    | This tradition was originally associated with the social situation of Mande-speaking traders operating in non-Muslim areas, as was also the case with the Imale who brought Islam to the Yoruba in the first place.
  p
    | But the tradition has contemporary relevance in offering a model for the coexistence of Muslims with other faiths in religiously plural societies. Crucial to it is the presumption of a shared public sphere which is neutral as between the competing world faiths, yet is also valued by each for providing sufficient conditions for its unimpeded practice. This was guaranteed in Yorubaland by the institution of 
    em oba 
    | -ship, the symbol of community values which were anterior to both of them; and this is what, at the national level, Nigeria has failed to develop after more than half a century of independence. Indeed, such a development was set back by the unilateral adoption of Sharia law in a third of its 36 States, spread across the high North, in1999-2000. Behind this Islamization of the public sphere lies a yearning to realize as much as possible of Usman dan Fodio&apos;s ideal of a 
    em Dar al-Islam 
    | , in which the adherents of other religions exist on the sufferance of its Muslim majority &mdash; in effect as a kind of 
    em dhimmi 
    | .
    a#fnref534.footnoteRef(href='#fn534')
      sup 534 
    | The result is that Nigeria has gone a long way towards becoming two different countries within one inadequately functioning state: the one religiously plural within a secular framework (as Nigeria&apos;s constitution proclaims it to be), the other an Islamic country. Yorubaland is firmly ensconced in the former sphere, though Yoruba Muslims are in the peculiar position that in principle they can operate in either. It says much that in a northern city like Kaduna, where a large measure of religious segregation came about as the result of the post-Sharia riots in 2000 and 2002, it is virtually only Yoruba Muslims who are able to live safely in either the Muslim or the Christian/mixed districts of the city.
    a#fnref535.footnoteRef(href='#fn535')
      sup 535 
    | Their primary identity marker is then respectively either &quot;Muslim&quot; in a context of religious homogeneity, or &quot;Yoruba&quot; in one of ethnic diversity.
  p
    | Though the great majority of Yoruba Muslims realize that they are better off, whether personally or collectively, in the religiously plural contexts that they know from their home towns, a vocal and articulate minority of them would like to see Sharia introduced for Muslims, as it has been in much of the high North. The main arguments put forward in support of it are twofold. First, it is claimed that Sharia is both a right and an obligation for Muslims, since Islam offers a &quot;complete way of life&quot; of which Sharia provides the template. This is aimed to gain support from reluctant Muslims. Second, it is claimed that Sharia  
    em only 
    | affects Muslims, which is intended to defuse the opposition of alarmed Christians. But these claims contradict one another. For in so far as Sharia is taken to offer a &quot;complete&quot; system of social regulation for Muslims, it is bound to include within its remit relations between people of different religions; and in its classical forms it did so from the perspective of an absolute Muslim hegemony. In practice, even in the partial forms in which it has been so far been implemented in the twelve States of the high North, the freedoms of Christians have been curtailed in several ways. 
    a#fnref536.footnoteRef(href='#fn536')
      sup 536 
    | Yet the most problematic feature of Sharia is not any specific provision it has, but its implication that each confessional community should have its own law &mdash; in the case of Muslims one that is divinely-mandated rather than humanly-decided &mdash; instead of them agreeing together upon the laws under which all citizens will live together as members of one political community. 
    a#fnref537.footnoteRef(href='#fn537')
      sup 537 
    | It is the old traditions of the Imale, not those of Sokoto Caliphate, that can give a measure of cultural underpinning for Nigeria to become a religiously-plural and democratic society.
    a#fnref538.footnoteRef(href='#fn538')
      sup 538 