section#chap-11.chapter(data-type='chapter')
  hgroup
    .dup The Three Circles Of Yoruba Religion
    h1.ct The Three Circles Of Yoruba Religion
  p
    | Once in 2008 I was flying back from East Africa and had to take a night&apos;s stopover in Addis Ababa. The driver sent to collect me spoke such good English that I asked him if he had spent time outside Ethiopia, thinking he might have been a student in the United States or Britain. He replied that he had been to Lagos, where the headquarters of his church was. This turned out to be Winners&apos; Chapel, led by the charismatic Bishop David Oyedepo. Two years later I came across Oyedepo&apos;s confidently smiling features on a weather-faded poster in a small town in the interior of western Liberia, advertising a &quot;power summit&quot; at his church&apos;s national headquarters in Monrovia. The Yoruba have exported their brand of neo-Pentecostalism all over sub-Saharan Africa, especially to major cities like Nairobi and Johannesburg. And to Europe too, whether to serve mainly their own diaspora or to light the Pentecostal fire in a native white population (as with the Embassy of God in Ukraine). In the New World, the picture is more complicated since &quot;Yoruba religion&quot; takes two forms: the 
    em orisa 
    | -religion which came over 150 years ago with those forcibly transported there as slaves, chiefly to Brazil and Cuba, or later diffused from there since 1950; and the faiths which Yoruba migrants have taken with them in recent decades. 
  p
    | But what are we calling &quot;Yoruba religion&quot; here? I think the term might be legitimately used in either of two ways: as whatever religion is actually practised by Yoruba people, or a religion of distinctively Yoruba origins and character. These two criteria do not need to coincide in theory, and may not substantially do so in practice. Putting them together, we may today distinguish three main concrete realizations or &ldquo;circles&rdquo; of Yoruba religion over the past century or so, which I may characterize as follows: 
  ol
    li
      p
        | Yoruba religion practised by Yoruba in their homeland, or what is conventionally called &ldquo;Yoruba traditional religion&rdquo; (YTR), to which the cult of 
        em oris&#x323;a 
        | was central.
    li
      p
        | Religion practised by the overwhelming majority of Yoruba people today, which is not of Yoruba origin but consists of various forms of Islam and Christianity.
    li
      p
        | Religion of Yoruba origin practised in the world today, which is overwhelmingly outside Africa and by people who are not Yoruba.
        a#fnref685.footnoteRef(href='#fn685')
          sup 685 
  p
    | Though the three circles are linked through the historical experiences of the Yoruba over recent centuries and in the trajectories of the various religions implicated in them, this connectedness has not been adequately matched in scholarship, which has been fragmented. The classic work of Pierre Verger was exemplary in bridging Circles 1 and 3,
    a#fnref686.footnoteRef(href='#fn686')
      sup 686 
    | and has been followed in several recent collections on particular 
    em oris&#x323;a 
    | : Ogun, Osun, Sango.
    a#fnref687.footnoteRef(href='#fn687')
      sup 687 
    | The relationship between Circles 1 and 2 is central to all studies of &ldquo;religious conversion&rdquo; in Yorubaland, though it has to be said that, since the perspective and documentation comes mainly from the side of the world religions, that usually receives much fuller coverage than the &ldquo;pagan&rdquo; side. (I don&rsquo;t exempt my own work from that criticism). But the gulf between Circles 2 and 3, though they have a common point of reference in Circle 1, has been enormous (the main exception being the work of Matory, though he has relatively little to say about the place of Christianity in the Atlantic nexus)
    a#fnref688.footnoteRef(href='#fn688')
      sup 688 
    | . Circle 1 is now increasingly of residual importance and hence attracts less original study; it is Circles 2 and 3 where the serious contemporary action is, both as regards religious practice and its scholarly study.
  p
    | My contention here is that the gulf between Circles 2 and 3 needs to be closed, if we are to answer a glaring question prompted by their comparison. How can we explain that 
    em oris&#x323;a 
    | cults have fared so badly in their homeland, where they have shrunk to a pale shadow of their former importance &ndash; many cults, indeed, have died out altogether &ndash; and become subject to attack from dominant Muslim and Christian groups as demonic; while they have flourished and expanded outside it, not merely among African-descended populations but attracting many people not of African descent? Since my own primary research has been limited to Nigeria (Circles 1 and 2), my remarks about the situation of Circle 3 are both secondary and speculative.
    a#fnref689.footnoteRef(href='#fn689')
      sup 689 
    | While I do not have an answer to the question I have posed, I hope that the comparisons I make in this paper will do something to clear the way towards it. A further implication of this enquiry, with its Yoruba subject-matter, is that the partition that have tended to exist between students of 
    em orisa 
    | -religion, wherever practised, and of Christianity and Islam need to be broken down.
  h3 Circle 1
  p
    | We must begin from the so-called YTR &ndash; or, less tendentiously, 
    em oris&#x323;a 
    | -religion &mdash; since it was the baseline for the two trajectories of Yoruba religious development, in the homeland and in the New World. I begin here from a paradox, that in several ways the very term, &ldquo;Yoruba traditional religion&rdquo;, gives a misleading picture of its historical reality. As with Voltaire&rsquo;s famous quip about the Holy Roman Empire &ndash; that it was so called because it was neither holy, nor Roman nor an empire &ndash; there are things that are problematic about each of its three terms.
  ol(type='1')
    li
      p
        | &ldquo;Yoruba&rdquo; is a Hausa name of Arabic origin, originally applied just to the Oyo, adopted by the (Anglican) Church Missionary Society in the 1840s as their name for the people they proposed to evangelize, and extended by them over succeeding decades to many other cognate peoples (the Egba, Ijesha, Ijebu etc.). There were many close resemblances of language and culture between these peoples, as well as traditions of common descent from Ile&#x301;-Ife&#x323;, which explains why they were readily grouped under a common name in diasporic situations, where they stood against much more different cultural others: Nago in Brazil, Lucumi in Cuba, Aku in Sierra Leone. But the notion of a  
        em Yoruba 
        | religion implies a content that is both common to all Yoruba and distinctive of them. Here the problem is less that important Yoruba  
        em oris&#x323;a 
        | (e.g. Ifa, Ogun, Esu-Elegba) were widely found among neighbouring non-Yoruba peoples, than that the cults to be found in different Yoruba towns varied so much. For example, in the 1870s, the main public cults of Ibadan were considered to be Orisa Oko, Ogiyan and Oke&rsquo;badan, while in Ondo they were Ogun, Esu and Oramfe and the royal ancestors.
        a#fnref690.footnoteRef(href='#fn690')
          sup 690 
        | Sango, who bulks so large in 
        em oris&#x323;a 
        | -religion in the New World, was an Oyo deity regarded as alien to the Yoruba East (Ondo, Ijesha, Ekiti). Oduduwa, understood as a male ancestral ruler of Ife in the Centre-East, was considered the female consort of the creator-god in the South-West.
        a#fnref691.footnoteRef(href='#fn691')
          sup 691 
        | Of river-deities, Yemoja belonged mainly to the West, Osun to the Centre-East and Oya, being linked with the Niger as well as the tornado, to the North. So what existed on the ground was less a single Yoruba religion, than a spectrum of local cult-complexes that varied from town to town and from West to East. The more heavily forested East was remote from the control of Oyo as well as from the Islamic influences that came with it.
    li
      p
        | The great and persistent problem with &ldquo;traditional&rdquo; is that it is used to refer both to a supposed anterior state to the cultural impact of colonialism, and to a certain range of contemporary beliefs and practices, namely those that cannot be assigned to either Islam or Christianity. There is the typical implication that the traditional exists in a state of stability, handed down from previous generations. No doubt this was the ideal, but there is plenty of evidence that, even before the upheavals of the Nineteenth Century, the reality was dynamic and changing. This dynamism was fuelled by two enduring features of Yoruba religion: the possibility of individuals&rsquo; moving between cults, and the competitive, expansionist character of many of the cults themselves. Nineteenth-century evidence suggests that this was especially true of the cult of the thunder-god Sango. It seems likely that it opened the way to conversion to Islam, which had been part of the (Oyo-)Yoruba religious scene for at least four centuries, and started to make significant numbers of converts by the early Nineteenth Century. So the notion that Islam and the &ldquo;traditional&rdquo; belong to absolutely separate Circles is untenable. 
    li
      p
        | Finally we have to ask the most radical question of all: is pre-colonial YTR strictly to be considered &ldquo;
        em a 
        | religion&rdquo; at all? People had identities as members of their communities and (in many cases) as initiates of the cult groups of 
        em particular 
        | deities, but not as adherents of a generalized religion. The word 
        em e&#x323;sin 
        | , which means &ldquo;religion&rdquo; in modern Yoruba, was introduced by Christians and Muslims to refer exclusively to their own self-consciously held faith0).
        a#fnref692.footnoteRef(href='#fn692')
          sup 692 
        | It was not its adherents but missionaries who first discursively constructed YTR as such (initially under the rubric of &ldquo;Yoruba heathenism&rdquo;).
        a#fnref693.footnoteRef(href='#fn693')
          sup 693 
        | In so doing, they both delimited and expanded it: they cut it out from the wider field of practices by which Yoruba people sought to control the environment of their lives, and they treated as a single pan-Yoruba entity &ndash; one corresponding to the &ldquo;Yoruba nation&rdquo; they had also identified and named &ndash; the spectrum of local cult-complexes, which was what YTR was in reality.
  p
    | But despite these reservations about the portrayal of them as a unified and bounded entity, unvarying across time and space, the &ldquo;religious&rdquo; practices of this large and diverse area undeniably have many strong and distinctive commonalities. The main components, of variable form, content and local presence, are the  
    em oris&#x323;a 
    | or deities, strongly personalized but at the same time expressive of natural forces (rivers, mountains, meteorological phenomena) or associated with human activities linked to them (farming, healing, ironworking); a supreme being, Olorun or Olodumare, the author of all existence but mainly active in human affairs through the  
    em oris&#x323;a 
    | ; ancestors, who were represented in various ways, such as the Egungun masquerade cult among the Oyo or the Oro society among the Egba, whose &quot;voice&quot; was heard as the whirring sound of the bull-roarer; other forms of power embodied in human form, such as witches and the cults directed against them, such as Gelede; &ldquo;medicines&rdquo; (
    em oogun 
    |), quasi-animate embodiments of power in material substances; and a wide range of divinatory techniques, of which the most complex and prestigious was Ifa.
  p
    | At the heart of Yoruba religious action, whether undertaken by individuals or communities, was the search for empowerment and protection, through establishing relations with the unseen but personalised forces that controlled everything that occurred in the phenomenal world. Two principal modes of relationship linked human beings and the deities. One was possession, where divine power was made available through the 
    em oris&#x323;a 
    | &quot;mounting&quot; (
    em gun 
    |) or entering the body of a devotee.
    a#fnref694.footnoteRef(href='#fn694')
      sup 694 
    | This was limited to the minority who were priests or active initiates, and were thus enabled to mediate the power of their 
    em oris&#x323;a 
    | to the &ldquo;laity&rdquo;. The other, sacrifice (
    em e&#x323;bo&#x323; 
    |), involved virtually everyone from time to time, whether on the many mundane occasions when individuals sought oracular advice, at the periodic festivals of 
    em oris&#x323;a 
    | when cult activists and the community reaffirmed their links with their divine patrons, or when exceptional sacrifices were needed, since it appeared that something had gone seriously wrong and the anger of an 
    em oris&#x323;a 
    | needed appeasement. Sacrifice involved a kind of gift-exchange between the sacrificer and the 
    em oris&#x323;a 
    | : something of value &ndash; maximally the life of a living creature, even a human being, but also cowries and other items &ndash; was offered to the 
    em oris&#x323;a 
    | in anticipation of life being given in return. The maintenance of life, keeping death in abeyance, was indeed the grand objective of YTR, and largely remains so in all the three Circles of Yoruba religion.
  p
    | Ifa has often been seen as the apex or centrepiece of YTR, and in a sense it was: it was arguably the most pan-Yoruba of all the cults, and it played a role in their overall articulation through the mytho-legendary material about them contained in the  
    em odu 
    | . Yet there were ambivalences in Ifa&rsquo;s relationship with the other 
    em oris&#x323;a 
    | cults. Ifa had its own 
    em oris&#x323;a 
    | , Orunmila, whom it represents as superior to the others, indeed as the coeval associate of Olodumare himself. Yet it also stands in contrast to the other cults. Ifa was a strongly male-oriented cult and did not possess the 
    em babalawo. 
    | By contrast, many, if not most, 
    em oris&#x323;a 
    | priests were women, and so too was the great mass of active devotees. The greatest paradox about Ifa was that, despite its centrality to the 
    em oris&#x323;a 
    | -religion of Circle 1, it also provided a link to the world religions which would engender Circle 2. This seems to go back to the very origins of Ifa.
  p
    | The 16-options basic form of Ifa shows it to belong to a family of divination systems of West Asian origin, whose vector in Sub-Saharan Africa can only have been Islam. But its positively indigenous content suggests it is best regarded as a local response to the challenge of Islamic knowledge, the appropriation of one of its techniques to serve the cosmology that underpinned Ancient Ife.
    a#fnref695.footnoteRef(href='#fn695')
      sup 695 
    | Yet Ifa&rsquo;s emphasis on Olodumare as its ultimate source indicates an opening to monotheism unique within YTR, and many references to Islam within the Ifa corpus indicate a strong awareness of the activities of Muslim clerics; yet at the same time, 
    em babalawo 
    | sometimes divined that the solution to a client&rsquo;s problem was for him to become a Muslim. 
    a#fnref696.footnoteRef(href='#fn696')
      sup 696 
    | Ifa, for all that it re-tells precedents, has always played an important role in legitimating novel responses to new situations: it mediates between continuity and change. Its remarkable degree of openness and disinterestedness eventually extended to Christianity too, and in turn African mission agents gave 
    em babalawo 
    | a degree of respect they accorded to representatives of no other 
    em oris&#x323;a 
    | . The first local study of YTR by a Yoruba pastor, James Johnson&rsquo;s 
    em Yoruba Heathenism 
    | , treated Ifa and the 
    em oris&#x323;a 
    | in sharply contrasting ways: Ifa was seen as pointing towards Christianity, while the 
    em oris&#x323;a 
    | were seen as the work of Satan. Johnson&rsquo;s chief informant was a figure from the nascent Circle 3, an Ijesha 
    em babalawo 
    | called Arije or Philip Jose Meffre, who converted from a nominal Catholicism to a committed Evangelical Christianity when he returned from Brazil in 1862.
  h3 Circle 2
  p
    | The roots of Circle 2 run back to the arrival of Islam in Yorubaland, perhaps four centuries ago, but only in the Twentieth Century has it been fully realized, during the colonial and post-colonial periods. The process took place in three phases: (i) a slow build-up during the Nineteenth Century, when Islam was joined (from the mid-1840s) by Christian missions; (ii) mass conversion during the colonial period from the 1890s onwards, reaching a tipping- point in the 1930s and continuing into the age of high nationalism up to the late 1970s; (iii) the emergence of new movements within both world religions, more stringently opposed to the surviving forms of 
    em oris&#x323;a 
    | -religion.
  p
    | The crucial point about the competition between the world religions in the Nineteenth Century was that it took place under Yoruba rules. Except for an area of northern Yorubaland which fell under Fulani jihadist rule, as the emirate of Ilorin, in the 1830s, Yoruba Islam expanded by peaceful, decentralized means. It was chiefly spread by clerics (
    em alfa 
    |) who operated as entrepreneurs, offering their magico-spiritual services to chiefs and people: at the public level it was a matter of means to deal with fires and epidemics, and to bring success in war; to individuals, it was the same kind of guidance, healing, protection and material benefits that the 
    em oris&#x323;a 
    | cults offered The chief Islamic means were a kind of sacrificial offering made through the 
    em alfa 
    | known as 
    em saraa 
    | ; and charms made from Koranic texts written on scraps of paper and sewn into leather amulets (
    em tira 
    |). Thus Islam became part of the Yoruba system of religious provision, without any strong pressure to convert. If people did decide to convert, there was not much strong pressure on them for further cultural renunciation. Many Yoruba Muslims continued active in the worship of their family&rsquo;s  
    em oris&#x323;a 
    | and ancestral cults: the 
    em oris&#x323;a 
    | were often reconfigured Islamically as 
    em maleka 
    | (&ldquo;angels&rdquo;).
  p
    | Initial expectations of Christianity ran along similar lines: seen as another cult of God above, like Islam, and a distinct source of empowerment, giving access to the White Man&rsquo;s power. But in general and officially, the missions could not make this power available in the &ldquo;magico-spiritual&rdquo; forms shared by 
    em oris&#x323;a 
    | -religion and local Islam, though popular Christian belief might tend this way (e.g. the ABD reading primer understood as a protective charm). Moreover, in their early days the missions made very heavy demands for cultural change (e.g. over polygamy, salve-holding and participation in domestic rituals) and promoted ethical values that were strongly at variance with much of Yoruba life. The long course of instruction and catechising that preceded baptism actually made it quite difficult to become a Christian. Christian converts were often seen as a people apart and initially were mostly drawn from marginal social categories. Even in Lagos (annexed by the British in 1861) Islam won many more local converts than Christianity. It was here that radical Yoruba clergy first defined Christianity&rsquo;s problem as being culturally alien and too close to the European colonial presence. 
  p
    | Yet the British colonization of interior Yorubaland in the 1890s radically changed the conditions of conversion to both world religions, giving a particular fillip to Christianity, on account of its association with the &ldquo;white man&rsquo;s knowledge&rdquo; and its virtual monopoly of Western education. Islam benefited too, especially in areas where it was already well-established, but its educational weakness remained a major drawback. On the other hand, Christianity found ways to correct its two main weaknesses: its overall sense of estrangement from Yoruba culture, and particularly its inability to address the popular demand for magico-medical services. So Africanization became a main item on its agenda for most of the Twentieth Century. A key breakthrough was achieved in the Aladura (&ldquo;Praying&rdquo;) movement, which burst on the scene in the 1920s-30s. This was led by charismatic prophets who developed Christian means of healing, guidance, protection against evil and the relief of mundane needs, so triggering mass movements of conversion, which led to the emergence of new churches which have flourished down to this day. The paradox of Aladura is that while it offered a Christianity well in line with traditional Yoruba religious values and incorporating some of its symbolic idioms, it was also much more vehemently hostile to Ifa and the  
    em oris&#x323;a 
    | cults than the mainline churches were. In fact the Aladura revivals of 1930-31 brought a massive wave of iconoclasm directed against &ldquo;idols&rdquo;, and the association of 
    em oris&#x323;a 
    | with demons and other &ldquo;powers of darkness&rdquo;.
  p
    | The 1930s marked a watershed in the history of religion in Yorubaland, with the world religions now claiming an overall majority balance and nearly 90% by the early 1950s). Though 
    em orisa 
    | &mdash; religion was in a process of steady contraction &ndash; many of the smaller, more local cults seem to have died out in the wake of Aladura activity &ndash; cult festivals of major civic importance continued to be celebrated, divinatory and magico-medical services remained in high demand, even among Muslims and Christians, and much of the old cosmological framework still informed the practice of the world religions (e.g. belief in witchcraft and the power of &ldquo;juju&rdquo;). The culture of  
    em oris&#x323;a 
    | -religion also sustained a social ethos of tolerant religious co-existence that served to domesticate the potential intolerance and exclusivism of the monotheisms.
    a#fnref697.footnoteRef(href='#fn697')
      sup 697 
    | By the late colonial period, &ldquo;Yoruba religion&rdquo; was conceived as like a stool with three legs, or a crossroads (
    em orita 
    |) between three faith-traditions.
    a#fnref698.footnoteRef(href='#fn698')
      sup 698 
    | This dispensation continued through the nationalist period of the 1940s-50s and for nearly twenty years after Nigeria became independent in 1960.
  p
    | A marked change began to show itself in the late 1970s, with two new developments reaching across Nigeria as a whole. (1) The world religions assumed a much greater saliency in the public sphere, as in the vehement debates about Sharia law which first erupted in 1977-78, during the debates which preceded the establishment of a new civilian constitution; and in the intermittent outbreaks of religious violence between Muslims and Christians, mostly in Northern Nigeria, which began in the early 1980s and have continued up to the present. Though the Yoruba continue as a beacon of religious amity, even here relations between Islam and Christianity are tenser than they used to be before 1980. This is linked to (2) the rise of new and more strenuous forms of devotion within each faith: Charismatic or Neo-Pentecostal (&ldquo;Born-Again&rdquo;) Christianity on the one side, and more rigorous versions of Islamic reformism on the other, which have each gained millions of converts and stamped their assertive presence alike on urban space and the electronic media.
  p
    | Despite their antagonism, these have several features in common: they are strongly aware of themselves as movements for reform and renewal within their own faith traditions, and aware of themselves as belonging to trans-national movements. They are both intensely critical of many of the local adaptations made by their respective faiths, and have redoubled their efforts to stigmatize and eliminate what remains of 
    em oris&#x323;a 
    | -religion. They promote universalizing, rather than Africanizing idioms, for the expression of their respective faiths: if the drive towards a more normative Middle Eastern style has been going on in Yoruba Islam for decades, the loss of momentum of the Africanizing impetus in Christianity is striking. Though the Born-Agains had important roots in the Aladura movement, it is common for them to attack such &ldquo;white-garment&rdquo; churches as the Celestial Church of Christ for having incorporated pagan practices. Nollywood movies often incorporate Born-again perspectives in their hyper-realistic portrayals of witches and demons, thus serving to perpetuate a distorted simulacrum of traditional belief and practice, while Pentecostal literature attacks wealth-bringing female deities like Mami Wata, Yemoja or Olokun. 
    a#fnref699.footnoteRef(href='#fn699')
      sup 699 
    | Direct iconoclastic assault has in recent decades been more the work of Muslims, with such public displays as Egungun masquerades their particular targets. Whilst at Oyo it is Islam which encroaches upon the royal rituals of Sango, at Ife the 
    em Ooni, 
    | the very reincarnation of Oduduwa, gives ground to pressure from evangelical Christianity. 
    em Ooni 
    | Sijuade has renounced his divine status and the title of 
    em Alaye 
    | (&quot;ruler of the world&quot;) that expressed it, while his forceful senior wife, a zealot of the Christ Apostolic Church, has built her own chapel in the palace and sponsors a &quot;nativity&quot; play which stages the downfall and replacement of 
    em orisa 
    | -religion.
    a#fnref700.footnoteRef(href='#fn700')
      sup 700 
    | It is an irony indeed that over a period when Ife has become a pilgrimage centre for 
    em orisa 
    | devotees from the New World, its indigenous traditional priesthood experiences, as Jacob Olupona puts it, &quot;despair and outrage, ... gasping for air in a restricted space, occupied by ... hostile forces&quot;.
    a#fnref701.footnoteRef(href='#fn701')
      sup 701 
  p
    | Yet 
    em oris&#x323;a 
    | -religion is so closely related to the glories of Yoruba culture, and with what makes the Yoruba distinctive as a people, that the demonization of it to which they have been led by their convictions as Christians or Muslims has never been their only response to it. Christians particularly have developed another strategy to make the 
    em oris&#x323;a 
    | &ldquo;safe&rdquo;, which is to secularize them by taking them out of the category of religion altogether. This began with the euhemeristic interpretation of  
    em oris&#x323;a 
    | by African pastors of the missions: they were seen as heroes, founder-kings, ancestors or great men deified after their deaths, thus enabling them to be treated with respect. In recent years, a highly reified concept of culture has been used to present the annual festivals of major patronal deities as &ldquo;cultural festivals&rdquo;, celebrations of the community and its history,  
    em rather than 
    | as &ldquo;religion&rdquo; (though not everyone, including some 
    em o&#x323;bas 
    | themselves, have felt able to accept this redefinition).
    a#fnref702.footnoteRef(href='#fn702')
      sup 702 
    | No part of YTR has been more important in this regard than Ifa, no group of indigenous religious specialists won the same kind of respect from Christian pastors and Muslim 
    em alfa 
    | as did the 
    em babalawo 
    | . The idea of Ifa as &ldquo;Yoruba philosophy&rdquo; or as a great cultural archive, remains very influential among Yoruba intellectuals down to this day. Here we have a perspective among a minority of well-educated Yoruba, even at a time when the dominant movements in Islam and Christianity so strongly negate everything to do with traditional religion, that is able to connect with the flourishing m&gt;oris&#x323;a-religion in the Americas.
  h3 Circle 3
  p
    | Clearly 
    em orisa 
    | -religion could not cross the Atlantic under the conditions that it did without major changes in its social bearings, its organization and (most problematically) its content. It is the last of these which has most engaged scholars, concerned as they have been to celebrate the African achievement, under the most adverse circumstances, in saving such a large portion of their religious heritage, and the values implicit in it. The extent to which this happened was variable, depending both on the culture and capacity of particular groups of slaves, and on the institutional conditions into which they were received.
  p
    | The distinctiveness of the Yoruba case can be pinpointed through two contrasts. Firstly, while many different African groups succeeded in establishing something of their old religion in New World settings, the success of the Yoruba in so doing &mdash; above all in the shape of Santeri&#x301;a in Cuba and Candomble&#x301; in Brazil &ndash; is outstanding. This would seem due partly to the inherent durability yet adaptability of the forms, both cultural and institutional, by which  
    em oris&#x323;a 
    | -religion was carried; and partly to the historical contingency of the numbers and timing of Yoruba slave imports to the Americas. While Yorubaland had supplied slaves to the Atlantic trade during the Eighteenth Century &ndash; it had been a major source of revenue for the Oyo Empire &ndash; the great surge in slaves of Yoruba origin only came from the 1810s and peaked as late as 1826-50.
    a#fnref703.footnoteRef(href='#fn703')
      sup 703 
    | That was due precisely to the collapse of Old Oyo, which created a regional power vacuum and decades of internecine warfare across the whole of Yoruba country. The resultant human debris fed the continuing demand for slaves, both local and international. Since both Great Britain and France had by the 1830s abolished slavery in their colonies and outlawed the slave-trade, this late flood of Yoruba slaves passed by illicit channels into the Spanish and Portuguese colonies, where slavery was abolished much later (Cuba in 1886, Brazil in 1888).
  p
    | The other condition for the survival of so much of 
    em oris&#x323;a 
    | -religion came from the side of the slave-owners, where the key factor was whether they were Catholic (especially Iberian) or Protestant. The contrast between the religious outcomes in Cuba, Brazil and Haiti on the one hand, and Jamaica or the Anglo-American colonies/states on the other, with Trinidad (passing from Spanish through French to British control) an interesting hybrid case, is striking. The Catholic powers were prepared to recognize and accept the existence of African &ldquo;nations&rdquo;, and to allow associations based on them a limited sphere of activity, which clearly worked to facilitate the survival of ethnic religious traditions, than the Protestant powers were. This was further facilitated by the Catholic institution of the  
    em cabildo 
    | or religious fraternity. For the Yoruba in particular, the Catholic cult of saints was important in providing a framework within which 
    em oris&#x323;a 
    | -worship, first perhaps disguised and then genuinely synthesized with elements of Catholic devotion, could be continued. Most 
    em oris&#x323;a 
    | -devotees no doubt regarded themselves as Catholics too, and participated in Catholic festivals. Nevertheless the Yoruba-derived ritual complexes did not just maintain a sense of themselves as such, but also developed themselves organizationally, ritually and theologically, as they responded to the challenges of the new contexts. This is not to be grasped within the terms of the kind of model put forward by Melville J. Herskovits, where a single continuum runs between poles labelled &ldquo;most African&rdquo; and &ldquo;most acculturated to Euro-Catholic norms&rdquo;.
    a#fnref704.footnoteRef(href='#fn704')
      sup 704 
    | Rather, as David Brown has put it, &ldquo;borrowed &lsquo;non-African&rsquo; narratives may have helped recrystallize heterogeneous resources into a modern, theologically rationalized religion&rdquo;.
    a#fnref705.footnoteRef(href='#fn705')
      sup 705 
  p
    em Orisa 
    | -religion has evolved as a belief-system in the Americas in three principal ways: 
  ol
    li
      |" The number of deities worshipped has been greatly reduced from the total that must have originally been taken across the Atlantic, still less the 401 (i.e. indefinitely numerous) 
      em oris&#x331;&#x323;a 
      | that are conventionally said to have existed in Circle 1.
    li
      | The main survivors &ndash; Sango, Ogun, Yemoja, Esu-Elegba, Obatala (Orisanla in Brazil), Ososi, Osun, Oya, Sopona (Babaluaye) &ndash; are particularly characteristic of Oyo and the centre/north-west , rather than of eastern Yorubaland. Among these Sango, the royal deity of Oyo, has risen to a position of such overall pre-eminence that in some regions his name has eclipsed all others (e.g. Shango in Trinidad, Xango in parts of Brazil).
    a#fnref706.footnoteRef(href='#fn706')
      sup 706 
    | On the other hand there are the contrasting outcomes for Ifa (Orunmila), which virtually died out in Brazil but flourished greatly in Cuba. At first sight it seems surprising that it is this way round, since 
    em far 
    | more Yoruba people were taken as slaves to Bahia than to the Spanish Caribbean,
    a#fnref707.footnoteRef(href='#fn707')
      sup 707 
    | and there was also a great deal more &ldquo;flux and reflux&rdquo; between Yorubaland and Brazil than there was with Cuba. The names of some prominent 
    em babalawo 
    | are known.
    a#fnref708.footnoteRef(href='#fn708')
      sup 708 
    | By comparison it seems due to contingent (or at least not fully explained) circumstances that Ifa became so solidly established in Havana in the late Nineteenth Century through the efforts of five Yoruba-born 
    em babalawo 
    | , who are recognized as the founders of the main branches of the entire 
    em Regla de Ifa 
    | in Cuba and the Cuban diaspora down to today, with far-reaching consequences.
    a#fnref709.footnoteRef(href='#fn709')
      sup 709 
  p
    | A further point might be made about the varying fortunes of Yoruba 
    em oris&#x323;a 
    | in these new settings. While I strongly incline to a &ldquo;creolist&rdquo; overall perspective in the interpretation of Cuban or Brazilian phenomena &ndash; that is one which fully accepts their authenticity as such, rather than evaluating them primarily as more or less effective vehicles for the transmission of pre-given African traits &ndash; it is important to stress that some New World developments seem also to be an extension of cultural dynamics already evident in nineteenth-century Yorubaland. Two examples come to mind. Firstly, the same features of the Sango cult which fuelled its expansion from its Oyo heartland into areas to the east and south during the &ldquo;Age of Confusion&rdquo; after the collapse of the Oyo Empire continued overseas as occasions presented themselves, whether in Brazil or the Caribbean. 
    a#fnref710.footnoteRef(href='#fn710')
      sup 710 
    | Secondly, the way in which Lucumi religion in Cuba became bifurcated between what Brown calls &ldquo;Ifa-centric&rdquo; and &ldquo;Ocha-centric&rdquo; ritual fields,
    a#fnref711.footnoteRef(href='#fn711')
      sup 711 
    | the former male-oriented and the latter female-oriented, while it has to be seen as a distinctly Cuban development, is still also the further working-out of a cultural logic which was already evident (and noted by our first contemporary witnesses, native CMS agents) in mid-nineteenth-century Yorubaland.
    a#fnref712.footnoteRef(href='#fn712')
      sup 712 
  p
    | 3. 
    em Orisa 
    | -religion has become markedly more &ldquo;pantheonized&rdquo;, in Brown&rsquo;s term, or rationalized as a unified, hierarchical system. Not surprisingly, in Cuba this was mainly the work of 
    em babalawo 
    | , though an analogous process occurred more spontaneously in Brazil. Although it is now common for scholars of Yoruba religion in Nigeria to speak of a &ldquo;pantheon&rdquo; of deities &ndash; by analogy with Greco-Roman religion &ndash; this is quite misleading, at least for the Nineteenth Century, for a reason already indicated: what existed in concrete reality was less a single Yoruba religion than a range of distinct cult-complexes that varied from one town and region to another. In Yorubaland the different 
    em oris&#x323;a 
    | did not share temples or festivals as they did in the New World &ndash; in fact there was a lot of rivalry between them
    a#fnref713.footnoteRef(href='#fn713')
      sup 713 
    | &ndash; though the festivals of the 
    em oris&#x323;a 
    | found in one town would usually be coordinated with each other in that town&rsquo;s unique ritual calendar. But the Sango, Osun or Orisa Oko festivals were not synchronised with one another across different towns: there was no pan-Yoruba equivalent of saints&rsquo; days.
  p
    | Again, individuals or compounds might have collections of 
    em oris&#x323;a 
    | , which could all be brought out together on special occasions, but these were contingent accumulations, not &ldquo;pantheons&rdquo;.
    a#fnref714.footnoteRef(href='#fn714')
      sup 714 
    | Ifa verses 
    em do 
    | relay many stories about the relations between 
    em oris&#x323;a 
    | , and can be used to construct a systematized pantheon, but Ifa does not really go very far in that direction itself. Since Ifa contains a vast collection of mostly quite short narratives dealing with a particular subject &ndash; primordial episodes of oracular consultation &ndash; it is in itself much less &ldquo;pantheonic&rdquo; than such grand mythological narratives as the Hindu 
    em Mahabharata 
    | or Hesiod&rsquo;s 
    em Theogony 
    | . Yet the 
    em babalawo 
    | , intellectuals as they were, were certainly adept at rationalizations that pointed in a pantheonic direction. So when 
    em babalawo 
    | in Ibadan in 1854 wanted to justify 
    em oris&#x323;a 
    | -worship to critical missionaries, they argued that the relationship of the 
    em oris&#x323;a 
    | to God was analogous to that between the junior title-holders and the 
    em Bale&#x323; 
    | of the town, both acting as intermediaries between ordinary folk and the supreme power.
    a#fnref715.footnoteRef(href='#fn715')
      sup 715 
    | Other Cuban developments &ndash; the reduced number of 
    em oris&#x323;a 
    | , the notion of a single Lucumi religion, the bringing together of different 
    em oris&#x323;a 
    | in one temple, the acquisition by a new initiate of several 
    em oris&#x323;a 
    | at the same time
    a#fnref716.footnoteRef(href='#fn716')
      sup 716 
    | &ndash; must all have encouraged the 
    em babalawo 
    | to realize more fully the pantheon-potential latent in Circle 1 
    em oris&#x323;a 
    | -religion. Here it is hard to resist the conclusion that, just as it was missionary outsiders in Yorubaland who first discursively fashioned &ldquo;Yoruba heathenism&rdquo; (YTR), so it was practitioners in the &ldquo;outside&rdquo; of the Americas who first created the reality of a single &ldquo;Yoruba religion&rdquo;.
  p
    | The Yoruba religion of Circle 3 has been in continuous development. Perhaps we may discern three main stages of this: its initial formation, from existing materials and traditions carried directly from West Africa, in the Nineteenth Century; a period of consolidation and relative stability in the first half of the twentieth century (when it first became the object of positive academic study, from scholars like Fernando Ortiz, R. Nina Rodrigues, Melville J. Herskovits, Roger Bastide, Ruth Landes and others); and the later Twentieth Century, which has brought not only further internal development but also a dramatic expansion, particularly into North America. The background conditions of this last phase are diverse, but include: a new national consciousness in many Latin American countries, such that indigenous and African traditions, long despised by their white 
    em criollo 
    | elites, came to be valorized; the impact of the Cuban revolution, ranging from the vicissitudes of its cultural policies towards religion(s) at home, to the growth in the USA of a large Cuban exile community that carried Santeria with it; and a new cultural politics of race in the USA, that led growing numbers of African-Americans to recover or recreate what they regarded as more authentically African forms of religion.
  p
    | The tension between re-Africanization and universalist outreach is perhaps the crucial dilemma faced by the Yoruba religion of Circle 3 today. There are important differences between its two main forms: &quot;Yoruba reversionism&quot;, as found among African-Americans, and &quot;
    em Yorubizacion 
    | &quot; among Cubans and Cuban Americans. For the former, the primary impetus to re-Africanization has been a search for racial integrity, of which the archetypal product is Oyotunji (&ldquo;Oyo revived&rdquo;) village in South Carolina. In this re-invented Yoruba community, a whole ritual cycle of festivals of major 
    em oris&#x323;a 
    | has been instituted and a &quot;roots divination&quot; introduced to provide clients with a Yoruba ancestry. The career of 
    em O&#x323;ba 
    | Adefunmi, Oyotunji&rsquo;s founder, exemplifies the tensions in the relations between Black American Yoruba reversionists and the Cuban Santeros who introduced 
    em oris&#x323;a 
    | -religion to the United States from the late 1940s. Adefunmi (or Walter S. King as he then was) had been led from a more eclectically African phase (with Akan and Dahomean elements) to a more specifically Yoruba one through the influence of a Santero, Cristobal Oliana, from 1959 onwards. A decade later, he had moved into black nationalist politics and broke his previous ties with Santeri&#x301;a. The idea of receiving a &ldquo;black&rdquo; religion from practitioners who included whites was unacceptable, and Adefunmi turned towards a more thorough and deliberate reinvention of Yoruba religious practice, including getting direct legitimation from the 
    em Ooni 
    | of Ife.
    a#fnref717.footnoteRef(href='#fn717')
      sup 717 
    | Here the ironies really start to pile up, for as we have seen the 
    em Ooni 
    | is a Christian subject to strong Pentecostal influence, while the Nigerians saw Adefunmi and his people as 
    em oyinbo 
    | (&quot;Europeans&quot;).
  p
    | But re-Africanization and universalist outreach do not have to be so sharply opposed. As Palmie has shown, in contrast to how race has been culturally constructed in Anglo-America, where blackness and Africanity were mutually indexical, in Cuba &quot;&apos;Africanity&apos; and &apos;blackness&apos; just did not match up against up against each other&quot;.
    a#fnref718.footnoteRef(href='#fn718')
      sup 718 
    | This made it much possible for Africanity to offer values of universal human relevance, so that 
    em orisa 
    | -religion could at least aspire to be a &quot;world religion.&quot; The prime motive of re-Africanization or 
    em Yorubizacion 
    | then becomes the conviction that the purest, most authentic and effective forms of ritual and doctrine are to be sought at their point of origin.
    a#fnref719.footnoteRef(href='#fn719')
      sup 719 
    | While this notion is found in very many religions, its precise emphasis varies: in 
    em oris&#x323;a 
    | -religion it is on geographical origin (specifically on Ile-Ife as the site of the cosmogony), in Christianity and Islam it is more on temporal origin, on the age when divine incarnation or revelation occurred.
  p
    | Whatever the primary motive, the impetus to re-Africanize has led to a search for authoritative, or what might be called &ldquo;truly traditional&rdquo;, knowledge about 
    em oris&#x323;a 
    | -religion in its homeland, for application in the Diaspora. Partly this has been sought from the large body of academic and quasi-academic literature on the Yoruba &ndash; by scholars of religion, anthropologists, art historians, experts in oral (especially Ifa) literature etc. &ndash; partly it has come from personal contact with Yoruba priests, 
    em babalawo 
    | , herbalists, drummers and other specialists. 
    em Oris&#x323;a 
    | -devotees have travelled from the New World to be initiated by, and to learn from, religious authorities in Nigeria, while Yoruba specialists have gone the other way, to offer their services and to build up followings or spiritual clientages across the Atlantic.
    a#fnref720.footnoteRef(href='#fn720')
      sup 720 
    | With the deep decline of 
    em oris&#x323;a 
    | -devotion in Yorubaland, these &ldquo;emerging markets&rdquo; for authentic ritual knowledge in the New World are an enticing opportunity for those with the relevant expertise. The most prestigious of these travelling experts or 
    em episcopi vagante 
    | s is surely Professor Wande Abimbola, who bears the title (conferred on him by the 
    em O&#x323;o&#x323;ni 
    | of Ife) of 
    em Awis&#x323;e&#x323; ni Agbaye 
    | (&ldquo;Spokesperson for Ifa throughout the World&rdquo;).
    a#fnref721.footnoteRef(href='#fn721')
      sup 721 
    | He has been active in the World Orisa Conferences, held periodically since 1981, which have tended to promote Nigerian Yoruba practice as normative &ndash; and significantly won more support in Brazil than in Cuba, with its own distinctive and strongly instituted 
    em Regla de Ifa 
    | .
  p
    | A paradoxical reversal lurks in these moves towards re-Africanization, insofar as these can be justified as a kind of de-syncretization: the removal of Catholic accretions to bring 
    em oris&#x323;a 
    | -religion back to its pure, primordial form.
    a#fnref722.footnoteRef(href='#fn722')
      sup 722 
    | For in most writing about modern African religion, the term &ldquo;syncretism&rdquo; has been used to express this concern when directed the other way: the anxiety of Christians and Muslims of the mainline traditions that distinctively African manifestations of those faiths (e.g. healing practices in Aladura churches, Sufi devotional rituals) have become corrupted by &ldquo;pagan&rdquo; elements.
    a#fnref723.footnoteRef(href='#fn723')
      sup 723 
    | As I argued above, the dominant movements in contemporary Nigeria, both Muslim and Christian, are run strongly against such &ldquo;contamination&rdquo; of their own traditions. So a war against syncretism appears to be the 
    em ordre du jour 
    | across the whole religious field. But while a notion of syncretism as spiritual danger seems to sit easily with doctrinally-grounded faiths addressed to a single jealous God, &ldquo;of Abraham, Isaac and Jacob&rdquo;, it is hard to see how it can be applied plausibly or coherently to 
    em oris&#x323;a 
    | -religion, which was both undogmatic and accommodative to new cults joining its ensemble. Moreover, it appears that a certain spirit of mix-and-match arising from within American culture is producing fresh syncretisms, whether with various forms of &quot;Afrikan&quot; Protestant Christianity, with New Age spiritualities or with other Afrocentric traditions. Where more likely than New Jersey to find an &quot;Egbe Sankofa Kingdom of the Gods of Afrika&quot;?
    a#fnref724.footnoteRef(href='#fn724')
      sup 724 
  p
    | Ifa has always been a critical interface between 
    em orisa 
    | -religion and the scriptural monotheisms. Early on, these latter were often seen in terms of Ifa &ndash; e.g. as where their scriptures were seen as analogous to the signs made in the dust on the diviner&rsquo;s tray and treated as a vehicle of predictive prophecy &ndash; but later, as Islam and Christianity acquired a general hegemony over the Yoruba religious field, the assimilation has tended to go the other way. The Church of Orunmila which appeared in the 1920s modelled its services upon those of Protestant churches;
    a#fnref725.footnoteRef(href='#fn725')
      sup 725 
    | and while this only appealed to a small minority, it has become common for educated Yoruba to read Ifa in a &ldquo;fundamentalist&rdquo; fashion, similarly to how Muslims regard the text of the Koran or Evangelical Christians conceive of the Bible: as an inerrant, unchanging, pristine transcript of God&rsquo;s Word, set in a primordial Ile-Ife.
    a#fnref726.footnoteRef(href='#fn726')
      sup 726 
    | When this perspective is applied to Ifa in other, non-Yoruba, settings, as in early twentieth-century Dahomey (as recorded by Maupoil for the Fon diviner Gedegbe
    a#fnref727.footnoteRef(href='#fn727')
      sup 727 
    |) or in the 
    em Regla de Ifa 
    | in Cuba, any variations in its content will have to be seen as deviations from, or corruptions of, its pristine character. That this is false to the historical reality of how Ifa has been produced, as an evolving and ever self-adapting system of practical oracular wisdom, is cogently shown by Noel Amherd in his study of Ifa in Ijebu Remo. 
    a#fnref728.footnoteRef(href='#fn728')
      sup 728 
  p
    | In recent years the question has been raised of &ldquo;
    em oris&#x323;a 
    | -devotion as world religion&rdquo;, as in the title of an edited volume based on the papers of a large conference on Yoruba religion, held in Miami in 1999.
    a#fnref729.footnoteRef(href='#fn729')
      sup 729 
    | Does the evident globalization of a religion so far strongly identified with its ethno-linguistic origins suggest it has a potential for it truly to become &ldquo;a world religion&rdquo;, as Olupona and Rey suggest? Certainly &ldquo;Yoruba&rdquo; religion is a very different case from the sort of &ldquo;glocalized&rdquo; religious phenomenon represented by, say, Mouridism among Senegalese migrants in Paris or New York or the Deobandi-derived Tablighi Jamaat among Pakistani migrants and their descendants in London, in that Yoruba are not now its primary vectors, but people from the Hispanic Caribbean or African-Americans. When Nigerian Yoruba go to UK or the USA, they are overwhelmingly more likely to set up branches of the Redeemed Christian Church of God or of NASFAT than congregations of 
    em oloris&#x323;a 
    | . Yet some Yoruba cultural entrepreneurs, including a few converts to the 
    em oris&#x323;a 
    | from Christianity, have made contact with African-Americans and produced forms of 
    em oris&#x323;a- 
    | worship that incorporate a &ldquo;declamatory, testifying style&rdquo; like what is found in North American Protestantism.
    a#fnref730.footnoteRef(href='#fn730')
      sup 730 
    | Ironically, that same style, taken eastwards across the Atlantic by Pentecostal evangelists (more white than black) over recent decades, has become naturalized in Born-Again Christianity in Nigeria. The outcomes of this cross-play of religious forces &ndash; in North America between Nigerian Yoruba migrants and visitors, African-Americans, and Latino 
    em oricha 
    | -devotees &mdash; on both sides of the Atlantic remain wide open.
  p
    | Despite the positive appeal of re-Africanization for many of those drawn to 
    em oris&#x323;a 
    | -religion today, whether for racial or religious reasons, the strains between it and global outreach can only grow. Religions can only become world religions if they are able to loosen their links with their racial and linguistic origins, and adjust their distinctive forms to a wide range of new situational demands. Classic Santeri&#x301;a and Candomble&#x301; were successful in doing this, but syncretism &ndash; in Sundkler&rsquo;s sense of &ldquo;new wine [i.e. meeting religious demand from non-Yoruba in non-African settings] in old wineskins [i.e. Yoruba cultural forms]&rdquo; &mdash; 
    em was 
    | integral to it. Even the monotheistic world religions, for all their inherent suspicion of syncretism, have in their expansion depended on employing a good deal of it in practice, though their adherents are prone to disavow it. What is certain is that these cultural struggles of 
    em oris&#x323;a 
    | -religion within Circle 3 can only be resolved there, despite the importance of cultural resources from Circle 1 (especially when conveyed by ritual experts from Nigeria). For granted the strength of anti-
    em oris&#x323;a 
    | sentiment in Circle 2, the cultural resource-base for Nigerian intervention in 
    em oris&#x323;a 
    | -religion outside Africa can only be expected to erode further in years to come. If this happens, it may even come about &mdash; and not for the first time, as witness the Amish or the Shakers &mdash; that a religion of Old World origins makes its primary home in the New.
  hr
  p
    | I have treated Circle 1 as the baseline for two divergent lines of historical development: The first is a story of contraction of 
    em orisa 
    | -religion 
    em in situ 
    | , where many contextual features remain in place, while the second is a story of expansion in radically new contexts of the Diaspora, which have resulted in a push-and-pull between adaptation to new demands and struggles to maintain or recover the tradition. This contrast poses a general issue so far not addressed. Are we merely dealing with two different histories, with a common starting-point but each driven by its own contingencies? The comparison may have usefully pinpointed some of these, but can we also derive from it a theoretical understanding of the differences that they have produced? To do this, we need to be able to typify the two religious outcomes &mdash; the Abrahamic faiths as practised by Nigerian Yoruba in Circle 2 and the 
    em orisa 
    | -religion of Circle 3 &mdash; in such a way as to be able to match them with a fitting general characterization of the circumstances in which they exist. 
  p
    | What first comes to mind here is Horton&apos;s contrast between a cultic focus on a host of &quot;subordinate deities&quot; as against a High God or Supreme Being, correlating respectively with the local community (microcosm) and a world of wider social relations (macrocosm). But this contrast just does allow us to place Circle 3 in a coherent or persuasive way, since its cosmology of multiple deities does not correspond to a sociology of localized relations. Rather, the deities transited from their original microcosm(s) and proving themselves equally serviceable to their devotees in the relative macrocosm of the plantations and towns of Cuba and Brazil, with their populations of heterogeneous origins; and then onwards to the greater macrocosm of the cities of eastern North America. On the way they took on a further macrocosmic dimension not embraced within Horton&apos;s theory: they attracted fresh devotees of diverse origins, many of non-Yoruba or even non-African origin. So it is hard to see that the worship of 
    em orichas 
    | in Havana, Miami or New York, or of 
    em orixas 
    | in Bahia or Rio de Janeiro is functionally either more or less microcosmic or macrocosmic than the Islam or Christianity practised in Lagos or Ibadan.
  p
    | Another dimension of religious difference seems more promising: how far, or in what respects, is any religion, or religion as such, to be seen as an instrumental or an expressive phenomenon, that is as providing its adherents with a set of adaptive instruments or of intrinsic satisfactions? Most religions have something of both, but Christianity in the modern West has relinquished most of its erstwhile instrumental functions to science-based technology and medicine, leaving itself a largely expressive phenomenon. The instrumental and expressive aspects of religion may each take various forms, some more intrinsic and some more contingent, but for present purposes the two most pertinent are (1) where religion is an instrument for the &quot;explanation, prediction and control&quot; (in Horton&apos;s phrase) of this-worldly phenomena, or (2) where it becomes the vehicle for the expression of an ethnic or racial identity. A strongly instrumental attitude towards the sacred was largely transferred from Circle 1, through the experience of conversion, into the Yoruba Christianity (and Islam) of Circle 2. Those who carried the 
    em orisa 
    | with them in their hearts across the Atlantic into the nascent Circle 3 no doubt fully shared this orientation too, initially without any sense of their expressing thereby a racial or ethnic identity, but merely one of devotion to their own  
    em orisa 
    | or Ifa as their personal guardian and helper. For the 
    em orisa 
    | of Circle 1, where it all began, were not at that stage marked as &quot;Yoruba&quot;, still less as &quot;Black&quot; or as part of system that some others called &quot;idolatry&quot;. But under the conditions of Circle 3, where slaves (and later freedmen) of Yoruba origin mingled with many different ethnic others, as well as with a &quot;white&quot; racial other, some kind of ethno-racial marking became inevitable. So in Cuba a Lucumi religion came into being &mdash; in Brazil, Nago &mdash; which was probably the first time that the practitioners (as against the missionary opponents) of  
    em orisa 
    | -religion came to see it as a single, overall entity, as &quot;
    em a 
    | religion&quot;.
  p
    | What did 
    em not 
    | happen in Cuba was that it became marked as a &quot;black&quot; religion, as happened later in the USA. Is it possible to say why Cubans who were phenotypically white, not only joined Santeria but sometimes became deep experts in its African knowledge? At this point, Palmie&apos;s argument seems to shift into a different epistemological register, for he turns to explain this through the agency of the 
    em orisa 
    | themselves: it was not the white initiates who chose their 
    em orisa 
    | , but the 
    em orisa 
    | who chose them. Thus it becomes irrelevant to ask about the motives of the white Cubans who joined Santeria. That certainly accords with what he describes as the &quot;racially unmarked theology of recruitment&quot; of Afro-Cuban religion, which surely has roots in the open recruitment patterns of some 
    em orisa 
    | in the Yoruba homeland.
    a#fnref731.footnoteRef(href='#fn731')
      sup 731 
    | But whenever was theology a sufficient condition for the religious choices of human beings? Granted the racial barriers of Cuban society in the Nineteenth and early Twentieth Centuries, it seems probable that it was instrumental concerns &mdash; &quot;to improve their health or to reverse streaks of bad luck&quot;
    a#fnref732.footnoteRef(href='#fn732')
      sup 732 
    | &mdash; rather than expressive ones, that first drew whites to the 
    em orisa 
    | , with the expressive satisfactions of cult membership coming later; but it seems unlikely that we can ever really know. Walter S. King (later 
    em Oba 
    | Adefunmi), by contrast, seems to have been drawn first to the expressive aspects of 
    em orisa 
    | -religion, and later to the instrumental uses of Ifa divination. So neither does the instrumental/expressive distinction serve to explain the difference between the paths taken by Circle 2 and Circle 3. So our quest comes to an end in contingency, indeterminacy and the unpredictability accorded to the 
    em orisa 
    | themselves.
  h3 The Conclusion, in which nothing is concluded
  blockquote
    p
      | &quot;It was now the time of the inundation of the Nile. A few days after their visit to the catacombs the river began to rise. [Rasselas and his companions] were confined to their house. The whole region being under water gave them no invitations to any excursions, and, being well supplied with materials for talk, they diverted themselves with comparisons of the different forms of life, which they had observed, and with various schemes of happiness, which each of them had formed ...&quot; 
      a#fnref733.footnoteRef(href='#fn733')
        sup 733 
  p
    | In his poised and lambent prose, Samuel Johnson &mdash; the other one! &mdash; takes us back to where the Comparative Method began, in the social thought of the Enlightenment. The Grand Cham of English letters was not a systematic theorist, still less a writer whom we consider as a &quot;founding father&quot; of social anthropology, yet in 
    em The History of Rasselas, Prince of Abissinia 
    | he shows how fully he shared its cognitive and moral assumptions. More an extended philosophical fable than a novel, 
    em Rasselas 
    | drew its empirical inspiration from the account of Ethiopia written by a Portuguese Jesuit, Fr. Jeronimo Lobo, of which Johnson had published an abridged translation. His own immersion in the comparativism of the age is well evident in how he commends the credibility of Lobo&apos;s account: &quot;here are no Hottentots without religion, polity or articulate language, no Chinese perfectly polite and completely skilled in all the sciences&quot;;
    a#fnref734.footnoteRef(href='#fn734')
      sup 734 
    | or in how he makes his characters in 
    em Rasselas 
    | turn to ethnographic comparison as they play with the central question of the book &mdash; to which Johnson refuses a definite answer &mdash; what is the path to human happiness?
  p
    em Rasselas 
    | first appeared in 1759, that 
    em annus mirabilis 
    | for the emergent British Empire, when the Atlantic slave trade was close to its height yet the abolitionist movement was starting to gain momentum. Johnson was well known for his passionate opposition to slavery, as well as for his personal sympathy for black people.
    a#fnref735.footnoteRef(href='#fn735')
      sup 735 
    | His book gained a large readership on both sides of the Atlantic, but it seems to have resonated particularly with the experience and aspiration of some of the black victims of the slave trade. It makes sense that Rasselas was a name not uncommonly given to (or taken by) by liberated slaves, like the Rasselas Belfield (d. 1822) who lies under a handsome gravestone in the churchyard of Bowness-on-Windermere in the English Lake District. For Rasselas was an African prince, and in identifying with him these former slaves were asserting an ancestral dignity, thus mildly anticipating the African-Americans who adopt Yoruba names through the &quot;roots divination&quot; offered at Oyotunji village. More than that, Johnson&apos;s book gave a significant boost towards that image of Abyssinia or Ethiopia as an idealized African homeland or the focus of an authentic spiritual life for people of African descent, from the Rastafarians to the Ethiopian Church which Adeniran Oke proclaimed to his fellow-Yoruba in the aftermath of the influenza pandemic of 1918. Of course, all this goes much further than what Johnson intended &mdash; but that is the way with potent stories. 
    em Rasselas 
    | has often been compared with Voltaire&apos;s 
    em Candide 
    | , but the archetype of the Happy Valley from which Rasselas escaped in search of knowledge of the world&apos;s diversity is surely the Eden of Milton&apos;s 
    em Paradise Lost 
    | . A essential feature of both stories &mdash; in contrast to the various attempts to reverse history by a returning to a primordial Ife or Mecca, places where the lineaments of the good life are divinely fixed &mdash; is that the principle actors are not able to return to the paradisal state, but have to go forth to make an original history through their choices:
  blockquote
    p &quot;The world was all before them, where to choose
    p Their place of rest, and Providence their guide.
    p They, hand in hand, with wandering steps and slow,
    p Through Eden took their solitary way.&quot;