section.titlepage(data-type="titlepage")
  
  hgroup 
    h1.ti Christianity, Islam
      br
      | and <em>Orisa</em> Religion</h1>
    p.sti This is the subtitle, right
  //- p.torn 
  p.edby Edited by 
  p.au J.&thinsp;D.&thinsp;Y. PEEL
  p.aux George Watson and friends among others.

  //- out of the section. appears only once in the book 
  .publisher
    #ucp-logo
      svg(viewbox='0 0 20 20', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='15', height='15.4')
        desc Universtity of California Press logo
        path#logo(stroke='none', stroke-width='1', fill-rule='evenodd', d='M0.617751592,0.631939107 L0.617751592,15.1914235 L9.13874018,15.1914235 L9.13874018,18.106159 L10.8586793,19.8273884 L10.8586793,15.1914235 L19.3822484,15.1914235 L19.3822484,0.631939107 L0.617751592,0.631939107 Z M10.8586793,7.1426763 L17.6584385,7.1426763 L17.6584385,2.35574903 L10.8586793,2.35574903 L10.8586793,7.1426763 Z M2.34156152,13.4689039 L9.14003045,13.4689039 L9.14003045,2.35574903 L2.34156152,2.35574903 L2.34156152,13.4689039 Z M10.8586793,13.4689039 L17.6584385,13.4689039 L17.6584385,8.67939607 L10.8586793,8.67939607 L10.8586793,13.4689039 Z')
    p.pub University of California Press 
