doctype html
html
  head
    meta(charset='UTF-8')
    meta(lang='en-US')
    link(rel='stylesheet', href='css/book.css', type='text/css')
    link(rel='stylesheet', href='css/layout.css', type='text/css')
  body
    .booktitle Christianity, Islam and Oriṣa Religion        
    include parts/numbering.pug
    .frontmatter
      //- include parts/subvention.pug
      //- include parts/copyright.pug
      //- include parts/halftitle.pug
      include parts/title.pug
      //- include parts/dedication.pug
      //- include parts/toc.pug
      //- include parts/aknowledgment.pug
      //- include parts/introduction.pug
    //- .body
      include parts/part-1.pug
      include parts/chapter-1.pug
      include parts/chapter-2.pug
      include parts/chapter-3.pug
      include parts/chapter-4.pug
      include parts/chapter-5.pug
      include parts/part-2.pug
      include parts/chapter-6.pug
      include parts/chapter-7.pug
      include parts/chapter-8.pug
      include parts/chapter-9.pug
      include parts/chapter-10.pug
      include parts/chapter-11.pug
      include parts/notes.pug
